<div id="emprefschmodal" class="modal fade" role="dialog" data-ng-controller="EmpRefSchController">
    <div class="modal-dialog modal-lg" style="width: 97%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @*<button type="button" class="close" data-ng-click="CloseEmpRefSchModal()">&times;</button>*@
                <h4 class="caption margin-bottom-0 margin-top-5">
                    <a class="text-decoration-none sbold uppercase ng-binding" target="_blank" href="@Constants.HC_AddReferral{{PatientDetail.EncryptedReferralID}}">{{PatientDetail.ReferralName}}</a>
                    <a target="_blank"
                       data-ng-if="PatientDetail.ReferralTSDateID > 0 && PatientDetail.ScheduleID == 0"
                       href="@Constants.HC_BroadcastNotificationURL@Convert.ToString(Mobile_Notification.NotificationTypes.ScheduleNotification).ToLower()/{{PatientDetail.EncryptedReferralTSDateID}}"
                       class="btn btn-xs purple" style="float: right; margin-right: 30px; margin-top: -5px;">
                        <i class="fa fa-send-o"></i> &nbsp;&nbsp;
                        @Resource.SendScheduleNotification
                    </a>
                </h4>
                @*<div class="row mb-2">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-5 border border-primary">
                        <div class="col-sm-3">
                            <h6 class="text-dark font-weight-bold mt-2" style="font-weight:bold">@Resource.TotalHours</h6>
                            <div class="d-flex align-items-center">
                                <h5 class="text-dark font-weight-bold mr-1 mb-0">{{PatientDetail.ScheduledHours}}</h5>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h6 class="text-dark font-weight-bold mt-2" style="font-weight:bold">@Resource.Authorized</h6>
                            <div class="d-flex align-items-center">
                                <h5 class="text-dark font-weight-bold mr-1 mb-0">{{PatientDetail.AllowedTime}} {{PatientDetail.AllowedTimeType}} {{PatientDetail.Title}}</h5>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h6 class="text-dark font-weight-bold mt-2" style="font-weight:bold">@Resource.UsedHours</h6>
                            <div class="d-flex align-items-center">
                                <h5 class="text-dark font-weight-bold mr-1 mb-0">{{PatientDetail.UsedHours}}</h5>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h6 class="text-dark font-weight-bold mt-2" style="font-weight:bold">@Resource.RemainingHrs</h6>
                            <div class="d-flex align-items-center">
                                <h5 class="text-dark font-weight-bold mr-1 mb-0">{{PatientDetail.PendingHours}}</h5>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="modal-body">
                @*@Html.Partial("Partial/01/_EmpRefSchScreen")*@
                @Html.Partial("/Areas/HomeCare/Views/Schedule/Partial/01/_EmpRefSchScreen.cshtml")
            </div>
        </div>

    </div>
</div>
