<div class="row " data-ng-show="commonDetailPopover.event.scheduleModel.UsedInScheduling && !commonDetailPopover.event.scheduleModel.IsDenied">
    <div class="col-sm-12">
        <h4 class="caption">
            <span class="font-green sbold uppercase">{{commonDetailPopover.event.scheduleModel.EmployeeName}}</span>
            <span class="font-weight-500 font-size-14" data-ng-if="commonDetailPopover.event.scheduleModel.EmployeeUniqueID">({{commonDetailPopover.event.scheduleModel.EmployeeUniqueID}})</span>
            @*<a href="#" data-ng-click="commonDetailPopover.updateScheduleStatus(commonDetailPopover.calendarObj,commonDetailPopover.event,popOverFunctions)"
               title="@Resource.EditSchedule" class="pull-right badge {{commonDetailPopover.event.scheduleModel.ScheduleStatusName | removeSpaces}}">
                {{commonDetailPopover.event.scheduleModel.ScheduleStatusName == "Confirmed" ? "Completed" : commonDetailPopover.event.scheduleModel.ScheduleStatusName}}
            </a>*@
            <label class="pull-right badge {{commonDetailPopover.event.scheduleModel.ScheduleStatusName | removeSpaces}}">
                {{commonDetailPopover.event.scheduleModel.ScheduleStatusName}}
            </label>
            <span class="badge label label-important label-mini text-align-right" data-ng-hide="!commonDetailPopover.event.scheduleModel.IsRefrralDeleted" data-ng-class="">Disabled</span>
        </h4>
        <div>
            <div class="col-md-12 margin-bottom-5 no-padding">
                <span>
                    <i class="fa fa-envelope"></i><strong>&nbsp;:&nbsp;</strong>
                    <span>{{commonDetailPopover.event.scheduleModel.EmpEmail? commonDetailPopover.event.scheduleModel.EmpEmail : '@Resource.NA'}} </span>
                </span>
                <span class="pull-right">
                    <i class="fa fa-phone"></i><strong>&nbsp;:&nbsp;</strong>
                    <span>{{commonDetailPopover.event.scheduleModel.EmpMobile?(commonDetailPopover.event.scheduleModel.EmpMobile|phoneformat) : '@Resource.NA'}} </span>
                </span>

            </div>
            <div class="col-md-12 margin-bottom-5 no-padding">
                <div data-ng-if="commonDetailPopover.event.scheduleModel.Email"><i class="fa fa-envelope"></i><strong>&nbsp;:&nbsp;</strong><span>{{commonDetailPopover.event.scheduleModel.Email}}</span></div>
            </div>
            @* <div class="col-md-12 margin-bottom-5 no-padding" data-ng-if="commonDetailPopover.event.scheduleModel.PlacementRequirement">
            <strong>@Resource.PR : </strong><span>{{commonDetailPopover.event.scheduleModel.PlacementRequirement}}</span>
        </div>*@
            <div class="col-md-12 no-padding">
                <div class="col-md-6 margin-bottom-5 no-padding pull-left">
                    <span><strong>@Resource.StartTime : </strong><span>{{commonDetailPopover.event.scheduleModel.StartTime}} </span></span>
                </div>
                <div class="col-md-6 margin-bottom-5 no-padding">
                    <span><strong>@Resource.ClockInTime : </strong><span>{{commonDetailPopover.event.scheduleModel.strClockInTime}} </span></span>
                    <span><label data-ng-if="commonDetailPopover.event.scheduleModel.EVVClockIn" style="min-width: 20px;text-align: center;" class="btn-circle btn-success">{{commonDetailPopover.event.scheduleModel.EVVClockIn}}</label> </span>
                </div>
            </div>
            <div class="col-md-12 no-padding">
                <div class="col-md-6 margin-bottom-5 no-padding pull-left">
                    <span><strong>@Resource.EndTime : &nbsp;&nbsp;</strong><span>{{commonDetailPopover.event.scheduleModel.EndTime}} </span></span>
                </div>
                <div class="col-md-6 margin-bottom-5 no-padding">
                    <span><strong>@Resource.ClockOutTime : </strong><span>{{commonDetailPopover.event.scheduleModel.strClockOutTime}} </span></span>
                    <span><label data-ng-if="commonDetailPopover.event.scheduleModel.EVVClockOut" style="min-width: 20px;text-align: center;" class="btn-circle btn-success">{{commonDetailPopover.event.scheduleModel.EVVClockOut}}</label> </span>
                </div>
            </div>
            <div class="col-md-12 no-padding">
                <div class="col-md-6 margin-bottom-5 no-padding pull-left">
                    <span><strong>@Resource.CareType : </strong><span>{{commonDetailPopover.event.scheduleModel.CareType}}</span></span>
                </div>
                <div class="col-md-6 margin-bottom-5 no-padding pull-left">
                    <span><strong>@Resource.Payor : </strong><span>{{commonDetailPopover.event.scheduleModel.Payor}}</span></span>
                </div>
            </div>
            <div class="col-md-12 no-padding">
               
                <div class="col-md-6 margin-bottom-5 no-padding">
                    <span> <strong>@Resource.Comment : </strong><span>{{commonDetailPopover.event.scheduleModel.ScheduleComment}}</span></span>
                </div>
            </div>


            <div class="col-md-12 margin-bottom-5 no-padding" data-ng-if="commonDetailPopover.event.scheduleModel.ScheduleComment">
                
            </div>


            @*<div class="col-md-12 margin-bottom-5 no-padding" data-ng-if="commonDetailPopover.event.scheduleModel.IsPendingSchProcessed">
                <span class="badge badge-success">@Resource.InstantClockInClockOutDoneUsingIVR</span>
            </div>*@
        </div>


        <div class="col-md-12 no-padding" @*data-ng-if="commonDetailPopover.event.isPastEvent==false"*@>



            <a href="javascript:void(0);" data-ng-click="commonDetailPopover.removeEvent(commonDetailPopover.calendarObj,commonDetailPopover.event,popOverFunctions)"
                class="btn btn-xs red pull-right" data-ng-if="commonDetailPopover.event.isPastEvent==false"><i class="glyphicon glyphicon-trash font-size-10"></i>&nbsp;@Resource.Delete</a>


            <div data-ng-if="!commonDetailPopover.event.scheduleModel.IsPendingSchProcessed">

                <a href="javascript:void(0);" data-ng-click="commonDetailPopover.ReplaceSchedule(commonDetailPopover.calendarObj,commonDetailPopover.event)"
                   title="@Resource.Replace" class="pull-right margin-right-10 btn btn-xs font-white blue" data-ng-if="commonDetailPopover.event.isPastEvent==false">
                    <i class="glyphicon glyphicon-adjust font-size-10"></i>&nbsp;@Resource.Edit
                </a>

                <a href="javascript:void(0);" data-ng-click="commonDetailPopover.NoteModalAction(commonDetailPopover.calendarObj,commonDetailPopover.event)"
                   title="@Resource.Note" class="pull-right margin-right-10 btn btn-xs font-white green">
                    <i class="glyphicon glyphicon-book font-size-10"></i>&nbsp;@Resource.Note
                </a>

                <a href="javascript:void(0);" data-ng-click="commonDetailPopover.ChangeSchedule(commonDetailPopover.calendarObj,commonDetailPopover.event)"
                   title="@Resource.ChangeSchedule" class="pull-right margin-right-10 btn btn-xs font-white yellow-casablanca">
                    <i class="glyphicon glyphicon-calendar font-size-10"></i>&nbsp;@Resource.ChangeSchedule
                </a>
            </div>


        </div>
    </div>
</div>


<div class="row" data-ng-show="!commonDetailPopover.event.scheduleModel.UsedInScheduling || commonDetailPopover.event.scheduleModel.IsDenied">
    <div class=" col-sm-12">
        <b>@Resource.Notes :</b> {{commonDetailPopover.event.scheduleModel.ScheduleComment}}
    </div>
</div>
