@model HC_ScheduleMasterModel

<div id="schAttendenceModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-ng-click="ClosePatientAttendanceActionModal()">&times;</button>
                <h4 class="caption margin-bottom-0 margin-top-5">
                    <span>@Resource.PatientAttendence</span>
                </h4>
            </div>
            <div class="modal-body">
                <form id="frmschAttendenceModal">
                    <div class="clearfix">

                        <div class="col-md-12 no-padding">
                            <div class="mt-checkbox-inline">
                                <div class="form-group">
                                    <label class="control-label required">@Resource.Attendence</label>
                                    <label class="mt-checkbox mt-checkbox-outline padding-right-10">
                                        <input data-ng-model="ScheduleAttendaceDetail.TempIsPatientAttendedSchedule"
                                            class="uniformControls" data-uniform-value="ScheduleAttendaceDetail.TempIsPatientAttendedSchedule"
                                            data-ng-true-value="true" data-ng-false-value="false"
                                            type="checkbox">@Resource.Present<span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input data-ng-model="ScheduleAttendaceDetail.TempIsPatientAttendedSchedule"
                                            class="uniformControls" data-uniform-value="ScheduleAttendaceDetail.TempIsPatientAttendedSchedule==null? ScheduleAttendaceDetail.TempIsPatientAttendedSchedule: !ScheduleAttendaceDetail.TempIsPatientAttendedSchedule"
                                            data-ng-true-value="false" data-ng-false-value="true"
                                            type="checkbox" />@Resource.Absent<span></span>
                                    </label>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 no-padding" data-ng-if="ScheduleAttendaceDetail.TempIsPatientAttendedSchedule==false">
                            <div class="form-group">
                                <label class="control-label required">@Resource.PateintAbsentReason</label>
                                <textarea rows="5" class="form-control input-sm" data-ng-model="ScheduleAttendaceDetail.AbsentReason" maxlength="1000"
                                          placeholder="@Resource.AbsentReason" data-val="true"
                                          data-val-required="@Resource.ReasonRequired"
                                          name="Notes" id="Notes"></textarea>
                                <span class="field-validation-valid" data-valmsg-for="Notes" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="col-md-12 no-padding" data-ng-if="ScheduleAttendaceDetail.TempIsPatientAttendedSchedule==true">
                            <div class="form-group">
                                <span>@Resource.SchPresentHelpText</span>
                            </div>
                        </div>

                    </div>
                </form>
            </div>


            <div class="modal-footer">
                <div data-ng-if="ScheduleAttendaceDetail.TempIsPatientAttendedSchedule!=null">
                    <button type="button" class="btn btn-sm btn-danger red" data-ng-click="ClosePatientAttendanceActionModal()">@Resource.Cancel</button>
                    <button type="button" class="btn btn-sm  btn-primary blue" data-ng-click="SavePatientAttendance()">@Resource.Save</button>
                </div>
            </div>
        </div>

    </div>
</div>
