@model HC_DayCare_ScheduleAssignmentModel

<div id="schAttendenceModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-ng-click="ClosePatientAttendanceActionModal()">&times;</button>
                <h4 class="caption margin-bottom-0 margin-top-5">
                    <span>@Resource.PatientAttendence</span>
                </h4>
            </div>
            <div class="modal-body">
                <form id="frmschAttendenceModal">
                    <div class="clearfix">
                        <div class="col-md-12 no-padding" data-ng-if="ScheduleAttendaceDetail.IsPatientAttendedSchedule==false">
                            <div class="form-group">
                                <label class="control-label required">@Resource.PateintAbsentReason</label>
                                <textarea rows="5" class="form-control input-sm" data-ng-model="ScheduleAttendaceDetail.AbsentReason" maxlength="1000"
                                          placeholder="@Resource.AbsentReason" data-val="true"
                                          data-val-required="@Resource.ReasonRequired"
                                          name="Notes" id="Notes"></textarea>
                                <span class="field-validation-valid" data-valmsg-for="Notes" data-valmsg-replace="true"></span>
                            </div>
                        </div>


                        <div class="col-md-12 no-padding" data-ng-if="ScheduleAttendaceDetail.IsPatientAttendedSchedule==true">
                            <div class="form-group">
                                <span> @Resource.SchPresentHelpText</span>
                            </div>
                        </div>



                    </div>
                </form>
            </div>


            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-sm btn-danger red" data-ng-click="ClosePatientAttendanceActionModal()">@Resource.Cancel</button>
                    <button type="button" class="btn btn-sm  btn-primary blue" data-ng-click="SavePatientAttendance()">@Resource.Save</button>
                </div>
            </div>
        </div>

    </div>
</div>
