<div id="uploadpatientcsvmodal" class="modal fade" role="dialog" data-ng-controller="UploadRefCsvController">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            @*style="min-height: 470px !important;"*@
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="caption margin-bottom-0 margin-top-5 sbold">@Resource.UploadExcel</h4>
            </div>
            <div class="modal-body">

                <div class="">
                    <div class="">
                        <div class="">
                            <form id="ReferralCsvFrm">
                                <div class="row">
                                    @*<div class="form-group col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <label>@Resource.Facility</label>
                                        <div>
                                            <div>
                                                <select id="facilityName" class="form-control input-sm" data-ng-model="ReferralCsvModel.FacilityID"
                                                        data-val="true" data-val-required="@Resource.FacilityRequired" data-original-title="@Resource.FacilityRequired"
                                                        data-ng-options="item.FacilityID as item.FacilityName for item in FacilityList">
                                                    <option value="">@Resource.SelectFacility</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>*@


                                    <div class="form-group col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <label>@Resource.ScheduleDate</label>
                                        <div>
                                            <div class="input-group date date-picker pull-right"
                                                 datepicker="ReferralCsvModel.ScheduleDate" ng-dateval="ReferralCsvModel.ScheduleDate">
                                                <input class="form-control input-sm dateInputMask" placeholder='@Resource.ScheduleDate' maxlength="50"
                                                       data-val="true" data-val-required="Start Date is required" id="ReferralCsvModel_ScheduleDate" name="ReferralCsvModel.ScheduleDate" />
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <span class="field-validation-error" data-valmsg-for="ReferralCsvModel.ScheduleDate" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="replaceErrorDest form-group col-lg-9 col-md-9 col-sm-9 col-xs-12 fileUpload">
                                        <div id="excelUpload"   class="btn btn-sm btn-default text-align-left" style="width:100%">
                                            <span><i class="icon-plus"></i>&nbsp; {{SelectFileLabel}}</span>
                                            <input id="logoFileUpload" type="file" name="files[]" class="upload" value="Browse"
                                                   fileupload
                                                   file-uploadurl="{{UploadFile}}"
                                                   beforesend="BeforeSend"
                                                   aftersend="AfterSend"
                                                   progress="Progress"
                                                   filelist="UploadingFileList"
                                                   limitmultifileuploads="1" />
                                        </div>
                                        <span data-ng-if="errorMsg" class="color-red">Please select file</span>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <a href="~/Assets/include/ScheduleAttendanceSampleFile.xlsx">@Resource.DownloadSampleExcelFile<i class="padding-left-5 fa fa-download"></i></a>
                                        <i class="fa fa-question-circle font-size-15" data-ng-tooltip="@Resource.UploadExcelHelpText"
                                           data-ng-custom-class="tooltip-extra-z-index"></i>
                                    </div>

                                    <div class="col-lg-4 col-md-3 col-sm-12 col-xs-5">
                                        <label></label>
                                        <div>
                                            <input type='submit' class="btn btn-sm btn-primary" value="@Resource.CreateSchedule" data-ng-click="CreateBulkScheduleUsingCSV()" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
                <div data-ng-if="ErrorList.length>0">
                    <hr style="display: inline-block; width: 100%;" />
                    <h4>Error in excel</h4>
                    <div class="col-sm-12">
                        <div class="portlet-body compact" style="display: block;">
                            <div class="table-responsive">
                                <form id="frmemployeelist">
                                    <table class="table table-bordered table-striped table-condensed flip-content">
                                        <thead class="flip-content">
                                            <tr>
                                                <th>Id</th>
                                                <th>FirstName</th>
                                                <th>LastName</th>
                                                <th>IsShow</th>
                                                <th>ErrorMessage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="flip-content" data-ng-repeat="item in ErrorList">
                                                <td>{{item.Id}}</td>
                                                <td>{{item.FirstName}}</td>
                                                <td>{{item.LastName}}</td>
                                                <td>{{item.IsShow}}</td>
                                                <td>{{item.ErrorMessage}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
