@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, Resource.TemplateList);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedMenuItem = Resource.SMI_EmailTemplateList;
}

@model SetEmailTemplateListPage
@Html.Hidden("hdnSetEmailTemplateListPage", Common.SerializeObject(Model))

<div data-ng-controller="EmailTemplateListController">

    <div class="page-bar">
        <h3 class="page-title">
            @Resource.TemplateList &nbsp;<small>@Resource.TemplateInformation</small>
            @*<a href="@Constants.AddEmailTemplateURL" class="btn btn-sm green-jungle letter-space pull-right"><i class="fa fa-plus">&nbsp;&nbsp;</i>@Resource.Template</a>*@
        </h3>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            @*@if (Common.HasPermission(Constants.Payor_AddUpdate))
                {
            *@
            <div class="btn-group" data-ng-show="EmailTemplateList.length > 0">
                @*                <span class="btn blue btn-sm grey border-grey-cascade" style="padding: 5px;">
                        <input id="SelectAllEmailTemlate" class="unicheckbox text-align-center" type="checkbox" data-ng-model="SelectAllCheckbox" data-ng-change="SelectAll()" val="SelectAllCheckbox">
                        <label for="SelectAllEmailTemlate"></label>
                    </span>*@
            </div>
            @*}*@

            <div class="btn-group">
                <button class="btn blue btn-sm grey border-grey-cascade" data-ng-click="Refresh()">
                    <i class="fa fa-refresh"></i>&nbsp;&nbsp;@Resource.Refresh
                </button>
                &nbsp;
                @if (Common.HasPermission(Constants.Permission_AddEmailTemplate))
                {
                    <a href="/EmailTemplate/AddEmailTemplate"
                       class="btn btn-sm green-jungle pull-right"><i class="fa fa-plus">&nbsp;&nbsp;</i>@Resource.AddTemplate</a>
                }
            </div>

            <div class="btn-group">
                @*@Html.DropDownListFor(m => m.SearchEmailTemplateListPage.IsDeleted, Model.DeleteFilter.ToSelectList(Convert.ToString(Model.SearchEmailTemplateListPage.IsDeleted), "Name", "Value", "", ""),
                    new
                        {
                            id = "IsDeleted",
                            data_ng_model = "TempEmailTemplateListPage.IsDeleted",
                            data_ng_init = "TempEmailTemplateListPage.IsDeleted = TempEmailTemplateListPage.IsDeleted==null?'-1':TempEmailTemplateListPage.IsDeleted.toString()",
                            @class = "form-control input-sm btn blue btn-sm grey border-grey-cascade",
                            data_ng_change = "SearchEmailTemplate()"
                        })*@
            </div>

            @*@if (Common.HasPermission(Constants.Payor_AddUpdate))
                {
            *@<div class="btn-group" data-ng-if="SelectedEmailTemplateIds.length > 0">
                <button type="button" data-ng-click="DeletePayor()" class="btn blue btn-sm grey border-grey-cascade">
                    <i class="fa fa-random margin-right-10"></i>{{SearchEmailTemplateListPage.IsDeleted==0?'@Constants.DisableSelected' :(SearchEmailTemplateListPage.IsDeleted==1?'@Constants.EnableSelected':'@Constants.InverseSelected')}}
                </button>
            </div>
            @*}*@

            <div class="inline-block pull-right" data-ng-show="EmailTemplateList.length > 0">
                <div class="inline-block pull-right" data-ng-show="EmailTemplateList.length > 0">
                    <div class="pull-right margin-left-5">
                        <dir-pagination-controls boundary-links="true" max-size="EmailTemplateListPager.maxSize" on-page-change="EmailTemplateListPager.pageChanged(newPageNumber)" pagination-id="EmailTemplateID"></dir-pagination-controls>
                    </div>
                </div>
            </div>
            <div class="space20"></div>

        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet-body compact" style="display: block;">
                    <div class="table-responsive">
                        <form id="frmEmailTemplateList">
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content">
                                    <tr>
                                        @*@if (Common.HasPermission(Constants.Payor_AddUpdate))
                                            {
                                        *@
                                        @*<th class="width-20px"></th>*@
                                        @*}*@

                                        <th>
                                            <a class="anchor_color" href="javascript:void(0);" data-ng-click="EmailTemplateListPager.sortColumn('EmailTemplateName')">@Resource.TemplateName</a>
                                            <span class="sortorder" data-ng-show="EmailTemplateListPager.sortIndex === 'EmailTemplateName'" data-ng-class="{reverse:EmailTemplateListPager.reverse}"></span>
                                        </th>
                                        <th>
                                            <a class="anchor_color" href="javascript:void(0);" data-ng-click="EmailTemplateListPager.sortColumn('EmailTemplateSubject')">@Resource.Subject  </a>
                                            <span class="sortorder" data-ng-show="EmailTemplateListPager.sortIndex === 'EmailTemplateSubject'" data-ng-class="{reverse:EmailTemplateListPager.reverse}"></span>
                                        </th>

                                        @*<th class="col-sm-3">
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="EmailTemplateListPager.sortColumn('EmailTemplateTypeName')">@Resource.EmailType</a>
                                                <span class="sortorder" data-ng-show="EmailTemplateListPager.sortIndex === 'EmailTemplateTypeName'" data-ng-class="{reverse:EmailTemplateListPager.reverse}"></span>
                                            </th>*@
                                        @* <th class="col-sm-5">
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="EmailTemplateListPager.sortColumn('Token')">@Resource.Token</a>
                                                <span class="sortorder" data-ng-show="EmailTemplateListPager.sortIndex === 'Token'" data-ng-class="{reverse:EmailTemplateListPager.reverse}"></span>
                                            </th>*@
                                        <th>Module</th>
                                        <th>Template Type</th>
                                        <th class="width-130px">@Resource.Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="compact-search-tr">
                                        @*                                        @if (Common.HasPermission(Constants.Payor_AddUpdate))
                                            {
                                        *@
                                        @*<td></td>*@
                                        @*}*@
                                        <td>
                                            @Html.TextBoxFor(m => m.SearchEmailTemplateListPage.EmailTemplateName, new { data_ng_model = "TempEmailTemplateListPage.EmailTemplateName", @class = "form-control input-sm", placeholder = Resource.TemplateName, maxlength = 50 })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.SearchEmailTemplateListPage.EmailTemplateSubject, new { data_ng_model = "TempEmailTemplateListPage.EmailTemplateSubject", @class = "form-control input-sm", placeholder = Resource.Subject, maxlength = 50 })
                                        </td>
                                        @* <td>
                                                @Html.DropDownListFor(p => p.SearchEmailTemplateListPage.EmailTemplateTypeID, Model.EmailTemplateTypeList.ToSelectList(Model.SearchEmailTemplateListPage.EmailTemplateTypeID.ToString() ?? "", "EmailTemplateTypeName", "EmailTemplateTypeID", @Resource.SelectEmailTemplateTypeName, ""),
                                                      new
                                                          {
                                                              data_ng_model = "TempEmailTemplateListPage.EmailTemplateTypeID",
                                                              data_ng_init = "TempEmailTemplateListPage.EmailTemplateTypeID=TempEmailTemplateListPage.EmailTemplateTypeID==''?null:TempEmailTemplateListPage.EmailTemplateTypeID.toString()",
                                                              @class = "form-control input-sm",


                                                          })
                                            </td>*@
                                        @* <td>
                                                @Html.TextBoxFor(m => m.SearchEmailTemplateListPage.Tokens, new { data_ng_model = "TempEmailTemplateListPage.Tokens", @class = "form-control input-sm", placeholder = Resource.Token, maxlength = 50 })
                                            </td>*@
                                        <td>
                                            @Html.DropDownListFor(m => m.SearchEmailTemplateListPage.Module, new SelectList(ViewBag.ModuleList, "Value", "Title"), "Select", new { @id = "ddlModuleName", @class = "form-control input-sm" })
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(m => m.SearchEmailTemplateListPage.EmailType, new SelectList(ViewBag.EmailTypeList, "Value", "Title"), "Select", new { @id = "EmailTemplateTypeIDs", @class = "form-control input-sm" })
                                        </td>
                                        <td>
                                            <input type="submit" value="@Resource.Search" class="btn btn-default grey border-grey-cascade btn-xs" data-ng-click="SearchEmailTemplate()" />
                                            <a href="javascript:void(0);" class="btn btn-default grey border-grey-cascade btn-xs" data-ng-click="ResetSearchFilter()">@Resource.Reset</a>
                                        </td>
                                    </tr>
                                    <tr data-ng-class="{'deleted':item.IsDeleted}" dir-paginate="item in EmailTemplateList | itemsPerPage: EmailTemplateListPager.pageSize" total-items="EmailTemplateListPager.totalRecords" current-page="EmailTemplateListPager.currentPage" pagination-id="EmailTemplateID">
                                        @*  @if (Common.HasPermission(Constants.Payor_AddUpdate))
                                            {
                                        *@
                                        @*<td>
                                            <input type="checkbox" class="unicheckbox" data-ng-model="EmailTemplateList.IsChecked" data-ng-change="SelectEmailTemplate(EmailTemplateList)" val="EmailTemplateList.IsChecked"></td>*@
                                        @*}*@
                                        <td>
                                            <span>{{item.EmailTemplateName ? item.EmailTemplateName:'@Resource.NA'}}</span>
                                            <span data-ng-show="item.IsPdfTemplate" class="badge badge-danger pull-right">@Resource.PDF</span>
                                        </td>
                                        <td>{{item.EmailTemplateSubject ? item.EmailTemplateSubject:'@Resource.NA'}}</td>
                                        @*<td data-ng-bind="item.EmailTemplateTypeName? item.EmailTemplateTypeName:'@Resource.NA'"></td>*@
                                        @*<td>{{item.Token?item.Token: '@Resource.NA'}}</td>*@
                                        @*<td>{{item.EmailTemplateSubject ? item.Module:'@Resource.NA'}}</td>*@
                                        <td>{{item.Module ? item.Module:'@Resource.NA'}}</td>
                                        <td>{{item.EmailType ? item.EmailType:'@Resource.NA'}}</td>
                                        <td>
                                            <a href="{{ SetAddEmailTemplatePage + item.EncryptedEmailTemplateID}}" data-ng-show="item.IsEdit" class="btn btn-xs blue"><i class="fa fa-edit"></i> </a>
                                            <a href="javascript:void(0);" data-ng-click="DeleteEmailTamplate(item.EmailTemplateID)" class="btn btn-xs red"><i class="fa fa-trash"></i></a>
                                            <a href="javascript:void(0);" data-ng-show="item.IsHide" data-ng-click="OpenBody(item.EmailTemplateID)" class="btn btn-xs btn-warning"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" data-ng-if="EmailTemplateList.length > 0">
                <div class="col-sm-3 pull-left no-padding">
                    @Resource.Showing <span data-ng-bind="(EmailTemplateListPager.pageSize * EmailTemplateListPager.currentPage) - EmailTemplateListPager.pageSize  + 1"></span>
                    &nbsp;@Resource.To <span data-ng-bind="(EmailTemplateListPager.pageSize == EmailTemplateListPager.currentPageSize) ? (EmailTemplateListPager.pageSize * EmailTemplateListPager.currentPage) :(EmailTemplateListPager.pageSize * EmailTemplateListPager.currentPage) - EmailTemplateListPager.pageSize  + EmailTemplateListPager.currentPageSize"></span>&nbsp;@Resource.Of &nbsp;<span data-ng-bind="EmailTemplateListPager.totalRecords"></span>&nbsp;@Resource.Records
                </div>
                <div class="pull-right top pagination-sm">
                    <dir-pagination-controls boundary-links="true" max-size="EmailTemplateListPager.maxSize" on-page-change="EmailTemplateListPager.pageChanged(newPageNumber)" pagination-id="EmailTemplateID"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div data-ng-if="EmailTemplateList.length == 0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-danger">
                            @Html.Raw(Resource.NoRecordsFound)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    @Scripts.Render("~/assets/js/viewjs/siteApp/emailtemplate/emailtemplatelist")

    <script type="text/javascript">
        var DeleteConfirmationMessage = '@string.Format(@Resource.DeleteConfirmationMessage, @Resource.Template)';
        var EnableDisableConfirmationMessage = '@string.Format(@Resource.EnableDisableConfirmationMessage, @Resource.Template)';
    </script>
}