@model HC_AddEmployeeModel
@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, Resource.SetPassword);
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@Html.Hidden("hdnEmployeeModel", Common.SerializeObject(Model))
<div data-ng-controller="CreateLoginController">
    <form class="login-form" role="form" method="POST" id="frmCreateLogin">
        <h3 class="form-title font-green">@Resource.Employee</h3>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">@Resource.FirstName</label>
            @Html.TextBoxFor(m => m.Employee.FirstName, new { data_ng_model = "EmployeeModel.Employee.FirstName", placeholder = "FirstName", @class = "form-control form-control-solid placeholder-no-fix" })
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">@Resource.LastName</label>
            @Html.TextBoxFor(m => m.Employee.LastName, new { data_ng_model = "EmployeeModel.Employee.LastName", placeholder = "LastName", @class = "form-control form-control-solid placeholder-no-fix" })
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">@Resource.Email</label>
            @Html.TextBoxFor(m => m.Employee.Email, new { data_ng_model = "EmployeeModel.Employee.Email", placeholder = "Email", @class = "form-control form-control-solid placeholder-no-fix" })
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">@Resource.Username</label>
            @Html.TextBoxFor(m => m.Employee.UserName, new { data_ng_model = "EmployeeModel.Employee.UserName", placeholder = "UserName", @class = "form-control form-control-solid placeholder-no-fix" })
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">@Resource.Password</label>
            @Html.PasswordFor(m => m.Employee.Password, new { data_ng_model = "EmployeeModel.Employee.Password", placeholder = "Password", @class = "form-control form-control-solid placeholder-no-fix" })
            @Html.ValidationMessageFor(m => m.Employee.Password)

        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">@Resource.ConfirmPassword</label>
            @Html.PasswordFor(m => m.Employee.ConfirmPassword, new { data_ng_model = "EmployeeModel.Employee.ConfirmPassword", placeholder = "Confirm Password", @class = "form-control form-control-solid placeholder-no-fix" })
            @Html.ValidationMessageFor(m => m.Employee.ConfirmPassword)
        </div>
        <div class="form-group">
            <button class="btn uppercase btn-block btn-cstm" data-ng-click="CreateLogin()">@Resource.Save</button>
        </div>
    </form>
</div>
@section Scripts{
    @Scripts.Render("~/assets/js/viewJS/loginApp/security/createlogin")
}