@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, Model.IsUnlockAccountPage?Resource.UnlockAccount: Resource.ForgotPassword);
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@model ForgotPasswordModel
@Html.Hidden("ForgotPasswordHiddenModel", Common.SerializeObject(Model))

<section class="loginWrapper">
    <div class="cstmContainer">
        <div class="rightWrapper">
            <div class="formWrapper" data-ng-controller="ForgotPasswordController">
                <div class="headingContent">
                    @if (Model.IsUnlockAccountPage)
                    {
                        @Resource.UnlockAccount
                    }
                    else
                    {
                        <h4>
                            @Resource.ForgotPassword
                        </h4>
                    }
                    @*<h4>Login into account</h4>*@
                    <p>Use your credentials to access your account.</p>
                </div>
                <form role="form" id="frmForgotPassword">
                    <div class="form-group">
                        @Html.TextBoxFor(q => q.ForgotPasswordDetailModel.UserName,
                       new {
                           data_ng_model = "ForgotPasswordModel.ForgotPasswordDetailModel.UserName",
                           data_ng_change= "getSecurityQuestion()",
                       @class = "form-control", maxlength = 50, placeholder = @Resource.EnterUserName
                       })
                        @Html.ValidationMessageFor(q => q.ForgotPasswordDetailModel.UserName)
                    </div>
                    <div class="form-group">
                        @Html.DropDownListFor(p => p.ForgotPasswordDetailModel.SecurityQuestionID,
                       Model.SecurityQuestionList.ToSelectList(Model.ForgotPasswordDetailModel.SecurityQuestionID.ToString() ?? "",
                       "Question", "SecurityQuestionID", @Resource.SelectSecurityQuestion, ""),
                        new
                        {
                            convert_to_number = "",
                            data_ng_model = "ForgotPasswordModel.ForgotPasswordDetailModel.SecurityQuestionID",
                            data_ng_init = "ForgotPasswordModel.ForgotPasswordDetailModel.SecurityQuestionID=ForgotPasswordModel.ForgotPasswordDetailModel.SecurityQuestionID==''?null:ForgotPasswordModel.ForgotPasswordDetailModel.SecurityQuestionID.toString()",
                            @class = "form-control",
                            data_ng_setname = "ForgotPasswordModel.ForgotPasswordDetailModel.Question"
                        })                                       
                        @Html.ValidationMessageFor(q => q.ForgotPasswordDetailModel.SecurityQuestionID)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(q => q.ForgotPasswordDetailModel.SecurityAnswer, new { data_ng_model = "ForgotPasswordModel.ForgotPasswordDetailModel.SecurityAnswer", @class = "form-control", maxlength = 50, placeholder = @Resource.EnterSecurityAnswer })
                        @Html.ValidationMessageFor(q => q.ForgotPasswordDetailModel.SecurityAnswer)
                    </div>
                    <div class="form-actions">
                        <a href="@Constants.LoginURL" class="btn btn-default">@Resource.Back</a>
                        <button type="submit" data-ng-click="Save()" class="btn uppercase pull-right btn-cstm">@Resource.Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="leftWrapper">
            <div class="logoContainer">
                <img src="../Assets/images/myezcaresimpleyetpowerful_Logo.png" alt="Logo">
            </div>
            <div class="announcementContent">
                <h2>Announcement <span class="icon"><img src="../Assets/images/promotion.svg" alt="icon"></span></h2>
               <div>
                   @if (Model.Announcement != null)
                   {
    <div class="post-inner-content">
        <header class="entry-header page-header">

            <h1 class="entry-title ">@Model.Announcement.Title</h1>
            <div class="entry-meta">
                <span class="posted-on">
                    Posted On: <i class="fa fa-calendar"></i>
                               <time class="entry-date published">@Model.Announcement.Date</time>
                    
                    <time class="entry-date published"></time>
                </span>
            </div>
        </header>
        <div class="col-md-12 entry-content announcement-Content">
            @Html.Raw(Model.Announcement.Description);
        </div>
    </div>
                   }
</div>
            </div>
        </div>

    </div>
</section>

@section Scripts{
    @Scripts.Render("~/assets/js/viewjs/loginapp/security/forgotpassword")
}

