@{
    ViewBag.Title = "AddMedication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model MedicationModel

<div data-ng-controller="AddDxCodeController">
    <form class="form-horizontal" id="frmDxCode">
        <div class="page-bar">
            <h3 class="page-title">
                @*@(Model != null && Model.DxCode != null && Model.DxCode.DXCodeID > 0 ? Resource.EditDxCode : Resource.AddDxCode)*@
                <small>Medication Module</small>
                @*<input type="submit" data-ng-click="Save()" class="btn btn-sm green-jungle pull-right" value="Save" />
                    <input type="button" data-ng-click="Cancel()" class="btn btn-sm red-mint pull-right margin-right-10" value="Cancel" />*@
            </h3>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="fscontainer">
                            <div class="legend">
                                Add Medication
                            </div>

                            <div class="col-sm-push-2 col-sm-7 no-padding">
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-12">
                                        <label class="col-md-4 control-label required">Search Medication</label>
                                        <div class="col-md-6 col-sm-12">
                                            @Html.TextBoxFor(q => q.Description, new
                                                {
                                                    @class = "form-control input-sm",
                                                    //data_ng_model = "DxCodeModel.DxCode.DXCodeWithoutDot",
                                                    placeholder = "Enter Drug Name",
                                                    maxlength = 20
                                                })
                                        </div>
                                        <div class="col-md-2 col-sm-12">
                                            <a href="javascript:void(0);" class="btn btn-xs blue">Search</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="portlet-body compact" style="display: block;">
                                        <div class="table-responsive tabbable-custom">

                                            <table class="table table-bordered table-striped table-condensed flip-content">
                                                <thead class="flip-content">
                                                    <tr>
                                                        <th>
                                                            Drug Name
                                                        </th>
                                                        <th>
                                                            Labeler
                                                        </th>
                                                        <th>
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="compact-search-tr">
                                                        <td>lisinopril</td>
                                                        <td>Merck Sharp & Dohme Corp.</td>
                                                        <td>
                                                            <a href="javascript:void(0);" class="btn btn-xs green">Select</a>
                                                        </td>
                                                    </tr>
                                                    <tr class="compact-search-tr">
                                                        <td>lisinopril</td>
                                                        <td>Major Pharmaceuticals</td>
                                                        <td>
                                                            <a href="javascript:void(0);" class="btn btn-xs green">Select</a>
                                                        </td>
                                                    </tr>
                                                    <tr class="compact-search-tr">
                                                        <td>lisinopril2</td>
                                                        <td>Major Pharmaceuticals</td>
                                                        <td>
                                                            <a href="javascript:void(0);" class="btn btn-xs green">Select</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-12">
                                        <label class="col-md-2 control-label required">Dose</label>
                                        <div class="col-md-4 col-sm-12">
                                            @Html.TextBoxFor(q => q.Description, new
                                                {
                                                    @class = "form-control input-sm",
                                                    //data_ng_model = "DxCodeModel.DxCode.DXCodeWithoutDot",
                                                    placeholder = "Dose",
                                                    maxlength = 3
                                                })
                                        </div>
                                        <label class="col-md-2 control-label required">Unit</label>
                                        <div class="col-md-4 col-sm-12">
                                            @Html.TextBoxFor(q => q.Description, new
                                                {
                                                    @class = "form-control input-sm",
                                                    //data_ng_model = "DxCodeModel.DxCode.DXCodeWithoutDot",
                                                    placeholder = "Unit",
                                                    maxlength = 3
                                                })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-12">
                                        <label class="col-md-2 control-label required">Frequency</label>
                                        <div class="col-md-4 col-sm-12">
                                            @Html.TextBoxFor(q => q.Description, new
                                                {
                                                    @class = "form-control input-sm",
                                                    //data_ng_model = "DxCodeModel.DxCode.DXCodeWithoutDot",
                                                    placeholder = "Frequency",
                                                    maxlength = 3
                                                })
                                        </div>
                                        <label class="col-md-2 control-label required">Start Date</label>
                                        <div class="col-md-4 col-sm-12">
                                            @Html.TextBoxFor(q => q.Description, new
                                                {
                                                    @class = "form-control input-sm",
                                                    //data_ng_model = "DxCodeModel.DxCode.DXCodeWithoutDot",
                                                    placeholder = "Date",
                                                    maxlength = 3
                                                })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-12">
                                        <label class="col-md-4 control-label required">Physician consulted</label>
                                        <div class="col-md-8 col-sm-12">
                                            <select id="parent" name="parent">
                                                <option value="">Select physician </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-12">
                                        <label class="col-md-4 control-label required">Patient</label>
                                        <div class="col-md-8 col-sm-12">
                                            <select id="parent" name="parent">
                                                <option value="">Select Patient </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group col-sm-12">
                                        <div class="col-md-6 col-sm-12">
                                            <input type="submit" data-ng-click="Save()" class="btn btn-sm green-jungle pull-right" value="Save" />
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="button" data-ng-click="Cancel()" class="btn btn-sm red-mint pull-right margin-right-10" value="Cancel" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    @Scripts.Render("~/assets/js/viewjs/siteApp/medication/addeditmedication")
}
