@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, (Model != null && Model.CaseManager != null && Model.CaseManager.CaseManagerID > 0 ? Resource.EditCaseManager : @Resource.AddCaseManager));
    // Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = ViewBag.IsPartialView == null ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.SelectedMenuItem = Resource.SMI_CaseManagerAdd;
    
}

@model AddCaseManagerModel

@if (Model != null)
{
    @Html.Hidden("hdnCaseManagerModel", Common.SerializeObject(Model))
    <div data-ng-controller="AddCaseManagerController">
        <form class="form-horizontal" id="frmCaseManager">
            <div class="page-bar">
                <h3 class="page-title">@(Model != null && Model.CaseManager != null && Model.CaseManager.CaseManagerID > 0 ? Resource.EditCaseManager : @Resource.AddCaseManager)
                    <small>@Resource.EnterCaseManagerInformation</small>
                    @*<input type="submit" data-ng-click="Save()" class="btn btn-sm green-jungle pull-right">@(Model.CaseManager != null && Model.CaseManager.CaseManagerID > 0 ? Resource.Update : @Resource.Save)</input>*@
                    @*<input type="submit" data-ng-click="Save()" class="btn btn-sm green-jungle pull-right" value="@(Model.CaseManager != null && Model.CaseManager.CaseManagerID > 0 ? Resource.Update : @Resource.Save)"/>
                    <input type="button" data-ng-click="Cancel()" class="btn btn-sm red-mint pull-right margin-right-10" value="@Resource.Cancel"/>*@
                    @*<a href="@Constants.CaseManagerListURL" class="btn btn-sm red-mint pull-right margin-right-10">@Resource.Cancel</a>*@
                </h3>
            </div>

            <div class="row">
                <div class="col-sm-12">

                    <div class="form-group row">
                        <div class="col-sm-12">

                            <div class="fscontainer">
                                <div class="legend">
                                    @Resource.CaseManagerDetails
                                </div>
                                <div class="col-sm-6 no-padding">
                                    <div class="col-sm-12">
                                        <div class="form-group col-sm-12">

                                            <label class="col-md-4 control-label required">@Resource.Agency</label>

                                            <div class="col-md-8">
                                                <div class="validate-group input-group-sm">
                                                    @Html.DropDownListFor(p => p.CaseManager.AgencyID, Model.AgencyList.ToSelectList(Model.CaseManager.AgencyID.ToString() ?? "", "NickName", "AgencyID", @Resource.SelectAgency, ""),
                                                                       new
                                                                           {
                                                                               data_ng_model = "CaseManagerModel.CaseManager.AgencyID",
                                                                               data_ng_init = "CaseManagerModel.CaseManager.AgencyID=CaseManagerModel.CaseManager.AgencyID==''?null:CaseManagerModel.CaseManager.AgencyID.toString()",
                                                                               @class = "form-control requiredStrip",
                                                                               data_ng_setname = "CaseManagerModel.CaseManager.NickName",
                                                                               data_ng_class = "{'valid': !(CaseManagerModel.CaseManager.AgencyID == null  || CaseManagerModel.CaseManager.AgencyID == '' )}"
                                                                           })


                                                    @*@Html.DropDownListFor(p => p.CaseManager.AgencyID, Model.AgencyList.ToSelectList(Model.CaseManager.AgencyID.ToString() ?? "", "NickName", "AgencyID", @Resource.SelectAgency, ""),
                    new
                        {
                            data_ng_model = "CaseManagerModel.CaseManager.AgencyID",
                            data_ng_init = "CaseManagerModel.CaseManager.AgencyID=CaseManagerModel.CaseManager.AgencyID==''?null:CaseManagerModel.CaseManager.AgencyID.toString()",
                            @class = "form-control",
                            data_ng_setname = "CaseManagerModel.CaseManager.NickName",
                            @style = "position:absolute;z-index:-1 !important;",

                        })*@

                                                    @Html.ValidationMessageFor(q => q.CaseManager.AgencyID)
                                                </div>
                                            </div>
                                        </div>
                                        @* <div class="form-group col-sm-12">
            <label class="col-md-4 control-label required">@Resource.AgencyLocation</label>
            <div class="col-md-8">
                <div class="validate-group input-group-sm">
                    <select class="form-control" convert-to-number=""
                            data-ng-init="CaseManagerModel.CaseManager.AgencyLocationID=CaseManagerModel.CaseManager.AgencyLocationID==''?null:CaseManagerModel.CaseManager.AgencyLocationID.toString()"
                            data-ng-model="CaseManagerModel.CaseManager.AgencyLocationID"
                            data-val="true" data-val-required="@Resource.SelectAgencyLocation"
                            id="AgencyLocationID"
                            name="CaseManager.AgencyLocationID" data-ng-setname="CaseManagerModel.CaseManager.LocationName" data-ng-class = "{'valid': !(CaseManagerModel.CaseManager.AgencyLocationID == null  || CaseManagerModel.CaseManager.AgencyLocationID == '' )}">
                        <option value="">@Resource.SelectAgencyLocation</option>
                        <option data-ng-repeat='location in CaseManagerModel.AgencyLocationList' value="{{location.AgencyLocationID}}">{{location.LocationName}}</option>
                    </select>
                    @Html.ValidationMessageFor(q => q.CaseManager.AgencyLocationID)
                </div>
            </div>
        </div>*@
                                        <div class="form-group col-sm-12">
                                            <label class="col-md-4 control-label required">@Resource.FirstName</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(q => q.CaseManager.FirstName, new { @class = "form-control input-sm", data_ng_model = "CaseManagerModel.CaseManager.FirstName", placeholder = @Resource.FirstName, maxlength = 50 })
                                                @Html.ValidationMessageFor(q => q.CaseManager.FirstName)
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="col-md-4 control-label required">
                                                @Resource.LastName
                                            </label>
                                            <div class="col-md-8 col-sm-12">
                                                @Html.TextBoxFor(q => q.CaseManager.LastName, new { @class = "form-control input-sm", data_ng_model = "CaseManagerModel.CaseManager.LastName", placeholder = @Resource.LastName, maxlength = 50 })
                                                @Html.ValidationMessageFor(q => q.CaseManager.LastName)
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="col-md-4 control-label">@Resource.Email</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(q => q.CaseManager.Email, new { @class = "form-control input-sm", data_ng_model = "CaseManagerModel.CaseManager.Email", placeholder = @Resource.Email, maxlength = 50 })
                                                @Html.ValidationMessageFor(q => q.CaseManager.Email)
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="col-md-4 control-label">@Resource.Extension</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(q => q.CaseManager.Extension, new { @class = "form-control input-sm", data_ng_model = "CaseManagerModel.CaseManager.Extension", placeholder = @Resource.Extension, maxlength = 10, key_press_validation = "Digit" })
                                                @Html.ValidationMessageFor(q => q.CaseManager.Extension)
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="col-md-4 control-label">@Resource.Phone</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(q => q.CaseManager.Phone, new { @class = "form-control input-sm", data_ng_model = "CaseManagerModel.CaseManager.Phone", maxlength = 15, placeholder = "(XXX) XXX-XXXX", phone_input = "", dir_Valid_Number = "" })
                                                @Html.ValidationMessageFor(q => q.CaseManager.Phone)
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="col-md-4 control-label">@Resource.Cell</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(q => q.CaseManager.Cell, new { @class = "form-control input-sm", data_ng_model = "CaseManagerModel.CaseManager.Cell", maxlength = 15, placeholder = "(XXX) XXX-XXXX", phone_input = "", dir_Valid_Number = "" })
                                                @Html.ValidationMessageFor(q => q.CaseManager.Cell)
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="col-md-4 control-label">@Resource.Fax #</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(q => q.CaseManager.Fax, new { @class = "form-control input-sm", data_ng_model = "CaseManagerModel.CaseManager.Fax", placeholder = "(XXX) XXX-XXXX", phone_input = "", maxlength = 15, dir_Valid_Number = "" })
                                                @Html.ValidationMessageFor(q => q.CaseManager.Fax)
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="col-md-4 control-label">@Resource.CaseWorkerID #</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(q => q.CaseManager.CaseWorkerID, new { @class = "form-control input-sm", data_ng_model = "CaseManagerModel.CaseManager.CaseWorkerID", placeholder = @Resource.CaseWorkerID, })
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 no-padding">
                                    <div class="col-sm-12">
                                        <div class="form-group col-sm-12">
                                            <label class="col-md-4 control-label">@Resource.Notes</label>
                                            <div class="col-md-8 textarea-field">
                                                @Html.TextAreaFor(q => q.CaseManager.Notes, new { @class = "form-control input-sm", data_ng_model = "CaseManagerModel.CaseManager.Notes", placeholder = @Resource.Notes, maxlength = 500 })
                                                @Html.ValidationMessageFor(q => q.CaseManager.Notes)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-group btn-center">
                        <input type="submit" data-ng-click="Save()" class="btn btn-sm green-jungle" value="@(Model.CaseManager != null && Model.CaseManager.CaseManagerID > 0 ? Resource.Update : @Resource.Save)"/>
                        <a >
                            <input type="button" class="btn btn-sm red-mint" data-ng-click="Cancel()" value="@Resource.Cancel"/></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
}




@section Scripts{
    @Scripts.Render("~/assets/js/viewjs/siteApp/casemanager/addcasemanager")
}
