@{
    CacheHelper _cacheHelper = new CacheHelper();
}
    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel='shortcut icon' href='/assets/images/favicon.png' type='image/x-icon' />
        @Styles.Render("~/printlayout/css")

    </head>

    <body class="printLayout ng-cloak" data-ng-app="app">
        <!-- BEGIN LOGIN -->
        <div style="text-align:center">
            <img src="@_cacheHelper.SiteLogo" alt="logo" class="logo-default sidebar-logo" />
        </div>
        <div class="page-bar">
            <h3 class="page-title" style="text-align:center">@Resource.MECName</h3>
        </div>
        <hr />
        @*<div class="page-bar">
            <h3 class="page-title" style="text-align:center">Active Patients Details</h3>
        </div>*@
        <hr />
        <div class="content hideContent" style="width: 100% !important; margin: 0 !important;">
            @RenderBody()
        </div>
        <hr />
        <div class="page-bar">
            <h4 class="page-title" style="text-align:center">@Resource.MECName</h4>
        </div>
        <div class="page-bar">
            <h4 class="page-title" style="text-align:center">@Resource.MECAddress</h4>
        </div>
        <div class="page-bar">
            <h4 class="page-title" style="text-align:center">@Resource.MECEmail</h4>
        </div>
    </body>
    <script type="text/javascript">
    window.ZarephathBucket = '@ConfigSettings.ZarephathBucket';
    window.SecretAccessKeyID = '@ConfigSettings.SecretAccessKeyID';
    window.AccessKeyID = '@ConfigSettings.AccessKeyID';
    </script>
    @Scripts.Render("~/loginlayout/js")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $(".hideContent").removeClass("hideContent");
        });

    </script>


</html>
