
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel='shortcut icon' href='/assets/images/favicon.png' type='image/x-icon' />
    @Styles.Render("~/generatehtmltopdflayout/css")

</head>

<body class="printLayout">
    <!-- BEGIN LOGIN -->

    <div class="content hideContent" style="width: 100% !important; margin: 0 !important;">
        @RenderBody()
    </div>

    @Scripts.Render("~/generatehtmltopdflayout/js")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $(".hideContent").removeClass("hideContent");
        });
    </script>
</body>

</html>
