
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel='shortcut icon' href='/assets/images/favicon.png' type='image/x-icon' />
    @Styles.Render("~/printlayout/css")


</head>

<body class="page-header-fixed  page-content-white" data-ng-app="myApp">
    @*@RenderBody()*@
    <div style="width: 100% !important; margin: 0 !important;">
        @RenderBody()
    </div>

</body>

@Scripts.Render("~/loginlayout/js")

<script type="text/javascript">
    window.ZarephathBucket = '@ConfigSettings.ZarephathBucket';
    window.SecretAccessKeyID = '@ConfigSettings.SecretAccessKeyID';
    window.AccessKeyID = '@ConfigSettings.AccessKeyID';
</script>
@Scripts.Render("~/loginlayout/js")
@RenderSection("scripts", required: false)

<script type="text/javascript">
    $(document).ready(function () {
        $(".hideContent").removeClass("hideContent");
    });

</script>
</html>

