<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper ">
    <!-- BEGIN SIDEBAR -->

    <div class="page-sidebar navbar-collapse collapse ">

        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-closed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper hide">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler"></div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->

            <li class="nav-item start" data-selectmenu="@Resource.SMI_Dashboard">
                <a href="@Constants.DashboardURL" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">@Resource.Dashboard</span>
                    @*<span class="arrow"></span>*@
                </a>

            </li>
            <li class="heading">
                <h3 class="uppercase">@Resource.Features</h3>
            </li>

            @if (Common.HasPermission(Constants.Permission_DxCode_AddUpdate) || Common.HasPermission(Constants.Permission_DxCode_List)
                || Common.HasPermission(Constants.Permission_CaseManager_AddUpdate) || Common.HasPermission(Constants.Permission_CaseManager_List)
                || Common.HasPermission(Constants.Permission_Department_AddUpdate) || Common.HasPermission(Constants.Permission_Department_List)
                || Common.HasPermission(Constants.Permission_Employee_AddUpdate) || Common.HasPermission(Constants.Permission_Employee_List)
                || Common.HasPermission(Constants.Permission_Facility_House_AddUpdate) || Common.HasPermission(Constants.Permission_Facility_House_List)
                || Common.HasPermission(Constants.Permission_Transportation_AddUpdate) || Common.HasPermission(Constants.Permission_Transportation_List)
                || Common.HasPermission(Constants.Permission_Payor_AddUpdate) || Common.HasPermission(Constants.Permission_Payor_List)
                || Common.HasPermission(Constants.Permission_Agency_AddUpdate) || Common.HasPermission(Constants.Permission_Agency_Listing)
                || Common.HasPermission(Constants.Permission_EmailTemplate_AddUpdate) || Common.HasPermission(Constants.Permission_EmailTemplate_List)
                || Common.HasPermission(Constants.Permission_NoteSentence_AddUpdate) || Common.HasPermission(Constants.Permission_NoteSentence_List)
                )
            {
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-folder"></i>
                        <span class="title">@Resource.Masters</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu" style="display: none;">
                        
                        @if (Common.HasPermission(Constants.Permission_Agency_AddUpdate) || Common.HasPermission(Constants.Permission_Agency_Listing))
                        {
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fa fa-bank"></i>
                                    <span class="title">@Resource.Agency</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    @if (Common.HasPermission(Constants.Permission_Agency_AddUpdate))
                                    {

                                        <li class="nav-item" data-selectmenu="@Resource.SMI_AgencyAdd">
                                            <a href="@Constants.AgencyAddPageURL" class="nav-link">
                                                <i class="fa fa-plus"></i>
                                                <span class="title">@Resource.Add</span>
                                            </a>
                                        </li>
                                    }
                                    @if (Common.HasPermission(Constants.Permission_Agency_Listing))
                                    {
                                        <li class="nav-item">
                                            <a href="@Constants.AgencyListPageURL" class="nav-link" data-selectmenu="@Resource.SMI_AgencyList" >
                                                <i class="fa fa-list"></i>
                                                <span class="title">@Resource.List</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }



                        @if (Common.HasPermission(Constants.Permission_CaseManager_AddUpdate) || Common.HasPermission(Constants.Permission_CaseManager_List))
                        {
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fa fa-user-plus"></i>&nbsp;@Resource.CaseManager
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu" style="display: none;">
                                    @if (Common.HasPermission(Constants.Permission_CaseManager_AddUpdate))
                                    {
                                        <li class="nav-item " data-selectmenu="@Resource.SMI_CaseManagerAdd">
                                            <a href="@Constants.AddCaseManagerURL" class="nav-link ">
                                                <i class="fa fa-plus"></i>
                                                <span class="title">@Resource.Add</span>
                                            </a>
                                        </li>
                                    }
                                    @if (Common.HasPermission(Constants.Permission_CaseManager_List))
                                    {
                                        <li class="nav-item ">
                                            <a href="@Constants.CaseManagerListURL" class="nav-link " data-selectmenu="@Resource.SMI_CaseManagerList">
                                                <i class="fa fa-list"></i>
                                                <span class="title">@Resource.List</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }

                        @if (Common.HasPermission(Constants.Permission_Department_AddUpdate) || Common.HasPermission(Constants.Permission_Department_List))
                        {
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link nav-toggle">

                                    <i class="fa fa-tasks"></i>
                                    <span class="title">@Resource.Department</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    @if (Common.HasPermission(Constants.Permission_Department_AddUpdate))
                                    {
                                        <li class="nav-item" data-selectmenu="@Resource.SMI_DepartmentAdd">
                                            <a href="@Constants.AddDepartmentURL" class="nav-link">
                                                <i class="fa fa-plus"></i>
                                                <span class="title">@Resource.Add</span>
                                            </a>
                                        </li>
                                    }
                                    @if (Common.HasPermission(Constants.Permission_Department_List))
                                    {
                                        <li class="nav-item " data-selectmenu="@Resource.SMI_DepartmentList">
                                            <a href="@Constants.DepartmentListURL" class="nav-link">
                                                <i class="fa fa-list"></i>
                                                <span class="title">@Resource.List</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }

                        @if (Common.HasPermission(Constants.Permission_DxCode_AddUpdate) || Common.HasPermission(Constants.Permission_DxCode_List))
                        {
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fa fa-tasks"></i>&nbsp;@Resource.DXCode
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu" style="display: none;">
                                    @if (Common.HasPermission(Constants.Permission_DxCode_AddUpdate))
                                    {
                                        <li class="nav-item " data-selectmenu="@Resource.SMI_DxCodeAdd">
                                            <a href="@Constants.AddDXCodeURL" class="nav-link ">
                                                <i class="fa fa-plus"></i>
                                                <span class="title">@Resource.Add</span>
                                            </a>
                                        </li>
                                    }
                                    @if (Common.HasPermission(Constants.Permission_DxCode_List))
                                    {
                                        <li class="nav-item ">
                                            <a href="@Constants.DXCodeListURL" class="nav-link " data-selectmenu="@Resource.SMI_DxCodeList">
                                                <i class="fa fa-list"></i>
                                                <span class="title">@Resource.List</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }


                        @if (Common.HasPermission(Constants.Permission_Employee_AddUpdate) || Common.HasPermission(Constants.Permission_Employee_List))
                        {
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link nav-toggle">

                                    <i class="fa fa-users"></i>
                                    <span class="title">@Resource.Employee</span>
                                    <span class="arrow"></span>

                                </a>
                                <ul class="sub-menu">
                                    @if (Common.HasPermission(Constants.Permission_Employee_AddUpdate))
                                    {
                                        <li class="nav-item" data-selectmenu="@Resource.SMI_EmployeeAdd">
                                            <a href="@Constants.AddEmployeeURL" class="nav-link">
                                                <i class="fa fa-plus"></i>
                                                <span class="title">@Resource.Add</span>
                                            </a>
                                        </li>
                                    }
                                    @if (Common.HasPermission(Constants.Permission_Employee_List))
                                    {
                                        <li class="nav-item">
                                            <a href="@Constants.EmployeeListURL" class="nav-link" data-selectmenu="@Resource.SMI_EmployeeList">

                                                <i class="fa fa-list"></i>
                                                <span class="title">@Resource.List</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }

                        @if (Common.HasPermission(Constants.Permission_Facility_House_AddUpdate) || Common.HasPermission(Constants.Permission_Facility_House_List))
                        {
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fa fa-bank"></i>
                                    <span class="title">@Resource.FacilityHouse</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    @if (Common.HasPermission(Constants.Permission_Facility_House_AddUpdate))
                                    {
                                        <li class="nav-item" data-selectmenu="@Resource.SMI_FacilityHouseAdd">
                                            <a href="@Constants.AddFacilityHouseURL" class="nav-link">
                                                <i class="fa fa-plus"></i>
                                                <span class="title">@Resource.Add</span>
                                            </a>
                                        </li>
                                    }
                                    @if (Common.HasPermission(Constants.Permission_Facility_House_List))
                                    {
                                        <li class="nav-item">
                                            <a href="@Constants.FacilityHouseListURL" class="nav-link" data-selectmenu="@Resource.SMI_FacilityHouseList">
                                                <i class="fa fa-list"></i>
                                                <span class="title">@Resource.List</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                        @if (Common.HasPermission(Constants.Permission_NoteSentence_AddUpdate) || Common.HasPermission(Constants.Permission_NoteSentence_List))
                        {
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fa fa-file-word-o"></i>
                                    <span class="title">@Resource.NoteSentence</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    @if (Common.HasPermission(Constants.Permission_NoteSentence_AddUpdate))
                                    {

                                        <li class="nav-item" data-selectmenu="@Resource.SMI_NoteSentenceAdd">
                                            <a href="@Constants.AddNoteSentenceURL" class="nav-link">
                                                <i class="fa fa-plus"></i>
                                                <span class="title">@Resource.Add</span>
                                            </a>
                                        </li>
                                    }
                                    @if (Common.HasPermission(Constants.Permission_NoteSentence_List))
                                    {
                                        <li class="nav-item">
                                            <a href="@Constants.NoteSentenceListURL" class="nav-link" data-selectmenu="@Resource.SMI_NoteSentenceList">
                                                <i class="fa fa-list"></i>
                                                <span class="title">@Resource.List</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }

                        @if (Common.HasPermission(Constants.HC_Permission_Payor_AddUpdate) || Common.HasPermission(Constants.HC_Permission_Payor_List) || Common.HasPermission(Constants.HC_Permission_Payor_ServiceCode_Mapping))
                        {
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fa fa-money"></i>
                                    <span class="title">@Resource.Payor </span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    @if (Common.HasPermission(Constants.HC_Permission_Payor_AddUpdate) || Common.HasPermission(Constants.HC_Permission_Payor_ServiceCode_Mapping))
                                    {
                                        <li class="nav-item" data-selectmenu="@Resource.SMI_PayorAdd">
                                            <a href="@Constants.AddPayorURL" class="nav-link">
                                                <i class="fa fa-plus"></i>
                                                <span class="title">@Resource.Add</span>
                                            </a>
                                        </li>
                                    }
                                    @if (Common.HasPermission(Constants.HC_Permission_Payor_List))
                                    {
                                        <li class="nav-item">
                                            <a href="@Constants.GetPayorList" class="nav-link" data-selectmenu="@Resource.SMI_PayorList">
                                                <i class="fa fa-list"></i>
                                                <span class="title">@Resource.List</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }


                        @if (Common.HasPermission(Constants.Permission_ServiceCode_AddUpdate) || Common.HasPermission(Constants.Permission_ServiceCode_List))
                        {
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fa fa-futbol-o"></i>
                                    <span class="title">@Resource.ServiceCode </span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    @if (Common.HasPermission(Constants.Permission_ServiceCode_AddUpdate))
                                    {
                                        <li class="nav-item" data-selectmenu="@Resource.SMI_ServiceCodeAdd">
                                            <a href="@Constants.AddServiceCodeURL" class="nav-link">
                                                <i class="fa fa-plus"></i>
                                                <span class="title">@Resource.Add</span>
                                            </a>
                                        </li>
                                    }
                                    @if (Common.HasPermission(Constants.Permission_ServiceCode_List))
                                    {
                                        <li class="nav-item">
                                            <a href="@Constants.GetServiceCodeList" class="nav-link" data-selectmenu="@Resource.SMI_ServiceCodeList">
                                                <i class="fa fa-list"></i>
                                                <span class="title">@Resource.List</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }



                        @if (Common.HasPermission(Constants.Permission_EmailTemplate_AddUpdate) && Common.HasPermission(Constants.Permission_EmailTemplate_List))
                        {
                            <li class="nav-item">
                                <a href="@Constants.EmailTemplateListURL" data-selectmenu="@Resource.SMI_EmailTemplateList">
                                    <i class="fa fa-newspaper-o"></i>
                                    <span class="title">@Resource.Template</span>
                                    @*<span class="arrow"></span>*@
                                </a>
                                <ul class="sub-menu">
                                    @*<li class="nav-item" data-selectmenu="@Resource.SMI_EmailTemplateAdd">
                                <a href="@Constants.AddEmailTemplateURL" class="nav-link">
                                    <i class="fa fa-plus"></i>
                                    <span class="title">@Resource.Add</span>
                                </a>
                            </li>*@
                                    @*<li class="nav-item">*@
                                    @*<a href="@Constants.EmailTemplateListURL" class="nav-link" data-selectmenu="@Resource.SMI_EmailTemplateList" >
                                    <i class="fa fa-newspaper-o"></i>
                                    <span class="title">@Resource.Template</span>
                                </a>*@
                                    @*</li>*@
                                </ul>
                            </li>
                        }

                        @if (Common.HasPermission(Constants.Permission_Transportation_AddUpdate) || Common.HasPermission(Constants.Permission_Transportation_List))
                        {
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fa fa-bus"></i>
                                    <span class="title">@Resource.Transportation </span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    @if (Common.HasPermission(Constants.Permission_Transportation_AddUpdate))
                                    {
                                        <li class="nav-item" data-selectmenu="@Resource.SMI_TransportationLocationAdd">
                                            <a href="@Constants.AddTransPortationModelURL" class="nav-link">
                                                <i class="fa fa-plus"></i>
                                                <span class="title">@Resource.Add</span>
                                            </a>
                                        </li>
                                    }
                                    @if (Common.HasPermission(Constants.Permission_Transportation_List))
                                    {
                                        <li class="nav-item">
                                            <a href="@Constants.TransPortationModelListURL" class="nav-link" data-selectmenu="@Resource.SMI_TransportationLocationList">
                                                <i class="fa fa-list"></i>
                                                <span class="title">@Resource.List</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }

                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-question"></i>
                                <span class="title">@Resource.VisitTask</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                @*@if (Common.HasPermission(Constants.Permission_Agency_AddUpdate))
                                {*@

                                    <li class="nav-item" data-selectmenu="@Resource.SMI_VisitTaskAdd">
                                        <a href="@Constants.AddVisitTaskURL" class="nav-link">
                                            <i class="fa fa-plus"></i>
                                            <span class="title">@Resource.Add</span>
                                        </a>
                                    </li>
                                @*}
                                @if (Common.HasPermission(Constants.Permission_Agency_Listing))
                                {*@
                                    <li class="nav-item">
                                        <a href="@Constants.VisitTaskListURL" class="nav-link" data-selectmenu="@Resource.SMI_VisitTaskList">
                                            <i class="fa fa-list"></i>
                                            <span class="title">@Resource.List</span>
                                        </a>
                                    </li>
                                @*}*@
                            </ul>
                        </li>

                    </ul>
                </li>
            }

            @if (Common.HasPermission(Constants.Permission_ReferralDetails_View_AddUpdate) || Common.HasPermission(Constants.Permission_View_All_Referral) || Common.HasPermission(Constants.Permission_View_Assinged_Referral))
            {
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-puzzle"></i>
                        <span class="title">@Resource.ReferralAndIntake</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu" style="display: none;">
                        @if (Common.HasPermission(Constants.Permission_ReferralDetails_View_AddUpdate))
                        {
                            <li class="nav-item" data-selectmenu="@Resource.SMI_ReferralAdd">
                                <a href="@Constants.AddReferralURL" class="nav-link ">
                                    <i class="fa fa-plus"></i>
                                    <span class="title">@Resource.Add</span>
                                </a>
                            </li>
                        }
                        @if (Common.HasPermission(Constants.Permission_View_All_Referral) || Common.HasPermission(Constants.Permission_View_Assinged_Referral))
                        {
                            <li class="nav-item"  data-selectmenu="@Resource.SMI_ReferralList">
                                <a href="@Constants.ReferralListURL" class="nav-link " >
                                    <i class="fa fa-list"></i>
                                    <span class="title">@Resource.List</span>
                                </a>
                            </li>
                        }

                        @if (Common.HasPermission(Constants.Permission_Report_LSTeamMemberCaseloads_View_All) || Common.HasPermission(Constants.Permission_Report_LSTeamMemberCaseloads_View_Assigned))
                        {
                            <li class="nav-item"  data-selectmenu="@Resource.SMI_LSTeamMemberCaseloads">
                                <a href="@Constants.ReportLsTeamMemberCaseLoadURL" class="nav-link " >
                                    <i class="fa fa-object-ungroup"></i>
                                    <span class="title">@Resource.LSTMCaseloads</span>
                                </a>
                            </li>
                        }
                        @if (Common.HasPermission(Constants.Permission_Referral_Tracking))
                        {
                            <li class="nav-item"  data-selectmenu="@Resource.SMI_ReferralTracking">
                                <a href="@Constants.ReferralTrackingURL" class="nav-link " >
                                    <i class="fa fa-cube"></i>
                                    <span class="title">@Resource.ReferralTracking</span>
                                </a>
                            </li>
                        }

                    </ul>

                </li>
            }

            @if (Common.HasPermission(Constants.Permission_Schedule_Assignment_Permission) || Common.HasPermission(Constants.Permission_Schedule_List) || Common.HasPermission(Constants.Permission_Schedule_Update) || Common.HasPermission(Constants.Permission_Schedule_Transportation_Groups) || Common.HasPermission(Constants.Permission_Attendance_Permission))
            {
                <li class="nav-item ">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <span class="title">@Resource.Scheduling</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu" style="display: none;">
                        @if (Common.HasPermission(Constants.Permission_Schedule_Assignment_Permission))
                        {
                            <li class="nav-item" data-selectmenu="@Resource.SMI_ScheduleAssignment">
                                <a href="@Constants.ScheduleAssignmentURL" class="nav-link ">
                                    <i class="fa fa-calendar-check-o"></i>
                                    <span class="title">@Resource.Assignment</span>
                                </a>
                            </li>
                        }
                        @if (Common.HasPermission(Constants.Permission_Schedule_List) || Common.HasPermission(Constants.Permission_Schedule_Update))
                        {
                            <li class="nav-item" data-selectmenu="@Resource.SMI_ScheduleMaster">
                                <a href="@Constants.ScheduleMasterURL" class="nav-link ">
                                    <i class="fa fa-table"></i>
                                    <span class="title">@Resource.ScheduleMaster</span>
                                </a>
                            </li>
                        }
                        @if (Common.HasPermission(Constants.Permission_Schedule_Transportation_Groups))
                        {
                            <li class="nav-item" data-selectmenu="@Resource.SMI_ScheduleTransportation">
                                <a href="@Constants.TransportationAssignment" class="nav-link ">
                                    <i class="fa fa-bus"></i>
                                    <span class="title">@Resource.TransportationGroups</span>

                                </a>
                            </li>
                        }
                        @if (Common.HasPermission(Constants.Permission_Attendance_Permission))
                        {
                            <li class="nav-item" data-selectmenu="@Resource.SMI_AttendanceMaster">
                                <a href="@Constants.AttendanceMaster" class="nav-link ">
                                    <i class="fa fa-check-square-o"></i>
                                    <span class="title">@Resource.AttendanceMaster</span>

                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }

            @if (Common.HasPermission(Constants.Permission_NoteList_ViewAll) || Common.HasPermission(Constants.Permission_NoteList_ViewAssigned) ||
                Common.HasPermission(Constants.Permission_NoteReview_ViewAll) || Common.HasPermission(Constants.Permission_NoteReview_ViewAssigned) ||
                Common.HasPermission(Constants.Permission_Snapshot_Add) || Common.HasPermission(Constants.Permission_Snapshot_Review))
            {
                <li class="nav-item  ">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        <span class="title">@Resource.NoteGeneration</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu" style="display: none;">
                        @if (Common.HasPermission(Constants.Permission_NoteList_ViewAll) || Common.HasPermission(Constants.Permission_NoteList_ViewAssigned))
                        {
                            <li class="nav-item" data-selectmenu="@Resource.SMI_AddBillingNote">
                                <a href="@Constants.note" class="nav-link ">
                                    <i class="fa fa-file-o"></i>
                                    <span class="title">@Resource.NoteList</span>
                                </a>
                            </li>
                        }
                        @if (Common.HasPermission(Constants.Permission_NoteReview_ViewAll) || Common.HasPermission(Constants.Permission_NoteReview_ViewAssigned))
                        {
                            <li class="nav-item" data-selectmenu="@Resource.SMI_AddBillingNoteGC">
                                <a href="@Constants.ClientNote" class="nav-link ">
                                    <i class="fa fa-file-o"></i>
                                    <span class="title">@Resource.NoteReview</span>
                                </a>
                            </li>
                        }
                        @if (Common.HasPermission(Constants.Permission_GroupNote))
                        {

                            <li class="nav-item" data-selectmenu="@Resource.SMI_AddGroupNote">
                                <a href="@Constants.AddGroupNote" class="nav-link ">
                                    <i class="fa fa-files-o"></i>
                                    <span class="title">@Resource.GroupNote</span>
                                </a>
                            </li>
                        }

                        

                        @if (Common.HasPermission(Constants.Permission_Snapshot_Add))
                        {
                            <li class="nav-item" data-selectmenu="@Resource.SMI_AddGroupMonthlySummary">
                                <a href="@Constants.AddGroupMonthlySummaryURL" class="nav-link ">
                                    <i class="fa fa-file-text-o"></i>
                                    <span class="title">@Resource.AddSnapShot</span>
                                </a>
                            </li>

                        }
                        @if (Common.HasPermission(Constants.Permission_Snapshot_Review))
                        {
                            <li class="nav-item" data-selectmenu="@Resource.SMI_MonthlySummaryList">
                                <a href="@Constants.MonthalySummaryList" class="nav-link ">
                                    <i class="fa fa-file-text-o"></i>
                                    <span class="title">@Resource.SnapshotReview</span>
                                </a>
                            </li>
                        }

                    </ul>
                </li>
            }

            @if (Common.HasPermission(Constants.Permission_Billing_Batch837) || Common.HasPermission(Constants.Permission_Billing_Upload835) ||
                Common.HasPermission(Constants.Permission_Billing_Reconcile835) || Common.HasPermission(Constants.Permission_Billing_EDIFileLogs) ||
                Common.HasPermission(Constants.Permission_Billing_EDI270_271) || Common.HasPermission(Constants.Permission_Billing_EDI277CA) ||
                Common.HasPermission(Constants.Permission_ChangeServiceCode))
            {
                <li class="nav-item  ">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        <span class="title">@Resource.ClaimProcessing</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu" style="display: none;">

                        @if (Common.HasPermission(Constants.Permission_Billing_Batch837))
                        {
                            <li class="nav-item" data-selectmenu="@Resource.SMI_Batch837">
                                <a href="@Constants.BatchMaster" class="nav-link ">
                                    <i class="fa fa-cogs"></i>
                                    <span class="title">@Resource.Batch837</span>
                                </a>
                            </li>
                        }
                        @if (Common.HasPermission(Constants.Permission_Billing_Upload835))
                        {
                            <li class="nav-item" data-selectmenu="@Resource.SMI_Upload835">
                                <a href="@Constants.Upload835" class="nav-link ">
                                    <i class="fa fa-upload"></i>
                                    <span class="title">@Resource.Upload835</span>
                                </a>
                            </li>
                        }
                        @if (Common.HasPermission(Constants.Permission_Billing_Reconcile835))
                        {
                            <li class="nav-item" data-selectmenu="@Resource.SMI_Reconcile835">
                                <a href="@Constants.Reconcile835" class="nav-link ">
                                    <i class="fa fa-crosshairs"></i>
                                    <span class="title">@Resource.Reconcile835Menu</span>
                                </a>
                            </li>
                        }
                        @if (Common.HasPermission(Constants.Permission_Billing_EDIFileLogs))
                        {
                            <li class="nav-item" data-selectmenu="@Resource.SMI_EdiFileLogList">
                                <a href="@Constants.EdiFileLogs" class="nav-link ">
                                    <i class="fa fa-list"></i>
                                    <span class="title">@Resource.EdiFileLogs</span>
                                </a>
                            </li>
                        }


                        @if (Common.HasPermission(Constants.Permission_Billing_EDI270_271))
                        {
                            <li class="nav-item" data-selectmenu="@Resource.SMI_Process270_271">
                                <a href="@Constants.Process270_271" class="nav-link ">
                                    <i class="fa fa fa-forumbee"></i>
                                    <span class="title">@Resource.Process270_271MenuTitle</span>
                                </a>
                            </li>
                        }
                        @if (Common.HasPermission(Constants.Permission_Billing_EDI277CA))
                        {
                            <li class="nav-item" data-selectmenu="@Resource.SMI_Process277CA">
                                <a href="@Constants.Process277CA" class="nav-link ">
                                    <i class="fa fa fa-forumbee"></i>
                                    <span class="title">@Resource.Process277CAMenuTitle</span>
                                </a>
                            </li>
                        }

                        @if (Common.HasPermission(Constants.Permission_ChangeServiceCode))
                        {

                            <li class="nav-item" data-selectmenu="@Resource.SMI_ChangeServiceCode">
                                <a href="@Constants.ChangeServiceCode" class="nav-link ">
                                    <i class="fa fa-code-fork"></i>
                                    <span class="title">@Resource.ChangeServiceCode</span>
                                </a>
                            </li>
                        }
                    </ul>

                </li>
            }

            @if (Common.HasPermission(Constants.Permission_Report_Client_Status) || Common.HasPermission(Constants.Permission_Report_Referral_Detail)
                || Common.HasPermission(Constants.Permission_Report_Client_Information) || Common.HasPermission(Constants.Permission_Report_Internal_Service_Plan_Expiration_Dates)
                || Common.HasPermission(Constants.Permission_Report_Respite_Usage) || Common.HasPermission(Constants.Permission_Report_Attendance)
                || Common.HasPermission(Constants.Permission_Report_Behaviour_Contract) || Common.HasPermission(Constants.Permission_Report_Encounter_Print)
                || Common.HasPermission(Constants.Permission_Report_DSP_Roster) || Common.HasPermission(Constants.Permission_Report_Schedule_Attendance)
                || Common.HasPermission(Constants.Permission_Report_LSOutcomeMeasurementsReport) || Common.HasPermission(Constants.Permission_Report_LSTeamMemberCaseloads)
                || Common.HasPermission(Constants.Permission_Report_GeneralNotice))
            {
                <li class="nav-item  " data-selectmenu="@Resource.SMI_Reports">
                    <a href="@Constants.ReportURL" class="nav-link nav-toggle">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        <span class="title">@Resource.Reports</span>
                    </a>


                </li>
            }
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
