@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, Resource.AccessDenied);
    bool isLoggedIn = SessionHelper.LoggedInID > 0;
    Layout = isLoggedIn ? "~/Views/Shared/_Layout.cshtml" : "~/views/shared/_loginlayout.cshtml";
}

<div class="row margin-bottom-100 color-white">
    <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h2 class="font-weight-500">@Resource.Forbidden</h2>
            <p class="margin-top-5">@Resource.NotPermittedToAccessPage</p>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="text-center font-weight-500">@Resource.Oops</h1>
            <img class="img-responsive center-block" src="~/Assets/images/403.png" />
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <p class="margin-top-15">@Resource.InformAdministratorNote</p>
            <a href="/"><span class="btn btn-primary">@Resource.BackToHomePage</span></a>
        </div>
    </div>
</div>

@section Scripts{
    @if (isLoggedIn)
    {
        <script>
            $(document).ready(function () {
                $(".color-white").removeClass("color-white");
            });
        </script>
    }
}

