@{
    CacheHelper _cacheHelper = new CacheHelper();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel='shortcut icon' href='/assets/images/favicon.png' type='image/x-icon' />
    @Styles.Render("~/printlayout/css")

</head>

<body class="printLayout ng-cloak" data-ng-app="app">
    <!-- BEGIN LOGIN -->
    <div style="text-align:center">
        @*<img src="https://prepod.myezcare.com/uploads/asapcarestage/SiteLogo/1/27c3bd8b-1462-41ab-9f98-e529e67b638e-201809141452476895.png"alt="logo" style="width:200px;height:45px" />*@
        <img src="@_cacheHelper.SiteLogo" alt="logo" style="width:200px;height:45px" />
    </div>
    <div class="content hideContent" style="width: 100% !important; margin: 0 !important;">
        @RenderBody()
    </div>

</body>
<script type="text/javascript">
    window.ZarephathBucket = '@ConfigSettings.ZarephathBucket';
    window.SecretAccessKeyID = '@ConfigSettings.SecretAccessKeyID';
    window.AccessKeyID = '@ConfigSettings.AccessKeyID';
</script>
@Scripts.Render("~/loginlayout/js")
@RenderSection("scripts", required: false)

<script type="text/javascript">
    $(document).ready(function () {
        $(".hideContent").removeClass("hideContent");
    });

</script>


</html>
