@model NotificationModel
@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, Resource.Notification);
    Layout = "~/views/shared/_loginlayout.cshtml";
    CacheHelper _cacheHelper = new CacheHelper();    
}

@Html.Hidden("NotificationModel", Common.SerializeObject(Model))

<div class="row" data-ng-controller="NotificationController" style="border-radius: 0; padding: 51px 377px 345px 383px; height: 100%;">
    <div class="col-lg-12">
        <div>
            <h3 class="m-t-none m-b">@Html.Raw(@Model.Title)</h3>
            <hr />
            @*<h2 class="margin-bottom-10"></h2>*@
            <p class="margin-top-10">@Html.Raw(Model.Message)</p>
        </div>
    </div>


    @if (Model.Scheduling)
    {
        <div class="col-md-12">
            <hr />
            <p style="color: #222; font-size: 13px; margin-bottom: 0px; margin-top: 3px;"><b class="font-size-14"><i>Zarephath Community Services</i></b></p>
            <p style="color: #222; font-size: 13px; margin-bottom: 0px; margin-top: 3px;">(480) 518-6826 (Phoenix Region)</p>
            <p style="color: #222; font-size: 13px; margin-bottom: 0px; margin-top: 3px;">(855) 810-2484 (Tucson and Yuma Regions)</p>
            <p style="color: #222; font-size: 13px; margin-bottom: 0px; margin-top: 3px;"><a style="text-decoration: none; color: #15c;" href="mailto:@_cacheHelper.SupportEmail">Scheduling@zrpath.com</a> (All regions)</p>
        </div>
        
    }
    else
    {
        <div class="col-md-12 text-align-center">
            <hr />
            <p class="margin-top-15 text-align-center">
                You can contact us on <a class="margin-bottom-5" href="mailto:@_cacheHelper.SupportEmail">@Resource.ContactSupport</a>
            </p>
            <a href="/"><span class="btn btn-primary text-center">@Resource.BackToHomePage</span></a>
        </div>
    }
</div>

@section Scripts{
    @Scripts.Render("~/assets/js/viewjs/notificationjs")
}