@model HC_AddPayorModel
<div class="modal fade" id="addServiceCodeModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none; margin-top: 0px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="font-size-20">@Resource.AddServiceCode</span>
                <button type="button" class="close" aria-label="Close" ng-click="OnCloseModel()"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <form id="FrmAddServiceCode">
                            <div class="col-sm-12 no-padding">
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-12">
                                        <label class="col-md-3 control-label required">@Resource.ServiceCode
                                        </label>
                                        <div class="col-md-9 no-padding">
                                            @Html.TextBoxFor(q => q.SerivceCodeModifierModel.ServiceCode,
                                            new
                                            {
                                            @class = "form-control input-sm",
                                            data_ng_model = "SerivceCodeModifierModel.ServiceCode",
                                            placeholder = @Resource.ServiceCode,
                                            maxlength = 50
                                            })
                                            @Html.ValidationMessageFor(q => q.SerivceCodeModifierModel.ServiceCode)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-md-3 control-label">@Resource.Modifier
                                        </label>
                                        <div class="col-md-2 no-padding ">
                                            @Html.TextBoxFor(m => m.SerivceCodeModifierModel.Modifier1, new
                                            {
                                               @class = "form-control input-sm",
                                               maxlength = "100",
                                               data_ng_model = "SerivceCodeModifierModel.Modifier1",
                                               placeholder = Resource.Modifier+"1"
                                            })
                                            @Html.ValidationMessageFor(m => m.SerivceCodeModifierModel.Modifier1)
                                        </div>

                                        <div class="col-md-2 no-padding margin-left-14">
                                            @Html.TextBoxFor(m => m.SerivceCodeModifierModel.Modifier2, new
                                           {
                                               @class = "form-control input-sm",
                                               maxlength = "100",
                                               data_ng_model = "SerivceCodeModifierModel.Modifier2",
                                               placeholder = Resource.Modifier+"2"
                                           })
                                            @Html.ValidationMessageFor(m => m.SerivceCodeModifierModel.Modifier2)
                                        </div>
                                        
                                        <div class="col-md-2 no-padding margin-left-14" >
                                            @Html.TextBoxFor(m => m.SerivceCodeModifierModel.Modifier3, new
                                           {
                                               @class = "form-control input-sm",
                                               maxlength = "100",
                                               data_ng_model = "SerivceCodeModifierModel.Modifier3",
                                               placeholder = Resource.Modifier + "3"
                                           })
                                            @Html.ValidationMessageFor(m => m.SerivceCodeModifierModel.Modifier3)
                                        </div>
                                        
                                        <div class="col-md-2 no-padding margin-left-14" >
                                            @Html.TextBoxFor(m => m.SerivceCodeModifierModel.Modifier4, new
                                            {
                                               @class = "form-control input-sm",
                                               maxlength = "100",
                                               data_ng_model = "SerivceCodeModifierModel.Modifier4",
                                               placeholder = Resource.Modifier+"4"
                                            })
                                            @Html.ValidationMessageFor(m => m.SerivceCodeModifierModel.Modifier4)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <input type="submit" data-ng-click="SaveServiceCodeModal()" class="btn btn-sm green-jungle pull-right" value="@Resource.Save" />
                    <a data-ng-click="OnCloseModel()">
                        <input type="button" class="btn btn-sm red-mint pull-right margin-right-10" value="@Resource.Cancel" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>