@{
    ViewBag.Title = Resource.FormList;
    Layout = Model.IsPartial ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedMenuItem = Resource.SMI_FormList;
}
@model HC_EBFormModel

@Html.Hidden("hdnEBFormModel", Common.SerializeObject(Model))


<div data-ng-controller="EBFormController">


    <div class="row">
        <div class="col-sm-12">
            <div class="tabbable tabbable-custom boxless">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" id="newFormList" data-target="#tab_newFormlist" href="#newFormList">@Resource.NewForms</a>
                    </li>
                    <li>
                        <a id="savedFormList" data-target="#tab_savedFormList"  href="#savedFormList" data-toggle="tab">@Resource.SavedForms</a>
                    </li>

                </ul>


                <div class="tab-content">
                    <div id="tab_newFormlist" " class="tab-pane fade in active" >
                        @Html.Partial("Partial/Forms/_NewFormlist", Model)
                    </div>

                    <div id="tab_savedFormList" class="tab-pane fade">
                        @*@Html.Partial("Partial/Forms/_SavedFormList", Model)*@

                        HELLO
                    </div>


                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts{
    @if (!Model.IsPartial)
    {
        @Scripts.Render("~/assets/js/viewjs/siteApp/Areas/HomeCare/referral/formlist")
    }

}



