@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, Resource.InvoiceDetail);
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    CacheHelper _cacheHelper = new CacheHelper();
}
@model MIFPrintModel
<div class="container mif_pdf">
    @*border*@
    <div class="row margin-top-15">
        @*border-bottom*@
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 text-center">
                <img src="@_cacheHelper.TemplateLogo" width="200" height="40" />
            </div>


            <div class=" col-md-12">
                <div class="col-md-12 text-align-center" style="padding-bottom:20px !important">
                    <span>@_cacheHelper.MIF_Appendix</span><br />
                    <div style="padding-bottom: 20px;"><b>MIF</b></div>
                    <span><b>SOURCE Member Information Form</b></span>
                </div>
            </div>
            <div class="col-md-12  mt-radio-inline text-align-center">
                <div class="col-md-10 " style="margin:0 auto; float:none">
                    @if (Model.FromWhoToWho == "Provider to Case Manager")
                    {
                    <div class="col-md-6 text-left">
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span class="checked">
                                    <input type="radio" name="P_T_CM" />
                                </span>
                            </div>
                            Provider to Case Manager
                        </label>
                    </div>
                    <div class="col-md-6 text-right">
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="P_T_CM" />
                                </span>
                            </div>
                            Case Manager to Provider
                        </label>
                    </div>
                    }
                    else if (Model.FromWhoToWho == "Case Manager to Provider")
                    {
                    <div class="col-md-6 text-left">
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="P_T_CM" />
                                </span>
                            </div>
                            Provider to Case Manager
                        </label>
                    </div>
                    <div class="col-md-6 text-right">
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span class="checked">
                                    <input type="radio" name="P_T_CM" />
                                </span>
                            </div>
                            Case Manager to Provider
                        </label>
                    </div>
                    }
                    else
                    {
                    <div class="col-md-6 text-left">
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="P_T_CM" />
                                </span>
                            </div>
                            Provider to Case Manager
                        </label>
                    </div>
                    <div class="col-md-6 text-right">
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="P_T_CM" />
                                </span>
                            </div>
                            Case Manager to Provider
                        </label>
                    </div>
                    }
                </div>
            </div>
            <div class="col-md-12 mt-radio-inline text-align-center">
                <div class="col-md-10" style="margin:0 auto; float:none">
                    <div class="col-md-6 text-left" style="margin-top:10px !important">

                        @if (Model.Type == "Initial")
                        {
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span class="checked">
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            Initial
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            Change
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            Discharge
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            FYI
                        </label>
                        }
                        else if (Model.Type == "Change")
                        {
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            Initial
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span class="checked">
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            Change
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            Discharge
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            FYI
                        </label>
                        }
                        else if (Model.Type == "Discharge")
                        {
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            Initial
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            Change
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span class="checked">
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            Discharge
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            FYI
                        </label>
                        }
                        else if (Model.Type == "FYI")
                        {
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            Initial
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            Change
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            Discharge
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span class="checked">
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            FYI
                        </label>
                        }
                        else
                        {
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            Initial
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            Change
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            Discharge
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="MIFFormType" />
                                </span>
                            </div>
                            FYI
                        </label>
                        }

                    </div>
                    <div class="col-md-5 text-right pull-right" style="margin-top:10px !important;">
                        <span>Response required?</span>
                        @if (Model.IsResponseRequired==true)
                        {
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span class="checked">
                                    <input type="radio" name="Response_Required" />
                                </span>
                            </div>
                            YES
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="Response_Required" />
                                </span>
                            </div>
                            NO
                        </label>
                        }
                        else if(Model.IsResponseRequired==false)
                        {
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="Response_Required" />
                                </span>
                            </div>
                            YES
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span class="checked">
                                    <input type="radio" name="Response_Required" />
                                </span>
                            </div>
                            NO
                        </label>
                        }
                        else
                        {
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="Response_Required" />
                                </span>
                            </div>
                            YES
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <div class="radio">
                                <span>
                                    <input type="radio" name="Response_Required" />
                                </span>
                            </div>
                            NO
                        </label>
                        }
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="margin-top: 20px;">
                <div class="col-md-10" style="float:none; margin:0 auto">
                    <div class="col-md-8">
                        <strong class="pull-left" style="margin-left:5px">Member Name</strong>
                        <div class="form-group form-md-line-input" style="width:70%;float:left;margin-left:5px">
                            <input type="text" class="form-control input-sm height-19px" value="@Model.MemberFullName" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <strong style="float: left;">Medicaid No.</strong>
                        <div class="col-sm-2 form-group form-md-line-input">
                            <input type="text" class="form-control input-sm height-19px" style="width:165px !important" value="@Model.MedicaidNo" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 20px;">
                <div class="col-md-10" style="margin:0 auto; float:none">
                    <div class="col-sm-2" style="margin-left:5px; padding-right:0"><strong>Service type :</strong></div>
                    <div class="col-sm-9 mt-check-inline" style="padding-left: 0;">
                        <label class="mt-check mt-check-outline" style="padding-right:10px">
                            <div class="checker">
                                @if (Model.ServiceType_AHD)
                                {
                                <span class="checked"><input type="checkbox" /></span>
                                }
                                else
                                {
                                <span><input type="checkbox" /></span>
                                }
                            </div>
                            AHD
                        </label>
                        <label class="mt-check mt-check-outline" style="padding-right:10px">
                            <div class="checker">
                                @if (Model.ServiceType_ALS)
                                {
                                <span class="checked"><input type="checkbox" /></span>
                                }
                                else
                                {
                                <span><input type="checkbox" /></span>
                                }
                            </div>
                            ALS
                        </label>
                        <label class="mt-check mt-check-outline" style="padding-right:10px">
                            <div class="checker">
                                @if (Model.ServiceType_ERS)
                                {
                                <span class="checked"><input type="checkbox" /></span>
                                }
                                else
                                {
                                <span><input type="checkbox" /></span>
                                }
                            </div>
                            ERS
                        </label>
                        <label class="mt-check mt-check-outline" style="padding-right:10px">
                            <div class="checker">
                                @if (Model.ServiceType_HDM)
                                {
                                <span class="checked"><input type="checkbox" /></span>
                                }
                                else
                                {
                                <span><input type="checkbox" /></span>
                                }
                            </div>
                            HDM
                        </label>
                        <label class="mt-check mt-check-outline" style="padding-right:10px">
                            <div class="checker">
                                @if (Model.ServiceType_HDS)
                                {
                                <span class="checked"><input type="checkbox" /></span>
                                }
                                else
                                {
                                <span><input type="checkbox" /></span>
                                }
                            </div>
                            HDS
                        </label>
                        <label class="mt-check mt-check-outline" style="padding-right:10px">
                            <div class="checker">
                                @if (Model.ServiceType_PSS)
                                {
                                <span class="checked"><input type="checkbox" /></span>
                                }
                                else
                                {
                                <span><input type="checkbox" /></span>
                                }
                            </div>
                            PSS
                        </label>
                        <label class="mt-check mt-check-outline" style="padding-right:10px">
                            <div class="checker">
                                @if (Model.ServiceType_EPS)
                                {
                                <span class="checked"><input type="checkbox" /></span>
                                }
                                else
                                {
                                <span><input type="checkbox" /></span>
                                }
                            </div>
                            EPS
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 20px;">
                <div class="col-md-10" style="margin:0 auto; float:none">
                    <div class="col-sm-2" style="margin-left:9px;">
                        <strong>Initial Service offered?</strong>
                    </div>
                    <div class="col-sm-2 form-group form-md-line-input" style="padding-left: 0px;">
                        <input type="text" class="form-control input-sm height-19px" value="@(Model.IsInitialServiceOffered==true?" Yes":Model.IsInitialServiceOffered==false?"No":"")" />
                    </div>
                    @if (Model.IsInitialServiceOffered==false)
                    {
                    <strong style="float: left;">No – Reason</strong>
                    <div class="col-sm-4 form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" style="width:303px !important" value="@Model.InitialServiceNoReason" />
                    </div>
                    }
                </div>
            </div>
            @if (Model.IsInitialServiceOffered==true)
            {
            <div class="col-md-12" style="margin-top: 20px;">
                <div class="col-md-10" style="margin:0 auto; float:none">
                    <div class="col-sm-3" style="margin-left:9px">
                        <strong>YES, Date services initiated</strong>
                    </div>
                    <div class="col-sm-3 form-group form-md-line-input" style="padding-left:0">
                        <div class="col-sm-12 input-group date pull-left">
                            <input type="text" class="form-control input-sm height-19px" value="@(Model.InitialServiceDate==null?" ":Model.InitialServiceDate.Value.ToString(" MM/dd/yyyy"))" />
                            <span class="input-group-addon no-padding"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
                <div class="col-md-10" style="margin:0 auto; float:none">
                    <div class="col-sm-3" style="margin-left: 9px;">
                        <strong>Frequency/Units</strong>
                    </div>
                    <div class="col-sm-7 form-group form-md-line-input" style="padding-left:0">
                        <input type="text" class="form-control input-xs" value="@Model.FrequencyCode" />
                        @*<select data-ng-options="item.Value as item.Name for item in ReferralModel.PatientFrequencyCode" data-ng-model="MIFDetail.InitialServiceFrequencyID" class="form-control input-xs"
                                  data-ng-init="MIFDetail.InitialServiceFrequencyID=MIFDetail.InitialServiceFrequencyID==0?ReferralModel.Referral.FrequencyCodeID:MIFDetail.InitialServiceFrequencyID" disabled>
                            <option value="">@Resource.Select</option>
                        </select>*@
                    </div>
                </div>
            </div>
            }
            <div class="col-md-12" style="margin-top: 20px;">
                <div class="col-md-10" style="float:none; margin:0 auto; text-align:left">

                    <div class="col-md-6 text-align-left" style="margin-left:9px;">
                        <p style="font-weight:bold; margin:0 0 10px 0;">Change/FYI</p>
                        <label class="mt-check mt-check-outline">
                            <div class="checker">
                                @if (Model.ChangeFYI_RecommendationForChange)
                                {
                                <span class="checked"><input type="checkbox" /></span>
                                }
                                else
                                {
                                <span><input type="checkbox" /></span>
                                }
                            </div>
                            Recommendation for change in service
                        </label>
                        <label class="mt-check mt-check-outline">
                            <div class="checker">
                                @if (Model.ChangeFYI_ChangeInHealthFuncStatus)
                                {
                                <span class="checked"><input type="checkbox" /></span>
                                }
                                else
                                {
                                <span><input type="checkbox" /></span>
                                }
                            </div>
                            Change in mbr’s. Health/functional status
                        </label>
                        <label class="mt-check mt-check-outline" style="width:100%;">
                            <div class="checker">
                                @if (Model.ChangeFYI_Hospitalization)
                                {
                                <span class="checked"><input type="checkbox" /></span>
                                }
                                else
                                {
                                <span><input type="checkbox" /></span>
                                }
                            </div>
                            Hospitalization
                        </label>
                        <label class="mt-check mt-check-outline" style="width:100%;">
                            <div class="checker">
                                @if (Model.ChangeFYI_ServiceNotDelivered)
                                {
                                <span class="checked"><input type="checkbox" /></span>
                                }
                                else
                                {
                                <span><input type="checkbox" /></span>
                                }
                            </div>
                            Service not delivered
                        </label>
                    </div>
                    <div class="col-md-5 text-align-left pull-right" style="padding-top: 20px">
                        <label class="mt-check mt-check-outline">
                            <div class="checker">
                                @if (Model.ChangeFYI_ChangeInFrequencyByCM)
                                {
                                <span class="checked"><input type="checkbox" /></span>
                                }
                                else
                                {
                                <span><input type="checkbox" /></span>
                                }
                            </div>
                            Change in frequency/units by case manager
                        </label>
                        <label class="mt-check mt-check-outline">
                            <div class="checker">
                                @if (Model.ChangeFYI_ChangeInPhysician)
                                {
                                <span class="checked"><input type="checkbox" /></span>
                                }
                                else
                                {
                                <span><input type="checkbox" /></span>
                                }
                            </div>
                            Change of physician/CM
                        </label>
                        <label class="mt-check mt-check-outline" style="width:100%;">
                            <div class="checker">
                                @if (Model.ChangeFYI_Other)
                                {
                                <span class="checked"><input type="checkbox" /></span>
                                }
                                else
                                {
                                <span><input type="checkbox" /></span>
                                }
                            </div>
                            Other
                        </label>
                        <label class="mt-check mt-check-outline" style="width:100%;">
                            <div class="checker">
                                @if (Model.ChangeFYI_FYI)
                                {
                                <span class="checked"><input type="checkbox" /></span>
                                }
                                else
                                {
                                <span><input type="checkbox" /></span>
                                }
                            </div>
                            FYI
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="margin-top: 20px;">
                <div class="col-md-10" style="margin:0 auto; float:none">
                    <div class="col-sm-2" style="margin-left:9px;   ">
                        <strong>Explanation</strong>
                    </div>
                    <div class="col-sm-9 form-group form-md-line-input" style="padding-left:0">
                        <div class="form-md-line-input form-row-seperated">
                            <div style="border-bottom:1px solid #c2cad8">
                                @if (string.IsNullOrEmpty(Model.Explanation))
                                {
                                <div style="height:19px"></div>
                                }
                                else
                                {
                                @Model.Explanation
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 20px;">
                <div class="col-md-10" style="margin:0 auto; float:none">
                    <div class="col-sm-3" style="margin-left:9px;padding-right:0">
                        <strong>Effective date of change :</strong>
                    </div>
                    <div class="col-sm-3 form-group form-md-line-input" style="padding-left:0">
                        <div class="col-sm-12 input-group date  pull-left">
                            <input type="text" class="form-control input-sm height-19px" value="@(Model.EffectiveDateOfChange==null?" ":Model.EffectiveDateOfChange.Value.ToString(" MM/dd/yyyy"))"/>
                            <span class="input-group-addon no-padding"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 text-align-center" style="padding-top:20px !important">
                    <span><strong>Discharge</strong></span>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 20px;">
                <div class="col-md-10" style="margin:0 auto; float:none">
                    <div class="col-sm-2" style="margin-left:9px">
                        <strong>Discharge Reason</strong>
                    </div>
                    <div class="col-sm-9 form-group form-md-line-input" style="padding-left:0;">
                        <div class="form-md-line-input form-row-seperated">
                            <div style="border-bottom:1px solid #c2cad8">
                                @if (string.IsNullOrEmpty(Model.DischargeReason))
                                {
                                <div style="height:19px"></div>
                                }
                                else
                                {
                                @Model.DischargeReason
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 20px;">
                <div class="col-md-10" style="margin:0 auto; float:none">
                    <div class="col-sm-2" style="margin-left:9px">
                        <strong>Date of Discharge</strong>
                    </div>
                    <div class="col-sm-3 form-group form-md-line-input" style="padding-left:0px;">
                        <div class="col-sm-12 input-group date  pull-left">
                            <input type="text" class="form-control input-sm height-19px"
                                   value="@(Model.DateOfDischarge==null?" ":Model.DateOfDischarge.Value.ToString(" MM/dd/yyyy"))"/>
                            <span class="input-group-addon no-padding"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 20px;">
                <div class="col-md-10" style="margin:0 auto; float:none">
                    <div class="col-sm-2" style="margin-left:9px">
                        <strong>COMMENTS</strong>
                    </div>
                    <div class="col-sm-9 form-group form-md-line-input" style="padding-left:0">
                        <div class="form-md-line-input form-row-seperated">
                            <div style="border-bottom:1px solid #c2cad8">
                                @if (string.IsNullOrEmpty(Model.Comments))
                                {
                                <div style="height:19px"></div>
                                }
                                else
                                {
                                @Model.Comments
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 20px;">
                <div class="col-md-10" style="margin:0 auto; float:none">
                    <div class="" style="margin-left:25px;padding-right:0; float:left">
                        <strong>Prior Authorization Dates</strong>
                    </div>
                    <div class="col-sm-2 form-group form-md-line-input" style="padding:0;">
                        <input type="text" class="form-control input-sm height-19px"
                               value="@(Model.PriorAuthorizationDateFrom==null?" ":Model.PriorAuthorizationDateFrom.Value.ToString(" MM/dd/yyyy"))"/>
                    </div>
                    <div class=" text-align-center" style="padding:0 5px;float:left">To</div>
                    <div class="col-sm-2 form-group form-md-line-input" style="padding:0">
                        <input type="text" class="form-control input-sm height-19px"
                               value="@(Model.PriorAuthorizationDateTo==null?" ":Model.PriorAuthorizationDateTo.Value.ToString(" MM/dd/yyyy"))"/>
                    </div>
                    <div class="col-sm-1 text-align-center" style="padding:0 0 0 10px"><strong>PA #</strong></div>
                    <div class="col-sm-3 form-group form-md-line-input pull-left" style="padding:0">
                        <input type="text" class="form-control input-sm height-19px" value="@Model.PriorAuthorizationNo" />
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 20px; page-break-after: auto">
                <div class="col-md-10" style="margin:0 auto; float:none">
                    <div class="col-sm-1" style="margin-left:9px"><strong>Signature</strong></div>
                    <div class="col-sm-5 form-group form-md-line-input" style="padding:0;padding-right:5px;padding-left:5px;">
                        <div style="border:1px solid #c2cad8;margin-left:15px">
                            <img class="img-responsive signature-image" id="imgDisplay" src="@Model.SignaturePath" />
                        </div>
                        @*<input type="text" class="form-control input-sm height-19px" disabled />*@
                    </div>
                    <div class="col-sm-1 text-align-center" style="padding:0"><strong>Date</strong></div>
                    <div class="col-sm-4 form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" disabled />
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 5px;">
                <div class="col-md-10" style="margin:0 auto; float:none">
                    <div class="col-sm-1" style="margin-left:9px"><strong>Title</strong></div>
                    <div class="col-sm-5 form-group form-md-line-input" style="padding:0">
                        <input type="text" class="form-control input-sm height-19px" disabled />
                    </div>
                    <div class="col-sm-1 text-align-center" style="padding:0"><strong>Phone</strong></div>
                    <div class="col-sm-4 form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" disabled />
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 5px;">
                <div class="col-md-10" style="margin:0 auto; float:none">
                    <div class="col-sm-1" style="margin-left:9px"><strong>Signature</strong></div>
                    <div class="col-sm-5 form-group form-md-line-input" style="padding:0;padding-right:5px;padding-left:20px;">
                        <input type="text" class="form-control input-sm height-19px" disabled />
                    </div>
                    <div class="col-sm-1 text-align-center" style="padding:0"><strong>Date</strong></div>
                    <div class="col-sm-4 form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" disabled />
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 5px;">
                <div class="col-md-10" style="margin:0 auto; float:none">
                    <div class="col-sm-1" style="margin-left:9px"><strong>Title</strong></div>
                    <div class="col-sm-5 form-group form-md-line-input" style="padding:0">
                        <input type="text" class="form-control input-sm height-19px" disabled />
                    </div>
                    <div class="col-sm-1 text-align-center" style="padding:0"><strong>Phone</strong></div>
                    <div class="col-sm-4 form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" disabled />
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="col-md-10" style="margin:0 auto; float:none">
                    <div class="col-md-12" style="margin-left:9px">
                        @_cacheHelper.MIF_Description
                        <br />
                        @_cacheHelper.MIF_Revision
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>