<div id="PatientReportsList" class="row">
    <div class="col-md-12">
        <div class="portlet box">
            <div class="portlet-title">
                <div class="caption header-font-size-14 uppercase">
                    <div class="pull-left">@Resource.PatientReports</div>
                    <div class="pull-right padding-left-25" data-ng-show="PatientReportsListAjaxStart">
                        <img src="~/Assets/images/lazyload.gif" />
                    </div>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="fullscreen"></a>
                </div>
            </div>

            <div class="portlet-body table_font-size-12" style="height:auto !important; min-height:0">
                @*<form id="patientReportsListSearch">
                    <div class="row form-group">
                        <div class="col-sm-3 padding-right-0">
                            <div class="fields">
                                <label>@Resource.ReportName</label>
                                <input type="text" class="form-control input-sm" data-ng-model="Patient_ReportName" data-ng-change="SearchPatientReportsList()" placeholder="@Resource.ReportName" />
                            </div>
                        </div>

                        <div class="col-sm-3 padding-right-0">
                            <div class="fields">
                                <label>@Resource.ReportDescription</label>
                                <input type="text" class="form-control input-sm" data-ng-model="Patient_ReportDescription" data-ng-change="SearchPatientReportsList()" placeholder="@Resource.ReportDescription" />
                            </div>
                        </div>

                        <div class="col-sm-1 padding-right-0">
                            <div class="clockIn-btn">
                                <input type='submit' class="btn btn-sm btn-default bg-gray-color" value="@Resource.Search" data-ng-click="SearchPatientReportsList()" />
                            </div>
                        </div>
                        <div class="col-sm-1 padding-right-0">
                            <div class="clockIn-btn">
                                <input type='button' class="btn btn-sm btn-default bg-gray-color" value="@Resource.Reset" data-ng-click="ResetPatientReportsList()" />
                            </div>
                        </div>
                    </div>
                </form>*@

                <div class="row">
                    <div class="col-sm-12">
                        <div class="portlet-body" style="display: block;">
                            <div class="table-responsive">
                                <form id="frmPatientReportsList">
                                    <table class="table table-bordered table-striped table-condensed flip-content">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="PatientReportsListPager.sortColumn('ReportName')">@Resource.ReportName</a>
                                                    <span class="sortorder" data-ng-show="PatientReportsListPager.sortIndex === 'ReportName'" data-ng-class="{reverse:PatientReportsListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="PatientReportsListPager.sortColumn('ReportDescription')">@Resource.ReportDescription</a>
                                                    <span class="sortorder" data-ng-show="PatientReportsListPager.sortIndex === 'ReportDescription'" data-ng-class="{reverse:PatientReportsListPager.reverse}"></span>
                                                </th>
                                                <th class="text-align-center">@Resource.Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="item in PatientReportsList | itemsPerPage: PatientReportsListPager.pageSize" total-items="PatientReportsListPager.totalRecords" current-page="PatientReportsListPager.currentPage" pagination-id="PatientReportsListPagerID">
                                                <td>
                                                    {{item.ReportName}}
                                                </td>
                                                <td>
                                                    <p class="ribbon-content">
                                                        <span href="javascript:void(0);" class="display-block pull-left cursor-pointer Text-justify" common-detail-popover="ABC" popover-trigger="click" data-content="{{item.ReportDescription}}"
                                                              ng-header="Description">{{item.ReportDescription.length>150 ? item.ReportDescription.substr(0,150)+'......' :  item.ReportDescription}}</span>
                                                    </p>
                                                </td>
                                                <td>
                                                    <a class="btn btn-sm blue-steel pull-right" data-ng-click="ReportNavigation('@(Model.ReportURL)',item.ReportName)" data-toggle="modal">View</a>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="row">
                    <div class="col-sm-12" data-ng-if="PatientReportsList.length > 0">
                        <div class="col-sm-6 pull-left no-left-padding"
                             data-ng-hide="PatientReportsListPager.currentPage==1 && (PatientReportsListPager.currentPageSize < PatientReportsListPager.pageSize)">
                            @Resource.Showing <span data-ng-bind="(PatientReportsListPager.pageSize * PatientReportsListPager.currentPage) -PatientReportsListPager.pageSize  + 1"></span>
                            &nbsp;@Resource.To <span data-ng-bind="(PatientReportsListPager.pageSize == PatientReportsListPager.currentPageSize) ? (PatientReportsListPager.pageSize * PatientReportsListPager.currentPage) :(PatientReportsListPager.pageSize * PatientReportsListPager.currentPage) - PatientReportsListPager.pageSize  + PatientReportsListPager.currentPageSize"></span>&nbsp;@Resource.Of &nbsp;<span data-ng-bind="PatientReportsListPager.totalRecords"></span>&nbsp;@Resource.Records
                        </div>
                        <div class="pull-right">
                            <dir-pagination-controls boundary-links="true" on-page-change="PatientReportsListPager.pageChanged(newPageNumber)" pagination-id="PatientReportsListPagerID"></dir-pagination-controls>
                        </div>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-sm-12">
                        <div data-ng-if="PatientReportsList.length == 0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="alert alert-danger">
                                        @Html.Raw(Resource.NoRecordsFound)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br class="clearfix" />
            </div>
        </div>
    </div>
</div>