@model HC_AddReferralModel
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="tabs">
            <div class="tabbable tabbable-custom tabs-left">
                <div class="col-lg-12 col-md-12 col-sm-12 employeeTabsecond">
                    <ul class="nav nav-tabs tabs-left">
                        @if (Common.HasPermission(Constants.HC_Permission_PatientIntake_Billing_PatientPayor_View))
                        {
                            <li class="active">
                                <a id="billings_patientpayorsmapping" href="#tab_PatientsPayor" data-toggle="tab">
                                    @*@Resource.PatientPayors*@
                                    @Resource.Payor
                                </a>
                            </li>
                        }
                        @if (Common.HasPermission(Constants.HC_Permission_PatientIntake_Billing_Details_View))
                        {
                            <li class="">
                                <a id="billings_detailsbillingsettings" href="#tab_BillingSettings" data-toggle="tab">
                                    @Resource.PriorAuthorization
                                </a>
                            </li>
                        }
                        @if (Common.HasPermission(Constants.HC_Permission_PatientIntake_Billing_PR_View))
                        {
@* <li class="">
                                <a id="billings_PriorAuthorization" href="#tab_PriorAuthorization" data-toggle="tab">
                                    Prior Authorization
                                </a>
                            </li>*@
                        }
                    </ul>
                </div>

                <div class="tab-content col-lg-12 col-md-12 col-sm-12">
                    @if (Common.HasPermission(Constants.HC_Permission_PatientIntake_Billing_PatientPayor_View))
                    {
                        <div class="tab-pane active" id="tab_PatientsPayor" style="min-height: 350px;" data-ng-controller="ReferralPatientsPayorController">
                            @Html.Partial("Partial/BillingDetails/_ReferralPatientsPayor")
                        </div>
                    }
                    @if (Common.HasPermission(Constants.HC_Permission_PatientIntake_Billing_Details_View))
                    {
                        <div class="tab-pane" id="tab_BillingSettings" style="min-height: 350px;" data-ng-controller="BillingSettingController">
                            @Html.Partial("Partial/BillingDetails/_BillingSettings")
                        </div>
                    }
                    @if (Common.HasPermission(Constants.HC_Permission_PatientIntake_Billing_PR_View))
                    {
@* <div class="tab-pane" id="tab_PriorAuthorization" style="min-height: 350px;" data-ng-controller="BillingSettingController">
                                                    @{
                                                        Model.ReferralBillingAuthorization.TempType = "CMS1500";
                                                    }
                                                    @Html.Partial("Partial/BillingSetting/_PriorAuthorization")
                                                </div>*@
                    }
                </div>
            </div>
        </div>
    </div>

</div>
