@model HC_AddEmployeeModel
@Html.Hidden("hdnEmpNotificationPrefsModel", Common.SerializeObject(Model.EmployeeNotificationPrefsModel))
<form class="form-horizontal" id="frmEmployeeNotificationPrefs">
    <div class="notificationPrefsContent">
        <div class="row">
            <div class="col-sm-12">
                <h5><strong>@Resource.NotificationPreferencesTitle</strong></h5>
                <hr />
            </div>

            <div class="col-sm-12">
                <label class="mt-checkbox mt-checkbox-outline padding-5">
                    <input id="EmployeeNotificationPrefsModel_SendEmail" class="uniformControls" type="checkbox"
                           data-uniform-value="EmployeeNotificationPrefsModel.SendEmail"
                           data-ng-model="EmployeeNotificationPrefsModel.SendEmail"
                           data-ng-checked="EmployeeNotificationPrefsModel.SendEmail" />
                    @Resource.SendEmail
                </label>
            </div>
            <div class="col-sm-12">
                <label class="mt-checkbox mt-checkbox-outline padding-5">
                    <input id="EmployeeNotificationPrefsModel_SendSMS" class="uniformControls" type="checkbox"
                           data-uniform-value="EmployeeNotificationPrefsModel.SendSMS"
                           data-ng-model="EmployeeNotificationPrefsModel.SendSMS"
                           data-ng-checked="EmployeeNotificationPrefsModel.SendSMS" />
                    @Resource.SendSMS
                </label>
            </div>
            <div class="col-sm-12">
                <label class="mt-checkbox mt-checkbox-outline padding-5">
                    <input id="EmployeeNotificationPrefsModel_WebNotification" class="uniformControls" type="checkbox"
                           data-uniform-value="EmployeeNotificationPrefsModel.WebNotification"
                           data-ng-model="EmployeeNotificationPrefsModel.WebNotification"
                           data-ng-checked="EmployeeNotificationPrefsModel.WebNotification" />
                    @Resource.WebNotification
                </label>
            </div>
            <div class="col-sm-12">
                <label class="mt-checkbox mt-checkbox-outline padding-5">
                    <input id="EmployeeNotificationPrefsModel_MobileAppNotification" class="uniformControls" type="checkbox"
                           data-uniform-value="EmployeeNotificationPrefsModel.MobileAppNotification"
                           data-ng-model="EmployeeNotificationPrefsModel.MobileAppNotification"
                           data-ng-checked="EmployeeNotificationPrefsModel.MobileAppNotification" />
                    @Resource.MobileAppNotification
                </label>
            </div>


            @if (Common.HasPermission(Constants.HC_Permission_Employee_Notification_Preferences_Update))
            {
                <div class="col-sm-12 clearfix">
                    <input type="button" data-ng-click="SaveNotificationPrefs()" class="btn btn-sm green-jungle pull-right" value="@Resource.SaveNotificationPrefs" />
                </div>
            }
        </div>
    </div>
</form>
