<div class="col-sm-12 no-padding" data-ng-if="!IsLoadingDetails && DetailModel">
    <h4 class="caption">
        <a class="text-decoration-none sbold uppercase" data-ng-href="@Constants.HC_AddEmployee{{DetailModel.Employee.EncryptedID}}" data-ng-bind="DetailModel.Employee.Name" target="_blank">
        </a>
        <small class="pull-right" data-ng-show="DetailModel.Referral.Name"><span class="label label-mini label-success label-inverse margin-right-05 ng-binding">
        @Resource.Patient : <b>{{DetailModel.Referral.Name}}</b>
</span>
        </small>
    </h4>
 
</div>
<div class="col-sm-12 no-padding" data-ng-if="!IsLoadingDetails && DetailModel">
    <strong>@Resource.PreferenceMatch :</strong>
    <span data-ng-if="DetailModel.EmployeeMatchingPreference.length==0">@Resource.NA</span>
    <span data-ng-if="DetailModel.EmployeeMatchingPreference.length>0">{{DetailModel.EmployeeMatchingPreference[0].MatchedPercent}} %</span>
    
    <div class="dataTables_wrapper margin-top-5 " data-ng-if="DetailModel.EmployeeMatchingPreference.length>0">
        <table class="table table-advance table-bordered table-striped table-hover table-condensed tbl_reflog">
            <thead>
                <tr>
                    <th><strong>@Resource.Patient</strong></th>
                    <th><strong>@Resource.Preference</strong></th>
                    <th><strong>@Resource.Matched</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-if="DetailModel.EmployeeMatchingPreference.length > 0" data-ng-repeat="item in DetailModel.EmployeeMatchingPreference">
                    <td data-ng-bind="item.ClientName"></td>
                    <td data-ng-bind="item.PreferenceName"></td>
                    <td>
                        <span data-ng-show="item.IsMatched"><i class="fa fa-check font-green"></i></span>
                        <span data-ng-show="!item.IsMatched"><i class="fa fa-remove font-red"></i></span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div class="col-sm-12 no-padding" data-ng-if="IsLoadingDetails">
    <h4 class="text-center">@Resource.Loading</h4>
</div>






