@model HC_AddEmployeeModel
@{
    string clientSideDateFormat = ConfigSettings.ClientSideDateTimeFormat;
    const int legalGuardianContactTypeID = (int)@Common.ContactTypes.LegalGuardian;
    int primaryContactTypeID = (int)@Common.ContactTypes.EmployeePrimaryPlacement;
    string isEditMode = !string.IsNullOrEmpty(Model.Employee.EmployeeID.ToString()) && Model.Employee.EmployeeID > 0 ? "1" : "0";


}
<div class="contact-details-wrap">
    <div class="form-group row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="fscontainer groupErrorParent" id="ShowAddedContactList">
                <div class="legend">
                    @Resource.EmergencyContactDetails
                </div>
                <div>
                    @*<input data-val-required="@Resource.EmployeeAddressRequired"
                    data-ng-model="ContactServiceErrorCount" data-val="true"
                    id="Employee_ContactServiceErrorCount"
                    class="form-control input-sm groupError hideErrorContent validateElement"
                    data-error-Count="EmployeeErrorCount.ContactTab"
                    name="Employee.ContactServiceErrorCount" />*@
                </div>

                @if (Common.HasPermission(Constants.HC_Permission_Employee_AddUpdate))
                {
                    <a href="#model_EmployeeAddContact" data-ng-click="OpenAddEmployeeContactModal()" class="btn btn-xs blue pull-right addnewcontact" data-toggle="modal">
                        <i class="fa fa-plus">&nbsp;&nbsp;</i>@Resource.AddNewContact
                    </a>
                }

                @*  <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p class="label-italic" pulsate data-ng-show="ShowPulsate">
                            <b class="font-red-thunderbird">@Resource.Notes:</b>
                            <span>@Resource.MissingPrimaryContactOrLegalGuardian</span>
                        </p>
                    </div>
                </div>*@


                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p class="label-italic">
                            <b class="font-red-thunderbird">@Resource.NoteLabel</b>
                            <span>Employee Address is compulsory. Please click on "<b>Add New Contact</b>" button to add new contact details.</span>
                        </p>
                    </div>
                </div>

                <div data-ng-if="EmployeeModel.ContactInformationList.length > 0">
                    <div class="row padding-left-right-10">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="portlet-body compact">
                                <div class="dataTables_wrapper">
                                    <table class="table table-advance table-bordered table-striped table-hover table-condensed tbl_reflog">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th><strong>@Resource.ContactType</strong></th>
                                                <th><strong>@Resource.Name</strong></th>
                                                <th><strong>@Resource.Phone</strong></th>
                                                <th><strong>@Resource.Address</strong></th>
                                                <th><strong>@Resource.Email</strong></th>
                                                <th><strong>@Resource.AddedBy</strong></th>
                                                @if (Common.HasPermission(Constants.HC_Permission_Employee_EmployeeInfo_Add))
                                                {
                                                    <th><strong>@Resource.Actions</strong></th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody data-ng-repeat="AddAndListContactInformation in EmployeeModel.ContactInformationList track by $index">
                                            <tr>
                                                <td>
                                                    <span data-ng-if="AddAndListContactInformation.IsEmergencyContact==true || AddAndListContactInformation.IsEmergencyContact=='true'"
                                                          data-ng-class="{'badge badge-danger': AddAndListContactInformation.IsEmergencyContact==true
                                                        || AddAndListContactInformation.IsEmergencyContact=='true'}"
                                                          title="Emergency Contact">E</span>
                                                </td>
                                                <td>
                                                    {{AddAndListContactInformation.ContactTypeName}}&nbsp;&nbsp;


                                                    <span data-ng-if="AddAndListContactInformation.IsDCSLegalGuardian==true || AddAndListContactInformation.IsDCSLegalGuardian=='true'"
                                                          data-ng-class="{'badge badge-info': AddAndListContactInformation.IsDCSLegalGuardian==true
                                                        || AddAndListContactInformation.IsDCSLegalGuardian=='true'}"
                                                          title="DSC is legal gurdian">DCS</span>

                                                    @*<span data-ng-show="{{AddAndListContactInformation.IsDCSLegalGuardian}}" data-ng-class="{'badge badge-info':AddAndListContactInformation.IsDCSLegalGuardian}" title="DSC is legal gurdian">DCS</span></td>*@
                                                </td>
                                                <td>{{AddAndListContactInformation.FullName}}</td>
                                                <td>{{AddAndListContactInformation.Phone1 | phoneformat}}</td>
                                                <td>
                                                    <span data-ng-if="AddAndListContactInformation.Address">{{AddAndListContactInformation.Address}},&nbsp;{{AddAndListContactInformation.City}},&nbsp;{{AddAndListContactInformation.State}}- {{AddAndListContactInformation.ZipCode}}</span>
                                                    <span data-ng-if="!AddAndListContactInformation.Address">@Resource.NA</span>
                                                </td>
                                                <td>

                                                    <a data-ng-show="AddAndListContactInformation.Email" data-ng-attr-href="{{'mailto:'+AddAndListContactInformation.Email}}">{{AddAndListContactInformation.Email}}</a>
                                                    <span data-ng-show="!AddAndListContactInformation.Email">{{AddAndListContactInformation.Email ? AddAndListContactInformation.Email :'@Resource.NA'}}</span>
                                                    @* <span>{{ (AddAndListContactInformation.ROIExpireDate != null && AddAndListContactInformation.ROIExpireDate != '') ? (AddAndListContactInformation.ROIExpireDate | orgdate) : '@Resource.NA'}} </span>
        <span>|</span>
        <span>{{ (AddAndListContactInformation.ROIType != null && AddAndListContactInformation.ROIType != '') ? AddAndListContactInformation.ROIType.toString() == '1' ?  '@Common.ROITypes.Verbal' : '@Common.ROITypes.Written' :'@Resource.NA'}}</span>*@

                                                </td>
                                                <td>{{AddAndListContactInformation.EmpFullName ? AddAndListContactInformation.EmpFullName :'@Resource.NA'}}</td>
                                               
                                                <td>
                                                    @* <a class="dirPopover" data-popover-content="Message" data-popover-trigger="hover"
            data-popover-placement="top" data-ng-show="{{AddAndListContactInformation.ContactMappingID == 0}}" aria-hidden="true">
            <i class=" fa fa-info-circle icon-italic fa-lg"></i>
        </a>*@
                                                    @if (Common.HasPermission(Constants.HC_Permission_Employee_AddUpdate))
                                                    {
                                                        <a href="javascript:void(0);" data-ng-click="EditEmployeeContact($index, AddAndListContactInformation)" title="Edit Contact"><i class="fa fa-edit"></i></a>
                                                   
                                                        <a href="javascript:void(0);" data-ng-if="AddAndListContactInformation.ContactMappingID==0 || (@primaryContactTypeID!=AddAndListContactInformation.ContactTypeID) && (@legalGuardianContactTypeID!=AddAndListContactInformation.ContactTypeID)" title="Delete Contact"
                                                           data-ng-click="DeleteEmployeeContact($index, AddAndListContactInformation)"><i class="fa fa-remove"></i></a>
                                                    }
                                                </td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div data-ng-if="EmployeeModel.ContactInformationList.length == 0">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="alert alert-danger">
                                            @Html.Raw(Resource.NoRecordsFound)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        @if (Common.HasPermission(Constants.HC_Permission_Employee_EmployeeInfo_Add))
        {
        <div class="col-md-12 form-group no-margin no-padding buttons-footer active">
            <input type="submit" data-ng-click="Save()" class="btn btn-sm green-jungle pull-right" value="@(Model != null && Model.Employee.EmployeeID > 0 ? Resource.Update : Resource.Save)" />
            @*                    <a href="@Constants.EmployeeListURL" class="btn btn-sm red-mint pull-right margin-right-10">@Resource.Cancel</a>*@
           
            @* <input type="button" ng-click="EmployeeEditModelClosed()" class="btn btn-sm red-mint pull-right margin-right-10" value="@Resource.Cancel" />*@
            <a  id="_tabEmployeeDetail" href="#tab_EmployeeDetail" data-toggle="tab">
                <input class="btn btn-sm blue margin-right-10 pull-right " type="button" data-ng-click="Prev1()" value="Previous" />  
            </a>
        </div>
        }
    </div>




</div>