@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, Resource.PatientList);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedMenuItem = Resource.SMI_ReferralList;
}
@model SetReferralListModel
<link href="~/Assets/css/sitecss/bootstrap-editable.css" rel="stylesheet" />
@Html.Hidden("hdnSetReferralListModel", Common.SerializeObject(Model))
<div data-ng-controller="ReferralListController">
    <div class="portlet box" style="box-shadow: none;">

        <div class="portlet-title page-bar" style="background-color: #EFEFEF;font-size: 15px;color: #848484;margin-bottom: 0 !important;">
            <div class="caption header-font-size-14 uppercase">
                <h3 class="page-title" style="margin: 7px 6px !important;">Facility List</h3>
            </div>
        </div>

        <div class="portlet-body table_font-size-12 no-padding" style="width:100%; min-height: auto !important;">
            <div>
                <div class="panel panel-default" style="overflow:visible">
                    <div class="">
                        <div class="col-md-12 col-sm-12 listTopSorting">
                        </div>
                        <div class="col-md-12 col-sm-12" style="background-color:white; padding-top:7px;border:solid white; margin-bottom: 12px;">
                            
                           

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="portlet-body" style="display: block;">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 paitentListMain">
            <div class="btn-group">
                <button class="btn blue btn-sm grey border-grey-cascade" data-ng-click="Refresh()">
                    <i class="fa fa-refresh"></i>&nbsp;&nbsp;@Resource.Refresh
                </button>
            </div>
            <div class="btn-group">
                @Html.DropDownListFor(m => m.SearchReferralListModel.IsDeleted, Model.DeleteFilter.ToSelectList(Convert.ToString(Model.SearchReferralListModel.IsDeleted), "Name", "Value", "", ""),
                                                                      new
                                                                      {
                                                                          id = "IsDeleted",
                                                                          data_ng_model = "TempSearchReferralModel.IsDeleted",
                                                                          data_ng_init = "TempSearchReferralModel.IsDeleted = TempSearchReferralModel.IsDeleted==null?'-1':TempSearchReferralModel.IsDeleted.toString()",
                                                                          @class = "form-control input-sm btn blue btn-sm grey border-grey-cascade",
                                                                          data_ng_change = "SearchReferral()"
                                                                      })
            </div>
            @if (Common.HasPermission(Constants.HC_Permission_Patient_AddUpdate))
            {
                <div class="btn-group" data-ng-if="SelectedReferralIds.length > 0">
                    <button type="button" data-ng-click="DeleteReferral()" class="btn blue btn-sm grey border-grey-cascade">
                        <i class="fa fa-random margin-right-10"></i>{{TempSearchReferralModel.IsDeleted==0?'@Constants.DisableSelected' :(TempSearchReferralModel.IsDeleted==1?'@Constants.EnableSelected':'@Constants.InverseSelected')}}
                    </button>
                </div>

                <div class="btn-group padding-left-15 pull-right">
                    @*<a ng-click="ReferralEditModel(referral.EncryptedReferralID)" class="btn btn-sm green-jungle letter-space pull-right">
            <i class="fa fa-plus">&nbsp;&nbsp;</i>Facility
        </a>*@
                    <a data-ng-href="@Constants.ST_AddReferral{{referral.EncryptedReferralID}}">{{referral.Name.replace(',','')}}</a>
                </div>
                <div class="btn-group" data-ng-if="SelectedReferralIds.length > 0">
                    <button type="button" data-ng-click="SendBulkEmail()" class="btn blue btn-sm grey border-grey-cascade">
                        <i class="fa fa-random margin-right-10">SendBulkEmail</i>

                    </button>
                </div>
            }

            <div class="btn-group margin-left-20PR">
                <div class="top pagination-sm" data-ng-show="AjaxStart">
                    @Resource.Loading
                    <img src="~/Assets/images/lazyload.gif" />
                </div>
            </div>

            <div style="display:none;" class="inline-block pull-right" data-ng-show="ReferralList.length > 0">
                <input data-ng-model="ReferralListPager.currentPage" data-ng-model-options="{ debounce: 500 }" class="form-control input-sm setPagesize text-center" maxlength="4" />
                <div class="pull-right top pagination-sm">
                    <dir-pagination-controls boundary-links="true" max-size="ReferralListPager.maxSize" on-page-change="ReferralListPager.pageChanged(newPageNumber)" pagination-id="ReferralListPagerID"></dir-pagination-controls>
                </div>
            </div>
        </div>
        <div class="space10"></div>
    </div>


    <div class="row form-group margin-top-8 margin-bottom-3">
        <div class="col-sm-1 small-select padding-right-0">
            <div class="fields">
                <label class="control-label">@Resource.Name</label>
                @Html.TextBoxFor(m => m.SearchReferralListModel.ClientName, new { data_ng_model_options = "{ debounce: 1000 }", data_ng_model = "TempSearchReferralModel.ClientName", data_ng_change = "SearchReferral()", @class = "form-control input-sm", placeholder = Resource.Name, maxlength = 50 })
            </div>
        </div>

        <div class="col-sm-1 small-select padding-right-0">
            <div class="fields">
                <label class="control-label">@Resource.Status</label>
                @Html.DropDownListFor(p => p.SearchReferralListModel.ReferralStatusID, Model.ReferralStatuses.ToSelectList(Model.SearchReferralListModel.ReferralStatusID.ToString() ?? "", "Status", "ReferralStatusID", Resource.SelectStatus, ""),
           new
           {
               id = "ReferralStatusID",
               data_ng_model = "TempSearchReferralModel.ReferralStatusID",
               data_ng_init = "TempSearchReferralModel.ReferralStatusID=TempSearchReferralModel.ReferralStatusID==''?null:TempSearchReferralModel.ReferralStatusID",
               data_ng_change = "SearchReferral()",
               @class = "form-control input-sm",
               data_val = false
           })
            </div>
        </div>

        <div class="col-sm-1 small-select padding-right-0">
            <div class="fields">
                <label class="control-label">Group(s)</label>
                <select class="form-control input-sm" multiple title="@Resource.Select" id="multipleSelect"
                        data-val="true" data-ng-model="TempSearchReferralModel.GroupIds" data-ng-change="SearchReferral()" selectpicker="SelectedGroups">
                    <option data-ng-repeat="option in GroupList" value="{{option.Value}}">{{option.Title}}</option>
                </select>
            </div>
        </div>

       

        <div class="col-sm-1 small-select padding-right-0">
            <div class="fields">
                <label class="control-label">@Resource.Account #</label>
                @Html.TextBoxFor(m => m.SearchReferralListModel.AHCCCSID, new { data_ng_model = "TempSearchReferralModel.AHCCCSID", data_ng_change = "SearchReferral()", @class = "form-control input-sm", placeholder = Resource.AccountNumber, maxlength = 20 })
            </div>
        </div>
        <div class="col-sm-1 padding-right-0">
            <div class="clockIn-btn">
                <input type='submit' class="btn btn-sm btn-default bg-gray-color" value="@Resource.Search" data-ng-click="SearchReferral()" />
            </div>
        </div>

        <div class="col-sm-1 padding-right-0">
            <div class="clockIn-btn">
                <input type='button' class="btn btn-sm btn-default bg-gray-color" value="@Resource.Reset" data-ng-click="ResetSearchFilter()" />
            </div>
        </div>

    </div>

    <div class="row" data-ng-if="ReferralList.length > 0">
        <div class="col-sm-12">
            <div class="portlet-body compact" style="display: block;">
                <div class="table-responsive" style="overflow-x :initial !important">
                    <table class=" table table-bordered table-striped table-condensed flip-content table-checkable">

                        <thead class="">
                            <tr>
                                <th class="width-50px text-align-left">
                                    @if (Common.HasPermission(Constants.HC_Permission_Patient_AddUpdate))
                                    {
                                        <div class="btn-group" data-ng-show="ReferralList.length > 0">
                                            <input id="SelectAllReferral" class="unicheckbox" type="checkbox" data-ng-model="SelectAllCheckbox" data-ng-change="SelectAll(SelectAllCheckbox)" val="SelectAllCheckbox">
                                            <label for="SelectAllReferral"></label>
                                        </div>
                                    }
                                </th>
                                <th>
                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralListPager.sortColumn('ClientName')">Facility</a>
                                    <span class="sortorder" data-ng-show="ReferralListPager.sortIndex === 'ClientName'" data-ng-class="{reverse:ReferralListPager.reverse}"></span>
                                </th>
                                <th>
                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralListPager.sortColumn('Address')">@Resource.Address</a>
                                    <span class="sortorder" data-ng-show="ReferralListPager.sortIndex === 'Address'" data-ng-class="{reverse:ReferralListPager.reverse}"></span>
                                </th>
                                <th>
                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralListPager.sortColumn('Status')">@Resource.Status</a>
                                    <span class="sortorder" data-ng-show="ReferralListPager.sortIndex === 'Status'" data-ng-class="{reverse:ReferralListPager.reverse}"></span>
                                </th>

                                <th>
                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralListPager.sortColumn('AHCCCSID')">@Resource.Account # </a>
                                    <span class="sortorder" data-ng-show="ReferralListPager.sortIndex === 'AHCCCSID'" data-ng-class="{reverse:ReferralListPager.reverse}"></span>
                                </th>

                                <th>
                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralListPager.sortColumn('AssigneeName')">@Resource.Assignee</a>
                                    <span class="sortorder" data-ng-show="ReferralListPager.sortIndex === 'AssigneeName'" data-ng-class="{reverse:ReferralListPager.reverse}"></span>
                                </th>
                                <th>
                                    <a class="anchor_color" href="javascript:void(0);">Group(s)</a>
                                  
                                </th>

                                @if (Common.HasPermission(Constants.HC_Permission_Patient_AddUpdate))
                                {
                                    <th class="width-130px text-align-center">Actions</th>
                                }
                            </tr>
                        </thead>


                        <tbody data-ng-if="ReferralList.length > 0" dir-paginate="referral in ReferralList | itemsPerPage: ReferralListPager.pageSize" total-items="ReferralListPager.totalRecords" current-page="ReferralListPager.currentPage" pagination-id="ReferralListPagerID">
                            <tr data-ng-class="{'deleted':referral.IsDeleted}">
                                <td>
                                    @if (Common.HasPermission(Constants.HC_Permission_Patient_AddUpdate))
                                    {
                                        <span class="pull-left">
                                            <input type="checkbox" class="unicheckbox text-align-center" data-ng-model="referral.IsChecked" data-ng-change="SelectReferral(referral)" val="referral.IsChecked">
                                        </span>
                                    }

                                    <span class="collapseSource curser-pointer font-size-18 font-blue fa fa-plus-circle pull-left" data-ng-click="GetReferralDetails(referral)"
                                          data-toggle="collapse" data-ng-attr-data-target="{{'#ReferralDetails-'+referral.ReferralID }}"></span>

                                </td>

                                <td>

                                    @*<a href="#" ng-click="ReferralEditModel(referral.EncryptedReferralID)">{{referral.Name.replace(',','')}}</a>*@
                                    <a data-ng-href="@Constants.ST_AddReferral{{referral.EncryptedReferralID}}">{{referral.Name.replace(',','')}}</a>
                                    <span>
                                        <i class="fa fa-star priority" data-ng-if="referral.IsSaveAsDraft" title="@Resource.DraftTitle"></i>
                                    </span>
                                </td>
                                <td>
                                    <span data-ng-bind="referral.FullAddress"></span>
                                </td>
                                @*<td class="hidden">
                                        <span data-ng-bind="referral.ClientNickName ? referral.ClientNickName:'@Resource.NA'"></span>
                                    </td>*@
                                <td>
                                    <a id="pop-status" data-ng-if="!referral.IsSaveAsDraft" class="conditionstatus editable editable-click" data-toggle="popover" href="javascript:void(0);"
                                       popover-html="#popover-status" data-ng-model="referral.Status" data-ng-bind="referral.Status" ng-value="referral.ReferralStatusID"
                                       savecallback="SaveStatus" ng-data="referral" ng-header="Status?"></a>


                                </td>
                                <td>
                                    <span data-ng-bind="referral.AHCCCSID? referral.AHCCCSID:'@Resource.NA'"></span>
                                </td>
                               
                                <td>
                                    <a id="pop-assignee" class="conditionstatus editable editable-click" data-toggle="popover" ng-list="" popover-html="#popover-assingee" data-ng-model="referral.AssigneeName" data-ng-bind="referral.AssigneeName" ng-value="referral.Assignee" savecallback="SaveAssignee" ng-data="referral" ng-header="Assignee" ng-width="350"></a>
                                </td>

                                <td>
                                    <span data-ng-bind="referral.GroupNames"></span>
                                </td>

                                

                                <td class="text-align-center">
                                    <div class="btn-group" data-ng-click="Cancel1(EmployeeVisit)">
                                        <button class="btn btn-default btn-xs dropdown-toggle green-haze-stripe" type="button" data-toggle="dropdown" aria-expanded="false">
                                            <b>@Resource.Action</b>
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pos-itm">
                                            @if (Common.HasPermission(Constants.HC_Permission_Patient_AddUpdate))
                                            {
                                            <li>
                                                @* <a href="javascript:;" ng-click="ReferralEditModel(referral.EncryptedReferralID)" title="Edit"><i class="fa fa-edit"></i> Edit</a>*@
                                                 <a data-ng-href="@Constants.ST_AddReferral{{referral.EncryptedReferralID}}"  title="Edit"><i class="fa fa-edit"></i> Edit</a>
                                            </li>
                                            }
                                            @if (Common.HasPermission(Constants.HC_Permission_Patient_Delete))
                                            {
                                                <li>
                                                    <a href="javascript:void(0);" data-ng-show="referral.IsDeleted" data-ng-click="DeleteReferral(referral,'@Resource.Enable')">@Resource.Enable</a>
                                                    <a href="javascript:void(0);" data-ng-show="!referral.IsDeleted" data-ng-click="DeleteReferral(referral,'@Resource.Disable')"><i class="fa fa-trash"></i> Delete</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </td>

                            </tr>

                            <tr data-ng-attr-id="{{'ReferralDetails-'+referral.ReferralID }}" class="collapse collapseDestination">
                                <td></td>
                                <td colspan="11">
                                    <div class="text-center" data-ng-show="!referral.IsDetailsCaptured">
                                        <div class="padding-top-20">
                                            <img src="~/Assets/images/lazyload.gif" />
                                        </div>
                                        <div class="padding-15">
                                            @Resource.Loading
                                        </div>
                                    </div>
                                    <div class="padding-left-right-10" data-ng-if="referral.IsDetailsCaptured">
                                        <strong>Agency Details</strong>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="portlet-body compact" style="display: block;">
                                                    <div class="table-responsive ">
                                                        <table class="table table-bordered table-striped table-condensed flip-content table-custom-list">
                                                            <thead class="flip-content">
                                                                <tr>
                                                                    <th class="text-align-left col-sm-4">
                                                                        @*<span class="anchor_color">@Resource.PlacementRequirement</span>*@
                                                                    </th>
                                                                    <th class="col-sm-4">
                                                                        @*<span class="">@Resource.ReferralSummary</span>*@
                                                                    </th>
                                                                    <th class="col-sm-4">

                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                  

                                                                    <td>
                                                                        <div>
                                                                            <div class="space10"></div>
                                                                            <strong><u>@Resource.EmergencyContact</u></strong>
                                                                            <div class="space10"></div>
                                                                            <div>
                                                                                <div class="BatchSummaryDiv">
                                                                                    <div class="td-services-summary">@Resource.Name:</div>
                                                                                    <div class="BatchServiceDesc">{{ReferralDetails[referral.ReferralID].EmergencyContactDetails.FullName.replace(',','')}}</div>
                                                                                </div>
                                                                                <div>
                                                                                    <div class="td-services-summary">@Resource.Address: </div>
                                                                                    <div class="BatchServiceDesc">
                                                                                        {{ReferralDetails[referral.ReferralID].EmergencyContactDetails.ApartmentNo}}
                                                                                        {{ReferralDetails[referral.ReferralID].EmergencyContactDetails.Address}}
                                                                                        {{ReferralDetails[referral.ReferralID].EmergencyContactDetails.City}}
                                                                                        {{ReferralDetails[referral.ReferralID].EmergencyContactDetails.State}}
                                                                                        {{ReferralDetails[referral.ReferralID].EmergencyContactDetails.ZipCode}}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div>
                                                                                <div class="BatchSummaryDiv">
                                                                                    <div class="td-services-summary">@Resource.Phone:</div>
                                                                                    <div class="BatchServiceDesc">{{ReferralDetails[referral.ReferralID].EmergencyContactDetails.Phone1}}</div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="space10"></div>
                                                                        </div>
                                                                    </td>

                                                                    <td>

                                                                        <div>
                                                                            <div class="space10"></div>
                                                                            <strong><u>@Resource.ModificationDetails</u></strong>
                                                                            <div class="space10"></div>
                                                                            <div>
                                                                                <div class="BatchSummaryDiv">
                                                                                    <div class="td-services-summary">@Resource.CreatedDate:</div>
                                                                                    <div class="BatchServiceDesc">{{referral.CreatedDate | date:'@Resource._DateFormat' }}</div>
                                                                                </div>
                                                                                <div>
                                                                                    <div class="td-services-summary">@Resource.CreatedBy: </div>
                                                                                    <div class="BatchServiceDesc">{{referral.CreatedName}}</div>
                                                                                </div>
                                                                            </div>
                                                                            <div>
                                                                                <div class="BatchSummaryDiv">
                                                                                    <div class="td-services-summary">@Resource.UpdatedDate:</div>
                                                                                    <div class="BatchServiceDesc">{{referral.UpdatedDate | date:'@Resource._DateFormat' }}</div>
                                                                                </div>
                                                                                <div>
                                                                                    <div class="td-services-summary">@Resource.UpdatedBy: </div>
                                                                                    <div class="BatchServiceDesc">{{referral.UpdatedName}}</div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="space10"></div>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    
                                                                  
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12" data-ng-if="ReferralList.length > 0">
        <div class="col-sm-3 pull-left no-padding">
            @Resource.Showing <span data-ng-bind="(ReferralListPager.pageSize * ReferralListPager.currentPage) - ReferralListPager.pageSize  + 1"></span>
            &nbsp;@Resource.To <span data-ng-bind="(ReferralListPager.pageSize == ReferralListPager.currentPageSize) ? (ReferralListPager.pageSize * ReferralListPager.currentPage) :(ReferralListPager.pageSize * ReferralListPager.currentPage) - ReferralListPager.pageSize  + ReferralListPager.currentPageSize"></span>&nbsp;@Resource.Of &nbsp;<span data-ng-bind="ReferralListPager.totalRecords"></span>&nbsp;@Resource.Records
        </div>
        <div class="pull-right top pagination-sm">
            <dir-pagination-controls boundary-links="true" max-size="ReferralListPager.maxSize" on-page-change="ReferralListPager.pageChanged(newPageNumber)" pagination-id="ReferralListPagerID"></dir-pagination-controls>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div data-ng-if="ReferralList.length == 0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-danger">
                            @Html.Raw(Resource.NoRecordsFound)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="caregiverdetailsmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="OnCloseModel()"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">@Resource.AgencyDetails</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <form id="frmAgencyDetails">
                                <div class="col-md-12 col-md-12 no-padding">
                                    <div class="col-md-6 margin-bottom-10">
                                        <span>
                                            <strong>@Resource.MobileNumber: </strong>
                                            <span data-ng-bind="ReferralCareGiverDetails.AgencyMobile"></span>
                                        </span>
                                    </div>
                                    <div class="col-md-6 margin-bottom-10">
                                        <span>
                                            <strong>@Resource.TIN: </strong>
                                            <span data-ng-bind="ReferralCareGiverDetails.AgencyTIN"></span>
                                        </span>
                                    </div>
                                    <div class="col-md-6 margin-bottom-10">
                                        <span>
                                            <strong>@Resource.EIN: </strong>
                                            <span data-ng-bind="ReferralCareGiverDetails.AgencyEIN"></span>
                                        </span>
                                    </div>
                                    <div class="col-md-6 margin-bottom-10">
                                        <span>
                                            <strong>@Resource.Address: </strong>
                                            <span data-ng-bind="ReferralCareGiverDetails.AgencyAddress"></span>
                                        </span>
                                    </div>
                                    <div class="col-md-6 margin-bottom-10">
                                        <span>
                                            <strong>@Resource.City: </strong>
                                            <span data-ng-bind="ReferralCareGiverDetails.AgencyCity"></span>
                                        </span>
                                    </div>
                                    <div class="col-md-6 margin-bottom-10">
                                        <span>
                                            <strong>@Resource.State: </strong>
                                            <span data-ng-bind="ReferralCareGiverDetails.AgencyState"></span>
                                        </span>
                                    </div>
                                    <div class="col-md-6 margin-bottom-10">
                                        <span>
                                            <strong>@Resource.ZipCode: </strong>
                                            <span data-ng-bind="ReferralCareGiverDetails.AgencyZipCode"></span>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Referral_fixedAside" class="asideBar-right fixed">
        <div class="listContentinner">
            <div class="closeasidebar" data-ng-click="ReferralEditModelClosed()"><i class="fa fa-close"></i></div>
            <iframe loading="lazy" id="Referral_fixedAsidelDDLBindIFrame" style="position:absolute; top:0%;  bottom:0px; right:0px; width:100%; min-height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
        </div>
    </div>

    <div class="modal fade ReferralNote" id="AddReferralNoteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="H1"><span data-ng-show="!IsEdit">@Resource.AddNote</span><span data-ng-show="IsEdit">Edit Note</span></h4>
                </div>
                <div class="modal-body">
                    <form id="frmNewReferralNote">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="control-label required">@Resource.Role</label>
                                                <select class="form-control input-sm requiredStrip" multiple="multiple" title="@Resource.AssigneeRequired"
                                                        data-val="true" selectpicker="SelectedRoleID" name="ReferralNote.SelectedRoleID" data-ng-change="GetReferralEmployee(option.RoleID)" data-ng-model="option.RoleID">
                                                    <option data-ng-repeat="option in PermissionList" value="{{option.RoleID}}">{{option.RoleName}}</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label required">@Resource.Assignee</label>
                                                <select class="form-control input-sm requiredStrip" multiple="multiple" title="@Resource.AssigneeRequired"
                                                        data-val="true" selectpicker="SelectedEmployeesID" name="ReferralNote.SelectedEmployeesID">
                                                    <option data-ng-repeat="option in EmployeeList" value="{{option.EmployeeID}}">{{option.LastName}} {{option.FirstName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top:6px;">
                                            <div class="col-sm-6">
                                                <label class="control-label">Category</label>
                                                <select class="form-control input-sm"
                                                        data-ng-model="selecteditem">
                                                    <option value="0" ng-selected="0">Category is required</option>
                                                    <option data-ng-repeat="option in CategoryList" ng-selected="selecteditem == option.value" value="{{option.Value}}">{{option.Title}}</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <a href="#ReferralNoteSentence" data-toggle="modal" class="btn btn-xs green-jungle pull-right">
                                        <i class="fa fa-plus">&nbsp;&nbsp;</i>Add Note Sentence
                                    </a>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="control-label required">@Resource.Note</label>
                                            </div>
                                            <div class="col-sm-12">
                                                <textarea rows="5" class="form-control input-sm requiredStrip" data-ng-model="ReferralNoteDetail"
                                                          placeholder="@Resource.Note" data-val="true"
                                                          data-val-required="@Resource.ReasonRequired"
                                                          name="Notes" id="Notes" data-ng-change="Onclick()"></textarea>
                                                <span id="NoteReq" hidden style="color:red">Notes are required.</span>
                                                <span class="field-validation-valid" data-valmsg-for="Notes" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="ResetRNote()">@Resource.Cancel</button>
                            <button type="submit" data-ng-click="SaveReferralNote()" class="btn green-jungle">@Resource.Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ReferralNoteSentence" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="H1"><span data-ng-show="!IsEdit">Add Note Sentence</span><span data-ng-show="IsEdit">Edit Note</span></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover table-condensed">
                                <thead class="">
                                    <tr>
                                        <th></th>
                                        <th>
                                            <a class="anchor_color" href="javascript:void(0);" data-ng-click="NoteSentenceListPager.sortColumn('NoteSentenceTitle')">@Resource.NoteSentenceTitle</a>
                                            <span class="sortorder" data-ng-show="NoteSentenceListPager.sortIndex === 'NoteSentenceTitle'" data-ng-class="{reverse:NoteSentenceListPager.reverse}"></span>
                                        </th>

                                        <th class="">
                                            <a class="anchor_color" href="javascript:void(0);" data-ng-click="NoteSentenceListPager.sortColumn('NoteSentenceDetails')">@Resource.NoteSentenceDetails</a>
                                            <span class="sortorder" data-ng-show="NoteSentenceListPager.sortIndex === 'NoteSentenceDetails'" data-ng-class="{reverse:NoteSentenceListPager.reverse}"></span>
                                        </th>
                                        <th class="width-130px" style="text-align:center">@Resource.Action</th>
                                    </tr>
                                </thead>
                                <tr class="compact-search-tr">
                                    <td></td>
                                    <td>
                                        <input type="text" ng-model="TempSearchNoteSentenceListPage.NoteSentenceTitle" class="form-control input-sm" maxlength="100" />

                                         </td>
                                    <td>
                                        <input type="text" ng-model="TempSearchNoteSentenceListPage.NoteSentenceDetails" class="form-control input-sm" maxlength="100" />
 </td>
                                    <td>
                                        <input type="submit" value="@Resource.Search" class="btn btn-default grey border-grey-cascade btn-xs" data-ng-click="SearchNoteSentence()" />
                                        <a href="javascript:void(0);" class="btn btn-default grey border-grey-cascade btn-xs" data-ng-click="ResetNoteSearchFilter()">@Resource.Reset</a>
                                    </td>
                                </tr>

                                <tr data-ng-repeat="item in NoteSentenceList">
                                    <td>
                                        <input type="checkbox" ng-model="item.checked" class="unicheckbox text-align-center" ng-click="SelectNoteSentence(item.NoteSentenceDetails,item.checked)" value="{{item.NoteSentenceDetails}}" />
                                    </td>
                                    <td>{{item.NoteSentenceTitle}}</td>
                                    @*<td>{{item.NoteSentenceDetails}}</td>*@
                                    <td title="Click on Notes">
                                        <span href="javascript:void(0);" class="display-block pull-left cursor-pointer" common-detail-popover="ABC" popover-trigger="click" data-content="{{item.NoteSentenceDetails}}"
                                              ng-header="@Resource.Notes">{{item.NoteSentenceDetails.length>100 ? item.NoteSentenceDetails.substr(0,100)+'...' : item.NoteSentenceDetails}}</span>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" data-ng-if="NoteSentenceList.length > 0">
                            <div class="col-sm-3 pull-left no-padding">
                                @Resource.Showing <span data-ng-bind="(NoteSentenceListPager.pageSize * NoteSentenceListPager.currentPage) - NoteSentenceListPager.pageSize  + 1"></span>
                                &nbsp;@Resource.To <span data-ng-bind="(NoteSentenceListPager.pageSize == NoteSentenceListPager.currentPageSize) ? (NoteSentenceListPager.pageSize * NoteSentenceListPager.currentPage) :(NoteSentenceListPager.pageSize * NoteSentenceListPager.currentPage) - NoteSentenceListPager.pageSize  + NoteSentenceListPager.currentPageSize"></span>&nbsp;@Resource.Of &nbsp;<span data-ng-bind="NoteSentenceListPager.totalRecords"></span>&nbsp;@Resource.Records
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div data-ng-if="NoteSentenceList.length == 0">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="alert alert-danger">
                                            @Html.Raw(Resource.NoRecordsFound)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-controller="SendBulkEmailController">
        @Html.Partial("/Areas/HomeCare/Views/Referral/Partial/SendBulkEmailModel.cshtml")
    </div>


</div>

@Html.Partial("_Popover")

@section Scripts{
    @Scripts.Render("~/assets/js/viewjs/siteApp/staffing/facility/referrallist")
    @Scripts.Render("~/assets/js/viewjs/siteApp/Areas/HomeCare/referral/SendBulkEmail.js")
    @Scripts.Render("~/assets/js/viewjs/siteApp/Areas/HomeCare/referral/referraldocument1.js")
    <script type="text/javascript">
        var DeleteReferralConfirmMessage = '@Resource.DeleteReferralConfirmMessage';
        var DeleteAllReferralConfirmMessage = '@Resource.DeleteAllReferralConfirmMessage';
        var DeleteConfirmationMessage = '@string.Format(@Resource.DeleteConfirmationMessage, @Resource.Referral)';
        var ReferralDependencyExistMessage = '@Resource.ReferralDependencyExistMessage';
        var EnableDisableConfirmationMessage = '@string.Format(@Resource.EnableDisableConfirmationMessage, @Resource.Referral)';
        var Inactive = '@((int)ReferralStatus.ReferralStatuses.Inactive)';
        var ReferralAccepted = '@((int)ReferralStatus.ReferralStatuses.ReferralAccepted)';
        var SendNotificationToCM = GetHtmlString('@Resource.SendNotificationToCM');
        var SendNotificationToCMReferralAccepted = GetHtmlString('@Resource.SendNotificationToCMReferralAccepted');
        var ReferralScheduleDelete = GetHtmlString('@Resource.ReferralScheduleDelete');
    </script>

}


