@model ChangeServiceCodeModel
<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-padding margin-top-minus-10">
    <h3 class="inline col-md-4 padding-left-0">@Resource.SearchNotes</h3>
    <h3 class="inline text-decoration-none pull-right">@Resource.NoOfSelectedNotes: {{SelectedNotes.length}}</h3>
</div>
<hr class="clearfix" />
<div class="row">

    <div id="filter-panel" class="filter-panel col-md-12 clearfix no-padding">
        <form id="searchCSC">
            <div class="form-group col-lg-1 col-md-1">
                <label class="control-label">@Resource.Payor</label>
                @Html.DropDownListFor(p => p.SearchNote.PayorID, Model.Payors.ToSelectList(Model.SearchNote.PayorID.ToString() ?? "", "Name", "Value", @Resource.Select, ""),
                    new
                    {
                        convert_to_number = "",
                        id = "PayorID",
                        data_ng_model = "SearchNoteModel.PayorID",
                        data_ng_init = "SearchNoteModel.PayorID=SearchNoteModel.PayorID==''?null:SearchNoteModel.PayorID",
                        @class = "form-control input-sm"
                    })
                @Html.ValidationMessageFor(p => p.Payors)
            </div>

            <div class="form-group col-lg-1 col-md-1 col-sm-1" >
                <label class="control-label">@Resource.POS</label>
                <div>
                    @Html.DropDownListFor(p => p.SearchNote.PosID, Model.POSList.ToSelectList(Model.SearchNote.PosID.ToString() ?? "", "PosName", "PosID", @Resource.Select, ""),
                                       new
                                        {
                                            convert_to_number = "",
                                            id = "PosID",
                                            data_ng_model = "SearchNoteModel.PosID",
                                            data_ng_init = "SearchNoteModel.PosID=SearchNoteModel.PosID==''?null:SearchNoteModel.PosID",
                                            @class = "form-control input-sm"
                                        })
                </div>
            </div>

            <div class="form-group col-lg-2 col-md-2 col-sm-3">
                <label class="control-label">@Resource.ServiceCode</label>
                @Html.DropDownListFor(p => p.SearchNote.ServiceCodeID, Model.ServiceCodes.ToSelectList(Model.SearchNote.ServiceCodeID.ToString() ?? "", "Name", "Value", @Resource.Select, ""),
                                      new
                                          {
                                              convert_to_number = "",
                                              id = "ServiceCodeID",
                                              data_ng_model = "SearchNoteModel.ServiceCodeID",
                                              data_ng_init = "SearchNoteModel.ServiceCodeID=SearchNoteModel.ServiceCodeID==''?null:SearchNoteModel.ServiceCodeID",
                                              @class = "form-control input-sm"
                                          })
            </div>
            <div class="form-group col-lg-2 col-md-2 col-sm-3">
                <label class="control-label">@Resource.StartDate</label>
                <div class="input-group date no-focus" datepicker="SearchNoteModel.StartDate" ng-dateval="SearchNoteModel.StartDate">
                    @Html.TextBoxFor(m => m.SearchNote.StartDate, new
                        {
                            @class = "no-focus form-control input-sm dateInputMask",
                            placeholder = @Resource.StartDate
                        })
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            <div class="form-group col-lg-2 col-md-2 col-sm-3">
                <label class="control-label">@Resource.EndDate</label>
                <div class="input-group date no-focus" datepicker="SearchNoteModel.EndDate" ng-dateval="SearchNoteModel.EndDate">
                    @Html.TextBoxFor(m => m.SearchNote.EndDate, new
                        {
                            @class = "no-focus form-control input-sm dateInputMask",
                            placeholder = @Resource.EndDate
                        })
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            @*<div class="form-group col-lg-2 col-md-2 col-sm-3">
                <label class="control-label">@Resource.Name</label>
                <div class="">
                    @Html.TextBoxFor(q => q.SearchNote.ClientName, new
                        {
                            @class = "form-control input-sm",
                            data_ng_model = "SearchNoteModel.ClientName",
                            placeholder = @Resource.Name,
                            maxlength = 50
                        })
                </div>
            </div>*@
            <div class="form-group col-lg-2 col-md-2 col-sm-3">
                <label class="control-label">@Resource.CreatedBy</label>
                @Html.DropDownListFor(p => p.SearchNote.CreatedBy, Model.Employees.ToSelectList(Model.SearchNote.CreatedBy.ToString() ?? "", "Name", "Value", @Resource.Select, ""),
                                      new
                                          {
                                              convert_to_number = "",
                                              id = "CreatedBy",
                                              data_ng_model = "SearchNoteModel.CreatedBy",
                                              data_ng_init = "SearchNoteModel.CreatedBy=SearchNoteModel.CreatedBy==''?null:SearchNoteModel.CreatedBy",
                                              @class = "form-control input-sm"
                                          })
            </div>
            <div class="form-group col-lg-1 col-md-1 col-sm-2">
                <label class="control-label"></label>
                <div class="">
                    <button class="btn btn-sm blue" data-ng-click="SearchNotes()">@Resource.Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" data-ng-show="currentStep == 1">
    <div class="row padding-left-right-10">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="portlet-body compact">

                <div class="text-align-center margin-top-15">
                    <div class="top pagination-sm" data-ng-show="GetGroupNoteListAjaxCall">
                        @Resource.Loading
                        <img src="~/Assets/images/lazyload.gif" />
                    </div>
                </div>

                <div class=" dataTables_wrapper" data-ng-if="AllNotes.length > 0">
                    <table class="table table-advance table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th class="width-20px">
                                    <input id="SelectAllNotes" type="checkbox" class="unicheckbox" data-ng-change="SelectAll(SelectAllCheckbox)" data-ng-model="SelectAllCheckbox" val="SelectAllCheckbox">
                                </th>
                                <th>
                                    <strong>@Resource.ClientDetail</strong>
                                </th>
                                <th>
                                    <strong>@Resource.Payor</strong>
                                </th>
                                <th>
                                    <strong>@Resource.Note #</strong>
                                </th>
                                <th>
                                    <strong>@Resource.StartDate</strong>
                                </th>
                                <th>
                                    <strong>@Resource.EndDate</strong>
                                </th>
                                <th>
                                    <strong>@Resource.Service</strong>
                                </th>
                                <th>
                                    <strong>@Resource.Unit</strong>
                                </th>
                                <th>
                                    <strong>@Resource.Amt</strong>
                                </th>
                                <th>
                                    <strong>@Resource.CreatedBy</strong>
                                </th>
                                <th>
                                    <strong>@Resource.SignedBy</strong>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr data-ng-repeat="note in AllNotes">
                                <td>
                                    <input type="checkbox" class="unicheckbox text-align-center" data-ng-change="SelectNote(note)" data-ng-model="note.IsChecked" val="note.IsChecked" />
                                </td>
                                <td>
                                    <a class="" data-ng-href="@Constants.AddReferralURL{{note.EncryptedReferralID}}" target="_blank">{{note.ReferralName}}</a>

                                </td>

                                <td>{{note.PayorShortName?note.PayorShortName:'@Resource.NA'}}</td>
                                <td>{{note.NoteID}}</td>
                                <td>{{note.StrStartDate}}</td>
                                <td>{{note.StrEndDate}}</td>
                                <td>{{note.ServiceCode}}</td>
                                <td>{{note.CalculatedUnit}}</td>
                                <td>{{note.CalculatedAmount | currency:'@Resource.DollerSymbol'}}</td>
                                <td>{{note.CreatedByUserName ? note.CreatedByUserName : '@Resource.System'}}</td>
                                <td>{{note.SignatureBy ? note.SignatureBy : '@Resource.System'}}</td>
                            </tr>

                        </tbody>
                    </table>

                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div data-ng-if="AllNotes.length == 0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="alert alert-danger">
                                        @Html.Raw(Resource.NoRecordsFound)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
