<div class="col-sm-12 no-padding Note-Detail">
    <h4 class="caption">
        @*<span class="font-green sbold uppercase">{{DetailModel.ReferralDetail.ReferralName}}
        </span>*@
        <small><span class="label label-mini label-inverse margin-right-05">CSI#: {{commonDetailPopover.CISNumber}}</span>
            <span class="label label-mini label-success">AHCCCS ID: {{commonDetailPopover.AHCCCSID}}</span>
            <span class="label label-mini label-default" data-ng-if="commonDetailPopover.ContinuedDX">Continued Dxcodes: {{commonDetailPopover.ContinuedDX}}</span>
        </small>
    </h4>
    <div class="col-sm-6 margin-bottom-5 no-padding" data-ng-if="commonDetailPopover.ServiceDate">
        <strong>@Resource.ServiceDate :</strong>
        <span class="margin-top-5 about-text">{{commonDetailPopover.ServiceDate | dateformat}}</span>
    </div>
    <div class="col-sm-6 margin-bottom-5 no-padding" data-ng-if="commonDetailPopover.ServiceCode">
        <strong>@Resource.ServiceCode :</strong>
        <span class="margin-top-5 about-text">{{commonDetailPopover.ServiceCode}}</span>
    </div>
    <div class="col-sm-12 margin-bottom-5 no-padding" data-ng-if="commonDetailPopover.ServiceName">
        <strong>@Resource.ServiceName :</strong>
        <span class="margin-top-5 about-text">{{commonDetailPopover.ServiceName}}</span>
    </div>
    <div class="col-sm-6 margin-bottom-5 no-padding" data-ng-if="commonDetailPopover.ZarephathService">
        <strong>@Resource.ZarephathService :</strong>
        <span class="margin-top-5 about-text">{{commonDetailPopover.ZarephathService}}</span>
    </div>  
    <div class="col-md-12 no-padding">
        <div class="col-sm-4 margin-bottom-5 no-padding" data-ng-if="commonDetailPopover.SpokeTo">
            <strong>@Resource.SpokeTo :</strong>
            <span class="margin-top-5 about-text">{{commonDetailPopover.SpokeTo}}</span>
        </div>
        <div class="col-sm-4 margin-bottom-5 no-padding" data-ng-if="commonDetailPopover.Relation">
            <strong>@Resource.Relation :</strong>
            <span class="margin-top-5 about-text">{{commonDetailPopover.Relation}}</span>
        </div>
        <div class="col-sm-4 margin-bottom-5 no-padding" data-ng-if="commonDetailPopover.OtherNoteType">
            <strong>@Resource.NoteType :</strong>
            <span class="margin-top-5 about-text">{{commonDetailPopover.OtherNoteType}}</span>
        </div>
    </div>
    <div class="scroll-div col-md-12 no-padding">
        <div class="col-sm-12 margin-bottom-5 no-padding">
            <strong>@Resource.NoteDetails :</strong>
            <div class="col-md-12" data-ng-bind-html="commonDetailPopover.NoteDetails"></div>
             @*<textarea class="form-control input-sm dirWysihtmlEditor" contenteditable="false" rows="20" data-ng-model="commonDetailPopover.NoteDetails"
                    id="Note{{commonDetailPopover.NoteID}}"
                    data-ng-val="commonDetailPopover.NoteDetails"></textarea>*@
        </div>
        <div class="col-sm-12 margin-bottom-5 no-padding">
            <strong>@Resource.Assessment :</strong>
            <span class="about-text" data-ng-bind-html="commonDetailPopover.Assessment?commonDetailPopover.Assessment:'@Resource.NA'"></span>
        </div>
        <div class="col-sm-12 margin-bottom-5 no-padding">
            <strong>@Resource.ActionPlan :</strong>
            <span class="about-text" data-ng-bind-html="commonDetailPopover.ActionPlan?commonDetailPopover.ActionPlan:'@Resource.NA'"></span>
        </div>
    </div>
</div>








