@model SetNoteListModel
@{
    ViewBag.Title = "Notes";
    var addClearFixToPartial = "";
    var addClearFixToMain = "";
    Layout = Model.IsPartial ? null : "~/Views/Shared/_Layout.cshtml";
    if (!Model.IsPartial)
    {
        ViewBag.SelectedMenuItem = Resource.SMI_AddBillingNote;
        addClearFixToMain = "clear-both";
    }
    else
    {
        addClearFixToPartial = "clear-both";
    }
}

@Html.Hidden("hdnSetNoteListPage", Common.SerializeObject(Model))

<div data-ng-controller="NoteController">
    @if (!Model.IsPartial)
    {
       
        <div class="page-bar">
            <h3 class="page-title">

                @Resource.NoteList

                <div class="btn-group pull-right btn-group-xs btn-group-devided">
                    <button type="button" class="btn collapsed grey border-grey-cascade btn-xs" data-toggle="collapse" data-target="#filter-panel">
                        <i class="fa fa-sliders" aria-hidden="true"></i>&nbsp; @Resource.AllFilters
                    </button>
                    <div class="btn-group pull-right btn-group-xs btn-group-devided">
                        <a href="#" data-ng-click="OpenAddNoteModel()" class="btn blue  border-blue-sharp" data-toggle="modal">
                            <i class="fa fa-plus">&nbsp;&nbsp;</i>@Resource.AddNote
                        </a>
                        @if (!Model.IsPartial && Common.HasPermission(Constants.Permission_GroupNote))
                        {
                            <a href="@Constants.AddGroupNote"  target="_blank" class="btn blue  border-blue-sharp">
                                <i class="fa fa-plus">&nbsp;&nbsp;</i>@Resource.AddGroupNote
                            </a>
                        }
                    </div>
                </div>
            </h3>
        </div>
    }

    <div class="row">
        <div class="col-sm-12 table-responsive overflow-i">
            <div>
                <div id="filter-panel" class="filter-panel collapse">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="col-md-12 col-sm-12 no-padding ">
                                <form>


                                    <div class="form-group col-lg-2 col-md-4 col-sm-4 col-xs-6 ">
                                        <label class="control-label">@Resource.ServiceFromDate</label>
                                        <div class="input-group date" datepicker="TempSearchNoteModel.ServiceDateStart" ng-dateval="TempSearchNoteModel.ServiceDateStart" data-ng-maxdate="TempSearchNoteModel.ServiceDateEnd">
                                            <input class="form-control input-sm dateInputMask"
                                           id="ServiceDateStart" maxlength="10" name="TempSearchNoteModel.ServiceDateStart" placeholder="@Resource.ServiceFromDate"
                                           type="text">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-2 col-md-4 col-sm-4 col-xs-6">
                                        <label class="control-label">@Resource.ServiceToDate</label>
                                        <div class="input-group date" datepicker="TempSearchNoteModel.ServiceDateEnd" ng-dateval="TempSearchNoteModel.ServiceDateEnd" data-ng-mindate="TempSearchNoteModel.ServiceDateStart">
                                            <input class="form-control input-sm dateInputMask"
                                           id="ServiceDateEnd" maxlength="10" name="TempSearchNoteModel.ServiceDateEnd"
                                           type="text" placeholder="@Resource.ServiceToDate">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-1 col-md-4 col-sm-4 col-xs-6">
                                        <label class="control-label">@Resource.Facility
                                            <i class="fa fa-question-circle font-size-16" data-ng-tooltip="@Resource.RenderingProvider" data-ng-custom-class="tooltip-extra-z-index"></i>
                                        </label>
                                        @Html.DropDownListFor(p => p.SearchNoteListModel.BillingProviderID, Model.Facilities.ToSelectList(Model.SearchNoteListModel.BillingProviderID.ToString() ?? "", "Name", "Value", @Resource.All, ""),
                                        new
                                        {
                                            convert_to_number = "",
                                            id = "BillingProvider",
                                            data_ng_model = "TempSearchNoteModel.BillingProviderID",
                                            data_ng_init = "TempSearchNoteModel.BillingProviderID=TempSearchNoteModel.BillingProviderID==''?null:TempSearchNoteModel.BillingProviderID.toString()",
                                            @class = "form-control input-sm",
                                            data_val = false
                                        })
                                    </div>

                                    <div class="form-group  col-lg-1 col-md-4 col-sm-4 col-xs-6">
                                        <label class="control-label">@Resource.Region</label>
                                        @Html.DropDownListFor(p => p.SearchNoteListModel.RegionID, Model.Regions.ToSelectList(Model.SearchNoteListModel.RegionID.ToString() ?? "", "Name", "Value", @Resource.Select, ""),
                                            new
                                            {
                                                convert_to_number = "",
                                                data_val = false,
                                                id = "RegionID",
                                                data_ng_model = "TempSearchNoteModel.RegionID",
                                                data_ng_init = "TempSearchNoteModel.RegionID=TempSearchNoteModel.RegionID==''?null:TempSearchNoteModel.RegionID.toString()",
                                                @class = "form-control input-sm",
                                            })
                                    </div>


                                    @if (!Model.IsPartial)
                                    {
                                        <div class="form-group col-lg-2 col-md-4 col-sm-4 col-xs-6">
                                            <label class="control-label">@Resource.ClientLabel</label>
                                            <div class="">
                                                <input type="text"
                                               token-input
                                               ng-val="TempSearchNoteModel.ReferralID"
                                               textfield='Name'
                                               valuefield='ReferralID'
                                               searchurl="{{GetReferralsURL}}"
                                               placeholder="@Resource.SearchClientInformation"
                                               tokenlimit='1'
                                               onresultsformatter='ReferralDetailResultsFormatter'
                                               ontokenformatter="ReferralTokenFormatter"
                                               autoSelectFirstResult="false"
                                               minChars="1"
                                               tokeninputobj="ReferralTokenObj"
                                               id="ReferralIDTkn"
                                               customclass="form-control input-sm"
                                               name="TempSearchNoteModel.ReferralID"/>
                                            </div>
                                        </div>
                                    }

@*<div class="form-group col-lg-2 col-md-4 col-sm-4 col-xs-6">
                                    <label class="control-label">@Resource.ServiceCode</label>
                                    <div>
                                        <input type="text" token-input-local
                                               ng-val="TempSearchNoteModel.ServiceCodeID"
                                               textfield='ServiceCode'
                                               valuefield='ServiceCodeID'
                                               searchurl="{{GetBatchURL}}"
                                               local-data="NoteModel.ServiceCodes | unique:'ServiceCodeID'"
                                               placeholder="@Resource.EnterServiceCode"
                                               tokenlimit='1'
                                               onresultsformatter='ServiceCodeResultsFormatter'
                                               ontokenformatter="ServiceCodeTokenFormatter"
                                               id="SearchServiceCodeToken"
                                               customclass="form-control input-sm "/>
                                    </div>

                                </div>*@
                                    <div class="form-group col-lg-2 col-md-4 col-sm-4 col-xs-6">
                                        <label class="control-label">@Resource.ServiceCode</label>
                                        <div class="transportation-dropdown">
                                            <select class="form-control input-sm selectpicker" data-buttonstyle="btn-sm btn-default" multiple="multiple"
                                            title="@Resource.ServiceCode" data-val="false" id="ServiceCodeID"
                                            selectpicker="TempSearchNoteModel.ServiceCodeIDs" name="TempSearchNoteModel.ServiceCodeID">
                                                <option data-ng-repeat="option in NoteModel.ServiceCodes  | unique:'ServiceCodeID'" value="{{option.ServiceCodeID}}">{{option.ServiceCode +' : '+ option.ServiceName}}</option>
                                            </select>
                                        </div>
                                    </div>



                                    <div class="form-group col-lg-1 col-md-4 col-sm-4 col-xs-6">
                                        <label class="control-label">@Resource.Type</label>
                                        @Html.DropDownListFor(p => p.SearchNoteListModel.ServiceCodeTypeID, Model.ServiceCodeTypes.ToSelectList(Model.SearchNoteListModel.ServiceCodeTypeID.ToString() ?? "", "ServiceCodeTypeName", "ServiceCodeTypeID", "All", "-1"),
                                        new
                                        {
                                            convert_to_number = "",
                                            id = "ServiceCodeTypeID",
                                            data_ng_model = "TempSearchNoteModel.ServiceCodeTypeID",
                                            data_ng_init = "TempSearchNoteModel.ServiceCodeTypeID=TempSearchNoteModel.ServiceCodeTypeID==''?null:TempSearchNoteModel.ServiceCodeTypeID",
                                            @class = "form-control input-sm",
                                            data_val = false
                                        })
                                    </div>

                                    <div class="form-group col-lg-1 col-md-4 col-sm-4 col-xs-6">
                                        <label class="control-label">@Resource.Payor</label>
                                        @Html.DropDownListFor(p => p.SearchNoteListModel.PayorID, Model.PayorList.ToSelectList(Model.SearchNoteListModel.PayorID.ToString() ?? "", "Name", "Value", "All", "-1"),
                                        new
                                        {
                                            convert_to_number = "",
                                            id = "PayorID",
                                            data_ng_model = "TempSearchNoteModel.PayorID",
                                            data_ng_init = "TempSearchNoteModel.PayorID=TempSearchNoteModel.PayorID==''?null:TempSearchNoteModel.PayorID",
                                            @class = "form-control input-sm",
                                            data_val = false
                                        })

                                    </div>


                                    <div class="form-group col-lg-1 col-md-4 col-sm-4 col-xs-6  @addClearFixToMain  @addClearFixToPartial">
                                        <label class="control-label">@Resource.BatchNumberLabel</label>
                                        <div>
                                            @Html.TextBoxFor(q => q.SearchNoteListModel.BatchID, new { @class = "form-control input-sm", data_ng_model = "TempSearchNoteModel.BatchID", placeholder = @Resource.BatchNumberLabel, maxlength = 6 })
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-1 col-md-4 col-sm-4 col-xs-6">
                                        <label class="control-label">@Resource.NoteNew</label>
                                        <div>
                                            @Html.TextBoxFor(q => q.SearchNoteListModel.NoteID, new { @class = "form-control input-sm", data_ng_model = "TempSearchNoteModel.NoteID", placeholder = @Resource.NoteNew, maxlength = 6 })
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-1 col-md-4 col-sm-4 col-xs-6">
                                        <label class="control-label">@Resource.NoteKind</label>
                                        @Html.DropDownListFor(p => p.SearchNoteListModel.NoteKind, Model.NoteKinds.ToSelectList(Model.SearchNoteListModel.NoteKind ?? "", "Value", "Value", "All", ""),
                                    new
                                    {
                                        id = "NoteKind",
                                        data_ng_model = "TempSearchNoteModel.NoteKind",
                                        data_ng_init = "TempSearchNoteModel.NoteKind=TempSearchNoteModel.NoteKind==''?null:TempSearchNoteModel.NoteKind",
                                        @class = "form-control input-sm",
                                        data_val = false
                                    })
                                    </div>

                                    <div class="form-group col-lg-1 col-md-4 col-sm-4 col-xs-6">
                                        <label class="control-label">@Resource.NoteType</label>
                                        @Html.DropDownListFor(p => p.SearchNoteListModel.IsBillable, Model.NoteTypes.ToSelectList(Model.SearchNoteListModel.IsBillable.ToString() ?? "", "Name", "Value"),
                                    new
                                    {
                                        convert_to_number = "",
                                        id = "IsBillable",
                                        data_ng_model = "TempSearchNoteModel.IsBillable",
                                        data_ng_init = "TempSearchNoteModel.IsBillable=TempSearchNoteModel.IsBillable==''?null:TempSearchNoteModel.IsBillable",
                                        @class = "form-control input-sm",
                                        data_val = false
                                    })
                                    </div>

                                    <div class="form-group col-lg-1 col-md-4 col-sm-4 col-xs-6">
                                        <label class="control-label">@Resource.Completed?</label>
                                        @Html.DropDownListFor(p => p.SearchNoteListModel.IsCompleted, Model.CompletedFilter.ToSelectList(Model.SearchNoteListModel.IsCompleted.ToString() ?? "", "Name", "Value"),
                                    new
                                    {
                                        convert_to_number = "",
                                        id = "IsCompleted",
                                        data_ng_model = "TempSearchNoteModel.IsCompleted",
                                        data_ng_init = "TempSearchNoteModel.IsCompleted=TempSearchNoteModel.IsCompleted==''?null:TempSearchNoteModel.IsCompleted",
                                        @class = "form-control input-sm",
                                        data_val = false
                                    })
                                    </div>

                                    @*<div class="form-group col-lg-2 col-md-4 col-sm-4 col-xs-6 @addClearFixToMain">
                                        <label class="control-label">@Resource.NoteKind</label>
                                        @Html.DropDownListFor(p => p.SearchNoteListModel.NoteKind, Model.NoteKinds.ToSelectList(Model.SearchNoteListModel.NoteKind ?? "", "Value", "Value", "All", ""),
                                                              new
                                                                  {
                                                                      id = "NoteKind",
                                                                      data_ng_model = "TempSearchNoteModel.NoteKind",
                                                                      data_ng_init = "TempSearchNoteModel.NoteKind=TempSearchNoteModel.NoteKind==''?null:TempSearchNoteModel.NoteKind",
                                                                      @class = "form-control input-sm",
                                                                      data_val = false  @addClearFixToMain @addClearFixToPartial
                                                                  })
                                    </div>*@

                                    <div class="form-group col-lg-1 col-md-4 col-sm-4 col-xs-6">
                                        <label class="control-label">@Resource.Department</label>
                                        @Html.DropDownListFor(p => p.SearchNoteListModel.DepartmentID, Model.Departments.ToSelectList(Model.SearchNoteListModel.DepartmentID.ToString() ?? "", "Name", "Value", @Resource.All, ""),
                                    new
                                    {
                                        convert_to_number = "",
                                        id = "Departments",
                                        data_ng_model = "TempSearchNoteModel.DepartmentID",
                                        data_ng_init = "TempSearchNoteModel.DepartmentID=TempSearchNoteModel.DepartmentID==''?null:TempSearchNoteModel.DepartmentID.toString()",
                                        @class = "form-control input-sm",
                                        data_val = false
                                    })
                                    </div>

                                    <div class="form-group col-lg-2 col-md-4 col-sm-4 col-xs-6">
                                        <label class="control-label">@Resource.CreatedBy</label>
                                        <div class="transportation-dropdown">
                                            <select class="form-control input-sm selectpicker" data-buttonstyle="btn-sm btn-default" multiple="multiple"
                                                    title="@Resource.CreatedBy" data-val="false" id="CreatedBy"
                                                    selectpicker="TempSearchNoteModel.CreatedByIDs" name="TempSearchNoteModel.CreatedByIDs">
                                                <option data-ng-repeat="option in NoteModel.Employees  | unique:'Value'" value="{{option.Value}}">{{option.Name}}</option>
                                            </select>
                                        </div>

                                        @* @Html.DropDownListFor(p => p.SearchNoteListModel.EmployeeID, Model.Employees.ToSelectList(Model.SearchNoteListModel.EmployeeID.ToString() ?? "", "Name", "Value", @Resource.All, ""),
                                    new
                                    {
                                        convert_to_number = "",
                                        id = "EmployeeID",
                                        data_ng_model = "TempSearchNoteModel.EmployeeID",
                                        data_ng_init = "TempSearchNoteModel.EmployeeID=TempSearchNoteModel.EmployeeID==''?null:TempSearchNoteModel.EmployeeID.toString()",
                                        @class = "form-control input-sm",
                                        data_val = false
                                    })*@
                                    </div>



                                    @if (Common.HasPermission(Constants.Permission_NoteList_ViewAll))
                                    {
                                        <div class="form-group col-lg-2 col-md-4 col-sm-4 col-xs-6">
                                            <label class="control-label">@Resource.Assignee <small><b>(@Resource.ORConditionApplied)</b></small></label>
                                            @Html.DropDownListFor(p => p.SearchNoteListModel.AssigneeID, Model.Assignees.ToSelectList(Model.SearchNoteListModel.AssigneeID.ToString() ?? "", "Name", "Value", @Resource.AllStaff, ""),
                                                new
                                                {
                                                    convert_to_number = "",
                                                    id = "EmployeeID",
                                                    data_ng_model = "TempSearchNoteModel.AssigneeID",
                                                    data_ng_init = "TempSearchNoteModel.AssigneeID=TempSearchNoteModel.AssigneeID==''?null:TempSearchNoteModel.AssigneeID.toString()",
                                                    @class = "form-control input-sm",
                                                    data_val = false
                                                })
                                        </div>
                                    }

                                    <div class="form-group col-lg-2 col-md-4 col-sm-4 col-xs-6 pull-right padding-top-18">
                                        <div class="pull-left col-md-push-1 col-md-11 no-padding">
                                            <div class="col-md-6 no-right-padding">
                                                <button type="submit" class="btn btn-sm btn-primary form-control" data-ng-click="SearchNote()">
                                                    @Resource.Search
                                                </button>
                                            </div>
                                            <div class="col-md-6 no-right-padding">
                                                <button class="btn btn-sm grey border-grey-cascade form-control" data-ng-click="ResetSearchFilter()">
                                                    @Resource.Reset
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-6">
                                            <label class="control-label">General Search</label>
                                            @Html.TextBoxFor(m => m.SearchNoteListModel.SearchText, new { data_ng_model = "TempSearchNoteModel.SearchText", @class = "form-control input-sm", placeholder = Resource.GeneralSerach, maxlength = 50 })
                                        </div>*@


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="space20"></div>*@

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            @if (!Model.IsPartial || (Common.HasPermission(Constants.Permission_ReferralDetails_View_AddUpdate) && Model.IsPartial))
            {
                <div class="btn-group" data-ng-show="NoteList.length > 0">
                    <span class="btn blue btn-sm grey border-grey-cascade" style="padding: 5px;">
                        <input id="SelectAllNote" class="unicheckbox text-align-center" type="checkbox" data-ng-model="SelectAllCheckbox" data-ng-change="SelectAll()" val="SelectAllCheckbox">
                        <label for="SelectAllNote"></label>
                    </span>
                </div>            
            }
            <div class="btn-group">
                <button class="btn blue btn-sm grey border-grey-cascade" data-ng-click="Refresh()">
                    <i class="fa fa-refresh"></i>&nbsp;&nbsp;@Resource.Refresh
                </button>
            </div>
            <div class="btn-group">
                @Html.DropDownListFor(m => m.SearchNoteListModel.IsDeleted, Model.DeleteFilter.ToSelectList(Convert.ToString(Model.SearchNoteListModel.IsDeleted), "Name", "Value", "", ""),
                                      new
                                      {
                                          id = "IsDeleted",
                                          data_ng_model = "TempSearchNoteModel.IsDeleted",
                                          data_ng_init = "TempSearchNoteModel.IsDeleted = TempSearchNoteModel.IsDeleted==null?'-1':TempSearchNoteModel.IsDeleted.toString()",
                                          @class = "form-control input-sm btn blue btn-sm grey border-grey-cascade",
                                          data_ng_change = "SearchNote()"
                                      })
            </div>
            @if (!Model.IsPartial || (Common.HasPermission(Constants.Permission_ReferralDetails_View_AddUpdate) && Model.IsPartial))
            {
                <div class="btn-group" data-ng-if="SelectedNoteIds.length > 0">
                    <button type="button" data-ng-click="DeleteNote()" class="btn blue btn-sm grey border-grey-cascade">
                        <i class="fa fa-random margin-right-10"></i>{{TempSearchNoteModel.IsDeleted==0?'@Constants.DisableSelected' :(TempSearchNoteModel.IsDeleted==1?'@Constants.EnableSelected':'@Constants.InverseSelected')}}</button>
                </div>
            }

            @if (Model.IsPartial)
            {
                <div class="btn-group btn-group-sm btn-group-devided">
                    <button type="button" class="btn collapsed grey border-grey-cascade btn-xs" data-toggle="collapse" data-target="#filter-panel">
                        <i class="fa fa-sliders" aria-hidden="true"></i>&nbsp; @Resource.AllFilters
                    </button>
                    <div class="btn-group pull-right btn-group-sm btn-group-devided">
                        <a href="#" data-ng-click="OpenAddNoteModel()" class="btn blue  border-blue-sharp" data-toggle="modal">
                            <i class="fa fa-plus">&nbsp;&nbsp;</i>@Resource.AddNote
                        </a>
                        @*<a href="@Constants.AddGroupNote"  target="_blank" class="btn blue  border-blue-sharp">
                            <i class="fa fa-plus">&nbsp;&nbsp;</i>@Resource.AddGroupNote
                        </a>*@
                    </div>
                </div>
            }


            <div class="btn-group margin-left-20PR">
                <div class="top pagination-sm" data-ng-show="GetNoteListAjaxCall">
                    <b>@Resource.Loading</b>
                    <img src="~/Assets/images/lazyload.gif" />
                </div>
            </div>


            <div class="inline-block pull-right" data-ng-show="NoteList.length > 0">
                <div class="pull-right top pagination-sm">
                    <dir-pagination-controls boundary-links="true" max-size="NoteListPager.maxSize" on-page-change="NoteListPager.pageChanged(newPageNumber)" pagination-id="NoteListPagerID"></dir-pagination-controls>
                </div>
            </div>

            <div class="pull-right excel-export">
                <a data-ng-click="ExportNoteList()" title="@Resource.ExportToExcel">
                    <i class="font-green-soft fa fa-file-excel-o" style="font-size: 25px;"></i></a>
            </div>
        </div>
        <div class="space20"></div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="portlet-body noteCompact" style="display: block;">
                <div class="dataTables_wrapper" data-ng-if="NoteList.length > 0">
                    <table class="table table-striped table-hover table-bordered table-condensed ">
                        <thead>
                            <tr>
                                <th></th>
                                @*<th></th>
                                <th>
                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="NoteListPager.sortColumn('IsBillable')">@Resource.Type</a>
                                    <span class="sortorder" data-ng-show="NoteListPager.sortIndex === 'IsBillable'" data-ng-class="{reverse:NoteListPager.reverse}"></span>
                                </th>*@
                                <th class="">
                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="NoteListPager.sortColumn('ReferralName')">@Resource.ClientDetail</a>
                                    <span class="sortorder" data-ng-show="NoteListPager.sortIndex === 'ReferralName'" data-ng-class="{reverse:NoteListPager.reverse}"></span>
                                </th>
                                <th class="width-75px">
                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="NoteListPager.sortColumn('StartDate')">@Resource.StartDate</a>
                                    <span class="sortorder" data-ng-show="NoteListPager.sortIndex === 'StartDate'" data-ng-class="{reverse:NoteListPager.reverse}"></span>
                                </th>
                                <th class="width-75px">
                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="NoteListPager.sortColumn('EndDate')">@Resource.EndDate</a>
                                    <span class="sortorder" data-ng-show="NoteListPager.sortIndex === 'EndDate'" data-ng-class="{reverse:NoteListPager.reverse}"></span>
                                </th>
                                <th colspan="2">
                                    <span class="anchor_color">@Resource.Service</span>
                                    <div class="pull-right btn-group">
                                        <a class="btn-xs dropdown-toggle sort-by anchor_color" href="#" type="button" data-toggle="dropdown" aria-expanded="false">
                                            @Resource.Sortby
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right sort-list">
                                            <li>
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="NoteListPager.sortColumn('ServiceCode')">@Resource.ServiceCode
                                                    <span class="sortorder" data-ng-show="NoteListPager.sortIndex === 'ServiceCode'" data-ng-class="{reverse:NoteListPager.reverse}"></span></a>
                                            </li>
                                            <li>
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="NoteListPager.sortColumn('ServiceType')">@Resource.ServiceType
                                                    <span class="sortorder" data-ng-show="NoteListPager.sortIndex === 'ServiceType'" data-ng-class="{reverse:NoteListPager.reverse}"></span></a>
                                            </li>
                                            <li>
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="NoteListPager.sortColumn('BillingProvider')">@Resource.BillingProvider
                                                    <span class="sortorder" data-ng-show="NoteListPager.sortIndex === 'BillingProvider'" data-ng-class="{reverse:NoteListPager.reverse}"></span></a>
                                            </li>

                                            <li>
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="NoteListPager.sortColumn('RenderingProvider')">@Resource.RenderingProvider
                                                    <span class="sortorder" data-ng-show="NoteListPager.sortIndex === 'RenderingProvider'" data-ng-class="{reverse:NoteListPager.reverse}"></span></a>
                                            </li>
                                            <li>
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="NoteListPager.sortColumn('Payor')">@Resource.Payor
                                                    <span class="sortorder" data-ng-show="NoteListPager.sortIndex === 'Payor'" data-ng-class="{reverse:NoteListPager.reverse}"></span></a>
                                            </li>
                                        </ul>

                                    </div>
                                </th>
                                <th class="width-10px">
                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="NoteListPager.sortColumn('Unit')">@Resource.Units</a>
                                    <span class="sortorder" data-ng-show="NoteListPager.sortIndex === 'Unit'" data-ng-class="{reverse:NoteListPager.reverse}"></span>
                                </th>
                                @if (Common.HasPermission(Constants.Permission_Additional_ViewNotesAmount))
                                {
                                    <th class="width-10px">
                                        <a class="anchor_color" href="javascript:void(0);" data-ng-click="NoteListPager.sortColumn('Amount')">@Resource.Amount</a>
                                        <span class="sortorder" data-ng-show="NoteListPager.sortIndex === 'Amount'" data-ng-class="{reverse:NoteListPager.reverse}"></span>
                                    </th>
                                }
                                <th colspan="2">
                                    @Resource.NoteStatusSummary
                                    <div class="pull-right btn-group">
                                        <a class="btn-xs dropdown-toggle sort-by anchor_color" href="#" type="button" data-toggle="dropdown" aria-expanded="false">
                                            @Resource.Sortby
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right sort-list">
                                            <li>
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="NoteListPager.sortColumn('CreatedDate')">@Resource.CreatedDate
                                                    <span class="sortorder" data-ng-show="NoteListPager.sortIndex === 'CreatedDate'" data-ng-class="{reverse:NoteListPager.reverse}"></span></a>
                                            </li>
                                            <li>
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="NoteListPager.sortColumn('CreatedBy')">@Resource.CreatedBy
                                                    <span class="sortorder" data-ng-show="NoteListPager.sortIndex === 'CreatedBy'" data-ng-class="{reverse:NoteListPager.reverse}"></span></a>
                                            </li>
                                            <li>
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="NoteListPager.sortColumn('ModifiedDate')">@Resource.UpdatedDate
                                                    <span class="sortorder" data-ng-show="NoteListPager.sortIndex === 'ModifiedDate'" data-ng-class="{reverse:NoteListPager.reverse}"></span></a>
                                            </li>

                                            <li>
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="NoteListPager.sortColumn('UpdatedBy')">@Resource.UpdatedBy
                                                    <span class="sortorder" data-ng-show="NoteListPager.sortIndex === 'UpdatedBy'" data-ng-class="{reverse:NoteListPager.reverse}"></span></a>
                                            </li>
                                            <li>
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="NoteListPager.sortColumn('SignatureDate')">@Resource.SignatureDate
                                                    <span class="sortorder" data-ng-show="NoteListPager.sortIndex === 'SignatureDate'" data-ng-class="{reverse:NoteListPager.reverse}"></span></a>
                                            </li>
                                            <li>
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="NoteListPager.sortColumn('SignatureBy')">@Resource.SignatureBy
                                                    <span class="sortorder" data-ng-show="NoteListPager.sortIndex === 'SignatureBy'" data-ng-class="{reverse:NoteListPager.reverse}"></span></a>
                                            </li>
                                        </ul>

                                    </div>
                                </th>

                                <th class="width-100px"><span class="anchor_color">@Resource.Action</span></th>
                            </tr>
                        </thead>
                        <tbody dir-paginate="note in NoteList | itemsPerPage: NoteListPager.pageSize" total-items="NoteListPager.totalRecords" current-page="NoteListPager.currentPage" pagination-id="NoteListPagerID">
                            <tr data-ng-class="{'warning':!note.MarkAsComplete,'danger':note.IsDeleted}">
                                <td>
                                    @if (Common.HasPermission(Constants.Permission_CaseManager_AddUpdate))
                                    {
                                        <input type="checkbox" class="unicheckbox text-align-center" data-ng-model="note.IsChecked" data-ng-change="SelectNote(note)" val="note.IsChecked" />
                                        <br />
                                    }

                                    <span class="deleted badge purple-medium margin-top-5" data-ng-bind="note.IsBillable?'B':'NB'" title="{{note.IsBillable?'@Resource.BillableNote':'@Resource.NonBillableNote'}}"></span>
                                    <br />
                                    <span class="collapseSource curser-pointer font-size-18 font-blue fa fa-plus-circle margin-top-5" data-ng-click="NoteDetailsClick(note,'#NoteDetail-'+note.NoteID)" data-ng-attr-id="{{'NoteDetail-'+note.NoteID }}"
                                        data-toggle="collapse" data-ng-attr-data-target="{{'#NoteDetailID-'+note.NoteID }}"></span>
                                </td>

                                <td>
                                    <div class="">
                                        @*<div class="td-note-summary">@Resource.Name:</div>*@

                                        <a class="" data-ng-href="/referral/addreferral/{{note.EncryptedReferralID}}" target="_blank">{{note.ReferralName}}</a>
                                        <small>({{note.AHCCCSID ? note.AHCCCSID :'@Resource.NA'}} | {{note.CISNumber ? note.CISNumber :'@Resource.NA'}})</small>
                                    </div>
                                    @* <div class="clear-both margin-top-5">
                                    <div class="td-note-summary">@Resource.AHCCCS:  &nbsp;</div>
                                    <div class="">{{note.AHCCCSID ? note.AHCCCSID :'@Resource.NA'}}</div>
                                </div>
                                <div class="clear-both margin-top-5">
                                    <div class="td-note-summary">@Resource.CISNumber &nbsp;</div>
                                    <div class="">{{note.CISNumber ? note.CISNumber :'@Resource.NA'}}</div>
                                </div>
                                <br />*@
                                    <div class="">
                                        <span>
                                            <div class="td-note-summary">@Resource.Batch #</div>
                                            : &nbsp;{{note.BatchDetails ? note.BatchDetails:'@Resource.NA'}}</span>
                                        @if (!Model.IsPartial)
                                        {
                                            <span class="badge badge-danger" data-ng-if="note.IsSent">@Resource.Sent</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-default" data-ng-if="note.IsSent">@Resource.Sent</span>
                                        }
                                    </div>
                                    <div class="">
                                        <span>
                                            <div class="td-note-summary">@Resource.Note #</div>
                                            : &nbsp;{{note.NoteID}}</span>
                                    </div>
                                </td>
                                <td data-ng-bind="note.StrStartDate"></td>
                                <td data-ng-bind="note.StrEndDate"></td>
                                <td data-ng-bind="note.ServiceCodeID>0?note.ServiceCode:'Other'"></td>
                                <td>
                                    <span>{{note.ServiceCodeID>0?note.ServiceName:note.Source?note.Source:note.OtherNoteType?note.OtherNoteType:'@Resource.NA'}}</span>
                                    <br />

                                    <div data-ng-if="note.ServiceCodeID>0">
                                        <div class="NoteSummaryDiv">
                                            <div class="td-note-summary">@Resource.ServiceType:</div>
                                            <div class="NoteServiceDesc">{{note.ServiceCodeTypeName}}</div>
                                            <small class="payorTitle pull-right">{{note.PayorShortName?note.PayorShortName:'@Resource.NA'}}</small>
                                        </div>
                                        <div class="clear-both">
                                            <div class="td-note-summary">@Resource.BillingProvider:</div>
                                            <div class="NoteServiceDesc">{{note.BillingProviderName}}</div>
                                        </div>
                                        <div class="clear-both">
                                            <div class="td-note-summary">@Resource.RenderingProvider:</div>
                                            <div class="NoteServiceDesc">{{note.RenderingProviderName}}</div>
                                        </div>
                                        @*<div class="clear-both">
                                        <div class="td-note-summary">@Resource.Payor:</div>
                                        <div class="NoteServiceDesc">{{note.PayorShortName?note.PayorShortName:'@Resource.NA'}}</div>
                                    </div>*@
                                    </div>


                                </td>
                                <td class="text-align-center" data-ng-bind="note.CalculatedUnit"></td>
                                @*<td data-ng-bind="note.CalculatedAmount"></td>*@
                                @if (Common.HasPermission(Constants.Permission_Additional_ViewNotesAmount))
                                {
                                    <td data-ng-bind="note.CalculatedAmount | currency:'@Resource.DollerSymbol'"></td>
                                }
                                <td>
                                    <div>
                                        <div class="NoteSummaryDiv">
                                            <div class="td-note-summary">@Resource.CreatedBy:</div>
                                            <div class="NoteServiceDesc">{{note.CreatedByUserName ? note.CreatedByUserName : '@Resource.System'}}</div>
                                        </div>
                                        <div>
                                            <div class="td-note-summary">@Resource.Date:</div>
                                            <div class="NoteServiceDesc">{{note.CreatedDate | datetimeformat}}</div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div>
                                        <div class="NoteSummaryDiv">
                                            <div class="td-note-summary">@Resource.UpdatedBy:</div>
                                            <div class="NoteServiceDesc">{{note.UpdatedByUserName ? note.UpdatedByUserName : '@Resource.System'}}</div>
                                        </div>
                                        <div>
                                            <div class="td-note-summary">@Resource.Date:</div>
                                            <div class="NoteServiceDesc">{{note.UpdatedDate | datetimeformat}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <div class="NoteSummaryDiv">
                                            <div class="td-note-summary">@Resource.SignatureBy:</div>
                                            <div class="NoteServiceDesc">{{note.SignatureBy ? note.SignatureBy : '@Resource.NA'}}</div>
                                        </div>
                                        <div>
                                            <div class="td-note-summary">@Resource.Date:</div>
                                            <div class="NoteServiceDesc" data-ng-show="note.SignatureDate">{{note.SignatureDate | datetimeformat}}</div>
                                            <div class="NoteServiceDesc" data-ng-show="!note.SignatureDate">@Resource.NA</div>
                                        </div>
                                    </div>
                                </td>
                                <td>

                                    <a href="#" class="btn btn-xs blue" data-ng-click="OpenAddNoteModel(note)">@Resource.Edit </a>
                                    <a href="javascript:void(0);" data-ng-show="note.IsDeleted" data-ng-click="DeleteNote(note,'Enable')" class="btn btn-xs green">@Resource.Enable</a>
                                    <a href="javascript:void(0);" data-ng-show="!note.IsDeleted" data-ng-click="DeleteNote(note,'Disable')" class="btn btn-xs red">@Resource.Disable</a>

                                </td>
                            </tr>
                            <tr data-ng-attr-id="{{'NoteDetailID-'+note.NoteID }}" class="collapse border-grey-gallery collapseDestination">
                                <td></td>
                                <td colspan="11" class="">

                                    <div class="col-sm-10 margin-top-10">
                                        <div class="col-sm-12" data-ng-if="note.ServiceCodeType==OtherServiceCode">
                                            <span><b>Spoke To: </b>{{note.SpokeTo?note.SpokeTo:'@Resource.NA'}} </span>
                                            <span><b>Relationship: </b>{{note.Relation?note.Relation:'@Resource.NA'}} </span>
                                            <span><b>Type: </b>{{note.OtherNoteType?note.OtherNoteType:'@Resource.NA'}}</span>
                                        </div>
                                        <div class="table-responsive col-sm-12">
                                            <table class="table table-bordered table-condensed bg-gray-color tableNoteDetails">
                                                @*<thead><tr><th colspan="2" class="text-align-left"><strong>@Resource.NoteDetails</strong></th></tr></thead>*@
                                                <tbody>
                                                    <tr>
                                                        <td class="width-20px text-align-left">@Resource.Note</td>
                                                        <td>
                                                            <div class="htmlContainer" html-bind="note.NoteDetails">
                                                            </div>
                                                        </td>
                                                        @*<td data-ng-bind="note.NoteDetails | trustAsHtml"></td>*@
                                                    </tr>
                                                    <tr data-ng-if="note.MonthlySummaryIds">
                                                        <td class="text-align-left">@Resource.Attachment</td>
                                                        <td>
                                                            <a href="javascript:void(0);" class="moredark" data-ng-click="DownloadMonthlySummaryPdf(note.MonthlySummaryIds)">
                                                                <b>{{note.MonthlySummaryIds?'@Resource.DownloadAttachment' :'@Resource.NA'}}</b>
                                                                @*<b>{{note.MonthlySummaryIds? note.ReferralName+'_Z.NL_MonthalyService.pdf' :'@Resource.NA'}}</b>*@
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-align-left">@Resource.Assessment</td>
                                                        <td data-ng-bind-html="note.Assessment?note.Assessment:'@Resource.NA'"></td>
                                                    </tr>
                                                    @* <tr>
                                                        <td class="text-align-left">@Resource.ActionPlan</td>
                                                        <td data-ng-bind-html="note.ActionPlan?note.ActionPlan:'@Resource.NA'"></td>
                                                    </tr>*@
                                                    <tr data-ng-if="note.NoteComments">
                                                        <td class="text-align-left">@Resource.NoteComment</td>
                                                        <td data-ng-bind-html="note.NoteComments?note.NoteComments:'@Resource.NA'"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-4 no-padding pull-left">
                                @Resource.Showing <span data-ng-bind="(NoteListPager.pageSize * NoteListPager.currentPage) - NoteListPager.pageSize  + 1"></span>
                                &nbsp;@Resource.To <span data-ng-bind="(NoteListPager.pageSize == NoteListPager.currentPageSize) ? (NoteListPager.pageSize * NoteListPager.currentPage) :(NoteListPager.pageSize * NoteListPager.currentPage) - NoteListPager.pageSize  + NoteListPager.currentPageSize"></span>&nbsp;@Resource.Of &nbsp;<span data-ng-bind="NoteListPager.totalRecords"></span>&nbsp;@Resource.Records

                            </div>
                            <div class="btn-group">
                                <div class="top pagination-sm" data-ng-show="GetNoteListAjaxCall">
                                    <b>@Resource.Loading</b>
                                    <img src="~/Assets/images/lazyload.gif" />
                                </div>
                            </div>
                            <div class="inline-block pull-right" data-ng-show="NoteList.length > 0">
                                <div class="pull-right top pagination-sm">
                                    <dir-pagination-controls boundary-links="true" max-size="NoteListPager.maxSize" on-page-change="NoteListPager.pageChanged(newPageNumber)" pagination-id="NoteListPagerID"></dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div data-ng-if="NoteList.length == 0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-danger">
                            @Html.Raw(Resource.NoRecordsFound)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script id="NoteDetailPopover" type="text/ng-template">
    @Html.Partial("Partial/_NoteDetail")
    </script>

    <div class="modal fade modal-scroll outComeForm" id="model_AddBillalbeNote" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                @Html.Partial("Partial/_AddNote", new NoteDetailModel())
            </div>
            <!-- /.modal-content -->
        </div>
    </div>

</div>

@section Scripts{
    @if (!Model.IsPartial)
    {
        @Scripts.Render("~/assets/js/viewjs/siteApp/note/addnote")
    }

}
<script type="text/javascript">
    var MaxUnit = "@Resource.MaxUnit";
    var DailyUnitLimit = "@Resource.DailyUnitLimit";
    var TimeUnit = "@Convert.ToInt32(EnumUnitType.Time)";
    var Billable = "@Resource.Billable";
    var GroupOption = "@Resource.GroupOption";
    var DistanceInMilesUnit = "@Convert.ToInt32(EnumUnitType.DistanceInMiles)";
    var StopUnit = "@Convert.ToInt32(EnumUnitType.Stop)";
    var OtherServiceCode = "@Convert.ToInt32(EnumServiceCodeType.Other)";
    var OtherPOS = "@Convert.ToInt32(EnumPlaceOfServices.Confirmed)";
    var DeleteConfirmationMessage = '@string.Format(@Resource.DeleteConfirmationMessage, @Resource.Note)';
    var NoteExistMessage = '@string.Format(@Resource.NoteExistMessage, @Resource.Note)';
    var NoteDeleteExistMessage = '@string.Format(@Resource.NoteDeleteExistMessage, @Resource.Note)';
    var EnableDisableConfirmationMessage = '@string.Format(@Resource.EnableDisableConfirmationMessage, @Resource.Note)';
    var Name = "@Resource.Name";
    var AHCCCSID = "@Resource.AHCCCSID";
    var CISNumber = "@Resource.CISNumber";
    var FacilityForOtherServiceCode = "@Constants.FacilityForOtherServiceCode";
    var Phone = "@Resource.Phone";
    var Address = "@Resource.Address";
    var CommunityMentalHealthCenter = "@Resource.lblCommunityMentalHealthCenter";

    var DailyLimitExceedMsg = '@Resource.DailyLimitExceedMsg';
    var CanNotSave = '@Resource.CanNotSave';

    var Payor_MMIC = '@((long)Payor.PayorCode.MMIC)';
    var Payor_CAZ = '@((long)Payor.PayorCode.CAZ)';
    var Payor_PY = '@((long)Payor.PayorCode.PY)';
    var Payor_UHC = '@((long)Payor.PayorCode.UHC)';
    var Payor_ProBono = '@((long)Payor.PayorCode.Pro_Bono)';
    var CanNotSave = '@Resource.CanNotSave';

    var CanNotSave = '@Resource.CanNotSave';

    var CanNotSaveNoteAssignmentMissing = '@Resource.CanNotSaveNoteAssignmentMissing';


    var CreateGroupServiceConfrimation = '@Html.Raw(Resource.CreateGroupServiceConfrimation)';
    var GroupServicesNotConfigured = "@Html.Raw(Resource.GroupServicesNotConfigured)";

    var Missing = '@Resource.Missing';
    var Services = '@Resource.Services';
    var Assessment = '@Resource.Assessment';
    var NoteAssignee = '@Resource.NoteAssignee';
    var NoteComments = '@Resource.NoteComment';
    var NoteIncomplete = '@Html.Raw(Resource.NoteIncomplete)';
    var GroupCodelAlert = '@Html.Raw(Resource.GroupCodelAlert)';
    var CloseNoteEntryAlert = '@Html.Raw(Resource.CloseNoteEntryAlert)';

</script>
