<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel='shortcut icon' href='~/Assets/images/favicons_myezcare.png' class="favicon-logo" type='image/x-icon' />
    @Styles.Render("~/sitelayout/css")
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        window.DeleteConfirmationMessage = '@Resource.DeleteConfirmationMessage';
        window.PageSize = '@ConfigSettings.PageSize';
        window.Alert = '@Resource.Alert';
        window.SelectedMenuItem = '@ViewBag.SelectedMenuItem';
        window.ErrorCode_Warning = '@Constants.ErrorCode_Warning';

        //#region Used this Variable in Resource JS
        window.Yes = '@Resource.Yes';
        window.No = '@Resource.No';
        window.Okay = '@Resource.Okay';
        window.Save = '@Resource.Save';
        window.Cancel = '@Resource.Cancel';
        window.YesContinue = '@Resource.YesContinue';
        window.UpdateRecords = '@Resource.UpdateRecords';
        window.HardDelete = '@Resource.Delete';
        window.SoftDelete = '@Resource.SoftDelete';
        window.Disable = '@Resource.Disable';
        window.Enable = '@Resource.Enable';
        window.TypeInASearchTerm = '@Resource.TypeInASearchTerm';
        window.LiveSiteURL = '@ConfigSettings.SiteBaseURL';
        //#endregion
    </script>
</head>

<body class="page-header-fixed page-sidebar-closed page-sidebar-closed-hide-logo page-content-white" cz-shortcut-listen="true" data-ng-app="myApp">

    <span data-us-spinner="{radius:30, width:8, length: 16,scale:0.5}" style="z-index: 9999999"></span>
    <div class="ng-cloak">

        <!-- BEGIN CONTAINER -->
        <div class=""> @*<div class="page-container">*@
            <!-- BEGIN CONTENT -->
            <div class=""> @*<div class="page-content-wrapper">*@
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content hideContent">
                    @RenderBody()
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>

            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        @*@Html.Partial("_Footer")*@
    </div>
</body>
@Scripts.Render("~/assets/sitelayout/js")
@RenderSection("scripts", required: false)

</html>
