@{ 
   // CacheHelper _cacheHelper = new CacheHelper();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel='shortcut icon' href='~/Assets/images/favicons_myezcare.png' class="favicon-logo" type='image/x-icon' />
    @Styles.Render("~/loginlayout/css")
</head>

<body class="login ng-cloak" data-ng-app="app">
    <!-- BEGIN LOGO -->
    <span data-us-spinner="{radius:30, width:8, length: 16,scale:0.5}"></span>
    <div class="col-sm-12 col-xs-12">
        <div class="logo">
            <a href="/security/index">
                <img class="img-responsive center-block loginscreen-logo" src="~/Assets/images/myezcare_loginLogo.png" alt=""/>
            </a>
        </div>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content hideContent">
        @RenderBody()
    </div>

</body>
@Scripts.Render("~/loginlayout/js");
@RenderSection("scripts", required: false)
<script type="text/javascript">
    $(document).ready(function () {
        $(".hideContent").removeClass("hideContent");
    });
</script>
</html>
