<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper ">
    <!-- BEGIN SIDEBAR -->

    <div class="page-sidebar navbar-collapse collapse ">

        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-closed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper hide">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler"></div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->

            <li class="nav-item start" data-selectmenu="@Resource.SMI_Dashboard">
                <a href="@Constants.DashboardURL" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">@Resource.Dashboard</span>
                    @*<span class="arrow"></span>*@
                </a>

            </li>

            <li class="heading">
                <h3 class="uppercase">@Resource.Features</h3>
            </li>

            <li class="nav-item start" data-selectmenu="@Resource.SMI_FormList">
                <a href="@Constants.FormListURL" class="nav-link nav-toggle">
                    <i class="fa fa-list-ol"></i>
                    <span class="title">@Resource.FormList</span>
                </a>

            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                    <span class="title">@Resource.ServicePlan</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu" style="display: none;">
                    <li class="nav-item" data-selectmenu="@Resource.SMI_ServicePlanAdd">
                        <a href="@Constants.ServicePlanAddURL" class="nav-link">
                            <i class="fa fa-plus"></i>
                            <span class="title">@Resource.Add</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Constants.ServicePlanListURL" class="nav-link" data-selectmenu="@Resource.SMI_ServicePlanList">
                            <i class="fa fa-list"></i>
                            <span class="title">@Resource.List</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-bank" aria-hidden="true"></i>
                    <span class="title">@Resource.Organization</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu" style="display: none;">
                    @*<li class="nav-item" data-selectmenu="@Resource.SMI_OrganizationAdd">
                    <a href="@Constants.OrganizationAddURL" class="nav-link">
                        <i class="fa fa-plus"></i>
                        <span class="title">@Resource.Add</span>
                    </a>
                </li>*@

                    <li class="nav-item">
                        <a href="@Constants.OrganizationListURL" class="nav-link" data-selectmenu="@Resource.SMI_OrganizationList">
                            <i class="fa fa-list"></i>
                            <span class="title">@Resource.List</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <span class="title">@Resource.ReleaseNote</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu" style="display: none;">
                    <li class="nav-item" data-selectmenu="@Resource.SMI_ReleaseNoteAdd">
                        <a href="@Constants.ReleaseNoteAddURL" class="nav-link">
                            <i class="fa fa-plus"></i>
                            <span class="title">@Resource.Add</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Constants.ReleaseNoteListURL" class="nav-link" data-selectmenu="@Resource.SMI_ReleaseNoteList">
                            <i class="fa fa-list"></i>
                            <span class="title">@Resource.List</span>
                        </a>
                    </li>
                </ul>
            </li>
            @*For Roll and Permission*@
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <span class="title">@Resource.Permission</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu" style="display: none;">
                    <li class="nav-item" data-selectmenu="@Resource.SMI_PermissionAdd">
                        <a href="@Constants.AddPermissionsURL" class="nav-link">
                            <i class="fa fa-plus"></i>
                            <span class="title">@Resource.Add</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Constants.PermissionsListURL" class="nav-link" data-selectmenu="@Resource.SMI_PermissionList">
                            <i class="fa fa-list"></i>
                            <span class="title">@Resource.List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Constants.OrgPermissionURL" class="nav-link" data-selectmenu="@Resource.SMI_PermissionList">
                            <i class="fa fa-list"></i>
                            <span class="title">Organisation Permission</span>
                        </a>
                    </li>
                </ul>

            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <span class="title">@Resource.Invoice</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu" style="display: none;">
                    <li class="nav-item" data-selectmenu="@Resource.SMI_PermissionAdd">
                        <a href="@Constants.AddInvoiceURL" class="nav-link">
                            <i class="fa fa-plus"></i>
                            <span class="title">@Resource.Add</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Constants.InvoiceListURL" class="nav-link" data-selectmenu="@Resource.SMI_PermissionList">
                            <i class="fa fa-list"></i>
                            <span class="title">@Resource.List</span>
                        </a>
                    </li>
                </ul>

            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <span class="title">Twilio Subaccounts</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu" style="display: none;">
                    <li class="nav-item" data-selectmenu="Twilio">
                        <a href="/Twilio/Create" class="nav-link">
                            <i class="fa fa-plus"></i>
                            <span class="title">@Resource.Add</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Twilio" class="nav-link" data-selectmenu="Twilio">
                            <i class="fa fa-list"></i>
                            <span class="title">@Resource.List</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
