@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, Resource.NotFound);
    bool isLoggedIn = SessionHelper.LoggedInID > 0;
    Layout = isLoggedIn ? "~/views/shared/_Layout.cshtml" : "~/views/shared/_LoginLayout.cshtml";
    //CacheHelper _cacheHelper = new CacheHelper();        
}


<div class="row margin-bottom-100 color-white">
    <div class="col-md-12 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h2 class="margin-bottom-10 font-weight-500">@Resource.PageNotFound</h2>
            <p class="margin-top-10">@Resource.PageNotExists</p>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="text-center font-weight-500">@Resource.Oops</h1>
            <img class="img-responsive center-block" src="~/Assets/images/404.png" />
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            @*<p class="margin-top-15">@Resource.YouCanContactUsOn<a class="margin-bottom-5" href="mailto:@_cacheHelper.SupportEmail">@Resource.ContactSupport</a></p>*@
            <a href="/"><span class="btn btn-primary">@Resource.BackToHomePage</span></a>
        </div>
    </div>
</div>

@section Scripts{
    @if (isLoggedIn)
    {
        <script>
            $(document).ready(function () {
                $(".color-white").removeClass("color-white");
            });
        </script>
    }
}