@{
    bool isEditMode = Model != null && Model.OrganizationPreference.OrganizationID > 0;
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, @Resource.Organization_Preference);
    Layout = ViewBag.IsPartialView == null ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.SelectedMenuItem = Resource.SMI_Organization_Preference;
}




@model OrgPreferenceModel

@Html.Hidden("hdnOrgPreferenceModel", Common.SerializeObject(Model))

<div data-ng-controller="PreferenceController">
    <div class="page-bar">
        <h3 class="page-title">
            @(isEditMode ? Resource.Organization_Preference : @Resource.Organization_Preference)
            <small>@Resource.EnterOrganization_Preference</small>
        </h3>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" id="frmPreference">

                <div class="form-group row">
                    <div class="col-sm-12">

                        <div class="fscontainer">
                            <div class="legend">
                                @Resource.Organization_Preference
                            </div>
                            <div class="col-sm-6 no-padding">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label">@Resource.Organization_Preference_DateFormat</label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(p => p.OrganizationPreference.DateFormat, Model.DateFormatList.ToSelectList(Model.OrganizationPreference.DateFormat ?? "", "Name", "Value", @Resource.Select, ""),
                                            new
                                            {
                                                data_ng_model = "OrgPreferenceModel.OrganizationPreference.DateFormat",
                                                data_ng_init = "OrgPreferenceModel.OrganizationPreference.DateFormat=OrgPreferenceModel.OrganizationPreference.DateFormat==''?null:OrgPreferenceModel.OrganizationPreference.DateFormat",
                                                @class = "form-control input-sm",

                                            })

                                            @Html.ValidationMessageFor(q => q.OrganizationPreference.DateFormat)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-5 control-label">@Resource.Organization_Preference_Currency</label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(p => p.OrganizationPreference.Currency, Model.CurrencyList.ToSelectList(Model.OrganizationPreference.Currency ?? "", "CurrencyName", "CurrencyID", @Resource.Select, ""),
                                            new
                                            {
                                                data_ng_model = "OrgPreferenceModel.OrganizationPreference.Currency",
                                                data_ng_init = "OrgPreferenceModel.OrganizationPreference.Currency=OrgPreferenceModel.OrganizationPreference.Currency==''?null:OrgPreferenceModel.OrganizationPreference.Currency",
                                                @class = "form-control input-sm",

                                            })

                                            @Html.ValidationMessageFor(q => q.OrganizationPreference.Currency)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-5 control-label">@Resource.Organization_Preference_NameDisplayFormat</label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(p => p.OrganizationPreference.NameDisplayFormat, Model.NameFormatList.ToSelectList(Model.OrganizationPreference.NameDisplayFormat ?? "", "Name", "Value", @Resource.Select, ""),
                                                        new
                                                        {
                                                            data_ng_model = "OrgPreferenceModel.OrganizationPreference.NameDisplayFormat",
                                                            data_ng_init = "OrgPreferenceModel.OrganizationPreference.NameDisplayFormat=OrgPreferenceModel.OrganizationPreference.NameDisplayFormat==''?null:OrgPreferenceModel.OrganizationPreference.NameDisplayFormat",
                                                            @class = "form-control input-sm",

                                                        })

                                            @Html.ValidationMessageFor(q => q.OrganizationPreference.NameDisplayFormat)
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                        <label class="col-md-5 control-label">@Resource.Organization_Preference_CssFilePath</label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(p => p.OrganizationPreference.CssFilePath, Model.CssConfigList.ToSelectList(Model.OrganizationPreference.CssFilePath ?? "", "CssDisplayName", "CssID", @Resource.Select, ""),
                                            new
                                            {
                                                data_ng_model = "OrgPreferenceModel.OrganizationPreference.CssFilePath",
                                                data_ng_init = "OrgPreferenceModel.OrganizationPreference.CssFilePath=OrgPreferenceModel.OrganizationPreference.CssFilePath==''?null:OrgPreferenceModel.OrganizationPreference.CssFilePath",
                                                @class = "form-control input-sm",

                                            })

                                            @Html.ValidationMessageFor(q => q.OrganizationPreference.CssFilePath)
                                        </div>
                                    </div>*@

                                    <div class="form-group">
                                        <label class="col-md-5 control-label">@Resource.Language</label>
                                        <div class="col-md-7">

                                            @Html.DropDownListFor(p => p.OrganizationPreference.Language, Model.LanguageList.ToSelectList(Model.OrganizationPreference.Language ?? "", "Name", "Value", @Resource.Select, ""),
                                            new
                                            {
                                                data_ng_model = "OrgPreferenceModel.OrganizationPreference.Language",
                                                data_ng_init = "OrgPreferenceModel.OrganizationPreference.Language=OrgPreferenceModel.OrganizationPreference.Language==''?null:OrgPreferenceModel.OrganizationPreference.Language",
                                                @class = "form-control input-sm",

                                            })
                                            @Html.ValidationMessageFor(q => q.OrganizationPreference.Language)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-5 control-label">@Resource.Region</label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(p => p.OrganizationPreference.Region, Model.RegionList.ToSelectList(Model.OrganizationPreference.Region ?? "", "Name", "Value", @Resource.Select, ""),
                                                        new
                                                        {
                                                            data_ng_model = "OrgPreferenceModel.OrganizationPreference.Region",
                                                            data_ng_init = "OrgPreferenceModel.OrganizationPreference.Region=OrgPreferenceModel.OrganizationPreference.Region==''?null:OrgPreferenceModel.OrganizationPreference.Region",
                                                            @class = "form-control input-sm",

                                                        })
                                            @Html.ValidationMessageFor(q => q.OrganizationPreference.Region)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-5 control-label">@Resource.WeekStartDay</label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(p => p.OrganizationPreference.WeekStartDay, Model.WeekDaysList.ToSelectList(Model.OrganizationPreference.WeekStartDay ?? "", "Name", "Value", Resource.SelectDay, ""),
                                            new
                                            {
                                                data_ng_model = "OrgPreferenceModel.OrganizationPreference.WeekStartDay",
                                                data_ng_init = "OrgPreferenceModel.OrganizationPreference.WeekStartDay = (!OrgPreferenceModel.OrganizationPreference.WeekStartDay ? null : OrgPreferenceModel.OrganizationPreference.WeekStartDay )",
                                                @class = "form-control input-sm",
                                                data_val = "false",
                                                convert_to_number = ""
                                            })
                                            @Html.ValidationMessageFor(m => m.OrganizationPreference.WeekStartDay)
                                        </div>
                                    </div>

                                </div>
                            </div>




                        </div>


                    </div>
                </div>
                <div class="col-md-12 form-group text-center">

                    <input type="submit" data-ng-click="SavePreference()" class="btn btn-sm green-jungle" value="@Resource.Save" />

                    <a>
                        <input type="button" class="btn btn-sm red-mint" data-ng-click="Cancel()" value="@Resource.Cancel" />
                    </a>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts{
    @Scripts.Render("~/assets/js/viewjs/siteApp/Areas/HomeCare/orgpreference/preference.js")
}