<div class="col-sm-12 no-padding">
    <h4 class="caption">
        <span class="font-green sbold uppercase">{{commonDetailPopover.Facility.FacilityName}}</span>
        @*<small class="caption-helper">(#{{commonDetailPopover.Facility.AHCCCSID}} #{{commonDetailPopover.Facility.EIN}})</small>*@
        <small><span class="label label-mini label-inverse margin-right-05 ng-binding">AHCCCS ID: {{commonDetailPopover.Facility.AHCCCSID}}</span>
            <span class="label label-mini label-success ng-binding">EIN: {{commonDetailPopover.Facility.EIN}}</span></small>
    </h4>
    <div class="col-sm-6 no-padding">
        <strong class="">@Resource.HouseCapacity :</strong> <span class="">{{commonDetailPopover.Facility.BadCapacity}} </span>
    </div>
    <div class="col-sm-6 no-padding">
        <strong class="">@Resource.PrivateRoom :</strong> <span class="">{{commonDetailPopover.Facility.PrivateRoomCount}} </span>
    </div>

    <strong>@Resource.ApprovedPayors :</strong> <span class="margin-top-5 margin-bottom-5 about-text">{{commonDetailPopover.Facility.PayorApproved? commonDetailPopover.Facility.PayorApproved: '@Resource.NA'}}</span>
    <br />
    <strong>@Resource.Address :</strong>&nbsp; {{commonDetailPopover.Facility.Address? commonDetailPopover.Facility.Address: '@Resource.NA'}}
    
    <div class="col-md-12 no-padding">
        <a href="javascript:void(0);" data-ng-click="commonDetailPopover.RemoveSchedulesFromWeekFacility(commonDetailPopover,popOverFunctions)" class="btn btn-xs red pull-right">Delete </a>
    </div>
    <div class="space10"></div>
</div>
