<div class="col-sm-12 no-padding facility-house-detail-popover">
    <div class="col-sm-12 no-padding">
        <div>
            <span class="padding-left-5">
                <label class="control-label ng-binding">
                    <b>@Resource.Email:</b>
                    @*<span data-ng-bind="commonDetailPopover.ParentEmail != null ? commonDetailPopover.ParentEmail: '@Resource.NA'"></span>*@
                    <a href="mailto:{{commonDetailPopover.ParentEmail}}" data-ng-show="commonDetailPopover.ParentEmail != null" class="moredark">{{commonDetailPopover.ParentEmail}}</a>
                    <span data-ng-show="commonDetailPopover.ParentEmail == null">@Resource.NA</span>
                </label>
            </span>
            <br />
            <span class="padding-left-5">
                <label class="control-label ng-binding">
                    <b>@Resource.Phone #1:</b>
                    <a href="tel:{{commonDetailPopover.ParentPhone1}}" data-ng-show="commonDetailPopover.ParentPhone1 != null" class="moredark">{{commonDetailPopover.ParentPhone1}}</a>
                    <span data-ng-show="commonDetailPopover.ParentPhone1 == null">@Resource.NA</span>
                    @*<span data-ng-bind="commonDetailPopover.ParentPhone1 != null ? commonDetailPopover.ParentPhone1: '@Resource.NA'"></span>*@
                </label>
            </span>
            <br />
            <span class="padding-left-5">
                <label class="control-label ng-binding">
                    <b>@Resource.Phone #2:</b>
                    <a href="tel:{{commonDetailPopover.ParentPhone2}}" data-ng-show="commonDetailPopover.ParentPhone2 != null" class="moredark">{{commonDetailPopover.ParentPhone2}}</a>
                    <span data-ng-show="commonDetailPopover.ParentPhone2 == null">@Resource.NA</span>
                </label>
            </span>
        </div>
        <hr />
    </div>
</div>
