<div class="col-sm-12 no-padding facility-house-detail-popover">
    <div class="col-sm-12 no-padding">
        <div>
            <span class="padding-left-5">
                <label class="control-label ng-binding">
                    <b>@Resource.Email:</b>
                    @*<span data-ng-bind="commonDetailPopover.CMPhone != null ? commonDetailPopover.CMPhone: '@Resource.NA'"></span>*@
                    <a href="mailto:{{commonDetailPopover.CMEmail}}" data-ng-show="commonDetailPopover.CMEmail != null" class="moredark">{{commonDetailPopover.CMEmail}}</a>
                    <span data-ng-show="commonDetailPopover.CMEmail == null">@Resource.NA</span>
                </label>
            </span>
            <br />
            <span class="padding-left-5">
                <label class="control-label ng-binding">
                    <b>@Resource.Phone:</b>
                    @*<span data-ng-bind="commonDetailPopover.CMPhone != null ? commonDetailPopover.CMEmail: '@Resource.NA'"></span>*@
                    <a href="tel:{{commonDetailPopover.CMPhone}}" data-ng-show="commonDetailPopover.CMPhone != null" class="moredark">{{commonDetailPopover.CMPhone}}</a>
                    <span data-ng-show="commonDetailPopover.CMPhone == null">@Resource.NA</span>

                </label>
            </span>
        </div>
        <hr />
    </div>
</div>
