@model ReportModel
@Html.Hidden("hdnSetLifeSkillsOutcomeMeasurementsModel", Common.SerializeObject(Model))

<div data-ng-controller="RptLifeSkillsOutcomeMeasurementsController">
    <div class="mt-element-ribbon bg-grey-steel">
        <div class="ribbon  ribbon-color-info uppercase">@Resource.LifeSkillsOutcomeMeasurementsReport</div>
        <p class="ribbon-content">
            @Resource.LifeSkillsOutcomeMeasurementsDetail
        </p>
        <hr />
        <div>
            <a class="btn btn-sm grey-mint pull-right" href="#model__SearchRptLifeSkillsOutcomeMeasurements" data-toggle="modal">@Resource.GenerateReport</a>
        </div>
        <br />
    </div>

    <div class="modal fade" id="model__SearchRptLifeSkillsOutcomeMeasurements" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="OnCloseModel()"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="H1">@string.Format("{0} {1}", Resource.LifeSkillsOutcomeMeasurementsReport, Resource.SearchParameter)</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="frmSearchRptClientStatus">
                                <div class="col-md-12 no-padding">
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <label class="control-label">@Resource.Name</label>
                                        @Html.TextBoxFor(m => m.SearchReportModel.ClientName, new { data_ng_model = "SearchReportModel.ClientName", @class = "form-control input-sm", placeholder = Resource.Name, maxlength = 50 })
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <label class="control-label">@Resource.Region</label>
                                        @Html.DropDownListFor(m => m.SearchReportModel.RegionID, Model.Region.ToSelectList(Convert.ToString(Model.SearchReportModel.RegionID), "RegionName", "RegionID", Resource.SelectRegion, ""), new
                                                                  {
                                                                      id = "RegionID",
                                                                      data_ng_model = "SearchReportModel.RegionID",
                                                                      data_ng_init = "SearchReportModel.RegionID=SearchReportModel.RegionID==''?null:SearchReportModel.RegionID",
                                                                      @class = "form-control input-sm",
                                                                      convert_to_number = "",
                                                                      data_val = false

                                                                  })
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                        <label class="control-label ">@Resource.OMStartDate</label>
                                        <div datepicker="SearchReportModel.StartDate" ng-dateval="SearchReportModel.StartDate" class="input-group date">
                                            @Html.TextBoxFor(m => m.SearchReportModel.StartDate,
                                                             new
                                                                 {
                                                                     @class = "no-focus form-control input-sm dateInputMask",
                                                                     placeholder = Resource.OMStartDate,
                                                                     data_val = false
                                                                 })
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                        <label class="control-label ">@Resource.OMEndDate</label>
                                        <div datepicker="SearchReportModel.EndDate" ng-dateval="SearchReportModel.EndDate" class="input-group date">
                                            @Html.TextBoxFor(m => m.SearchReportModel.EndDate,
                                                             new
                                                                 {
                                                                     @class = "no-focus form-control input-sm dateInputMask",
                                                                     placeholder = Resource.OMEndDate,
                                                                     data_val = false
                                                                 })
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 reportlabel " data-ng-show="NoRecordsFoundFlag">
                                        <div class="badge badge-danger">
                                            @Resource.NoRecordFoundForReport
                                        </div>
                                    </div>
                                    
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 reportlabel " data-ng-show="LSOMAjaxCall">
                                        <div>
                                            @Resource.DownloadingInProgress
                                             <span class="padding-left-5"><img src="~/Assets/images/lazyload.gif" /></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-ng-click="ResetSearchFilter()" data-dismiss="modal">@Resource.Cancel</button>
                    <button type="button" class="btn btn-sm blue" id="btnLSOMDownload" data-loading-text="@Resource.DownloadingInProgress"  data-ng-click="DownloadLifeSkillsOutcomeMeasurementsReport('#btnLSOMDownload')">@Resource.Download</button>
                </div>
            </div>
        </div>
    </div>

</div>
