@model ReportModel
@Html.Hidden("hdnSetDTRPrintModel", Common.SerializeObject(Model))

<div data-ng-controller="RptDTRPrintController">
    <div class="mt-element-ribbon bg-grey-steel">
        <div class="ribbon  ribbon-color-success uppercase">@Resource.DTRPrintReport</div>
        <p class="ribbon-content">
            @Resource.DTRPrintDetail
        </p>
        <hr />
        <div>
            <a class="btn btn-sm blue pull-right" href="#model__SearchRptDTRPrint" data-toggle="modal">@Resource.GenerateReport</a>
        </div>
        <br />
    </div>

    <div class="modal fade" id="model__SearchRptDTRPrint" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="OnCloseModel()"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="H1">@string.Format("{0} {1}", Resource.DTRPrintReport, Resource.SearchParameter)</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="frmSearchRptClientStatus">
                                <div class="col-md-12 no-padding">

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                        <label class="control-label ">@Resource.StartDate</label>
                                        <div datepicker="SearchDTRPrintModel.StartDate" data-ng-dateval="SearchDTRPrintModel.StartDate" class="input-group date">
                                            @Html.TextBoxFor(m => m.SearchDTRPrintModel.StartDate,
                                                             new
                                                                 {
                                                                     @class = "no-focus form-control input-sm dateInputMask",
                                                                     placeholder = Resource.StartDate,
                                                                     data_val = false
                                                                 })
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                        <label class="control-label">@Resource.EndDate</label>
                                        <div datepicker="SearchDTRPrintModel.EndDate" ng-dateval="SearchDTRPrintModel.EndDate" class="input-group date">
                                            @Html.TextBoxFor(m => m.SearchDTRPrintModel.EndDate,
                                                             new
                                                                 {
                                                                     @class = "no-focus form-control input-sm dateInputMask",
                                                                     placeholder = Resource.EndDate,
                                                                     data_val = false
                                                                 })
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-6 ">
                                        <label class="control-label">@Resource.ClientLabel</label>
                                        <input type="text"
                                               token-input
                                               ng-val="SearchDTRPrintModel.ReferralID"
                                               textfield='Name'
                                               valuefield='ReferralID'
                                               searchurl="{{GetReferralInfoforReportURL}}"
                                               placeholder="@Resource.SearchClientInformation"
                                               tokenlimit='1'
                                               onresultsformatter='ReferralDetailResultsFormatter'
                                               ontokenformatter="ReferralTokenFormatter"
                                               ondeletecallback='RemoveReferral'
                                               autoSelectFirstResult="false"
                                               minChars="1"
                                               tokeninputobj="DTRTokenObj"
                                               id="AddNoteReferralIDTkn"
                                               customclass="form-control input-sm"
                                               name="ReferralID"/>
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <label class="control-label">@Resource.DriverName</label>
                                        @Html.DropDownListFor(m => m.SearchDTRPrintModel.DriverID, Model.Employees.ToSelectList(Convert.ToString(Model.SearchDTRPrintModel.DriverID), "Name", "Value", @Resource.Select, ""),
                                            new
                                            {
                                                convert_to_number = "",
                                                id = "IsDeleted",
                                                data_ng_model = "SearchDTRPrintModel.DriverID",
                                                data_ng_init = "SearchDTRPrintModel.DriverID =SearchDTRPrintModel.DriverID ==''?null:SearchDTRPrintModel.DriverID",
                                                @class = "form-control input-sm",
                                                data_val = false
                                            })
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <label class="control-label">@Resource.VehicleNumber</label>
                                        <div>
                                            @Html.TextBoxFor(x => x.SearchDTRPrintModel.VehicleNumber,
                                                new
                                                {
                                                    ng_model = "SearchDTRPrintModel.VehicleNumber",
                                                    @class = "form-control input-sm auto-complete",
                                                    searchurl = "{{GetDTRDetailsURL}}",
                                                    dtrtype = (int)DTRDetail.DTRDetailTypes.Vehicle,
                                                      placeholder = Resource.VehicleNumber,
                                                })
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                        <label class="control-label">@Resource.VehicleType</label>
                                        <div>
                                            @Html.TextBoxFor(x => x.SearchDTRPrintModel.VehicleType,
                                                new
                                                {
                                                    ng_model = "SearchDTRPrintModel.VehicleType",
                                                    @class = "form-control input-sm auto-complete",
                                                    searchurl = "{{GetDTRDetailsURL}}",
                                                    dtrtype = (int)DTRDetail.DTRDetailTypes.VehicleType,
                                                    placeholder = Resource.VehicleType,
                                                })
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <label class="control-label">@Resource.PickUpAddress</label>
                                        <div>
                                            @Html.TextBoxFor(x => x.SearchDTRPrintModel.PickUpAddress,
                                                new
                                                {
                                                    ng_model = "SearchDTRPrintModel.PickUpAddress",
                                                    @class = "form-control input-sm auto-complete",
                                                    searchurl = "{{GetDTRDetailsURL}}",
                                                    dtrtype = (int)DTRDetail.DTRDetailTypes.LocationAddress,
                                                    placeholder = Resource.PickUpAddress,
                                                })
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <label class="control-label">@Resource.DropOffAddress</label>
                                        <div>
                                            @Html.TextBoxFor(x => x.SearchDTRPrintModel.DropOffAddress,
                                                new
                                                {
                                                    ng_model = "SearchDTRPrintModel.DropOffAddress",
                                                    @class = "form-control input-sm auto-complete",
                                                    searchurl = "{{GetDTRDetailsURL}}",
                                                    dtrtype = (int)DTRDetail.DTRDetailTypes.LocationAddress,
                                                    placeholder = Resource.DropOffAddress,
                                                    
                                                })
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-6" style="display: none">
                                        <label class="control-label">@Resource.EnableDisableClient</label>
                                        @Html.DropDownListFor(m => m.SearchDTRPrintModel.IsDeleted, Model.DeleteFilter.ToSelectList(Convert.ToString(Model.SearchDTRPrintModel.IsDeleted), "Name", "Value", "", ""),
                                                              new
                                                                  {
                                                                      id = "IsDeleted",
                                                                      data_ng_model = "SearchDTRPrintModel.IsDeleted",
                                                                      data_ng_init = "SearchDTRPrintModel.IsDeleted = SearchDTRPrintModel.IsDeleted==null?'-1':SearchDTRPrintModel.IsDeleted.toString()",
                                                                      @class = "form-control input-sm"

                                                                  })
                                    </div>

                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 reportlabel " data-ng-show="NoRecordsFoundFlag">
                                        <div class="badge badge-danger">
                                            @Resource.NoRecordFoundForReport
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 reportlabel " data-ng-show="DTRAjaxCall">
                                        <div>
                                            @Resource.DownloadingInProgress
                                            <span class="padding-left-5">
                                                <img src="~/Assets/images/lazyload.gif" /></span>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-ng-click="ResetSearchFilter()" data-dismiss="modal">@Resource.Cancel</button>
                    <button type="button" class="btn btn-sm blue"  id="btnDTRDownload" data-loading-text="@Resource.DownloadingInProgress" data-ng-click="DownloadDTRReport('#btnDTRDownload')">@Resource.Download</button>
                </div>
            </div>
        </div>
    </div>
</div>
