@model SetOrganizationListModel


<div id="addOrgModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-ng-click="CloseAddOrgModal()">&times;</button>
                <h4 class="caption margin-bottom-0 margin-top-5">
                    <span>@Resource.SaveOrganization</span>
                </h4>
            </div>
            <div class="modal-body">
                <form id="frmSaveOrganization">
                    <div class="clearfix">
                        <div class="col-md-12 no-padding">
                            <div class="form-group col-lg-4 col-md-4 col-sm-12">
                                <label class="control-label required">@Resource.CompanyName</label>
                                @Html.TextBoxFor(m => m.AddOrganizationModel.CompanyName,
                                    new
                                    {
                                        data_ng_model = "AddOrganizationModel.CompanyName",
                                        @class = "form-control input-sm",
                                        placeholder = Resource.CompanyName,
                                        maxlength = 100
                                    })

                                @Html.ValidationMessageFor(m => m.AddOrganizationModel.CompanyName)
                            </div>

                            <div class="form-group col-lg-4 col-md-4 col-sm-12">
                                <label class="control-label required">@Resource.DisplayName</label>
                                @Html.TextBoxFor(m => m.AddOrganizationModel.DisplayName,
                                    new
                                    {
                                        data_ng_model = "AddOrganizationModel.DisplayName",
                                        @class = "form-control input-sm",
                                        placeholder = Resource.DisplayName,
                                        maxlength = 100
                                    })

                                @Html.ValidationMessageFor(m => m.AddOrganizationModel.DisplayName)
                            </div>


                            <div class="form-group col-lg-4 col-md-4 col-sm-12">
                                <label class="control-label required">@Resource.Email</label>
                                @Html.TextBoxFor(m => m.AddOrganizationModel.Email,
                                    new
                                    {
                                        data_ng_model = "AddOrganizationModel.Email",
                                        @class = "form-control input-sm",
                                        placeholder = Resource.Email,
                                        maxlength = 100
                                    })

                                @Html.ValidationMessageFor(m => m.AddOrganizationModel.Email)
                            </div>





                            <div class="form-group col-lg-4 col-md-4 col-sm-12">
                                <label class="control-label required">@Resource.Mobile</label>
                                @Html.TextBoxFor(m => m.AddOrganizationModel.Mobile,
                                    new
                                    {
                                        data_ng_model = "AddOrganizationModel.Mobile",
                                        @class = "form-control input-sm",
                                        maxlength = 15,
                                        placeholder = "(XXX) XXX-XXXX",
                                        phone_input = ""
                                    })

                                @Html.ValidationMessageFor(m => m.AddOrganizationModel.Mobile)
                            </div>




                            <div class="form-group col-lg-4 col-md-4 col-sm-12">
                                <label class="control-label required">@Resource.WorkPhone</label>
                                @Html.TextBoxFor(m => m.AddOrganizationModel.WorkPhone,
                                    new
                                    {
                                        data_ng_model = "AddOrganizationModel.WorkPhone",
                                        @class = "form-control input-sm",
                                        maxlength = 15,
                                        placeholder = "(XXX) XXX-XXXX",
                                        phone_input = ""
                                    })

                                @Html.ValidationMessageFor(m => m.AddOrganizationModel.WorkPhone)
                            </div>



                            <div class="form-group col-lg-4 col-md-4 col-sm-12">
                                <label class="control-label required">@Resource.OrganizationType </label>
                                <i class="fa fa-question-circle" data-ng-tooltip="@Resource.DefaultOrganizationType" data-ng-custom-class="tooltip-extra-z-index"></i>

                                @Html.DropDownListFor(m => m.AddOrganizationModel.OrganizationTypeID, Model.OrganizationTypeList.ToSelectList(Convert.ToString(Model.AddOrganizationModel.OrganizationTypeID), "Name", "Value", Resource.Select, ""), new
                                            {
                                                id = "OrganizationType",
                                                data_ng_model = "AddOrganizationModel.OrganizationTypeID",
                                                data_ng_init = "AddOrganizationModel.OrganizationTypeID=AddOrganizationModel.OrganizationTypeID==''?null:AddOrganizationModel.OrganizationTypeID",
                                                @class = "form-control input-sm"
                                            })
                                @Html.ValidationMessageFor(q => q.AddOrganizationModel.OrganizationTypeID)
                            </div>



                            <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                <label class="control-label">@Resource.DefaultEsignTerms</label>



                                <div>
                                    @Html.TextAreaFor(m => m.AddOrganizationModel.DefaultEsignTerms,
                                    new
                                    {
                                        data_ng_model = "AddOrganizationModel.DefaultEsignTerms",
                                        @class = "form-control hideErrorContent replaceErrorSource",
                                        tabindex = "-1"
                                    })

                                    @Html.ValidationMessageFor(m => m.AddOrganizationModel.DefaultEsignTerms)

                                    <div class="replaceErrorDest summerNoteEditor">
                                        <summernote data-ng-model="AddOrganizationModel.DefaultEsignTerms" height="200"></summernote>
                                    </div>
                                </div>



                            </div>



                        </div>
                    </div>
                </form>
            </div>


            <div class="modal-footer">
                <div class="col-md-12">
                    <button type="button" class="btn btn-sm btn-danger red" data-ng-click="CloseAddOrgModal()">@Resource.Cancel</button>
                    <button type="button" class="btn btn-sm  btn-primary blue" data-ng-click="SaveOrgnization()">@Resource.Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
