@model SetCustomerEsignModel
<div class="row">
    <div class="col-md-12 clearfix no-padding">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>@Resource.BasicInformation
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="frmCustomerEsign" class="horizontal-form">
                    <div class="form-body">
                        <h3 class="form-section">@Resource.CompanyInfo</h3>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="control-label required">
                                    @Resource.CompanyName
                                </label>
                                @Html.TextBoxFor(m => m.CustomerEsignDetails.CompanyName, new { data_ng_model = "CustomerEsignDetails.CompanyName", @class = "form-control input-sm", placeholder = Resource.CompanyName, maxlength = 100 })
                                @Html.ValidationMessageFor(m => m.CustomerEsignDetails.CompanyName)
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label required">
                                    @Resource.DisplayName
                                </label>
                                @Html.TextBoxFor(m => m.CustomerEsignDetails.DisplayName, new { data_ng_model = "CustomerEsignDetails.DisplayName", @class = "form-control input-sm", placeholder = Resource.DisplayName, maxlength = 100 })
                                @Html.ValidationMessageFor(m => m.CustomerEsignDetails.DisplayName)
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label required">
                                    @Resource.DomainName
                                </label>
                                @Html.TextBoxFor(m => m.CustomerEsignDetails.DomainName, new { data_ng_model = "CustomerEsignDetails.DomainName", @class = "form-control input-sm", placeholder = Resource.DomainName, maxlength = 63 })
                                @Html.ValidationMessageFor(m => m.CustomerEsignDetails.DomainName)
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label required">
                                    @Resource.Email
                                </label>
                                @Html.TextBoxFor(m => m.CustomerEsignDetails.Email, new { data_ng_model = "CustomerEsignDetails.Email", @class = "form-control input-sm", placeholder = Resource.Email, maxlength = 100 })
                                @Html.ValidationMessageFor(m => m.CustomerEsignDetails.Email)
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label required">
                                    @Resource.Phone
                                </label>
                                @Html.TextBoxFor(m => m.CustomerEsignDetails.Phone, new { data_ng_model = "CustomerEsignDetails.Phone", @class = "form-control input-sm", placeholder = "(XXX) XXX-XXXX", maxlength = 15, phone_input = "" })
                                @Html.ValidationMessageFor(m => m.CustomerEsignDetails.Phone)
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label required">
                                    @Resource.WorkPhone
                                </label>
                                @Html.TextBoxFor(m => m.CustomerEsignDetails.WorkPhone, new { data_ng_model = "CustomerEsignDetails.WorkPhone", @class = "form-control input-sm", placeholder = "(XXX) XXX-XXXX", maxlength = 15, phone_input = "" })
                                @Html.ValidationMessageFor(m => m.CustomerEsignDetails.WorkPhone)
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label required">
                                    @Resource.EsignName
                                </label>
                                @Html.TextBoxFor(m => m.CustomerEsignDetails.EsignName, new { data_ng_model = "CustomerEsignDetails.EsignName", @class = "form-control input-sm", placeholder = Resource.EsignName, maxlength = 100 })
                                @Html.ValidationMessageFor(m => m.CustomerEsignDetails.EsignName)
                            </div>
                        </div>

                        <h3 class="form-section">@Resource.Configuration</h3>
                        <div class="row">
                            @Html.HiddenFor(m=>m.OrganizationSettingDetails.OrganizationID)
                            @Html.HiddenFor(m => m.OrganizationSettingDetails.OrganizationSettingID)
                            <div class="form-group col-md-2">
                                <label class="control-label">
                                    @Resource.SMTPSettings
                                </label>
                                <div class="custom_switch">
                                    <input type="radio" id="IsSMTPSettingsEntered_1" name="IsSMTPSettingsEntered" data-ng-model="OrganizationSettingDetails.IsSMTPSettingsEntered"
                                           ng-value="true" />
                                    <label for="IsSMTPSettingsEntered_1">@Resource.Add</label>
                                    <input type="radio" id="IsSMTPSettingsEntered_0" name="IsSMTPSettingsEntered" data-ng-model="OrganizationSettingDetails.IsSMTPSettingsEntered"
                                           ng-value="false" />
                                    <label for="IsSMTPSettingsEntered_0">@Resource.Skip</label>
                                    <span class="custom_switchwrapper"></span>
                                </div>
                                @Html.ValidationMessageFor(m => m.OrganizationSettingDetails.IsSMTPSettingsEntered)
                            </div>
                            <div ng-show="OrganizationSettingDetails.IsSMTPSettingsEntered == true">
                                <div class="form-group col-md-2">
                                    <label class="control-label">
                                        @Resource.NetworkHost
                                    </label>
                                    @Html.TextBoxFor(m => m.OrganizationSettingDetails.NetworkHost, new { data_ng_model = "OrganizationSettingDetails.NetworkHost", @class = "form-control input-sm", placeholder = Resource.NetworkHost, maxlength = 200 })
                                    @Html.ValidationMessageFor(m => m.OrganizationSettingDetails.NetworkHost)
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label">
                                        @Resource.NetworkPort
                                    </label>
                                    @Html.TextBoxFor(m => m.OrganizationSettingDetails.NetworkPort, new { data_ng_model = "OrganizationSettingDetails.NetworkPort", @class = "form-control input-sm", placeholder = Resource.NetworkPort, maxlength = 200 })
                                    @Html.ValidationMessageFor(m => m.OrganizationSettingDetails.NetworkPort)
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label">
                                        @Resource.FromTitle
                                    </label>
                                    @Html.TextBoxFor(m => m.OrganizationSettingDetails.FromTitle, new { data_ng_model = "OrganizationSettingDetails.FromTitle", @class = "form-control input-sm", placeholder = Resource.FromTitle, maxlength = 200 })
                                    @Html.ValidationMessageFor(m => m.OrganizationSettingDetails.FromTitle)
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label">
                                        @Resource.FromEmail
                                    </label>
                                    @Html.TextBoxFor(m => m.OrganizationSettingDetails.FromEmail, new { data_ng_model = "OrganizationSettingDetails.FromEmail", @class = "form-control input-sm", placeholder = Resource.FromEmail, maxlength = 200 })
                                    @Html.ValidationMessageFor(m => m.OrganizationSettingDetails.FromEmail)
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label">
                                        @Resource.Password
                                    </label>
                                    @Html.TextBoxFor(m => m.OrganizationSettingDetails.FromEmailPassword, new { data_ng_model = "OrganizationSettingDetails.FromEmailPassword", @class = "form-control input-sm", placeholder = Resource.Password, maxlength = 200 })
                                    @Html.ValidationMessageFor(m => m.OrganizationSettingDetails.FromEmailPassword)
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label">
                                        @Resource.EnableSSL
                                    </label>
                                    @Html.DropDownListFor(m => m.OrganizationSettingDetails.EnableSSL, Common.SetTrueFalseListForBoolean().ToSelectList(Convert.ToString(Model.OrganizationSettingDetails.EnableSSL), "Name", "Value"), new
                               {
                                   id = "EnableSSL",
                                   data_ng_model = "OrganizationSettingDetails.EnableSSL",
                                   data_ng_init = "OrganizationSettingDetails.EnableSSL=OrganizationSettingDetails.EnableSSL==''?null:OrganizationSettingDetails.EnableSSL",
                                   @class = "form-control input-sm",
                                   convert_to_boolean = ""
                               })
                                    @Html.ValidationMessageFor(m => m.OrganizationSettingDetails.EnableSSL)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="control-label">
                                    @Resource.TwilioSettings
                                </label>
                                <div class="custom_switch">
                                    <input type="radio" id="IsTwilioSettingsEntered_1" name="IsTwilioSettingsEntered" data-ng-model="OrganizationSettingDetails.IsTwilioSettingsEntered"
                                           ng-value="true" />
                                    <label for="IsTwilioSettingsEntered_1">@Resource.Add</label>
                                    <input type="radio" id="IsTwilioSettingsEntered_0" name="IsTwilioSettingsEntered" data-ng-model="OrganizationSettingDetails.IsTwilioSettingsEntered"
                                           ng-value="false" />
                                    <label for="IsTwilioSettingsEntered_0">@Resource.Skip</label>
                                    <span class="custom_switchwrapper"></span>
                                </div>
                                @Html.ValidationMessageFor(m => m.OrganizationSettingDetails.IsTwilioSettingsEntered)
                            </div>
                            <div ng-show="OrganizationSettingDetails.IsTwilioSettingsEntered == true">
                                <div class="form-group col-md-2">
                                    <label class="control-label">@Resource.Location &nbsp;<i class="fa fa-question-circle" data-ng-tooltip="@Resource.TwilioLocation" data-ng-custom-class="tooltip-extra-z-index"></i></label>
                                    @Html.TextBoxFor(m => m.OrganizationSettingDetails.TwilioLocation, new { data_ng_model = "OrganizationSettingDetails.TwilioLocation", @class = "form-control input-sm", placeholder = Resource.Location, maxlength = 100 })
                                    @Html.ValidationMessageFor(q => q.OrganizationSettingDetails.TwilioLocation)
                                </div>
                            </div>
                            <div ng-show="1 != 1">
                                <div class="form-group col-md-2">
                                    <label class="control-label">@Resource.TwilioRegionCode</label>
                                    @Html.DropDownListFor(m => m.OrganizationSettingDetails.TwilioCountryCode, Common.GetTwilioCountryCodes().ToSelectList(Convert.ToString(Model.OrganizationSettingDetails.TwilioCountryCode), "Name", "Value", Resource.Select, ""), new
                               {
                                   id = "TwilioCountryCode",
                                   data_ng_model = "OrganizationSettingDetails.TwilioCountryCode",
                                   data_ng_init = "OrganizationSettingDetails.TwilioCountryCode=OrganizationSettingDetails.TwilioCountryCode==''?null:OrganizationSettingDetails.TwilioCountryCode",
                                   @class = "form-control input-sm"
                               })
                                    @Html.ValidationMessageFor(q => q.OrganizationSettingDetails.TwilioCountryCode)
                                </div>
                            </div>
                        </div>

                        <h3 class="form-section">@Resource.ServicePlan</h3>
                        <div class="row">
                            <div class="price-table-wrapper">
                                <div data-ng-repeat="servicePlan in ServicePlans">
                                    <div class="col-sm-3">
                                        <div class="{{servicePlan.PlanClass}}">
                                            <div class="pricing-table__header" ng-click="SelectPlanDiv($index)">
                                                <span>{{servicePlan.ServicePlanName}}</span>
                                                <input type="checkbox" name="servicePlan" apply-uniform id="servicePlan_{{servicePlan.ServicePlanID}}" class="unicheckbox chk-plan input-sm" ng-model="servicePlan.IsSelected" ng-change="SelectPlan($index)" />
                                                @*<i class="fa fa-check-circle fa-lg" aria-hidden="true" ng-show="servicePlan.IsSelected"></i>*@
                                            </div>
                                            <ul class="theplan">
                                                <li><i class="fa fa-question-circle" data-ng-tooltip="@Resource.PatientAllowed" data-ng-custom-class="tooltip-extra-z-index"></i>@Resource.PatientAllowed: <b>{{servicePlan.Patient}}</b></li>
                                                <li><i class="fa fa-question-circle" data-ng-tooltip="@Resource.FacilityAllowed" data-ng-custom-class="tooltip-extra-z-index"></i>@Resource.FacilityAllowed: <b>{{servicePlan.Facility}}</b></li>
                                                <li><i class="fa fa-question-circle" data-ng-tooltip="@Resource.TaskAllowed" data-ng-custom-class="tooltip-extra-z-index"></i>@Resource.TaskAllowed: <b>{{servicePlan.Task}}</b></li>
                                                <li><i class="fa fa-question-circle" data-ng-tooltip="@Resource.EmployeeAllowed" data-ng-custom-class="tooltip-extra-z-index"></i>@Resource.EmployeeAllowed: <b>{{servicePlan.Employee}}</b></li>
                                                <li><i class="fa fa-question-circle" data-ng-tooltip="@Resource.BillingPercentage" data-ng-custom-class="tooltip-extra-z-index"></i>@Resource.BillingPercentage: <b>{{servicePlan.Billing}} %</b></li>
                                                <li data-ng-if="servicePlan.SetupFees != null">@Resource.SetupFees: <b>{{servicePlan.SetupFees}}</b></li>
                                                <li data-ng-repeat="item in $parent.ServicePlanComponents | filter : { ServicePlanID: servicePlan.ServicePlanID } : true">
                                                    {{item.Title}}
                                                </li>
                                            </ul>
                                            <h3 class="pricing-table__price">${{servicePlan.PerPatientPrice}}/@Resource.Patient/{{servicePlan.NumberOfDaysForBilling}} @Resource.Days</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions right">
                        <input type="submit" data-ng-click="SaveCustomerEsign()" class="btn btn-sm green-jungle pull-right" value="@Resource.Save" />
                        <input type="button" data-ng-click="Cancel()" class="btn btn-sm red-mint pull-right margin-right-10" value="@Resource.Cancel" />
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
