<div class="row">
    <div class="col-md-12 pull-right">
        <a href="@Constants.AddGroupMonthlySummaryURL" class="btn btn-primary pull-right" type="button" data-ng-click="gotoStep(currentStep + 1)">@Resource.AddGroupMonthlySummary</a>
        <a href="#" class="btn btn-primary pull-right margin-right-20" type="button" data-ng-click="GetSnapshotPrintReport()">@Resource.Print</a>

    </div>
    <div class="col-md-12 margin-top-15">
        <div class="alert alert-success" role="alert">
            <span class="fa fa-check" aria-hidden="true"></span>
            @Resource.GroupSummarySavedSuccessfully
        </div>
    </div>

    <div class="col-md-12" data-ng-if="GroupNoteMsg.ErrorCount > 0">
        <div class="note note-danger">
            <h4 class="block">@Resource.FailedSummaries</h4>
            <span data-ng-bind-html="GroupNoteMsg.ErrorMsg"></span>
        </div>
    </div>

    <div class="col-md-12" data-ng-if="GroupNoteMsg.SuccessCount > 0">
        <div class="note note-success">
            <h4 class="block">@Resource.SuccessSummaries</h4>
            <span data-ng-bind-html="GroupNoteMsg.SuccessMsg"></span>
        </div>
    </div>

</div>
