@model HC_AddReferralModel
@Html.Hidden("hdnSetBillingSettingModel", Common.SerializeObject(Model))

<form id="FrmInsAuthCode">
    <div>
        <div class="fscontainer">
            <div class="legend">
                @Resource.BillingSettings
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group col-lg-3 col-md-3 col-sm-3">
                        <label class="control-label">@Resource.FacilityCode
                            <i class="fa fa-question-circle font-size-15" data-ng-tooltip="@Resource.FacilityCodeDescription"
                       data-ng-custom-class="tooltip-extra-z-index"></i>
                        </label>
                        <a target="_blank" href="@(Constants.HC_GeneralMasterURL + (int)Common.DDType.FacilityCode)" class="padding-left-5">
                            <i class="fa fa-plus padding-right-5 font-size-15" data-ng-tooltip="@Resource.AddFacilityCode" data-ng-custom-class="tooltip-extra-z-index"></i>
                        </a>
                        @Html.DropDownListFor(p => p.ReferralBillingSetting.POS_UB04, Model.FacilityCodeList.ToSelectList(Model.ReferralBillingSetting.POS_UB04.ToString() ?? "", "Name", "Value", @Resource.Select, ""),
                    new
                    {
                        convert_to_number = "",
                        data_ng_model = "ReferralModel.ReferralBillingSetting.POS_UB04",
                        data_ng_init = "ReferralModel.ReferralBillingSetting.POS_UB04=(ReferralModel.ReferralBillingSetting.POS_UB04==null || ReferralModel.ReferralBillingSetting.POS_UB04==0)?'':ReferralModel.ReferralBillingSetting.POS_UB04",
                        @class = "form-control input-sm",
                    })
                        @*@Html.ValidationMessageFor(q => q.ReferralBillingSetting.POS_UB04)*@
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-3">
                        <label class="control-label">
                            @Resource.AdmissionType
                            <i class="fa fa-question-circle font-size-15" data-ng-tooltip="@Resource.AdmissionTypeDescription"
                       data-ng-custom-class="tooltip-extra-z-index"></i>
                        </label>
                        <a target="_blank" href="@(Constants.HC_GeneralMasterURL + (int)Common.DDType.AdmissionType)" class="padding-left-5">
                            <i class="fa fa-plus padding-right-5 font-size-15" data-ng-tooltip="@Resource.AddAdmissionType" data-ng-custom-class="tooltip-extra-z-index"></i>
                        </a>
                        @Html.DropDownListFor(p => p.ReferralBillingSetting.AdmissionTypeCode_UB04, Model.AdmissionTypeList.ToSelectList(Model.ReferralBillingSetting.AdmissionTypeCode_UB04.ToString() ?? "", "Name", "Value", @Resource.Select, ""),
                    new
                    {
                        convert_to_number = "",
                        data_ng_model = "ReferralModel.ReferralBillingSetting.AdmissionTypeCode_UB04",
                        data_ng_init = "ReferralModel.ReferralBillingSetting.AdmissionTypeCode_UB04=(ReferralModel.ReferralBillingSetting.AdmissionTypeCode_UB04==null || ReferralModel.ReferralBillingSetting.AdmissionTypeCode_UB04==0)?'':ReferralModel.ReferralBillingSetting.AdmissionTypeCode_UB04",
                        @class = "form-control input-sm",
                    })
                        @*@Html.ValidationMessageFor(q => q.ReferralBillingSetting.AdmissionTypeCode_UB04)*@
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-3">
                        <label class="control-label">@Resource.AdmissionSource
                            <i class="fa fa-question-circle font-size-15" data-ng-tooltip="@Resource.AdmissionSourceDescription"
                       data-ng-custom-class="tooltip-extra-z-index"></i>
                        </label>
                        <a target="_blank" href="@(Constants.HC_GeneralMasterURL + (int)Common.DDType.AdmissionSource)" class="padding-left-5">
                            <i class="fa fa-plus padding-right-5 font-size-15" data-ng-tooltip="@Resource.AddAdmissionSource" data-ng-custom-class="tooltip-extra-z-index"></i>
                        </a>
                        @Html.DropDownListFor(p => p.ReferralBillingSetting.AdmissionSourceCode_UB04, Model.AdmissionSourceList.ToSelectList(Model.ReferralBillingSetting.AdmissionSourceCode_UB04.ToString() ?? "", "Name", "Value", @Resource.Select, ""),
                    new
                    {
                        convert_to_number = "",
                        data_ng_model = "ReferralModel.ReferralBillingSetting.AdmissionSourceCode_UB04",
                        data_ng_init = "ReferralModel.ReferralBillingSetting.AdmissionSourceCode_UB04=(ReferralModel.ReferralBillingSetting.AdmissionSourceCode_UB04==null || ReferralModel.ReferralBillingSetting.AdmissionSourceCode_UB04==0)?'':ReferralModel.ReferralBillingSetting.AdmissionSourceCode_UB04",
                        @class = "form-control input-sm",
                    })
                        @*@Html.ValidationMessageFor(q => q.ReferralBillingSetting.AdmissionSourceCode_UB04)*@
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-3">
                        <label class="control-label">@Resource.PatientStatus
                            <i class="fa fa-question-circle font-size-15" data-ng-tooltip="@Resource.PatientStatusDescription"
                               data-ng-custom-class="tooltip-extra-z-index"></i>
                        </label>
                        <a target="_blank" href="@(Constants.HC_GeneralMasterURL + (int)Common.DDType.PatientStatus)" class="padding-left-5">
                            <i class="fa fa-plus padding-right-5 font-size-15" data-ng-tooltip="@Resource.AddPatientStatus" data-ng-custom-class="tooltip-extra-z-index"></i>
                        </a>
                        @Html.DropDownListFor(p => p.ReferralBillingSetting.PatientStatusCode_UB04, Model.PatientDischargeStatusList.ToSelectList(Model.ReferralBillingSetting.PatientStatusCode_UB04.ToString() ?? "", "Name", "Value", @Resource.Select, ""),
                            new
                            {
                                convert_to_number = "",
                                data_ng_model = "ReferralModel.ReferralBillingSetting.PatientStatusCode_UB04",
                                data_ng_init = "ReferralModel.ReferralBillingSetting.PatientStatusCode_UB04=(ReferralModel.ReferralBillingSetting.PatientStatusCode_UB04==null || ReferralModel.ReferralBillingSetting.PatientStatusCode_UB04==0)?'':ReferralModel.ReferralBillingSetting.PatientStatusCode_UB04",
                                @class = "form-control input-sm",
                            })
                        @*@Html.ValidationMessageFor(q => q.ReferralBillingSetting.PatientStatusCode_UB04)*@
                    </div>
                    
                @if (Common.HasPermission(Constants.HC_Permission_PatientIntake_Billing_Details_Add))
                {
                    <div class="form-group col-lg-3 col-md-3 col-sm-3 margin-top-17">
                        <button type="submit" class="btn btn-sm blue" data-ng-click="SaveReferralBillingSetting(false)">
                            <i class="fa fa-save ">&nbsp;&nbsp;</i>@Resource.SaveSettings
                        </button>
                    </div>
                }
                    <div class="clearleft"></div>
                </div>
            </div>
        </div>
    </div>

</form>

<div>

    <div class="fscontainer margin-top-10">
        <div class="legend">
            @Resource.AuthorizationUB04
        </div>
        @Html.Partial("Partial/BillingSetting/_authorization")
    </div>
</div>
