@{
    var IsEdit = Model != null && Model.AssesmentQuestion.AssessmentQuestionID> 0;
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, (IsEdit ? Resource.EditAssessmentQuestion : Resource.AddAssessmentQuestion));
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedMenuItem = Resource.SMI_AddAssessmentQuestion;
}

@model AssessmentModel

@if (Model != null)
{
    @Html.Hidden("hdnAssessmentQuestionModel", Common.SerializeObject(Model))
    <div data-ng-controller="AddAssessmentQuestionController ">
        <form class="form-horizontal" id="frmAssessmentQuestion">
            <div class="page-bar">
                <h3 class="page-title">
                    @(IsEdit ? Resource.EditAssessmentQuestion : Resource.AddAssessmentQuestion)
                    <small>@Resource.EnterAssessmentQuestionInformation</small>
                    <input type="submit" data-ng-click="Save()" class="btn btn-sm green-jungle pull-right" value="@(IsEdit ? Resource.Update : Resource.Save)" />
                    <input type="button" data-ng-click="Cancel()" class="btn btn-sm red-mint pull-right margin-right-10" value="@Resource.Cancel" />
                </h3>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="fscontainer">
                                <div class="legend">
                                    @Resource.QuestionDetail
                                </div>

                                <div class="col-sm-push-2 col-sm-8 no-padding">
                                    <div class="col-sm-12">

                                        <div class="form-group">
                                            <label class="col-md-3 control-label required">@Resource.TaskType
                                                <i class="fa fa-question-circle font-size-15" data-ng-tooltip="@Resource.TaskTypeHelptext"
                                                   data-ng-custom-class="tooltip-extra-z-index"></i>
                                            </label>
                                            <div class="col-md-7 col-sm-12">
                                                @Html.DropDownListFor(p => p.VisitTask.VisitTaskType, Model.VisitTaskTypes.ToSelectList(Model.VisitTask.VisitTaskType ?? "", "Name", "Value", @Resource.SelectTaskType, ""),
                                                                          new
                                                                          {
                                                                              data_ng_model = "VisitTask.VisitTaskType",
                                                                              data_ng_init = "VisitTask.VisitTaskType=VisitTask.VisitTaskType==''?null:VisitTask.VisitTaskType",
                                                                              @class = "form-control input-sm",
                                                                              data_ng_change="GetVisitTaskCategory()"
                                                                          })
                                                @Html.ValidationMessageFor(q => q.VisitTask.VisitTaskType)
                                            </div>
                                        </div>

                                         <div class="form-group" data-ng-if="VisitTask.VisitTaskType=='@VisitTask.TaskType.Task.ToString()'">
                                            <label class="col-md-3 control-label required">
                                                @Resource.VisitType
                                            </label>
                                            <div class="col-md-7 col-sm-12">
                                                @Html.DropDownListFor(m => m.VisitTask.VisitType,Model.VisitTypeList.ToSelectList(Convert.ToString(Model.VisitTask.VisitType), "Name", "Value",Resource.Select,""), new
                                                {
                                                    id = "VisitType",
                                                    data_ng_model = "VisitTask.VisitType",
                                                    data_ng_init = "VisitTask.VisitType=VisitTask.VisitType==''?null:VisitTask.VisitType",
                                                    @class = "form-control input-sm",
                                                    data_ng_change="OnVisitTypeChange()",
                                                    convert_to_number = ""
                                                })
                                                @Html.ValidationMessageFor(q => q.VisitTask.VisitType)
                                            </div>
                                        </div>

                                        <div class="form-group" data-ng-if="VisitTask.VisitTaskType=='@VisitTask.TaskType.Task.ToString()'">
                                            <label class="col-md-3 control-label required">
                                                @Resource.CareType
                                            </label>
                                            <div class="col-md-7 col-sm-12">
                                               @Html.DropDownListFor(m => m.VisitTask.CareType, new List<SelectListItem>() { new SelectListItem() { Value = "", Text = "Select" } },
                                               new
                                               {
                                                   @class = "form-control input-sm",
                                                   data_ng_model = "VisitTask.CareType",
                                                   data_ng_init = "VisitTask.CareType=VisitTask.CareType==''?null:VisitTask.CareType",
                                                   data_ng_options = "dd.Value as dd.Name for dd in CareTypeList"
                                               })
                                                @Html.ValidationMessageFor(q => q.VisitTask.CareType)
                                            </div>
                                        </div>

                                         <div class="form-group" data-ng-if="VisitTask.VisitTaskType=='@VisitTask.TaskType.Task.ToString()'">
                                            <label class="col-md-3 control-label">@Resource.ServiceCode
                                                <i class="fa fa-question-circle font-size-15" data-ng-tooltip="@Resource.VisitTaskServiceCodeHelptext"
                                                   data-ng-custom-class="tooltip-extra-z-index"></i>
                                             </label>
                                            <div class="col-md-7 col-sm-12">
                                                <div class="replaceErrorDest">
                                                    <input type="text"
                                                           token-input
                                                           ng-val="VisitTask.ServiceCodeID"
                                                           textfield='ServiceCode'
                                                           valuefield='ServiceCodeID'
                                                           searchurl="{{GetServiceCodeListURL}}"
                                                           placeholder="@Resource.EnterServiceCode"
                                                           tokenlimit='1'
                                                           onresultsformatter='ServiceCodeResultsFormatter'
                                                           ontokenformatter="ServiceCodeTokenFormatter"
                                                           id="SearchContactToken"
                                                           customclass="form-control input-sm" />
                                                </div>
                                                @*@Html.TextBoxFor(q => q.VisitTask.ServiceCodeID,
                                                                 new
                                                                     {
                                                                         data_ng_model = "VisitTask.ServiceCodeID",
                                                                         @class = "form-control hideErrorContent replaceErrorSource"
                                                                     })
                                                @Html.ValidationMessageFor(q => q.VisitTask.ServiceCodeID)*@
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-md-3 control-label">@Resource.Category
                                                <i class="fa fa-question-circle font-size-15" data-ng-tooltip="@Resource.VisitTaskCategoryHelptext"
                                                   data-ng-custom-class="tooltip-extra-z-index"></i>
                                            </label>
                                            <div class="col-md-7 col-sm-12">
                                                <select class="form-control input-sm" data-ng-model="VisitTask.VisitTaskCategoryID" data-ng-change="GetVisitTaskSubCategory()"
                                                        data-ng-options="item.VisitTaskCategoryID as item.VisitTaskCategoryName for item in VisitTaskCategories">
                                                    <option value="">@Resource.SelectCategory</option>
                                                </select>
                                            </div>

                                            <div class="pull-left">
                                                <button type="button" class="btn btn-sm green-jungle" data-ng-click="OpenCategoryModal($event,1)" title="@Resource.AddCategory">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">@Resource.SubCategory
                                                <i class="fa fa-question-circle font-size-15" data-ng-tooltip="@Resource.VisitTaskSubCategoryHelptext"
                                                   data-ng-custom-class="tooltip-extra-z-index"></i>
                                            </label>
                                            <div class="col-md-7 col-sm-12">
                                                <select class="form-control input-sm" data-ng-model="VisitTask.VisitTaskSubCategoryID"
                                                        data-ng-options="item.VisitTaskCategoryID as item.VisitTaskCategoryName for item in VisitTaskSubCategories">
                                                    <option value="">@Resource.SelectSubCategory</option>
                                                </select>
                                            </div>
                                            <div class="pull-left">
                                                <button type="button" class="btn btn-sm green-jungle" data-ng-click="OpenCategoryModal($event,2)" title="@Resource.AddSubCategory">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label required">@Resource.TaskDetail
                                                <i class="fa fa-question-circle font-size-15" data-ng-tooltip="@Resource.TaskDetailHelptext"
                                                   data-ng-custom-class="tooltip-extra-z-index"></i>
                                            </label>
                                            <div class="col-md-7 col-sm-12">
                                                @Html.TextBoxFor(q => q.VisitTask.VisitTaskDetail, new
                                           {
                                               @class = "form-control input-sm",
                                               data_ng_model = "VisitTask.VisitTaskDetail",
                                               placeholder = Resource.EnterTaskDetail,
                                               maxlength = 1000
                                           })
                                                @Html.ValidationMessageFor(q => q.VisitTask.VisitTaskDetail)

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">@Resource.IsRequired
                                                <i class="fa fa-question-circle font-size-15" data-ng-tooltip="@Resource.IsRequiredHelptext"
                                                   data-ng-custom-class="tooltip-extra-z-index"></i>
                                            </label>
                                            <div class="col-md-7 col-sm-12">
                                                @Html.DropDownListFor(m => m.VisitTask.IsRequired, Common.SetYesNoListForBoolean().ToSelectList(Convert.ToString(Model.VisitTask.IsRequired), "Name", "Value"), new
                                           {
                                               id = "IsRequired",
                                               data_ng_model = "VisitTask.IsRequired",
                                               data_ng_init = "VisitTask.IsRequired=VisitTask.IsRequired==''?null:VisitTask.IsRequired",
                                               @class = "form-control input-sm",
                                               convert_to_boolean = "",
                                               //disabled="disabled"
                                           })
                                                @Html.ValidationMessageFor(q => q.VisitTask.IsRequired)
                                            </div>
                                        </div>

                                        <div data-ng-show="VisitTask.VisitTaskType=='@VisitTask.TaskType.Task.ToString()'">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">@Resource.MinimumTimeRequired
                                                    <i class="fa fa-question-circle font-size-15" data-ng-tooltip="@Resource.MinimumTimeRequiredHelptext"
                                                       data-ng-custom-class="tooltip-extra-z-index"></i>
                                                </label>
                                                <div class="col-md-7 col-sm-12">
                                                    <div class="col-md-6 no-padding">
                                                        @Html.TextBoxFor(q => q.VisitTask.MinimumTimeRequired,
                                                new
                                                {
                                                    @class = "form-control input-sm",
                                                    data_ng_model = "VisitTask.MinimumTimeRequired",
                                                    placeholder = @Resource.MinimumTimeRequired,
                                                    maxlength = 5
                                                })
                                                        @Html.ValidationMessageFor(q => q.VisitTask.MinimumTimeRequired)
                                                    </div>
                                                    <div class="col-md-6 no-padding">
                                                        <input type="text" disabled="disabled" class="form-control input-sm" value="@Resource.Minutes" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group" data-ng-if="VisitTask.VisitTaskType=='@VisitTask.TaskType.Conclusion.ToString()'">
                                            <label class="col-md-3 control-label">
                                                @Resource.SendAlert
                                                <i class="fa fa-question-circle font-size-16" data-ng-tooltip="@Resource.SendAlertHelpText" data-ng-custom-class="tooltip-extra-z-index"></i>
                                            </label>
                                            <div class="col-md-7 col-sm-12">
                                                @Html.DropDownListFor(m => m.VisitTask.SendAlert, Common.SetYesNoListForBoolean().ToSelectList(Convert.ToString(Model.VisitTask.SendAlert), "Name", "Value"), new
                                           {
                                               id = "SendAlert",
                                               data_ng_model = "VisitTask.SendAlert",
                                               data_ng_init = "VisitTask.SendAlert=VisitTask.SendAlert==''?null:VisitTask.SendAlert",
                                               @class = "form-control input-sm",
                                               convert_to_boolean = ""
                                           })
                                                @Html.ValidationMessageFor(q => q.VisitTask.SendAlert)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">
                                                @Resource.DefaultFrequency
                                            <i class="fa fa-question-circle font-size-15" data-ng-tooltip="@Resource.DefaultFrequencyHelptext"
                                               data-ng-custom-class="tooltip-extra-z-index"></i>
                                        </label>
                                        <div class="col-md-7 col-sm-12">
                                            <select class="form-control input-sm" data-ng-model="VisitTask.Frequency"
                                                    data-ng-options="item.Name as item.Name for item in TaskFrequencyCodeList">
                                                <option value="">@Resource.SelectFrequency</option>
                                            </select>
                                        </div>
                                    </div>


                                        <div class="form-group">
                                            <label class="col-md-3 control-label">@Resource.IsDefault
                                                <i class="fa fa-question-circle font-size-15" data-ng-tooltip="@Resource.IsDefaultHelptext"
                                                   data-ng-custom-class="tooltip-extra-z-index"></i>
                                            </label>
                                            <div class="col-md-7 col-sm-12">
                                                @Html.DropDownListFor(m => m.VisitTask.IsDefault, Common.SetYesNoListForBoolean().ToSelectList(Convert.ToString(Model.VisitTask.IsDefault), "Name", "Value"), new
                                           {
                                               id = "IsDefault",
                                               data_ng_model = "VisitTask.IsDefault",
                                               data_ng_init = "VisitTask.IsDefault=VisitTask.IsDefault==''?null:VisitTask.IsDefault",
                                               @class = "form-control input-sm",
                                               convert_to_boolean = ""
                                           })
                                                @Html.ValidationMessageFor(q => q.VisitTask.IsDefault)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 form-group no-margin no-padding">
                        <input type="submit" data-ng-click="Save()" class="btn btn-sm green-jungle pull-right" value="@(IsEdit ? Resource.Update : Resource.Save)" />
                        <a href="@Constants.VisitTaskListURL">
                            <input type="button" class="btn btn-sm red-mint pull-right margin-right-10" value="@Resource.Cancel" />
                        </a>
                    </div>

                </div>
            </div>
        </form>
        @Html.Partial("Partial/_AddVisitTaskCategory", Model)
    </div>
}
<script type="text/javascript">
    var MaxUnit = "@Resource.MaxUnit";
    var DailyUnitLimit = "@Resource.DailyUnitLimit";
    var Billable = "@Resource.Billable";
    var GroupOption = "@Resource.GroupOption";
</script>
@section Scripts{
    @Scripts.Render("~/assets/js/viewjs/siteApp/Areas/HomeCare/assessmentquestion/addassessmentquestion")
}
