<div class="ah">
    <strong class="pull-left padding-bottom-5px">@Resource.PayorAdjudicationHistory</strong>
    <div class="row clear-both" data-ng-if="cnItem.AHList.length>0">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet-body compact" style="display: block;">
                <div class="table-responsive ">
                    <table class="table table-bordered table-condensed flip-content tblAdjudicationHostory">
                        @*    <table class="table table-bordered table-striped table-condensed flip-content tblAdjudicationHostory">*@
                        <thead class="flip-content">
                            <tr>
                                <th class="">
                                    <span class="anchor_color">@Resource.ClaimStatus</span>
                                </th>
                                <th class="">
                                    <span class="anchor_color">@Resource.Type</span>
                                </th>
                                <th class="">
                                    <span class="anchor_color">@Resource.Batch</span>
                                </th>
                                <th class="">
                                    <span class="anchor_color">@Resource.S277</span>
                                </th>
                                <th class="">
                                    <span class="anchor_color">@Resource.S277CA</span>
                                </th>

                                <th>
                                    <span class="anchor_color">@Resource.PayorClaimNumberLabel</span>
                                </th>

                                <th class="">
                                    <span class="anchor_color">@Resource.ClaimNumberLabel</span>
                                </th>
                                <th class="">
                                    <span class="anchor_color">@Resource.ProcessedDate</span>
                                </th>
                                <th class="">
                                    <span class="anchor_color">@Resource.ReceivedDate</span>
                                </th>
                                <th class="">
                                    <span class="anchor_color">@Resource.AdjustmentCode</span>
                                </th>

                                <th class="">
                                    <span class="anchor_color">@Resource.BilledAmount</span>
                                </th>

                                <th class="">
                                    <span class="anchor_color">@Resource.AllowedAmount</span>
                                </th>

                                <th class="">
                                    <span class="anchor_color">@Resource.PaidAmount</span>
                                </th>
                                <th class="">
                                    <span class="anchor_color">@Resource.CheckNumber</span>
                                </th>


                                <th class="">
                                    <span class="anchor_color">@Resource.CheckAmount</span>
                                </th>
                                <th></th>




                                @* <th class="">
                                        <span class="anchor_color">@Resource.Payor</span>
                                    </th>
                                    <th class="">
                                        <span class="anchor_color">@Resource.ExtractDate</span>
                                    </th>
                                     <th class="">
                                        <span class="anchor_color">@Resource.DXCode</span>
                                    </th>

                                *@


                                @*
                                     <th class="">
                                         <a class="anchor_color" href="javascript:void(0);" data-ng-click="Reconcile835ListPager.sortColumn('ClientName')">@Resource.ClientLabel</a>
                                         <span class="sortorder" data-ng-show="Reconcile835ListPager.sortIndex === 'ClientName'" data-ng-class="{reverse:Reconcile835ListPager.reverse}"></span>
                                     </th>

                                     <th class="">
                                         <a class="anchor_color" href="javascript:void(0);" data-ng-click="Reconcile835ListPager.sortColumn('ClientDob')">@Resource.DOBShort</a>
                                         <span class="sortorder" data-ng-show="Reconcile835ListPager.sortIndex === 'ClientDob'" data-ng-class="{reverse:Reconcile835ListPager.reverse}"></span>
                                     </th>
                                     <th class="">
                                         <a class="anchor_color" href="javascript:void(0);" data-ng-click="Reconcile835ListPager.sortColumn('AHCCCSID')">@Resource.AHCCCSID</a>
                                         <span class="sortorder" data-ng-show="Reconcile835ListPager.sortIndex === 'AHCCCSID'" data-ng-class="{reverse:Reconcile835ListPager.reverse}"></span>
                                     </th>
                                     <th class="">
                                         <a class="anchor_color" href="javascript:void(0);" data-ng-click="Reconcile835ListPager.sortColumn('CISNumber')">@Resource.CISLabel</a>
                                         <span class="sortorder" data-ng-show="Reconcile835ListPager.sortIndex === 'CISNumber'" data-ng-class="{reverse:Reconcile835ListPager.reverse}"></span>
                                     </th>
                                     <th class="">
                                         <a class="anchor_color" href="javascript:void(0);" data-ng-click="Reconcile835ListPager.sortColumn('Population')">@Resource.Population</a>
                                         <span class="sortorder" data-ng-show="Reconcile835ListPager.sortIndex === 'Population'" data-ng-class="{reverse:Reconcile835ListPager.reverse}"></span>
                                     </th>
                                     <th class="">
                                         <a class="anchor_color" href="javascript:void(0);" data-ng-click="Reconcile835ListPager.sortColumn('Title')">@Resource.Title</a>
                                         <span class="sortorder" data-ng-show="Reconcile835ListPager.sortIndex === 'Title'" data-ng-class="{reverse:Reconcile835ListPager.reverse}"></span>
                                     </th>
                                     <th class="">
                                         <a class="anchor_color" href="javascript:void(0);" data-ng-click="Reconcile835ListPager.sortColumn('ServiceDate')">@Resource.ServiceDate</a>
                                         <span class="sortorder" data-ng-show="Reconcile835ListPager.sortIndex === 'ServiceDate'" data-ng-class="{reverse:Reconcile835ListPager.reverse}"></span>
                                     </th>

                                     <th class="">
                                         <a class="anchor_color" href="javascript:void(0);" data-ng-click="Reconcile835ListPager.sortColumn('ServiceCode')">@Resource.ServiceCode</a>
                                         <span class="sortorder" data-ng-show="Reconcile835ListPager.sortIndex === 'ServiceCode'" data-ng-class="{reverse:Reconcile835ListPager.reverse}"></span>
                                     </th>

                                    <th class="">
                                         <a class="anchor_color" href="javascript:void(0);" data-ng-click="Reconcile835ListPager.sortColumn('Modifier')">@Resource.Modifier</a>
                                         <span class="sortorder" data-ng-show="Reconcile835ListPager.sortIndex === 'Modifier'" data-ng-class="{reverse:Reconcile835ListPager.reverse}"></span>
                                     </th>

                                     <th class="">
                                         <a class="anchor_color" href="javascript:void(0);" data-ng-click="Reconcile835ListPager.sortColumn('PosID')">@Resource.POS</a>
                                         <span class="sortorder" data-ng-show="Reconcile835ListPager.sortIndex === 'PosID'" data-ng-class="{reverse:Reconcile835ListPager.reverse}"></span>
                                     </th>
                                     <th class="">
                                         <a class="anchor_color" href="javascript:void(0);" data-ng-click="Reconcile835ListPager.sortColumn('CalculatedUnit')">@Resource.Unit</a>
                                         <span class="sortorder" data-ng-show="Reconcile835ListPager.sortIndex === 'CalculatedUnit'" data-ng-class="{reverse:Reconcile835ListPager.reverse}"></span>
                                     </th>
                                     <th class="">
                                         <span class="anchor_color">@Resource.LoadDate</span>
                                     </th>
                                *@


                            </tr>
                        </thead>
                        <tbody data-ng-repeat="data in cnItem.AHList" class="WhiteBackTbody">
                            <tr data-ng-class="{'markaslatest':data.MarkAsLatest}">
                                @* <td>
                                        <span class="collapseSource curser-pointer font-size-18 font-blue fa fa-plus-circle"
                                              data-toggle="collapse" data-ng-attr-data-target="{{'#ReconcileBatchNoteDetails-'+cnItem.BatchNoteID }}"></span>
                                    </td>*@
                                <td>
                                    <a href="javascript:void(0)" class="status835"
                                       data-toggle="collapse" data-ng-attr-data-target="{{'#ReconcileBatchNoteDetails-'+data.BatchNoteID }}">
                                        {{data.Status ? data.Status:'@Resource.NA'}}
                                    </a>

                                </td>

                                <td>{{data.ClaimType}}</td>
                                <td>{{data.BatchID}}</td>
                                <td>{{data.S277 ? data.S277:'@Resource.NA'}}</td>
                                <td>{{data.S277CA ? data.S277CA:'@Resource.NA'}}</td>
                                <td>{{data.PayorClaimNumber ? data.PayorClaimNumber:'@Resource.NA'}}</td>
                                <td>{{data.ClaimNumber ? data.ClaimNumber:'@Resource.NA'}}</td>

                                <td>{{data.ProcessedDate ? (data.ProcessedDate | dateformat):'@Resource.NA'}}</td>
                                <td>{{data.ReceivedDate ? (data.ReceivedDate | dateformat):'@Resource.NA'}}</td>
                                <td data-ng-attr-title="{{data.AdjustmentCodeDescription}}">{{data.AdjustmentCode ? data.AdjustmentCode:'@Resource.NA'}}</td>
                                <td>{{data.BilledAmount ? (data.BilledAmount | orgcurrency):'@Resource.NA'}}</td>
                                <td>{{data.AllowedAmount ? (data.AllowedAmount | orgcurrency):'@Resource.NA'}}</td>
                                <td>{{data.PaidAmount ? (data.PaidAmount | orgcurrency) :'@Resource.NA'}}</td>
                                <td>{{data.CheckInfomration ? data.CheckInfomration:'@Resource.NA'}}</td>

                                <td>{{data.CheckAmount ? (data.CheckAmount | orgcurrency):'@Resource.NA'}}</td>
                                <td><i class="fa fa-cloud-upload bold cursor-pointer font-red font-size-16" title="@Resource.MasrkAsLatest" data-ng-click="MarkNoteAsLatest(data,cnItem, itemPT,item)"></i></td>


                                @*<td>{{data.Payor ? data.Payor:'@Resource.NA'}}</td>*@
                                @*<td>{{data.ExtractDate ? (data.ExtractDate | dateformat):'@Resource.NA'}}</td>*@
                                @*<td>{{data.DXCode ? data.DXCode:'@Resource.NA'}}</td>*@
                                @*<td>{{data.LoadDate ? (data.LoadDate | dateformat):'@Resource.NA'}}</td>*@
                            </tr>
                            <tr data-ng-attr-id="{{'ReconcileBatchNoteDetails-'+data.BatchNoteID }}" class="collapse">
                                <td colspan="14">
                                    <div class="space20"></div>
                                    <div class="col-md-8">
                                        <strong class="pull-left">@Resource.SubmissionAdjustmentHistory</strong>

                                        <table class="table table-bordered table-striped table-condensed flip-content tblSubmissionAdjudicationHostory clear-both">
                                            <thead class="flip-content">
                                                <tr>
                                                    <th class="width-25P"><span class="anchor_color">@Resource.Group</span></th>
                                                    <th class=""><span class="anchor_color">@Resource.AdjustmentReason</span></th>
                                                    <th class="width-80px"><span class="anchor_color">@Resource.AdjustmentAmount</span></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{data.AdjustmentGroup ? data.AdjustmentGroup:'@Resource.NA'}}</td>
                                                    <td>{{data.AdjustmentReason ? data.AdjustmentReason:'@Resource.NA'}}</td>
                                                    <td>{{data.AdjustmentAmount ? data.AdjustmentAmount:'@Resource.NA'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="clearfix"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div data-ng-if="cnItem.AHList.length == 0  ">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="alert alert-danger">
                            @Html.Raw(Resource.NoRecordsFound)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
