<div class="ah">
    <strong class="pull-left padding-bottom-5px">@Resource.BatchHistory</strong>
    <div class="row clear-both" data-ng-if="cnItem.BHList.length>0">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet-body compact" style="display: block;">
                <div class="table-responsive ">
                    <table class="table table-bordered table-condensed flip-content tblAdjudicationHostory">
                        <thead class="flip-content">
                            <tr>
                                <th class="">
                                    <span class="anchor_color">@Resource.BatchNumberLabel</span>
                                </th>
                                <th class="">
                                    <span class="anchor_color">@Resource.BatchStart</span>
                                </th>
                                <th class="">
                                    <span class="anchor_color">@Resource.BatchEnd</span>
                                </th>

                                <th>
                                    <span class="anchor_color">@Resource.BatchType</span>
                                </th>

                                <th class="">
                                    <span class="anchor_color">@Resource.GatherBy</span>
                                </th>
                                <th class="">
                                    <span class="anchor_color">@Resource.Payor</span>
                                </th>
                                @*<th class="">
                                    <span class="anchor_color">@Resource.BillingFormat</span>
                                </th>*@
                                <th class="">
                                    <span class="anchor_color">@Resource.SentBy</span>
                                </th>

                                <th class="">
                                    <span class="anchor_color">@Resource.SentDate</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="WhiteBackTbody">
                            <tr data-ng-repeat="data in cnItem.BHList">

                                <td>{{data.BatchID}}</td>
                                <td>{{data.BatchStartDate ? (data.BatchStartDate | dateformat):'@Resource.NA'}}</td>
                                <td>{{data.BatchEndDate ? (data.BatchEndDate | dateformat):'@Resource.NA'}}</td>
                                <td>{{data.BatchTypeName ? data.BatchTypeName :'@Resource.NA'}}</td>

                                <td>{{data.GatheredBy ? data.GatheredBy :'@Resource.NA'}}</td>
                                <td>{{data.BatchPayorShortName ? data.BatchPayorShortName :'@Resource.NA'}}</td>
                                @*<td>@Resource.BillingFormat835</td>*@
                                <td>{{data.SentBy ? data.SentBy :'@Resource.NA'}}</td>
                                <td>{{data.SentDate ? (data.SentDate | dateformat):'@Resource.NA'}}</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div data-ng-if="cnItem.BHList.length == 0  ">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="alert alert-danger">
                            @Html.Raw(Resource.NoRecordsFound)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
