@model dynamic
<div id="ClaimAdjustmentReason-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>{{SubmitClaimAdjustmentReasonModel.Item.AdjustmentType}}</b></h4>
            </div>
            <div class="modal-body">
                <div class="padding-bottom-20"  data-ng-bind-html="SubmitClaimAdjustmentReasonModel.Item.Message"></div>

                <div class="text-align-center" data-ng-if="SubmitClaimAdjustmentReasonModel.Item.AdjustmentType!='@ClaimAdjustmentType.ClaimAdjustmentType_Remove'">
                    <textarea class="form-control input-sm" rows="5" placeholder="@Resource.PleaseAddAdjustmentReason" 
                       maxlength="80" data-ng-model="SubmitClaimAdjustmentReasonModel.Item.AdjustmentReason"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">@Resource.Cancel</a>


                <a class="btn  btn-danger" data-ng-hide="SubmitClaimAdjustmentReasonModel.BulkAction" data-ng-click="SubmitClaimAdjustmentReason(SubmitClaimAdjustmentReasonModel.cnItem,SubmitClaimAdjustmentReasonModel.itemPT,SubmitClaimAdjustmentReasonModel.MainItem)">@Resource.YesContinue</a>
                <a class="btn  btn-danger" data-ng-show="SubmitClaimAdjustmentReasonModel.BulkAction" data-ng-click="BulkSubmitClaimAdjustmentReason(SubmitClaimAdjustmentReasonModel.cnItem,SubmitClaimAdjustmentReasonModel.itemPT,SubmitClaimAdjustmentReasonModel.MainItem)">@Resource.YesContinue</a>
            </div>
        </div>

    </div>
</div>
