@model MannualPaymentPostingModel
<div class="modal fade" id="_MannualPaymentPosting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display: none; margin-top: 0px;">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="font-size-20">@Resource.MannualPaymentPosting</span>
                <button type="button" class="close" aria-label="Close" data-ng-click="HideMannualPaymentPosting()"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="portlet-body compact" style="display: block;">
                            <form id="frm_MannualPaymentPosting">
                                <div class="col-sm-12">

                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <div class="fscontainer">
                                                <div class="col-sm-12 margin-top-20">
                                                    <div class="form-group col-sm-12">
                                                        <label class="col-md-4 control-label required">@Resource.AdjustmentType</label>
                                                        <div class="col-md-8">
                                                            <select class="form-control input-sm" data-buttonstyle="btn-sm btn-default"
                                                                    title="Adjustment Type" id="MPP_AdjustmentGroupCodeID"
                                                                    data-ng-model="MannualPaymentPosting.MPP_AdjustmentGroupCodeID">

                                                                <option value="NA">@Resource.Select</option>
                                                                <option data-ng-repeat="option in BatchModel.MPPAdjustmentTypes" value="{{option.Value}}">{{option.Name}}</option>
                                                            </select>


                                                            <div data-ng-show="MannualPaymentPosting.MPP_AdjustmentGroupCodeName_Visible">

                                                                <br />

                                                                @Html.TextBoxFor(q => q.MPP_AdjustmentGroupCodeName,
                                                                                         new
                                                                                         {
                                                                                             @class = "form-control input-sm other-adjustment-type",
                                                                                             data_ng_model = "MannualPaymentPosting.MPP_AdjustmentGroupCodeName",
                                                                                             placeholder = Resource.PleaseAddOtherAdjustmentType,
                                                                                         })

                                                                <span>
                                                                    <small>
                                                                        <span class="color-red color-red font-weight-700">@Resource.Example:</span>
                                                                        <span> @Resource.OtherAdjustmentTypeExample</span>
                                                                    </small>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-12">
                                                        <label class="col-md-4 control-label">@Resource.BilledAmount</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(q => q.ClaimBilledAmount,
                                                                    new
                                                                    {
                                                                        @class = "form-control input-sm",
                                                                        data_ng_model = "MannualPaymentPosting.ClaimBilledAmount",
                                                                        placeholder = @Resource.BilledAmount,
                                                                        disabled = "disabled"
                                                                    })
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-12">
                                                        <label class="col-md-4 control-label">@Resource.AllowedAmount</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(q => q.ClaimAllowedAmount,
                                                                      new
                                                                      {
                                                                          @class = "form-control input-sm",
                                                                          data_ng_model = "MannualPaymentPosting.ClaimAllowedAmount",
                                                                          placeholder = @Resource.AllowedAmount,
                                                                          disabled = "disabled"
                                                                      })
                                                            @Html.ValidationMessageFor(q => q.ClaimAllowedAmount)
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-sm-12">
                                                        <label class="col-md-4 control-label">@Resource.PaidAmount</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(q => q.ClaimPaidAmount,
                                                                      new
                                                                      {
                                                                          @class = "form-control input-sm",
                                                                          data_ng_model = "MannualPaymentPosting.ClaimPaidAmount",
                                                                          placeholder = @Resource.PaidAmount,
                                                                          disabled = "disabled"
                                                                      })
                                                            @Html.ValidationMessageFor(q => q.ClaimPaidAmount)
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-sm-12">
                                                        <label class="col-md-4 control-label required">@Resource.AdjustedAmount</label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(q => q.MPP_AdjustmentAmount,
                                                                      new
                                                                      {
                                                                          @class = "form-control input-sm",
                                                                          data_ng_model = "MannualPaymentPosting.MPP_AdjustmentAmount",
                                                                          placeholder = Resource.AdjustmentAmount
                                                                      })
                                                            @Html.ValidationMessageFor(q => q.MPP_AdjustmentAmount)
                                                        </div>
                                                    </div>


                                                    <div class="form-group col-sm-12">
                                                        <label class="col-md-4 control-label">@Resource.Comment</label>
                                                        <div class="col-md-8">
                                                            @Html.TextAreaFor(q => q.MPP_AdjustmentComment,
                                                                      new
                                                                      {
                                                                          @class = "form-control input-sm",
                                                                          data_ng_model = "MannualPaymentPosting.MPP_AdjustmentComment",
                                                                          placeholder = Resource.Comment,
                                                                          rows = 5
                                                                      })
                                                            @Html.ValidationMessageFor(q => q.MPP_AdjustmentComment)
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group text-center">
                                        <input type="submit" data-ng-click="SaveMannualPaymentPostingDetails(MannualPaymentPosting)" class="btn btn-sm green-jungle" value="@Resource.Save" />
                                        <a href="javascript:;">
                                            <input type="button" class="btn btn-sm red-mint" data-ng-click="HideMannualPaymentPosting()" value="@Resource.Cancel" />
                                        </a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>