<div class="ah">
    <strong>@Resource.NoteHistory</strong>

    <div class="row" data-ng-if="cnItem.BHList.length>0">
        <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="portlet-body compact" style="display: block;">
                <div class="table-responsive ">
                    <table class="table table-bordered table-condensed flip-content tblAdjudicationHostory">
                        <thead class="flip-content">
                            <tr>
                                <th class="">
                                    <span class="anchor_color">@Resource.CreatedBy</span>
                                </th>
                                <th class="">
                                    <span class="anchor_color">@Resource.CreatedDate</span>
                                </th>
                                <th class="">
                                    <span class="anchor_color">@Resource.UpdatedBy</span>
                                </th>

                                <th>
                                    <span class="anchor_color">@Resource.UpdatedDate</span>
                                </th>

                                <th class="">
                                    <span class="anchor_color">@Resource.SignedBy</span>
                                </th>
                                <th class="">
                                    <span class="anchor_color">@Resource.SignedDate</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>{{cnItem.NHModel.CreatedBy}}</td>
                                <td>{{cnItem.NHModel.CreatedDate ? (cnItem.NHModel.CreatedDate | dateformat):'@Resource.NA'}}</td>

                                <td>{{cnItem.NHModel.UpdatedBy}}</td>
                                <td>{{cnItem.NHModel.UpdatedDate ? (cnItem.NHModel.UpdatedDate | dateformat):'@Resource.NA'}}</td>

                                <td>{{cnItem.NHModel.SignedBy}}</td>
                                <td>{{cnItem.NHModel.SignedDate ? (cnItem.NHModel.SignedDate | dateformat):'@Resource.NA'}}</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</div>
