@model dynamic
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title page-title no-margin">
        <b>
            <span>
                <span class="font-size-18">
                    @Resource.BatchClaimsDetailsGroupByClients
                    <span class='badge badge-danger' data-ng-if="ViewBatchDetailsModel.IsBatchSent">Sent</span>
                </span>
                <span class="font-size-14">
                    <span class='font-size-18 font-weight-400 '>
                        &nbsp;-&nbsp;
                        <small>
                            @Resource.Batch: #<b>{{ViewBatchDetailsModel.BatchID}}</b> &nbsp;/&nbsp;
                            @Resource.Payor: <b>{{ViewBatchDetailsModel.PayorName}}</b>
                        </small>
                    </span>

                    @*( <span>@Resource.Batch #{{ViewBatchDetailsModel.BatchID}}</span><span data-ng-if="ViewBatchDetailsModel.IsBatchSent"> -  
                        <span class="badge badge-danger">Sent</span></span> )*@
                </span>
            </span>
        </b>
        <br />
        <span class="font-size-14 margin-top-10">
            @Resource.ServiceDate: 
            <b>
                <span class="padding-left-5">{{ViewBatchDetailsModel.StartDate | orgdate}}<span class="padding-left-right-2">-</span>{{ViewBatchDetailsModel.EndDate |dateformat}}</span>
            </b>
        </span>
    </h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet-body compact" style="display: block;">
               <div class="space5"></div>
                <div class="col-lg-12" style="max-height: 400px;overflow: auto;" data-ng-show="PatientClaimsList.length > 0">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th class="width-30px"></th>
                                    <th class="">
                                        <span>@Resource.Patient</span>
                                    </th>
                                    <th class="">
                                        <span>@Resource.Account #</span>
                                    </th>
                                    <th class="">
                                        <span>@Resource.Medicaid #</span>
                                    </th>
                                    <th class="">
                                        <span>@Resource.DOB</span>
                                    </th>
                                    <th class="">
                                        @*<span>@Resource.TotalClaims</span>*@
                                        <span>Total Line Items</span>
                                    </th>
                                    <th class="">
                                        <span>Billed Amt</span>
                                    </th>

                                    <th class="">
                                        <span>Total Allowed Amt</span>
                                    </th>


                                    <th class="">
                                        <span>Total Paid Amt</span>
                                    </th>
                                    <th class="width-90px">
                                        <span>@Resource.Action</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-ng-repeat="item in PatientClaimsList">
                                <tr id="openTrViewBatch{{$index}}">
                                    <td>
                                        <span class="collapseSource curser-pointer font-size-18 font-blue fa fa-plus-circle"
                                              data-ng-click="GetChildNoteDetailsOfClaim(item,'#CNDetails-'+item.ReferralID,PatientClaimsList.Model)"
                                              data-ng-attr-id="{{'CNDetails-'+item.ReferralID }}"
                                              data-toggle="collapse"
                                              data-ng-attr-data-target="{{'#ChildNoteDetails-'+item.ReferralID }}">
                                        </span>
                                    </td>
                                    <td>{{item.PatientName}}</td>
                                    <td>{{item.AHCCCSID}}</td>
                                    <td>{{item.CISNumber}}</td>
                                    <td>{{item.strDOB}}</td>
                                    <td>{{item.TotalClaims}}</td>

                                    <td>{{item.TotalAmount | orgcurrency}}</td>
                                    <td>{{item.TotalAllowedAmount | orgcurrency}}</td>
                                    <td data-ng-class="{'bg-success': item.TotalAmount == item.TotalPaidAmount && item.TotalAllowedAmount == item.TotalPaidAmount ,  'bg-warning': item.TotalAmount != item.TotalPaidAmount && item.TotalPaidAmount > 0 , 'bg-danger': item.TotalAmount != item.TotalPaidAmount &&  item.TotalPaidAmount ==0}">
                                        {{item.TotalPaidAmount | orgcurrency}}
                                    </td>

                                    <td class="text-align-center">
                                        <a data-ng-if="item.PayorBillingType == '@Common.PayorEDIFileType.Professional.ToString()'" href="javascript:void(0);" data-ng-click="ShowCMS1500File(item)" class="btn btn-xs blue">@Resource.CMS1500</a>
                                        <a data-ng-if="item.PayorBillingType == '@Common.PayorEDIFileType.Institutional.ToString()'" href="javascript:void(0);" data-ng-click="ShowUB04File(item)" class="btn btn-xs green">@Resource.UB04</a>
                                    </td>
                                </tr>
                                <tr data-ng-attr-id="{{'ChildNoteDetails-'+item.ReferralID }}" class="collapse collapseDestination">
                                    <td></td>
                                    <td colspan="10" style="background: #efefef !important; ">
                                        <div style="float: left; width: 100%; padding: 15px 25px 0 25px;">
                                            <div class="space5"></div>
                                            <div class="col-md-12 no-padding">
                                                <strong><u>Child Note Details</u></strong>
                                            </div>
                                            <div class="space5"></div>
                                            <div class="col-md-12 table-responsive tabbable-custom">
                                                <table class="table table-hover table-bordered table-striped table-condensed table-checkable ">
                                                    <thead class="flip-content">
                                                        <tr>

                                                            <th class="">@Resource.ServiceCode</th>
                                                            <th class="width-125px">@Resource.ServiceTime (Day)</th>
                                                            <th class="width-115px">@Resource.Rate / @Resource.Unit</th>
                                                            <th class="width-115px">@Resource.BillingUnit</th>
                                                            <th class="width-100px">Billed Amt</th>
                                                            <th class="width-100px">Allowed Amt</th>
                                                            <th class="width-100px">Paid Amt</th>
                                                            <th class="width-115px">@Resource.Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody data-ng-repeat="cnItem in item.ChildNoteList">
                                                        <tr>

                                                            <td>{{(cnItem.CareType == null)? '' : cnItem.CareType + ' - ' }}{{cnItem.ServiceCode}}</td>
                                                            <td>{{cnItem.CalculatedServiceTime}}</td>
                                                            <td>{{cnItem.Rate  | orgcurrency}}</td>
                                                            <td>{{cnItem.CalculatedUnit}}</td>
                                                            <td>{{cnItem.CalculatedAmount  | orgcurrency}}</td>
                                                            <td>{{cnItem.ClaimAllowedAmount | orgcurrency}}</td>
                                                            <td>{{cnItem.ClaimPaidAmount | orgcurrency}}</td>
                                                            <td>{{cnItem.strServiceDate}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    
</div>