<div class="modal fade" id="viewtimesheetdetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false"
     aria-hidden="true" style="display: none; margin-top: 0px;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="font-size-20">@Resource.EmployeeVisit</span>
                <button type="button" class="close" aria-label="Close" data-ng-click="HideEmployeeVisits()"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="portlet-body compact" style="display: block;">
                            <form id="frmviewtimesheetdetails">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-condensed flip-content empvisitlist_tbl">
                                        <thead class="flip-content">
                                            <tr>
                                                <th >
                                                    @Resource.EmployeeName
                                                </th>
                                                <th >
                                                    @Resource.PatientName
                                                </th>
                                                <th >
                                                    @Resource.Payor
                                                </th>
                                                @*<th class="width-110px">
                                                    @Resource.CareType
                                                </th>*@
                                                <th >
                                                    @Resource.ScheduleStartDate
                                                </th>
                                                <th >
                                                    @Resource.ScheduleEndDate
                                                </th>
                                                <th>
                                                    @Resource.ClockInTime
                                                </th>
                                                @*<th class="width-110px">
                                                    <span class="anchor_color" href="javascript:void(0);">ClockIn Mode</span>
                                                </th>*@
                                                <th >
                                                    @Resource.ClockOutTime
                                                </th>
                                                @*<th class="width-110px">
                                                    <span class="anchor_color" href="javascript:void(0);">ClockOut Mode</span>
                                                </th>*@
                                                <th  >
                                                    Total Time
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="EmployeeVisit in EmployeeVisitList">
                                                <td>
                                                    {{EmployeeVisit.Name}}
                                                </td>
                                                <td>
                                                    {{EmployeeVisit.PatientName}}
                                                </td>
                                                <td>{{EmployeeVisit.PayorName }}</td>
                                                @*<td>{{EmployeeVisit.CareType}}</td>*@
                                                <td>{{EmployeeVisit.StartDate | date: 'MM/dd/yyyy' }}</td>
                                                <td>{{EmployeeVisit.EndDate | date: 'MM/dd/yyyy' }}</td>
                                                <td>
                                                    {{EmployeeVisit.ClockInTime | timeformat }}
                                                </td>
                                                @*<td> <span>{{EmployeeVisit.ClockInMode }}</span></td>*@
                                                <td>
                                                    {{EmployeeVisit.ClockOutTime | timeformat}}
                                                </td>
                                                @*<td> <span>{{EmployeeVisit.ClockOutMode }}</span></td>*@
                                                <td class="text-align-center">
                                                    <span data-ng-if="EmployeeVisit.IsPCACompleted">
                                                        {{EmployeeVisit.TimeSheetCompleteHours}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div data-ng-if="EmployeeVisits.length == 0">
                            <div class="col-lg-12">
                                <div class="alert alert-danger">
                                    @Html.Raw(Resource.NoRecordsFound)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>