@{
    CacheHelper _cacheHelper = new CacheHelper();
    DateTime _datetime = Common.GetOrgCurrentDateTime();
    string currentDate = _datetime.ToString("MM/dd/yyyy");
}
@model HC_AddReferralModel
@Html.Hidden("hdnSetAddReferralModel", Common.SerializeObject(Model))

<div class="row">
    <div class="col-md-12">
        @*<div class="row">
            <div class="col-sm-12 text-align-center" style="padding-bottom:20px !important">
                <b><u>PLAN OF CARE FORM</u></b>
            </div>
        </div>*@
        <div class="row">
            <div class="col-sm-12 margin-bottom-10">
                <div class="col-sm-6">
                    <strong class="col-sm-2">@Resource.Client</strong>
                    <div class="col-sm-10 form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" id="txt_client" readonly="readonly"
                               data-ng-value="CareForm.ClientName">
                    </div>
                </div>
                <div class="col-sm-3">
                    <strong class="col-sm-5">@Resource.Record #:</strong>
                    <div class="col-sm-7  form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" id="txt_recordId" readonly="readonly"
                               data-ng-value="CareForm.RecordID">
                    </div>
                </div>
                <div class="col-sm-3">
                    <strong class="col-sm-7">@Resource.CareForm Date:</strong>
                    <div class="col-sm-5  form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" id="txt_careformDate" readonly="readonly"
                               value="@currentDate">
                    </div>
                </div>
            </div>

            <div class="col-sm-12 margin-bottom-10">
                <div class="col-sm-6">
                    <strong class="col-sm-4">Location of Service:</strong>
                    <div class="col-sm-8 form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" id="txt_LOS" readonly="readonly"
                               data-ng-value="CareForm.LocationOfService">
                    </div>
                </div>
            </div>

            <div class="col-sm-12 margin-bottom-10">
                <div class="col-sm-4">
                    <strong class="col-sm-4">@Resource.Phone #:</strong>
                    <div class="col-sm-8 form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" id="txt_phone" readonly="readonly"
                               data-ng-value="CareForm.Phone">
                    </div>
                </div>
                <div class="col-sm-4">
                    <strong class="col-sm-4">@Resource.Cell:</strong>
                    <div class="col-sm-8  form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" id="txt_cell" readonly="readonly"
                               data-ng-value="CareForm.Cell">
                    </div>
                </div>
            </div>

            <div class="col-sm-12 margin-bottom-10">
                <div class="col-sm-6">
                    <strong class="col-sm-2">@Resource.Email:</strong>
                    <div class="col-sm-10 form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" id="txt_email" readonly="readonly"
                               data-ng-value="CareForm.Email">
                    </div>
                </div>
            </div>

            <div class="col-sm-12 margin-bottom-10">
                <div class="col-sm-3">
                    <strong class="col-sm-12">Planned Date of Service Initiation:</strong>
                </div>
                <div class="col-sm-4">
                    <strong class="col-sm-4">@Resource.StartDate:</strong>
                    <div class="col-sm-8  form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" id="txt_PSI_StartDate" readonly="readonly"
                               value="{{ CareForm.PSI_StartDate | orgdate }}" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <strong class="col-sm-4">@Resource.EndDate:</strong>
                    <div class="col-sm-8  form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" id="txt_PSI_EndDate" readonly="readonly"
                               value="{{ CareForm.PSI_EndDate | orgdate }}" />
                    </div>
                </div>
            </div>

            <div class="col-sm-12 margin-bottom-10">
                <div class="col-sm-10">
                    <strong class="col-sm-2">Service Requested:</strong>
                    <div class="col-sm-10 form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" id="txt_ServiceRequested" readonly="readonly"
                               data-ng-value="CareForm.Str_ServiceRequested">
                    </div>
                </div>
            </div>

            <div class="col-sm-12 margin-bottom-15">
                <div class="col-sm-12">
                    <div class="col-sm-12 mt-checkbox-inline">
                        <strong class="">Is the client medically frail:</strong>
                        &nbsp;&nbsp;&nbsp;
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input data-ng-model="CareForm.IsMedicallyFrail"
                                   class="uniformControls" data-uniform-value="CareForm.IsMedicallyFrail"
                                   data-ng-true-value="true" data-ng-false-value="false" disabled="disabled"
                                   type="checkbox">
                            @Resource.Yes<span></span>
                        </label>
                        &nbsp;&nbsp;
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input data-ng-model="CareForm.IsMedicallyFrail"
                                   class="uniformControls" data-uniform-value="!CareForm.IsMedicallyFrail"
                                   data-ng-true-value="false" data-ng-false-value="true" disabled="disabled"
                                   type="checkbox">
                            @Resource.No<span></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-12">
                    <strong class="col-sm-12">Specific Functional Limitations of the client:</strong>
                </div>
            </div>
            <div class="col-md-12 margin-bottom-10">
                <div class="form-group col-md-12 form-md-line-input">
                    <div class="col-md-12 form-row-seperated">
                        @Html.TextAreaFor(q => q.CareForm.SpecificFunctionalLimitations, new { @class = "form-control input-sm ", data_ng_model = "CareForm.SpecificFunctionalLimitations", row = 2, disabled = "", style = "background-color: #ffffff !important;" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-12">
                    <strong class="col-sm-12">Charges for Services Rendered:</strong>
                </div>
            </div>
            <div class="col-sm-12 margin-top-10 margin-bottom-10">
                <div class="col-sm-12">
                    <div class="col-sm-12 mt-checkbox-inline">
                        <label class="mt-checkbox mt-checkbox-outline">
                            <div class="checker">
                                <span class="musthave" ng-class="CareForm.IsChargesForServicesRendered == 1 ? 'checked' : ''">
                                    <input name="IsChargesForServicesRendered" id="IsChargesForServicesRendered"
                                           value="" class="checker" disabled="disabled" type="checkbox" />
                                </span>
                            </div>
                            By Insurance Company
                        </label>
                        &nbsp;&nbsp;&nbsp; <b>OR</b> &nbsp;&nbsp;&nbsp;
                        <label class="mt-checkbox mt-checkbox-outline">
                            <div class="checker">
                                <span class="musthave" ng-class="CareForm.IsChargesForServicesRendered == 2 ? 'checked' : ''">
                                    <input name="IsChargesForServicesRendered" id="IsChargesForServicesRendered"
                                           value="" class="checker" disabled="disabled" type="checkbox" />
                                </span>
                            </div>
                            Paid in Full or in Part by the Client
                        </label>
                        &nbsp;&nbsp;&nbsp; <b>OR</b> &nbsp;&nbsp;&nbsp;
                        <label class="mt-checkbox mt-checkbox-outline">
                            <div class="checker">
                                <span class="musthave" ng-class="CareForm.IsChargesForServicesRendered == 3 ? 'checked' : ''">
                                    <input name="IsChargesForServicesRendered" id="IsChargesForServicesRendered"
                                           value="" class="checker" disabled="disabled" type="checkbox" />
                                </span>
                            </div>
                            Significant Other(s)
                        </label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="mt-checkbox mt-checkbox-outline" data-ng-if="CareForm.IsChargesForServicesRendered == 3">
                            <div class="checker">
                                <span class="musthave" ng-class="CareForm.OnRequest == true ? 'checked' : ''">
                                    <input name="OnRequest" id="OnRequest"
                                           value="" class="checker" disabled="disabled" type="checkbox" />
                                </span>
                            </div>
                            On Request
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-12">
                    <strong class="col-sm-12">Plan of Supervision:</strong>
                </div>
            </div>
            <div class="col-md-12 margin-bottom-10">
                <div class="form-group col-md-12 form-md-line-input">
                    <div class="col-md-12 form-row-seperated">
                        @Html.TextAreaFor(q => q.CareForm.PlanOfSupervision, new { @class = "form-control input-sm ", data_ng_model = "CareForm.PlanOfSupervision", row = 2, disabled = "", style = "background-color: #ffffff !important;" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-12">
                    <strong class="col-sm-12">Duration of services:</strong>
                </div>
            </div>
            <div class="col-md-12 margin-bottom-10">
                <div class="form-group col-md-12 form-md-line-input">
                    <div class="col-md-12 form-row-seperated">
                        @Html.TextAreaFor(q => q.CareForm.DurationOfServices, new { @class = "form-control input-sm ", data_ng_model = "CareForm.DurationOfServices", row = 2, disabled = "", style = "background-color: #ffffff !important;" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-12">
                    <strong class="col-sm-12">Statements of Goals:</strong>
                </div>
            </div>
            <div class="col-md-12 margin-bottom-10">
                <div class="form-group col-md-12 form-md-line-input">
                    <div class="col-md-12 form-row-seperated">
                        @Html.TextAreaFor(q => q.CareForm.StatementsOfGoals, new { @class = "form-control input-sm ", data_ng_model = "CareForm.StatementsOfGoals", row = 2, disabled = "", style = "background-color: #ffffff !important;" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-12">
                    <strong class="col-sm-12">Objectives of Services:</strong>
                </div>
            </div>
            <div class="col-md-12 margin-bottom-10">
                <div class="form-group col-md-12 form-md-line-input">
                    <div class="col-md-12 form-row-seperated">
                        @Html.TextAreaFor(q => q.CareForm.ObjectivesOfServices, new { @class = "form-control input-sm ", data_ng_model = "CareForm.ObjectivesOfServices", row = 2, disabled = "", style = "background-color: #ffffff !important;" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-12">
                    <strong class="col-sm-12">Discharge Plans:</strong>
                </div>
            </div>
            <div class="col-md-12 margin-bottom-10">
                <div class="form-group col-md-12 form-md-line-input">
                    <div class="col-md-12 form-row-seperated">
                        @Html.TextAreaFor(q => q.CareForm.DischargePlans, new { @class = "form-control input-sm ", data_ng_model = "CareForm.DischargePlans", row = 2, disabled = "", style = "background-color: #ffffff !important;" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-12">
                    <strong class="col-sm-12">Description of how the specific tasks are to be performed:</strong>
                </div>
            </div>
            <div class="col-md-12 margin-bottom-10">
                <div class="form-group col-md-12 form-md-line-input">
                    <div class="col-md-12 form-row-seperated">
                        @Html.TextAreaFor(q => q.CareForm.DescriptionHowTheTasksArePerformed, new { @class = "form-control input-sm ", data_ng_model = "CareForm.DescriptionHowTheTasksArePerformed", row = 2, disabled = "", style = "background-color: #ffffff !important;" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12 margin-bottom-20 margin-top-20">
                <div class="col-sm-12">
                    <strong class="col-sm-12 text-align-center"><u>If applicable to the client:</u></strong>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-12">
                    <strong class="col-sm-12">Pertinent Diagnosis:</strong>
                </div>
            </div>
            <div class="col-md-12 margin-bottom-10">
                <div class="form-group col-md-12 form-md-line-input">
                    <div class="col-md-12 form-row-seperated">
                        @Html.TextAreaFor(q => q.CareForm.PertinentDiagnosis, new { @class = "form-control input-sm ", data_ng_model = "CareForm.PertinentDiagnosis", row = 2, disabled = "", style = "background-color: #ffffff !important;" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-12">
                    <strong class="col-sm-1">Medications:</strong>
                    <div class="col-sm-10 mt-checkbox-inline">
                        <strong class="">See Attached Medication Form:</strong>
                        &nbsp;&nbsp;&nbsp;
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input data-ng-model="CareForm.IsAttachedMedicationForm"
                                   class="uniformControls" data-uniform-value="CareForm.IsAttachedMedicationForm"
                                   data-ng-true-value="true" data-ng-false-value="false" disabled="disabled"
                                   type="checkbox">
                            @Resource.Yes<span></span>
                        </label>
                        &nbsp;&nbsp;
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input data-ng-model="CareForm.IsAttachedMedicationForm"
                                   class="uniformControls" data-uniform-value="!CareForm.IsAttachedMedicationForm"
                                   data-ng-true-value="false" data-ng-false-value="true" disabled="disabled"
                                   type="checkbox">
                            @Resource.No<span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 margin-bottom-10">
                <div class="form-group col-md-12 form-md-line-input">
                    <div class="col-md-12 form-row-seperated">
                        @Html.TextAreaFor(q => q.CareForm.Medications, new { @class = "form-control input-sm ", data_ng_model = "CareForm.Medications", row = 2, disabled = "", style = "background-color: #ffffff !important;" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-12">
                    <strong class="col-sm-12">Treatments:</strong>
                </div>
            </div>
            <div class="col-md-12 margin-bottom-10">
                <div class="form-group col-md-12 form-md-line-input">
                    <div class="col-md-12 form-row-seperated">
                        @Html.TextAreaFor(q => q.CareForm.Treatments, new { @class = "form-control input-sm ", data_ng_model = "CareForm.Treatments", row = 2, disabled = "", style = "background-color: #ffffff !important;" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-12">
                    <strong class="col-sm-12">Equipment Needs:</strong>
                </div>
            </div>
            <div class="col-md-12 margin-bottom-10">
                <div class="form-group col-md-12 form-md-line-input">
                    <div class="col-md-12 form-row-seperated">
                        @Html.TextAreaFor(q => q.CareForm.EquipmentNeeds, new { @class = "form-control input-sm ", data_ng_model = "CareForm.EquipmentNeeds", row = 2, disabled = "", style = "background-color: #ffffff !important;" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-12">
                    <strong class="col-sm-12">Diet:</strong>
                </div>
            </div>
            <div class="col-md-12 margin-bottom-10">
                <div class="form-group col-md-12 form-md-line-input">
                    <div class="col-md-12 form-row-seperated">
                        @Html.TextAreaFor(q => q.CareForm.Diet, new { @class = "form-control input-sm ", data_ng_model = "CareForm.Diet", row = 2, disabled = "", style = "background-color: #ffffff !important;" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-12">
                    <strong class="col-sm-12">Nutritional Needs:</strong>
                </div>
            </div>
            <div class="col-md-12 margin-bottom-10">
                <div class="form-group col-md-12 form-md-line-input">
                    <div class="col-md-12 form-row-seperated">
                        @Html.TextAreaFor(q => q.CareForm.NutritionalNeeds, new { @class = "form-control input-sm ", data_ng_model = "CareForm.NutritionalNeeds", row = 2, disabled = "", style = "background-color: #ffffff !important;" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12 margin-bottom-10">
                <div class="col-sm-12">
                    <div class="col-sm-12 mt-checkbox-inline">
                        <strong class=""><u>Physician’s orders needed:</u></strong>
                        &nbsp;&nbsp;&nbsp;
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input data-ng-model="CareForm.IsPhysiciansOrdersNeeded"
                                   class="uniformControls" data-uniform-value="CareForm.IsPhysiciansOrdersNeeded"
                                   data-ng-true-value="true" data-ng-false-value="false" disabled="disabled"
                                   type="checkbox">
                            @Resource.Yes<span></span>
                        </label>
                        &nbsp;&nbsp;
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input data-ng-model="CareForm.IsPhysiciansOrdersNeeded"
                                   class="uniformControls" data-uniform-value="!CareForm.IsPhysiciansOrdersNeeded"
                                   data-ng-true-value="false" data-ng-false-value="true" disabled="disabled"
                                   type="checkbox">
                            @Resource.No<span></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-sm-12" data-ng-if="CareForm.IsPhysiciansOrdersNeeded == true">
                <div class="col-sm-12">
                    <span class="col-sm-12">If yes, note how they will be obtained:</span>
                </div>
            </div>
            <div class="col-md-12 margin-bottom-10" data-ng-if="CareForm.IsPhysiciansOrdersNeeded == true">
                <div class="form-group col-md-12 form-md-line-input">
                    <div class="col-md-12 form-row-seperated">
                        @Html.TextAreaFor(q => q.CareForm.PhysicianOrdersDescription, new { @class = "form-control input-sm ", data_ng_model = "CareForm.PhysicianOrdersDescription", row = 2, disabled = "", style = "background-color: #ffffff !important;" })
                    </div>
                </div>
            </div>

            <div class="col-sm-12 margin-bottom-10">
                <div class="col-sm-8">
                    <strong class="col-sm-4 required">Client / Representative Signature</strong>
                    <div class="col-sm-6 form-group form-md-line-input" style="border:1px solid" data-ng-show="CareForm.TempClientSignaturePath">
                        <img class="img-responsive signature-image" id="imgDisplay" src=""
                             data-ng-show="CareForm.TempClientSignaturePath != NULL || CareForm.TempClientSignaturePath != ''"
                             data-ng-src="{{CareForm.TempClientSignaturePath}}" />
                    </div>
                    <div class="col-sm-2 form-group form-md-line-input">
                        <button class="btn btn-sm" data-ng-click="OpenClientSignModel()">Add Signature</button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <strong class="col-sm-2">@Resource.Date</strong>
                    <div class="col-sm-10  form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" id="txt_ClientSignatureDate" readonly="readonly"
                               value="@currentDate">
                    </div>
                </div>
            </div>

            <div class="col-sm-12 margin-bottom-10">
                <div class="col-sm-8">
                    <strong class="col-sm-4">Registered Nurse Signature</strong>
                    <div class="col-sm-8 form-group form-md-line-input" data-ng-show="!CareForm.NurseSignature">
                        <input type="text" class="form-control input-sm height-19px" id="txt_Nurse_Sign" readonly="readonly">
                    </div>
                    <div class="col-sm-8 form-group form-md-line-input" style="border:1px solid" data-ng-show="CareForm.NurseSignature">
                        <img class="img-responsive signature-image" id="imgDisplay" src=""
                             data-ng-src="{{CareForm.NurseSignature}}" />
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <strong class="col-sm-2">@Resource.Date</strong>
                    <div class="col-sm-10  form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" id="txt_NurseSignatureDate" readonly="readonly"
                               value="@currentDate">
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div class="col-md-12">
        <div class="col-md-9">
            <span class="col-md-12"> @_cacheHelper.SiteName </span>
        </div>
        <div class="col-md-3">
            <div class="col-md-12">
                <button class="btn btn-sm green-jungle pull-right margin-right-05" data-ng-click="SaveCareFormDetails()">@Resource.Save & GeneratePDF</button>
            </div>
        </div>
    </div>
</div>
