@model HC_AddPayorModel

<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom">
            <ul class="nav nav-tabs top_border" id="loanDetailTopTabs">
                <li class="active" data-ng-if="IsVisitBilledBy(window.PayorVisitBilledBy_MyEazyCare)">
                    <a id="GeneralSetting" data-target="#tab_GeneralSetting" data-toggle="tab">@Resource.GeneralSetting</a>
                </li>
                @*<li>
                    <a id="GeneralSetting01" data-target="#tab_GeneralSetting01" data-toggle="tab">@Resource.GeneralSetting</a>
                </li>*@
                @*<li>
                    <a id="CMS1500" data-target="#tab_CMS1500" data-toggle="tab">@Resource.CMS1500</a>
                </li>
                <li>
                    <a id="UB04" data-target="#tab_UB04" data-toggle="tab">@Resource.UB04</a>
                </li>*@
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_GeneralSetting" data-ng-if="IsVisitBilledBy(window.PayorVisitBilledBy_MyEazyCare)">
                    @Html.Partial("Partial/BillingSetting/_tabGeneralSetting", Model)
                </div>
                @*<div class="tab-pane " id="tab_GeneralSetting01">
                    @Html.Partial("Partial/BillingSetting/_tabGeneralSetting01", Model)
                </div>*@
                @*<div class="tab-pane" id="tab_CMS1500">
                    @Html.Partial("Partial/BillingSetting/_tabCMS1500", Model)
                </div>
                <div class="tab-pane" id="tab_UB04">
                    @Html.Partial("Partial/BillingSetting/_tabUB04", Model)
                </div>*@
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>