@model LoginModel

<link href="~/Assets/css/sitecss/font-awesome.css" rel="stylesheet" />

<div>
    @if (Model.Announcement!=null)
    {
    <div class="post-inner-content">
        <header class="entry-header page-header">

            <h1 class="entry-title ">@Model.Announcement.Title</h1>
            <div class="entry-meta">
                <span class="posted-on">
                    Posted On: <i class="fa fa-calendar"></i>
                               <time class="entry-date published">@Model.Announcement.Date</time>
                    
                    <time class="entry-date published"></time>
                </span>
            </div>
        </header>
        <div class="col-md-12 entry-content announcement-Content">
            @Html.Raw(Model.Announcement.Description)
        </div>
    </div>
    }
</div>

@section Scripts{

    <script>
        var ShowCaptch = '@Constants.ShowCaptch';
        var AccountLocked = '@Constants.AccountLocked';
    </script>


}

