@model AddPayorModel


<form class="form-horizontal" id="frmPayor">
    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="fscontainer">
                            <div class="legend">
                                @Resource.PayorDetails
                            </div>

                            <div class="col-sm-6 no-padding">
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-12">
                                        <label class="col-md-4 control-label required">@Resource.PayorName</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(q => q.Payor.PayorName, new { @class = "form-control input-sm", data_ng_model = "PayorModel.Payor.PayorName", placeholder = @Resource.PayorName, maxlength = 50 })
                                            @Html.ValidationMessageFor(q => q.Payor.PayorName)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-md-4 control-label required">@Resource.ShortName</label>
                                        <div class="col-md-8">

                                            @Html.TextBoxFor(q => q.Payor.ShortName, new { @class = "form-control input-sm", data_ng_model = "PayorModel.Payor.ShortName", placeholder = @Resource.ShortName, maxlength = 50 })
                                            @Html.ValidationMessageFor(q => q.Payor.ShortName)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-md-4 control-label">@Resource.PayorSubmissionName</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(q => q.Payor.PayorSubmissionName, new { @class = "form-control input-sm", data_ng_model = "PayorModel.Payor.PayorSubmissionName", placeholder = @Resource.PayorSubmissionName, maxlength = 50 })
                                            @Html.ValidationMessageFor(q => q.Payor.PayorSubmissionName)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-md-4 control-label required">
                                            @Resource.PayorNumber
                                        </label>
                                        <div class="col-md-8 col-sm-12 ">
                                            @Html.TextBoxFor(q => q.Payor.PayorIdentificationNumber, new { @class = "form-control input-sm", data_ng_model = "PayorModel.Payor.PayorIdentificationNumber", placeholder = @Resource.PayorNumber, maxlength = 30 })
                                            @Html.ValidationMessageFor(q => q.Payor.PayorIdentificationNumber)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-md-4 control-label required">@Resource.Address</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(q => q.Payor.Address, new { @class = "form-control input-sm", data_ng_model = "PayorModel.Payor.Address", placeholder = @Resource.Address, maxlength = 100, rows = "2" })
                                            @Html.ValidationMessageFor(q => q.Payor.Address)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-md-4 control-label required">@Resource.City</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(q => q.Payor.City, new { @class = "form-control input-sm", data_ng_model = "PayorModel.Payor.City", placeholder = @Resource.City, maxlength = 50 })
                                            @Html.ValidationMessageFor(q => q.Payor.City)
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-md-4 control-label required">@Resource.State</label>
                                        <div class="col-md-8">

                                            <div class="validate-group input-group-sm">
                                                <select disabled class="form-control input-sm" data-ng-model="PayorModel.Payor.StateCode" data-ng-init="PayorModel.Payor.StateCode='@Constants.DefaultStateCode'">
                                                    <option value="@Constants.DefaultStateCode">@Constants.DefaultStateName</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-md-4 control-label required">@Resource.ZipCode</label>
                                        <div class="col-md-8">
                                            <zipcode type="text" ng-model="PayorModel.Payor.ZipCode" required="ZipCode is required" modelid="Zip" />
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-md-4 control-label required">@Resource.PayorType</label>
                                        <div class="col-md-8">
                                            <div class=" input-group-sm">
                                                @Html.DropDownListFor(p => p.Payor.PayorTypeID, Model.PayorTypeList.ToSelectList(Model.Payor.PayorTypeID.ToString() ?? "", "PayorTypeName", "PayorTypeID", @Resource.SelectPayor, ""), new
                                                    {
                                                        convert_to_number = "",

                                                        data_ng_model = "PayorModel.Payor.PayorTypeID",
                                                        data_ng_init = "PayorModel.Payor.PayorTypeID=PayorModel.Payor.PayorTypeID==''?null:PayorModel.Payor.PayorTypeID.toString()",
                                                        @class = "form-control",
                                                        //data_ng_class = "{'valid': !(PayorModel.Payor.PayorTypeID == null  || PayorModel.Payor.PayorTypeID == '' )}"
                                                    })
                                                @Html.ValidationMessageFor(q => q.Payor.PayorTypeID)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 no-padding" >

                                <div class="form-group col-sm-12">
                                    <label class="col-md-4 control-label">@Resource.BillingProvider
                                        <i class="fa fa-question-circle font-size-16" data-ng-tooltip="@Resource.DefaultBillingProviderText" data-ng-custom-class="tooltip-extra-z-index"></i>
                                    </label>
                                   <div class="col-md-7">
                                        @Html.DropDownListFor(p => p.Payor.BillingProviderID, Model.Facilities.ToSelectList(Model.Payor.BillingProviderID.ToString() ?? "", "Name", "Value", @Resource.Select, ""),
                                          new
                                              {
                                                  convert_to_number = "",
                                                  data_ng_model = "PayorModel.Payor.BillingProviderID",
                                                  data_ng_init = "PayorModel.Payor.BillingProviderID=(PayorModel.Payor.BillingProviderID==null || PayorModel.Payor.BillingProviderID==0 || PayorModel.Payor.BillingProviderID=='') ?'':PayorModel.Payor.BillingProviderID.toString()",
                                                  data_ng_value = "PayorModel.Payor.BillingProviderID",
                                                  @class = "form-control input-sm"
                                              })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Payor.BillingProviderID)
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="col-md-4 control-label">@Resource.RenderingProvider
                                        <i class="fa fa-question-circle font-size-16" data-ng-tooltip="@Resource.DefaultRenderingProviderText" data-ng-custom-class="tooltip-extra-z-index"></i>
                                    </label>
                                   <div class="col-md-7">
                                        @Html.DropDownListFor(p => p.Payor.RenderingProviderID, Model.Facilities.ToSelectList(Model.Payor.RenderingProviderID.ToString() ?? "", "Name", "Value", @Resource.Select, ""),
                                          new
                                              {
                                                  convert_to_number = "",
                                                  data_ng_model = "PayorModel.Payor.RenderingProviderID",
                                                  data_ng_init = "PayorModel.Payor.RenderingProviderID=(PayorModel.Payor.RenderingProviderID==null || PayorModel.Payor.RenderingProviderID==0 || PayorModel.Payor.RenderingProviderID=='') ?'':PayorModel.Payor.RenderingProviderID.toString()",
                                                  data_ng_value = "PayorModel.Payor.RenderingProviderID",
                                                  @class = "form-control input-sm"
                                              })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Payor.RenderingProviderID)
                                </div>


                                <div class="form-group col-sm-push-2 col-sm-10" data-ng-if="PayorSetting">
                                    <div class="note note-warning">
                                        <h4 class="block">@Resource.PayorSettingMissingTitle </h4>
                                        <p>@Resource.PayorSettingMissingDetail </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-group no-margin no-padding">
                    <input type="submit" data-ng-click="SavePayorDetails()" class="btn btn-sm green-jungle pull-right" value="@(Model.Payor != null && Model.Payor.PayorID > 0 ? Resource.Update : @Resource.Save)"/>
                    <a href="@Constants.GetPayorList">
                        <input type="button" class="btn btn-sm red-mint pull-right margin-right-10" value="@Resource.Cancel"/></a>
                </div>
            </div>
        </div>
    </div>
</form>
