@model SetFacilityHouseModel
<div class="form-group row">
    <div class="col-sm-12">
        <div class="fscontainer">
            <div class="legend">
                @Resource.FacilityTransportLocationMapping
            </div>
            <form id="frmFacilityTransportLocationMapping">
                <div class="col-lg-12 col-md-12 col-sm-12 remove-form-horizontal">
                    <div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-6 no-left-padding">
                        <label class="control-label">@Resource.Facility</label>
                        @Html.DropDownListFor(p => p.SelectedFaciltyID, Model.Facilities.ToSelectList(Model.SelectedFaciltyID.ToString() ?? "", "Name", "Value", Resource.Select, ""),
                                              new
                                                  {
                                                      convert_to_number = "",
                                                      data_ng_model = "SetFacilityHouseModel.SelectedFaciltyID",
                                                      data_ng_init = "SetFacilityHouseModel.SelectedFaciltyID=SetFacilityHouseModel.SelectedFaciltyID==''?null:SetFacilityHouseModel.SelectedFaciltyID.toString()",
                                                      @class = "form-control input-sm"
                                                  })
                        @Html.ValidationMessageFor(m => m.SelectedFaciltyID)
                    </div>
                    <div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-6">
                        <label class="control-label">@Resource.TransportationLocation</label>
                        @Html.DropDownListFor(p => p.SelectedTransportLocationID, Model.TransportLocations.ToSelectList(Model.SelectedTransportLocationID.ToString() ?? "", "Name", "Value", Resource.Select, ""),
                                              new
                                                  {
                                                      convert_to_number = "",
                                                      data_ng_model = "SetFacilityHouseModel.SelectedTransportLocationID",
                                                      data_ng_init = "SetFacilityHouseModel.SelectedTransportLocationID=SetFacilityHouseModel.SelectedTransportLocationID==''?null:SetFacilityHouseModel.SelectedTransportLocationID.toString()",
                                                      @class = "form-control input-sm"
                                                  })
                        @Html.ValidationMessageFor(m => m.SelectedTransportLocationID)
                    </div>
                </div>
                <hr class="clear-both" data-ng-if="SetFacilityHouseModel.SelectedTransportLocationID > 0 && SetFacilityHouseModel.SelectedFaciltyID > 0"/>
                <div class="col-md-12 remove-form-horizontal margin-top-15" data-ng-if="SetFacilityHouseModel.SelectedTransportLocationID > 0 && SetFacilityHouseModel.SelectedFaciltyID > 0">

                    <strong>@Resource.PickUpDropOffTimingDetails :</strong>
                    <div class="row margin-top-5">
                         <div class="form-group col-lg-2 col-md-3 col-sm-3">
                            <label class="control-label ">@Resource.MondayDropOff</label>
                            @Html.TextBoxFor(q => q.FacilityTransportLocationMapping.MondayDropOff, new { @class = "form-control input-sm", data_ng_model = "FacilityTransportLocationMapping.MondayDropOff", placeholder = @Resource.MondayDropOff, maxlength = 30 })
                        </div>
                        <div class="form-group col-lg-2 col-md-3 col-sm-3">
                            <label class="control-label ">@Resource.MondayPickUp</label>
                            @Html.TextBoxFor(q => q.FacilityTransportLocationMapping.MondayPickUp, new { @class = "form-control input-sm", data_ng_model = "FacilityTransportLocationMapping.MondayPickUp", placeholder = @Resource.MondayPickUp, maxlength = 30 })
                            @*@Html.ValidationMessageFor(q => q.FacilityTransportLocationMapping.MondayPickUp)*@
                        </div>

                       
                        <div class="form-group col-lg-2 col-md-3 col-sm-3">
                            <label class="control-label ">@Resource.TuesdayDropOff</label>
                            @Html.TextBoxFor(q => q.FacilityTransportLocationMapping.TuesdayDropOff, new { @class = "form-control input-sm", data_ng_model = "FacilityTransportLocationMapping.TuesdayDropOff", placeholder = @Resource.TuesdayDropOff, maxlength = 30 })
                        </div>

                        <div class="form-group col-lg-2 col-md-3 col-sm-3">
                            <label class="control-label ">@Resource.TuesdayPickUp</label>
                            @Html.TextBoxFor(q => q.FacilityTransportLocationMapping.TuesdayPickUp, new { @class = "form-control input-sm", data_ng_model = "FacilityTransportLocationMapping.TuesdayPickUp", placeholder = @Resource.TuesdayPickUp, maxlength = 30 })
                        </div>

                        <div class="form-group col-lg-2 col-md-3 col-sm-3 ">
                            <label class="control-label ">@Resource.WednesdayDropOff</label>
                            @Html.TextBoxFor(q => q.FacilityTransportLocationMapping.WednesdayDropOff, new { @class = "form-control input-sm", data_ng_model = "FacilityTransportLocationMapping.WednesdayDropOff", placeholder = @Resource.WednesdayDropOff, maxlength = 320 })
                        </div>

                        <div class="form-group col-lg-2 col-md-3 col-sm-3">
                            <label class="control-label ">@Resource.WednesdayPickUp</label>
                            @Html.TextBoxFor(q => q.FacilityTransportLocationMapping.WednesdayPickUp, new { @class = "form-control input-sm", data_ng_model = "FacilityTransportLocationMapping.WednesdayPickUp", placeholder = @Resource.WednesdayPickUp, maxlength = 30 })
                        </div>

                        

                        <div class="clearleft"></div>
                        
                        <div class="form-group col-lg-2 col-md-3 col-sm-3">
                            <label class="control-label ">@Resource.ThursdayDropOff</label>
                            @Html.TextBoxFor(q => q.FacilityTransportLocationMapping.ThursdayDropOff, new { @class = "form-control input-sm", data_ng_model = "FacilityTransportLocationMapping.ThursdayDropOff", placeholder = @Resource.ThursdayDropOff, maxlength = 30 })
                        </div>

                        <div class="form-group col-lg-2 col-md-3 col-sm-3">
                            <label class="control-label ">@Resource.ThursdayPickUp</label>
                            @Html.TextBoxFor(q => q.FacilityTransportLocationMapping.ThursdayPickUp, new { @class = "form-control input-sm", data_ng_model = "FacilityTransportLocationMapping.ThursdayPickUp", placeholder = @Resource.ThursdayPickUp, maxlength = 30 })
                        </div>

                        
                        <div class="form-group col-lg-2 col-md-3 col-sm-3">
                            <label class="control-label ">@Resource.FridayDropOff   </label>
                            @Html.TextBoxFor(q => q.FacilityTransportLocationMapping.FridayDropOff, new { @class = "form-control input-sm", data_ng_model = "FacilityTransportLocationMapping.FridayDropOff", placeholder = @Resource.FridayDropOff, maxlength = 30 })
                        </div>

                        <div class="form-group col-lg-2 col-md-3 col-sm-3">
                            <label class="control-label ">@Resource.FridayPickUp</label>
                            @Html.TextBoxFor(q => q.FacilityTransportLocationMapping.FridayPickUp, new { @class = "form-control input-sm", data_ng_model = "FacilityTransportLocationMapping.FridayPickUp", placeholder = @Resource.FridayPickUp, maxlength = 30 })
                        </div>

                        <div class="form-group col-lg-2 col-md-3 col-sm-3">
                            <label class="control-label ">@Resource.SaturdayDropOff</label>
                            @Html.TextBoxFor(q => q.FacilityTransportLocationMapping.SaturdayDropOff, new { @class = "form-control input-sm", data_ng_model = "FacilityTransportLocationMapping.SaturdayDropOff", placeholder = @Resource.SaturdayDropOff, maxlength = 30 })
                        </div>

                        <div class="form-group col-lg-2 col-md-3 col-sm-3">
                            <label class="control-label ">@Resource.SaturdayPickUp</label>
                            @Html.TextBoxFor(q => q.FacilityTransportLocationMapping.SaturdayPickUp, new { @class = "form-control input-sm", data_ng_model = "FacilityTransportLocationMapping.SaturdayPickUp", placeholder = @Resource.SaturdayPickUp, maxlength = 30 })
                        </div>

                        

                        <div class="clearleft"></div>
                        
                        <div class="form-group col-lg-2 col-md-3 col-sm-3">
                            <label class="control-label ">@Resource.SundayDropOff
                            </label>
                            @Html.TextBoxFor(q => q.FacilityTransportLocationMapping.SundayDropOff, new { @class = "form-control input-sm", data_ng_model = "FacilityTransportLocationMapping.SundayDropOff", placeholder = @Resource.SundayDropOff, maxlength = 30 })
                        </div>

                        <div class="form-group col-lg-2 col-md-3 col-sm-3">
                            <label class="control-label ">@Resource.SundayPickUp</label>
                            @Html.TextBoxFor(q => q.FacilityTransportLocationMapping.SundayPickUp, new { @class = "form-control input-sm", data_ng_model = "FacilityTransportLocationMapping.SundayPickUp", placeholder = @Resource.SundayPickUp, maxlength = 30 })
                        </div>

                        
                    </div>
                </div>
            </form>
        </div>
        <div class="space15"></div>
        <div class="col-md-12 form-group no-margin no-padding">
            <input type="submit" data-ng-click="SaveFacilityTransportLocationMapping()" class="btn btn-sm green-jungle pull-right" value="@Resource.Save"/>
        </div>
    </div>
</div>
