<div class="col-sm-12 no-padding">
    <h4 class="caption">
        <span class="font-green sbold uppercase" data-ng-bind="commonDetailPopover.FacilityName"></span><small class="caption-helper">( {{commonDetailPopover.BadCapacity}} <b>@Resource.Bad</b> | {{commonDetailPopover.PrivateRoomCount}} <b>@Resource.PrivateRoom )</b></small>
    </h4>
    <hr />
</div>
<div class="col-sm-12 no-padding facility-house-detail-popover">
    <div class="col-sm-12 no-padding">
        <div class="col-sm-6 no-padding">
            <table class="table tabbable-noborder">
                <tbody>
                    <tr>
                        <td class="col-sm-1"><strong>@Resource.County:</strong></td>
                        <td data-ng-bind="commonDetailPopover.County != null ? commonDetailPopover.County: '@Resource.NA'"></td>
                    </tr>
                    <tr>
                        <td class="col-sm-1"><strong>@Resource.Region:</strong></td>
                        <td data-ng-bind="commonDetailPopover.RegionName != null ? commonDetailPopover.RegionName: '@Resource.NA'"></td>
                    </tr>
                    <tr>
                        <td class="col-sm-1"><strong>@Resource.GSA:</strong></td>
                        <td data-ng-bind="commonDetailPopover.GSA != null ? commonDetailPopover.GSA: '@Resource.NA'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6 no-padding">
            <table class="table tabbable-noborder">
                <tbody>
                    <tr>
                        <td><strong>@Resource.Address:</strong></td>
                        <td data-ng-bind="commonDetailPopover.Address != null ? commonDetailPopover.Address: '@Resource.NA'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-12 no-padding">
        <h5 class="font-green margin-bottom-0"><strong>@Resource.ComplianceInformation</strong></h5>
        <div class="col-sm-6 no-padding">
            <table class="table tabbable-noborder">
                <tbody>
                    <tr>
                        <td><strong>@Resource.SiteType:</strong></td>
                        <td data-ng-bind="commonDetailPopover.SiteType != null ? commonDetailPopover.SiteType: '@Resource.NA'"></td>
                    </tr>
                    <tr>
                        <td><strong>@Resource.ProviderType:</strong></td>
                        <td data-ng-bind="commonDetailPopover.ProviderType != null ? commonDetailPopover.ProviderType: '@Resource.NA'"></td>
                    </tr>
                    <tr>
                        <td><strong>@Resource.Phone:</strong></td>
                        <td data-ng-bind="commonDetailPopover.Phone != null ? commonDetailPopover.Phone: '@Resource.NA'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6 no-padding">
            <table class="table tabbable-noborder">
                <tbody>
                    <tr>
                        <td><strong>@Resource.Licensure:</strong></td>
                        <td data-ng-bind="commonDetailPopover.Licensure != null ? commonDetailPopover.Licensure: '@Resource.NA'"></td>
                    </tr>
                    <tr>
                        <td><strong>@Resource.LicenseRenewal:</strong></td>
                        <td data-ng-bind="commonDetailPopover.LicensureRenewalDate | dateformat | date: 'MM/dd/yyyy'"></td>
                    </tr>
                    <tr>
                        <td><strong>@Resource.FirePermit:</strong></td>
                        <td data-ng-bind="commonDetailPopover.FirePermitDate | dateformat | date: 'MM/dd/yyyy'"></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <hr />
    </div>
    <div class="col-sm-12 no-padding">
        <h5 class="font-green margin-bottom-0"><strong>Billing</strong></h5>
        <table class="table">
            <tbody>
                <tr>
                    <td><strong>@Resource.NPI:</strong></td>
                    <td data-ng-bind="commonDetailPopover.NPI != null ? commonDetailPopover.NPI: '@Resource.NA'"></td>
                    <td><strong>@Resource.AHCCCSID:</strong></td>
                    <td data-ng-bind="commonDetailPopover.AHCCCSID != null ? commonDetailPopover.AHCCCSID: '@Resource.NA'"></td>
                    <td><strong>@Resource.EIN:</strong></td>
                    <td data-ng-bind="commonDetailPopover.EIN != null ? commonDetailPopover.EIN: '@Resource.NA'"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 no-padding">
        <h5 class="margin-bottom-0 font-green"><strong>Payors</strong></h5>
        <p class="margin-top-5 padding-left-4" data-ng-bind="commonDetailPopover.PayorApproved != null ? commonDetailPopover.PayorApproved: '@Resource.NA'"></p>
    </div>
</div>
