<div class="row">
    <div class="col-sm-12">
        <div class="display-none">
            <div class="col-md-12 margin-bottom-5 no-padding">
                <span><strong>@Resource.StartDate : </strong><span>{{commonDetailPopover.event.scheduleModel.StartDate | date:'@Resource._DateFormat'}} </span></span>&nbsp;
                <span><strong>@Resource.EndDate :</strong><span> {{commonDetailPopover.event.scheduleModel.EndDate | date:'@Resource._DateFormat'}}</span></span>
            </div>
            <div class="col-md-12 margin-bottom-5 no-padding">
                <strong>@Resource.PickUpLocation : </strong><span>{{commonDetailPopover.event.scheduleModel.PickUpLocationName}}</span>
            </div>
            <div class="col-md-12 margin-bottom-5 no-padding">
                <strong>@Resource.DropOffLocation : </strong><span>{{commonDetailPopover.event.scheduleModel.DropOffLocationName}}</span>
            </div>
        </div>

        <div>
            <div class="col-md-12 margin-bottom-5 no-padding">
                <strong>@Resource.FacilityName : </strong><span>{{commonDetailPopover.event.scheduleModel.FacilityName}}</span>
            </div>
            <div class="col-md-12 margin-bottom-5 no-padding">
                <strong>@Resource.Employee : </strong><span>{{commonDetailPopover.event.scheduleModel.EmployeeName}}</span>
            </div>
            <div class="col-md-12 margin-bottom-5 no-padding">
                <span><strong>@Resource.StartTime : </strong><span>{{commonDetailPopover.event.scheduleModel.StartDate | datetimeformat |orgdatetime}} </span></span>
            </div>
            <div class="col-md-12 margin-bottom-5 no-padding">
                <span><strong>@Resource.EndTime : &nbsp;&nbsp;</strong><span>{{commonDetailPopover.event.scheduleModel.EndDate | datetimeformat|orgdatetime}} </span></span>
            </div>
            <div class="col-md-12 margin-bottom-5 no-padding">
                <strong>@Resource.BreakHours : </strong><span>{{commonDetailPopover.event.scheduleModel.BreakMinutes}}</span>
            </div>
            <div class="col-md-12 margin-bottom-5 no-padding">
                <strong>@Resource.TotalHours : </strong><span>{{commonDetailPopover.event.scheduleModel.WorkMinutes}}</span>
            </div>
        </div>


    </div>
</div>


