@model HC_AddReferralModel

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="tabs">
            <div class="tabbable tabbable-custom tabs-left">
                <div class="col-lg-12 col-md-12 col-sm-12 employeeTabsecond">
                    <ul class="nav nav-tabs tabs-left">
                        @*<li class="active">
                            <a id="CarePlan_CareForm" href="#tab_CareForm" data-toggle="tab">
                                @Resource.CareForm
                            </a>
                        </li>*@
                        @if (Common.HasPermission(Constants.HC_Permission_PatientIntake_CarePlan_TaskMapping_View))
                        {
                            <li>
                                <a id="CarePlan_ReferralTaskMapping" href="#tab_ReferralTaskMapping" data-toggle="tab">
                                Duty Assign    @*@Resource.TasksMapping*@
                                </a>
                            </li>
                        }
                        @*@if (Common.HasPermission(Constants.HC_Permission_PatientIntake_CarePlan_PatientSchedule_View))
                        {
                            <li>
                                <a id="CarePlan_ReferralTimeSlots" href="#tab_ReferralTimeSlots" data-toggle="tab">
                                    @Resource.PatientSchedule
                                </a>
                            </li>
                        }*@

                        @*@if (Common.HasPermission(Constants.HC_Permission_PatientIntake_CarePlan_Frequency_View) && SessionHelper.IsCaseManagement)
                        {
                            <li>
                                <a id="CarePlan_ReferralCareTimeSlots" href="#tab_ReferralCareTimeSlots" data-toggle="tab">
                                    @Resource.Frequency
                                </a>
                            </li>
                        }*@
                        @*@if (Common.HasPermission(Constants.HC_Permission_PatientIntake_CarePlan_CaseLoad_View) && SessionHelper.IsCaseManagement)
                        {
                            <li>
                                <a id="CarePlan_CaseLoad" href="#tab_ReferralCaseLoad" data-toggle="tab">
                                    @Resource.CaseLoadTitle
                                </a>
                            </li>
                        }*@
                    </ul>
                </div>

                <div class="tab-content col-lg-12 col-md-12 col-sm-12">

                    @if (Common.HasPermission(Constants.HC_Permission_PatientIntake_CarePlan_TaskMapping_View))
                    {
                        <div class="tab-pane" id="tab_ReferralTaskMapping" style="min-height: 350px;" data-ng-controller="ReferralTaskMappingController">
                            @Html.Partial("Partial/CarePlan/_ReferralTaskMapping", Model)
                        </div>
                    }
                    @*@if (Common.HasPermission(Constants.HC_Permission_PatientIntake_CarePlan_PatientSchedule_View))
                    {

                        <div class="tab-pane" id="tab_ReferralTimeSlots" style="min-height: 350px;">
                            @Html.Action("PartialReferralTimeSlots", "facility", new { id = Model.Referral.ReferralID })
                        </div>
                    }*@
                    @*@if (Common.HasPermission(Constants.HC_Permission_PatientIntake_CarePlan_Frequency_View) && SessionHelper.IsCaseManagement)
                    {
                        <div class="tab-pane" id="tab_ReferralCareTimeSlots" style="min-height: 350px;">
                            @Html.Action("PartialReferralCareTypeTimeSlots", "Referral", new { id = Model.Referral.ReferralID })
                        </div>
                    }*@

                    @*@if (Common.HasPermission(Constants.HC_Permission_PatientIntake_CarePlan_CaseLoad_View) && SessionHelper.IsCaseManagement)
                    {
                        <div class="tab-pane" id="tab_ReferralCaseLoad" style="min-height: 350px;" data-ng-controller="ReferralCaseLoadController">
                            @Html.Partial("Partial/CarePlan/_ReferralCaseLoad", Model)
                        </div>
                    }*@
                </div>
            </div>
        </div>
    </div>

</div>
