<div class="row">
    <div class="col-sm-12">
        <h4 class="caption">
            <span class="font-green sbold uppercase">{{commonDetailPopover.event.scheduleModel.LastName}}, {{commonDetailPopover.event.scheduleModel.FirstName}}</span>
            @*<span class="badge {{commonDetailPopover.event.scheduleModel.ScheduleStatusName | removeSpaces}}" data-ng-class="" data-ng-bind="commonDetailPopover.event.scheduleModel.ScheduleStatusName"></span>*@
            @*{{commonDetailPopover.event.scheduleModel}}*@
            <span class="badge {{commonDetailPopover.event.scheduleModel.ScheduleStatusName | removeSpaces}}">{{commonDetailPopover.event.scheduleModel.ScheduleStatusName}}
            </span>

            <span class="badge label label-important label-mini text-align-right" data-ng-hide="!commonDetailPopover.event.scheduleModel.IsRefrralDeleted" data-ng-class="">Disabled</span>
        </h4>
        <div class="display-none">
            <div class="col-md-12 margin-bottom-5 no-padding">
                <span><strong>@Resource.StartDate : </strong><span>{{commonDetailPopover.event.scheduleModel.StartDate | date:'@Resource._DateFormat'}} </span></span>&nbsp;
                <span><strong>@Resource.EndDate :</strong><span> {{commonDetailPopover.event.scheduleModel.EndDate | date:'@Resource._DateFormat'}}</span></span>
            </div>
            <div class="col-md-12 margin-bottom-5 no-padding">
                <strong>@Resource.PickUpLocation : </strong><span>{{commonDetailPopover.event.scheduleModel.PickUpLocationName}}</span>
            </div>
            <div class="col-md-12 margin-bottom-5 no-padding">
                <strong>@Resource.DropOffLocation : </strong><span>{{commonDetailPopover.event.scheduleModel.DropOffLocationName}}</span>
            </div>
        </div>

        <div  >
            <div class="col-md-12 margin-bottom-5 no-padding">
                <span><strong>@Resource.Parent : </strong><span>{{commonDetailPopover.event.scheduleModel.PrimaryContactName}} </span></span>
                <span class="pull-right" data-ng-if="commonDetailPopover.event.scheduleModel.Phone1 || commonDetailPopover.event.scheduleModel.Phone2">
                    <i class="fa fa-phone"></i><strong>&nbsp;:&nbsp;</strong>
                    <span data-ng-if="commonDetailPopover.event.scheduleModel.Phone1">{{commonDetailPopover.event.scheduleModel.Phone1|phoneformat}} </span>
                    <span data-ng-if="commonDetailPopover.event.scheduleModel.Phone2">| {{commonDetailPopover.event.scheduleModel.Phone2|phoneformat}}</span>
                </span>

            </div>
            <div class="col-md-12 margin-bottom-5 no-padding">
                <div data-ng-if="commonDetailPopover.event.scheduleModel.Email"><i class="fa fa-envelope"></i><strong>&nbsp;:&nbsp;</strong><span>{{commonDetailPopover.event.scheduleModel.Email}}</span></div>
            </div>
            @* <div class="col-md-12 margin-bottom-5 no-padding" data-ng-if="commonDetailPopover.event.scheduleModel.PlacementRequirement">
                <strong>@Resource.PR : </strong><span>{{commonDetailPopover.event.scheduleModel.PlacementRequirement}}</span>
            </div>*@

            <div class="col-md-12 margin-bottom-5 no-padding">
                <span><strong>@Resource.StartTime : </strong><span>{{commonDetailPopover.event.scheduleModel.StartDate | datetimeformat}} </span></span>
            </div>
            <div class="col-md-12 margin-bottom-5 no-padding">
                 <span><strong>@Resource.EndTime : &nbsp;&nbsp;</strong><span>{{commonDetailPopover.event.scheduleModel.EndDate | datetimeformat}} </span></span>
            </div>

            <div class="col-md-12 margin-bottom-5 no-padding">
                <strong>@Resource.Employee : </strong><span>{{commonDetailPopover.event.scheduleModel.EmployeeName}}</span>
            </div>

            @*<div class="col-md-12 margin-bottom-5 no-padding">
                <span><strong data-ng-show="commonDetailPopover.event.scheduleModel.ReferralSiblingMapping!='' ">@Resource.Sibs:</strong><span data-ng-repeat="item in commonDetailPopover.event.scheduleModel.ReferralSiblingMapping">
                    <span>{{$first ? '' : ', '}}<a href="#" class="text-decoration-none" data-ng-href="/referral/addreferral/{{item.EncryptedReferralID}}" data-ng-bind="item.ClientName" target="_blank"></a>
                    </span>
                </span></span>
            </div>*@

            <div class="col-md-12 margin-bottom-5 no-padding" data-ng-if="commonDetailPopover.event.scheduleModel.Comments">
                <strong>@Resource.Comment : </strong><span>{{commonDetailPopover.event.scheduleModel.Comments}}</span>
            </div>
        </div>

       
    </div>
</div>


