@{
    bool isEditMode = !string.IsNullOrEmpty(Model.Referral.EncryptedReferralID) && Model.Referral.ReferralID > 0;
}
@model HC_AddReferralModel

<form id="frmReferral" class="referralDetailsMs" method="post">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            @*<div class="capturecall">
                    <div class="breadcrumb">
                        <a href="#" id="New" class="new">New referral</a>

                            <a href="#" id="Waitlist" class="waitlist">Waitlist</a>

                            <a href="#" id="Waitlist" class="">Waitlisted</a>

                            <a href="#" id="Complete" class="waitlist">Complete</a>

                            <a href="#" id="Complete">Complete</a>

                    </div>


                </div>*@
            <div id="tabs">
                <div class="tabbable tabbable-custom tabs-left">
                    @*<div class="col-lg-12 col-md-12 col-sm-12 employeeTabsecond">
                        <ul class="nav nav-tabs tabs-left no-padding">
                            <li class="active"><a id="addReferralDetails_clientInformation" href="#tab_ClientInformation" data-toggle="tab">Facility Information <span class="badge badge-important" data-ng-hide="ReferralErrorCount.ClientTab.length==0">{{ReferralErrorCount.ClientTab.length }}</span></a></li>

                        </ul>
                    </div>*@

                    <div class="tab-content col-lg-12 col-md-12 col-sm-12">

                        <div class="tab-pane active" id="tab_ClientInformation" data-ng-if="Step1==true && Step2==false">
                            <div style="margin-bottom:15px; width:100%; float:left;">
                                <div class="col-sm-6 text-center" style="background: #25b8d5; padding: 10px;">
                                    Step <span style="background: #fff; color: #000; border-radius: 50%; width: 25px; height: 25px; text-align: center; display: inline-block; line-height: 25px; margin-left: 10px;">1</span>
                                </div>
                                <div class="col-sm-6 text-center" style="background: #eaedf0; padding:10px;">
                                    Step <span style="background:#fff; color: #000; border-radius: 50%; width: 25px; height: 25px; text-align: center; display: inline-block;margin-left:10px; line-height: 25px;">2</span>
                                </div>
                            </div>
                            @Html.Partial("Partial/ReferralDetails/_tabClient")
                        </div>
                        <div data-ng-if="Step1==false && Step2==true">
                            <div style="margin-bottom:15px; width:100%; float:left;">

                                <div class="col-sm-6 text-center" style="background: #eaedf0; padding:10px;">
                                    Step <span style="background:#fff; color: #000; border-radius: 50%; width: 25px; height: 25px; text-align: center; display: inline-block;margin-left:10px; line-height: 25px;">1</span>
                                </div>
                                <div class="col-sm-6 text-center" style="background: #25b8d5; padding: 10px;">
                                    Step <span style="background: #fff; color: #000; border-radius: 50%; width: 25px; height: 25px; text-align: center; display: inline-block; line-height: 25px; margin-left: 10px;">2</span>
                                </div>
                            </div>
                            @Html.Partial("Partial/ReferralDetails/_tabReferralHistory")
                        </div>

                        @*@if (Common.HasPermission(Constants.HC_Permission_PatientDetails_ReferralHistory_View))
                        {
                            <div class="tab-pane" id="tab_ReferralHistory" style="min-height: 350px;">
                                <div data-ng-if="ShowReferralHistory">
                                    @Html.Partial("Partial/ReferralDetails/_tabReferralHistory")
                                </div>
                            </div>
                        }*@



                    </div>

                </div>
            </div>
        </div>

    </div>


    @if (Common.HasPermission(Constants.HC_Permission_PatientIntake_PatientDetails_AddUpdate))
    {
        <div class="row-fluid " >
            <div class="text-center">
                <button class="btn btn-sm red" data-ng-if="Step1==true && Step2==false" data-ng-click="Cancel()"> <i class="fa fa-remove">&nbsp;&nbsp;</i>@Resource.Cancel </button>
                <button type="submit" data-ng-if="Step1==true && Step2==false" class="btn btn-sm green-jungle" data-ng-click="Save(false)">  <i class="fa fa-save ">&nbsp;&nbsp;</i> <i class="fa fa-forward ">&nbsp;&nbsp;</i>Save /Add Employee  </button>
                <button class="btn btn-sm green-jungle" data-ng-if="Step1==false && Step2==true" data-ng-click="BackStep()"> <i class="fa fa-backward">&nbsp;&nbsp;</i> @Resource.Back </button>

            </div>
            <div class="space10"></div>
        </div>
    }


</form>



<div class="modal fade modal-scroll outComeForm" id="model_AddContact" tabindex="-1" role="dialog" aria-hidden="true">
    <form id="frmAddContact">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4 class="modal-title text-center"><strong>@Resource.ContactDetails</strong></h4>
                </div>

                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                @*@if (1 == 2)
                                    {
                                        <div class="row">
                                            <div class="form-group col-lg-8 col-md-8 col-sm-8 col-sm-push-2">
                                                <input type="text"
                                                       token-input
                                                       ng-val="ContactSearchModel.Contacts"
                                                       textfield='FirstName'
                                                       valuefield='ContactID'
                                                       searchurl="{{GetContactListURL}}"
                                                       placeholder="Enter Contact"
                                                       customclass='form-control input-group-sm'
                                                       tokenlimit='1'
                                                       onresultsformatter='ContactResultsFormatter'
                                                       onaddedcallback='ContactAddCallback'
                                                       ondeletecallback='ContactDeleteCallback'
                                                       ontokenformatter="ContactTokenFormatter"
                                                       id="SearchContactToken" />
                                                @Html.ValidationMessageFor(q => q.ContactSearchModel.SearchText)
                                            </div>

                                        </div>
                                        <hr class="cm-hr" />
                                    }
                                    <div class="row" data-ng-show="IsContactEditMode">
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <a href="#" class="btn btn-xs green-jungle pull-right" data-ng-click="EditSearchContact()" data-toggle="modal">
                                                <i class="fa fa-pencil">&nbsp;&nbsp;</i>@Resource.EditContact
                                            </a>
                                        </div>

                                    </div>
                                    <div class="row" data-ng-if="!CanAddContact">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="alert alert-danger alert-dismissable">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                                <strong>@Resource.Hey</strong> @Resource.DuplicateContactTypeMessage
                                            </div>
                                        </div>
                                    </div>*@

                                <div class="row" id="modal-body1">
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                        <label class="control-label required">@Resource.ContactType</label>
                                        <div class="input-group-sm">
                                            <select class="form-control requiredStrip"
                                                    data-ng-init="ReferralModel.AddAndListContactInformation.ContactTypeID=(ReferralModel.AddAndListContactInformation.ContactTypeID==null || ReferralModel.AddAndListContactInformation.ContactTypeID=='')?'':ReferralModel.AddAndListContactInformation.ContactTypeID.toString()"
                                                    data-ng-model="ReferralModel.AddAndListContactInformation.ContactTypeID"
                                                    data-val="true" data-val-required="@Resource.SelectContactType"
                                                    id="AddAndListContactInformation_ContactTypeID"
                                                    name="AddAndListContactInformation.ContactTypeID"
                                                    data-ng-setname="ReferralModel.AddAndListContactInformation.ContactTypeName" data-ng-class="{'valid': !(ReferralModel.AddAndListContactInformation.ContactTypeID == null  || ReferralModel.AddAndListContactInformation.ContactTypeID == '' )}"
                                                    convert-to-number=""
                                                    data-ng-disabled="DisableContactType">
                                                <option value="">@Resource.SelectContactType</option>
                                                @*<option data-ng-repeat='contact in ReferralModel.ContactTypeList' value="{{contact.ContactTypeID}}">{{contact.ContactTypeName}}</option>*@
                                                <option value="1">Staffing</option>
                                            </select>




                                            @Html.ValidationMessageFor(q => q.AddAndListContactInformation.ContactTypeID)

                                        </div>
                                    </div>

                                    @* <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                                    <label class="control-label">@Resource.ROIType</label>
                                                    <div class="input-group-sm">
                                                        @Html.DropDownListFor(p => p.AddAndListContactInformation.ROIType, Model.ROITypes.ToSelectList(Model.AddAndListContactInformation.ROIType.ToString() ?? "", "Name", "Value", @Resource.SelectROIType, ""),
                                        new
                                        {
                                            data_ng_model = "ReferralModel.AddAndListContactInformation.ROIType",
                                            data_ng_init = "ReferralModel.AddAndListContactInformation.ROIType=(ReferralModel.AddAndListContactInformation.ROIType==null || ReferralModel.AddAndListContactInformation.ROIType=='') ?'':ReferralModel.AddAndListContactInformation.ROIType.toString()",
                                            @class = "form-control input-sm",
                                            data_ng_setname = "ReferralModel.AddAndListContactInformation.Name",
                                            data_val = false,
                                            convert_to_number = ""
                                        })
                                                        @Html.ValidationMessageFor(q => q.AddAndListContactInformation.ROIType)
                                                    </div>
                                                </div>

                                                <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                                    <label class="control-label">@Resource.ROIExpireDate</label>

                                                    <div class="input-group date" datepicker="ReferralModel.AddAndListContactInformation.ROIExpireDate" ng-dateval="ReferralModel.AddAndListContactInformation.ROIExpireDate">
                                                        <input class="form-control input-sm dateInputMask" placeholder="@Resource.ROIExpireDate"
                                           id="AddAndListContactInformation_ROIExpireDate" maxlength="10" name="Referral.ROIExpireDate"
                                           type="text">
                                                        @Html.ValidationMessageFor(m => m.AddAndListContactInformation.ROIExpireDate)
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    </div>

                                                </div>*@

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                        <label class="control-label required">Facility Name</label>
                                        @*@Html.TextBoxFor(q => q.AddAndListContactInformation.FirstName, new { @class = "form-control input-sm", data_ng_model = "ReferralModel.AddAndListContactInformation.FirstName", data_ng_disabled = "IsContactEditMode", placeholder = "Facility Name", maxlength = 15 })
                                            @Html.ValidationMessageFor(q => q.AddAndListContactInformation.FirstName)*@
                                        <input type="text" id="txtContactFacilityName" class="form-control input-sm required validateElement" ng-model="ReferralModel.AddAndListContactInformation.FirstName" ng-disabled="IsContactEditMode" placeholder="Facility Name" maxlength="50" data-val="true" data-val-required="Facility Name is required" />
                                    </div>

                                    @*<div class="form-group col-lg-4 col-md-4 col-sm-4">
                                            <label class="control-label required">@Resource.LastName</label>
                                            @Html.TextBoxFor(q => q.AddAndListContactInformation.LastName, new { @class = "form-control input-sm", data_ng_model = "ReferralModel.AddAndListContactInformation.LastName", data_ng_disabled = "IsContactEditMode", placeholder = @Resource.LastName, maxlength = 15 })
                                            @Html.ValidationMessageFor(q => q.AddAndListContactInformation.LastName)
                                        </div>*@

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                        <label class="control-label">@Resource.Email</label>
                                        @Html.TextBoxFor(q => q.AddAndListContactInformation.Email, new { @class = "form-control input-sm", data_ng_model = "ReferralModel.AddAndListContactInformation.Email", data_ng_disabled = "IsContactEditMode", placeholder = @Resource.Email, Email = 15 })
                                        @Html.ValidationMessageFor(q => q.AddAndListContactInformation.Email)
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                        <label class="control-label required">@Resource.Phone1</label>
                                        @Html.TextBoxFor(q => q.AddAndListContactInformation.Phone1, new { @class = "form-control input-sm", data_ng_model = "ReferralModel.AddAndListContactInformation.Phone1", data_ng_disabled = "IsContactEditMode", maxlength = 15, placeholder = "(XXX) XXX-XXXX", phone_input = "" })
                                        @Html.ValidationMessageFor(q => q.AddAndListContactInformation.Phone1)
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                        <label class="control-label">@Resource.Phone2</label>
                                        @Html.TextBoxFor(q => q.AddAndListContactInformation.Phone2, new { @class = "form-control input-sm", data_ng_model = "ReferralModel.AddAndListContactInformation.Phone2", data_ng_disabled = "IsContactEditMode", maxlength = 15, placeholder = "(XXX) XXX-XXXX", phone_input = "" })
                                        @Html.ValidationMessageFor(q => q.AddAndListContactInformation.Phone2)
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                        <label class="control-label">@Resource.ApartmentNo</label>
                                        @Html.TextBoxFor(q => q.AddAndListContactInformation.ApartmentNo, new { @class = "form-control input-sm", data_ng_model = "ReferralModel.AddAndListContactInformation.ApartmentNo", placeholder = @Resource.ApartmentNo, maxlength = 50 })
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                        <label class="control-label required">@Resource.Address</label>
                                        @Html.TextBoxFor(q => q.AddAndListContactInformation.Address, new { @class = "form-control input-sm address-autocomplete requiredStrip", data_ng_model = "ReferralModel.AddAndListContactInformation.Address", data_ng_disabled = "IsContactEditMode", placeholder = @Resource.Address, maxlength = 100 })
                                        @Html.ValidationMessageFor(q => q.AddAndListContactInformation.Address)
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                        <label class="control-label required" data-ng-class="{'required': ReferralModel.AddAndListContactInformation.ContactTypeID=='@((int)ContactType.ContactTypes.Primary_Placement)' || ReferralModel.AddAndListContactInformation.ContactTypeID=='@((int)ContactType.ContactTypes.Legal_Guardian)'}">@Resource.City</label>
                                        @Html.TextBoxFor(q => q.AddAndListContactInformation.City, new { @class = "form-control input-sm city-autocomplete requiredStrip", data_ng_model = "ReferralModel.AddAndListContactInformation.City", data_ng_disabled = "IsContactEditMode", placeholder = @Resource.City, maxlength = 50 })
                                        @Html.ValidationMessageFor(q => q.AddAndListContactInformation.City)
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                        <label class="control-label required" data-ng-class="{'required': ReferralModel.AddAndListContactInformation.ContactTypeID=='@((int)ContactType.ContactTypes.Primary_Placement)' || ReferralModel.AddAndListContactInformation.ContactTypeID=='@((int)ContactType.ContactTypes.Legal_Guardian)'}">@Resource.State</label>
                                        @*<select class="form-control input-sm" data-ng-model="ReferralModel.AddAndListContactInformation.State" data-ng-init="ReferralModel.AddAndListContactInformation.State='@Constants.DefaultStateCode'">
                                                <option value="@Constants.DefaultStateCode">@Constants.DefaultStateName</option>
                                            </select>*@


                                        @Html.DropDownListFor(p => p.AddAndListContactInformation.State, Model.StateList.ToSelectList(Model.AddAndListContactInformation.State ?? "", "StateName", "StateCode", @Resource.SelectState, ""),
                                        new
                                        {
                                            data_ng_model = "ReferralModel.AddAndListContactInformation.State",
                                            data_ng_init = "ReferralModel.AddAndListContactInformation.State=ReferralModel.AddAndListContactInformation.State==''?null:ReferralModel.AddAndListContactInformation.State",
                                            @class = "form-control input-sm state-autocomplete requiredStrip"
                                        })
                                        @Html.ValidationMessageFor(q => q.AddAndListContactInformation.State)
                                    </div>

                                    <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                        <label class="control-label " data-ng-class="{'required': ReferralModel.AddAndListContactInformation.ContactTypeID=='@((int)ContactType.ContactTypes.Primary_Placement)' || ReferralModel.AddAndListContactInformation.ContactTypeID=='@((int)ContactType.ContactTypes.Legal_Guardian)'}">@Resource.ZipCode</label>
                                        @Html.TextBoxFor(q => q.AddAndListContactInformation.ZipCode, new
                                   {
                                       @class = "form-control input-sm zipcode-autocomplete",
                                       data_ng_model = "ReferralModel.AddAndListContactInformation.ZipCode",
                                       maxlength = Resource.ZipCodemaxlength,
                                       placeholder = Resource.ZipCodePlaceholder,

                                       dir_valid_number = ""
                                   })
                                        @Html.ValidationMessageFor(q => q.AddAndListContactInformation.ZipCode)
                                    </div>

                                    @*<div class="form-group col-lg-4 col-md-4 col-sm-4">
                                            <label class="control-label " data-ng-class="{'required': ReferralModel.AddAndListContactInformation.ContactTypeID=='@((int)ContactType.ContactTypes.Primary_Placement)' || ReferralModel.AddAndListContactInformation.ContactTypeID=='@((int)ContactType.ContactTypes.Legal_Guardian)'}">@Resource.ZipCode</label>
                                            <div class="replaceErrorDest01">
                                                <div data-ng-if="ReferralModel.AddAndListContactInformation.ContactTypeID=='@((int)ContactType.ContactTypes.Primary_Placement)' || ReferralModel.AddAndListContactInformation.ContactTypeID=='@((int)ContactType.ContactTypes.Legal_Guardian)'">
                                                    <zipcode type="text" class="" ng-model="ReferralModel.AddAndListContactInformation.ZipCode" required="@Resource.ZipCodeRequired" data-ng-disabled="IsContactEditMode" modelid="ZipCode"/>
                                                </div>
                                                <div data-ng-if="ReferralModel.AddAndListContactInformation.ContactTypeID!='@((int)ContactType.ContactTypes.Primary_Placement)' && ReferralModel.AddAndListContactInformation.ContactTypeID!='@((int)ContactType.ContactTypes.Legal_Guardian)'">
                                                    <zipcode type="text" class="" ng-model="ReferralModel.AddAndListContactInformation.ZipCode" data-ng-disabled="IsContactEditMode" modelid="ZipCode" />
                                                </div>
                                                @Html.ValidationMessageFor(q => q.AddAndListContactInformation.ZipCode)
                                            </div>
                                        </div>*@

                                    @*<div class="form-group col-lg-4 col-md-4 col-sm-4">
                                                    <label class="control-label required">@Resource.LanguagePreference</label>
                                                    <div class="validate-group input-group-sm">

                                                        @Html.DropDownListFor(p => p.AddAndListContactInformation.LanguageID, Model.LanguageList.ToSelectList(Model.AddAndListContactInformation.LanguageID.ToString() ?? "", "Name", "LanguageID", @Resource.Select, ""),
                                        new
                                        {
                                            data_ng_model = "ReferralModel.AddAndListContactInformation.LanguageID",
                                            data_ng_init = "ReferralModel.AddAndListContactInformation.LanguageID=(ReferralModel.AddAndListContactInformation.LanguageID==null || ReferralModel.AddAndListContactInformation.LanguageID == '')?'':ReferralModel.AddAndListContactInformation.LanguageID.toString()",
                                            @class = "form-control input-sm requiredStrip",
                                            data_ng_setname = "ReferralModel.AddAndListContactInformation.Name",
                                            //data_ng_class = "{'valid': !(ReferralModel.AddAndListContactInformation.LanguageID == null  || ReferralModel.AddAndListContactInformation.LanguageID == '' )}",
                                            data_ng_disabled = "IsContactEditMode",
                                            convert_to_number = ""
                                        })

                                                        @Html.ValidationMessageFor(q => q.AddAndListContactInformation.LanguageID)
                                                    </div>
                                                </div>

                                                <div class="form-group col-lg-4 col-md-4 col-sm-4" data-ng-show="ReferralModel.AddAndListContactInformation.ContactTypeID != '@((int)ContactType.ContactTypes.Primary_Placement)' && ReferralModel.AddAndListContactInformation.ContactTypeID != '@((int)ContactType.ContactTypes.Legal_Guardian)'">
                                                    <label class="control-label">@Resource.IsEmergencyContact?</label>
                                                    <div class="input-group-sm">
                                                        @Html.DropDownListFor(p => p.AddAndListContactInformation.IsEmergencyContact, Model.EmergencyContactList.ToSelectList(Model.AddAndListContactInformation.IsEmergencyContact.ToString() ?? "", "Name", "Value", "", ""),
                                        new
                                        {
                                            data_ng_model = "ReferralModel.AddAndListContactInformation.IsEmergencyContact",
                                            data_ng_init = "ReferralModel.AddAndListContactInformation.IsEmergencyContact=(ReferralModel.AddAndListContactInformation.IsEmergencyContact==null || ReferralModel.AddAndListContactInformation.IsEmergencyContact=='')?'':ReferralModel.AddAndListContactInformation.IsEmergencyContact.toString()",
                                            @class = "form-control input-sm",
                                            data_ng_setname = "ReferralModel.AddAndListContactInformation.Name",
                                            //data_val = false
                                        })


                                                        @Html.ValidationMessageFor(q => q.AddAndListContactInformation.IsEmergencyContact)
                                                    </div>
                                                </div>*@


                                    @*<div class="form-group col-lg-4 col-md-4 col-sm-4" data-ng-show="ReferralModel.AddAndListContactInformation.ContactTypeID == '@((int)ContactType.ContactTypes.Primary_Placement)'">
                                                        <label class="control-label">@Resource.IsPrimaryContactLegalGuardian?
                                        <i class="fa fa-question-circle" data-ng-tooltip="@Resource.PrimaryLegalGuardianMessage" data-ng-custom-class="tooltip-extra-z-index"></i>

                                                        </label>
                                                        <div class="input-group-sm">
                                                            @Html.DropDownListFor(p => p.AddAndListContactInformation.IsPrimaryPlacementLegalGuardian, Model.PrimaryContactGuardianList.ToSelectList(Model.AddAndListContactInformation.IsPrimaryPlacementLegalGuardian.ToString() ?? "", "Name", "Value", "", ""),
                                            new
                                            {
                                                data_ng_model = "ReferralModel.AddAndListContactInformation.IsPrimaryPlacementLegalGuardian",
                                                data_ng_init = "ReferralModel.AddAndListContactInformation.IsPrimaryPlacementLegalGuardian=(ReferralModel.AddAndListContactInformation.IsPrimaryPlacementLegalGuardian==null?'':ReferralModel.AddAndListContactInformation.IsPrimaryPlacementLegalGuardian.toString())",
                                                @class = "form-control input-sm",
                                                data_ng_setname = "ReferralModel.AddAndListContactInformation.Name",
                                                //data_val = false
                                            })

                                                            @Html.ValidationMessageFor(q => q.AddAndListContactInformation.IsPrimaryPlacementLegalGuardian)
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-lg-4 col-md-4 col-sm-4" data-ng-show="ReferralModel.AddAndListContactInformation.ContactTypeID == '@((int)ContactType.ContactTypes.Legal_Guardian)'">
                                                        <label class="control-label">@Resource.IsDCSLegalGuardian?
                                        <i class="fa fa-question-circle" data-ng-tooltip="@Resource.DCSLegalGuardianMessage" data-ng-custom-class="tooltip-extra-z-index"></i>
                                                        </label>
                                                        <div class="input-group-sm">
                                                            @Html.DropDownListFor(p => p.AddAndListContactInformation.IsDCSLegalGuardian, Model.DCSGuardianList.ToSelectList(Model.AddAndListContactInformation.IsDCSLegalGuardian.ToString() ?? "", "Name", "Value", "", ""),
                                            new
                                            {
                                                data_ng_model = "ReferralModel.AddAndListContactInformation.IsDCSLegalGuardian",
                                                data_ng_init = "ReferralModel.AddAndListContactInformation.IsDCSLegalGuardian=ReferralModel.AddAndListContactInformation.IsDCSLegalGuardian==null?'':ReferralModel.AddAndListContactInformation.IsPrimaryPlacementLegalGuardian.toString()",
                                                @class = "form-control input-sm",
                                                data_ng_setname = "ReferralModel.AddAndListContactInformation.Name",

                                            })
                                                            @Html.ValidationMessageFor(q => q.AddAndListContactInformation.IsDCSLegalGuardian)
                                                        </div>
                                                    </div>

                                                                    <div class="form-group col-lg-4 col-md-4 col-sm-4" data-ng-show="ReferralModel.AddAndListContactInformation.ContactTypeID == '@((int)ContactType.ContactTypes.Legal_Guardian)' && ReferralModel.AddAndListContactInformation.IsDCSLegalGuardian=='true'">
                                                                        <label class="control-label">@Resource.IsNoticeProviderOnFile?</label>
                                                                        <div class="input-group-sm">
                                                                            @Html.DropDownListFor(p => p.AddAndListContactInformation.IsNoticeProviderOnFile, Model.NoticeProviderOnFileList.ToSelectList(Model.AddAndListContactInformation.IsNoticeProviderOnFile.ToString() ?? "", "Name", "Value", "", ""),
                                                            new
                                                            {
                                                                data_ng_model = "ReferralModel.AddAndListContactInformation.IsNoticeProviderOnFile",
                                                                data_ng_init = "ReferralModel.AddAndListContactInformation.IsNoticeProviderOnFile=ReferralModel.AddAndListContactInformation.IsNoticeProviderOnFile==null?'':ReferralModel.AddAndListContactInformation.IsNoticeProviderOnFile.toString()",
                                                                @class = "form-control input-sm",
                                                                data_ng_setname = "ReferralModel.AddAndListContactInformation.Name",
                                                                //data_val = false

                                                            })
                                                                            @Html.ValidationMessageFor(q => q.AddAndListContactInformation.IsNoticeProviderOnFile)
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                    <div class="form-group col-lg-4 col-md-4 col-sm-4" data-ng-show="ReferralModel.AddAndListContactInformation.ContactTypeID == '@((int)ContactType.ContactTypes.Relative)' || ReferralModel.AddAndListContactInformation.ContactTypeID == '@((int)ContactType.ContactTypes.Relative2)'">
                                                                        <label class="control-label">@Resource.RelationWithClient</label>
                                                                        <div>
                                                                            @Html.TextBoxFor(q => q.AddAndListContactInformation.Relation, new { @class = "form-control input-sm", data_ng_model = "ReferralModel.AddAndListContactInformation.Relation", maxlength = 50, placeholder = @Resource.RelationWithClient })
                                                                        </div>
                                                                        @Html.ValidationMessageFor(q => q.AddAndListContactInformation.Relation)
                                                                    </div>


                                                                    <div class="form-group col-lg-4 col-md-4 col-sm-4" data-ng-show="ReferralModel.AddAndListContactInformation.ContactTypeID=='@((int)ContactType.ContactTypes.Primary_Placement)' || ReferralModel.AddAndListContactInformation.ContactTypeID=='@((int)ContactType.ContactTypes.Legal_Guardian)'">
                                                                        <label class="control-label">@Resource.Latitude</label>
                                                                        <div class="input-group-sm">
                                                                            @Html.TextBoxFor(q => q.AddAndListContactInformation.Latitude,
                                                                                          new
                                                                                          {
                                                                                              @class = "form-control input-sm",
                                                                                              data_ng_model = "ReferralModel.AddAndListContactInformation.Latitude",
                                                                                              placeholder = @Resource.Latitude,
                                                                                              @readonly = "readonly"
                                                                                          })
                                                                            @Html.ValidationMessageFor(q => q.AddAndListContactInformation.Latitude)
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group col-lg-4 col-md-4 col-sm-4" data-ng-show="ReferralModel.AddAndListContactInformation.ContactTypeID=='@((int)ContactType.ContactTypes.Primary_Placement)' || ReferralModel.AddAndListContactInformation.ContactTypeID=='@((int)ContactType.ContactTypes.Legal_Guardian)'">
                                                                        <label class="control-label">@Resource.Longitude</label>
                                                                        <div class="input-group-sm">
                                                                            @Html.TextBoxFor(q => q.AddAndListContactInformation.Longitude,
                                                                                          new
                                                                                          {
                                                                                              @class = "form-control input-sm",
                                                                                              data_ng_model = "ReferralModel.AddAndListContactInformation.Longitude",
                                                                                              placeholder = @Resource.Longitude,
                                                                                              @readonly = "readonly"
                                                                                          })
                                                                            @Html.ValidationMessageFor(q => q.AddAndListContactInformation.Longitude)
                                                                        </div>
                                                                    </div>*@
                                </div>

                            </div>
                        </div>
                    </div>

                    @if (1 == 2)
                    {
                        <div data-ng-show="ReferralModel.AddAndListContactInformation.ContactTypeID=='@((int)ContactType.ContactTypes.Primary_Placement)' || ReferralModel.AddAndListContactInformation.ContactTypeID=='@((int)ContactType.ContactTypes.Legal_Guardian)'">
                            <div class="space30"></div>
                            <div class="col-lg-12">
                                <hr />
                                <div><b class="font-red">**: </b>@Resource.GenerateGeographicalCoordinatesMsg</div>
                                <div class="col-sm-4 no-left-padding margin-top-20">

                                    <div class="">
                                        @*<b>@Resource.Address :</b><span data-ng-bind="EmployeeModel.Employee.Address +','+EmployeeModel.Employee.City+'-'+EmployeeModel.Employee.ZipCode+','+EmployeeModel.Employee.StateCode"></span>*@
                                        <b>@Resource.Address : &nbsp;&nbsp;</b><span>{{ReferralModel.AddAndListContactInformation.Address}}</span><br />
                                        <b>@Resource.City : &nbsp;&nbsp;</b><span>{{ReferralModel.AddAndListContactInformation.City}}</span><br />
                                        <b>@Resource.ZipCode : &nbsp;&nbsp;</b><span>{{ReferralModel.AddAndListContactInformation.ZipCode}}</span><br />
                                        <b>@Resource.State : &nbsp;&nbsp;</b><span>{{ReferralModel.AddAndListContactInformation.State}}</span>
                                    </div>
                                    <span class="btn btn-primary btn-sm margin-top-10" data-ng-click="GenerateGeoCode(false)">@Resource.GetGeographicalCoordinates</span>

                                </div>
                                <div class="col-lg-3 margin-top-10">
                                    <div class="form-group">
                                        <label class="control-label">@Resource.Latitude</label>
                                        <div class="">

                                            @Html.TextBoxFor(q => q.AddAndListContactInformation.Latitude,
                                                   new
                                                   {
                                                       @class = "form-control input-sm",
                                                       data_ng_model = "ReferralModel.AddAndListContactInformation.Latitude",
                                                       placeholder = @Resource.Latitude,
                                                       @readonly = "readonly"
                                                   })
                                            @Html.ValidationMessageFor(q => q.AddAndListContactInformation.Latitude)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">@Resource.Longitude</label>
                                        <div class="">

                                            @Html.TextBoxFor(q => q.AddAndListContactInformation.Longitude,
                                                   new
                                                   {
                                                       @class = "form-control input-sm",
                                                       data_ng_model = "ReferralModel.AddAndListContactInformation.Longitude",
                                                       placeholder = @Resource.Latitude,
                                                       @readonly = "readonly"
                                                   })
                                            @Html.ValidationMessageFor(q => q.AddAndListContactInformation.Longitude)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 margin-top-10" data-ng-show="ReferralModel.AddAndListContactInformation.Latitude">
                                    <div id="coords">
                                        <span>
                                            @Resource.Latitude: <b>{{ReferralModel.AddAndListContactInformation.Latitude}}</b>
                                            @Resource.Longitude: <b>{{ReferralModel.AddAndListContactInformation.Longitude}}</b>
                                        </span>
                                    </div>
                                    <div id="gmap"></div>

                                </div>
                            </div>
                        </div>
                    }


                </div>
                <div class="modal-footer">

                    <div class="col-lg-6 col-md-6 margin-bottom-5">
                        @*<div class="pull-left">
                                <input type="checkbox" id="ismarkoffline" data-ng-model="ReferralModel.AddAndListContactInformation.AddNewContactDetails" class="unicheckbox" val="ReferralModel.AddAndListContactInformation.AddNewContactDetails">
                                <label for="ismarAddNewContactDetails">
                                    <span class="markcomplete">@Resource.DoYouWantToAddAsNew</span>
                                    <i class="fa fa-question-circle" data-ng-tooltip="@Resource.DoYouWantToAddAsNewDesc" data-ng-custom-class="tooltip-extra-z-index"></i>
                                </label>
                            </div>*@
                        @*<div class="no-left-padding">
                                <label for="ismarkoffline"><strong class="markcomplete">@Resource.MarkAsOffline</strong></label>
                            </div>*@
                    </div>
                    @if (Common.HasPermission(Constants.HC_Permission_Patient_AddUpdate))
                    {
                        <button class="btn btn-sm red" data-dismiss="modal">@Resource.Cancel </button>
                        <input type="submit" data-ng-click="SaveContact()" class="btn btn-sm green-jungle" value="@Resource.Save" />
                    }
                </div>
            </div>
        </div>
    </form>
</div>

