@model HC_AddPayorModel

@{
    bool isEditMode = Model.Payor.PayorID > 0;
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, isEditMode ? Resource.EditPayorDetail : Resource.AddPayorDetail);
    Layout = ViewBag.IsPartialView == null ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_EmptyLayout.cshtml";
    //  Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedMenuItem = Resource.SMI_PayorAdd;
}

@Html.Hidden("hdnAddPayorModel", Common.SerializeObject(Model))

<div class="page-bar">
    <h3 class="page-title">
        @(isEditMode ? Resource.EditPayorDetail : @Resource.AddPayorDetail)
        @if (isEditMode)
        {
            @Html.Raw(string.Format(" - <span class='font-size-18 font-weight-400 font-style-oblique'>{0}&nbsp;<small>({1})&nbsp;&nbsp;</small></span>" +
           "<small>/  #<b>{2}</b> &nbsp;/&nbsp;{3}: <b>{4}, {5}, {6}, {7}.</b></small>",
            Model.Payor.PayorName,Model.Payor.ShortName,Model.Payor.AgencyNPID,Resource.Location,
            Model.Payor.Address,Model.Payor.City,Model.Payor.StateCode,Model.Payor.ZipCode))
        }
    </h3>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom boxless">
            <ul class="nav nav-tabs" id="loanDetailTopTabs">
                <li class="active">
                    <a id="addPayorDetail" data-target="#tab_PayorDetail" data-toggle="tab">@Resource.Payor</a>
                </li> 
               <li class="@(isEditMode && Common.HasPermission(Constants.HC_Permission_Payor_ServiceCode_Mapping) ? "" : "disabled") wzd-cancel" data-ng-if="IsVisitBilledBy(window.PayorVisitBilledBy_MyEazyCare)">
                    <a id="Billing" data-target="#tab_Billing" data-toggle="@(isEditMode && Common.HasPermission(Constants.HC_Permission_Payor_ServiceCode_Mapping) ? "tab" : "")">@Resource.Billing</a>
                </li>
                <li class="@(isEditMode && Common.HasPermission(Constants.HC_Permission_Payor_ServiceCode_Mapping) ? "" : "disabled") wzd-cancel">
                    <a id="ServiceCode" data-target="#tab_ServiceCode" data-toggle="@(isEditMode && Common.HasPermission(Constants.HC_Permission_Payor_ServiceCode_Mapping) ? "tab" : "")">@Resource.ServiceCodeMapping</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_PayorDetail" data-ng-controller="AddParyorDetailController">
                    @Html.Partial("Partial/_PayorDetail")

                    @Html.Partial("Partial/_SearchPayor", new HC_SearchPayorModel())
                </div>
                <div class="tab-pane" id="tab_Billing" data-ng-controller="PayorBillingController" data-ng-if="IsVisitBilledBy(window.PayorVisitBilledBy_MyEazyCare)">
                    @Html.Partial("Partial/_Billing")
                </div>
                <div class="tab-pane" id="tab_ServiceCode" data-ng-controller="AddServiceCodeController">
                    @Html.Partial("Partial/_ServiceCode")
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/assets/js/viewjs/siteApp/Areas/HomeCare/payor/addpayor") 
}

<script type="text/javascript">
    var EncryptedPayorID = "@Model.Payor.EncryptedPayorID";
    var MaxUnit = "@Resource.MaxUnit";
    var DailyUnitLimit = "@Resource.DailyUnitLimit";
    var Billable = "@Resource.Billable";
    var GroupOption = "@Resource.GroupOption";
    var EnableDisableConfirmationMessage = '@string.Format(@Resource.EnableDisableConfirmationMessage, @Resource.PayorServiceCodeMappingDetail)';
    var UnitTime = "@((int)EnumUnitType.Time)";
    var UnitTimeValue = "@(Resource.UnitTimeValue)";
    var PayorVisitBilledBy_MyEazyCare = "@(Common.PayorVisitBilledBy.MyEazyCare.Value)";

    var Enroll_ERA = '@Constants.Enroll_ERA';
        var Enroll_CMS1500 = '@Constants.Enroll_CMS1500';
</script>
