@model HC_AddPayorModel

<form id="frmUB04">
    <h4 style="font-style: oblique;font-weight:700;">Coming Soon...</h4>
    <div data-ng-if="false">
        <div class="row">
            <div class="form-group col-lg-5 col-md-5 col-sm-5">
                <div>
                    <label class="control-label required">@Resource.RoundUpMinutes</label>
                </div>
                <div class="col-md-8 no-padding">
                    <input type="text" disabled="disabled" class="form-control input-sm" value="@Constants.DefaultStringForRoundUpMinutes" />
                </div>
                <div class="col-md-4 no-padding">
                    @Html.TextBoxFor(q => q.PayorEdi837Setting.UB04HourRounding,
                                                   new
                                                   {
                                                       @class = "form-control input-sm",
                                                       data_ng_model = "PayorModel.PayorEdi837Setting.UB04HourRounding",
                                                       placeholder = @Resource.RoundUpMinutes,
                                                       maxlength = 2,
                                                       dir_valid_number = ""
                                                   })
                    @Html.ValidationMessageFor(q => q.PayorEdi837Setting.UB04HourRounding)
                </div>
            </div>


            <div class="form-group col-lg-3 col-md-3 col-sm-3 margin-top-17">
                <button type="submit" class="btn btn-sm green-jungle" data-ng-click="SaveUB04()">
                    <i class="fa fa-save ">&nbsp;&nbsp;</i>@Resource.Save
                </button>
            </div>
            <div class="clearleft"></div>
        </div>
    </div>
</form>