@model HC_AddPayorModel
@Html.Hidden("hdnAddPayorModel", Common.SerializeObject(Model))
<form id="frmGeneralSetting">
    <div class="fscontainer">
        <div class="legend">
            @Resource.SenderDetails
        </div>
        <div class="row">
            <div class="form-group col-lg-3 col-md-3 col-sm-3">
                <label class="control-label required">
                    @Resource.SenderId
                <i class="fa fa-question-circle font-size-15" data-ng-tooltip="@Resource.SenderIdHelptext"
                   data-ng-custom-class="tooltip-extra-z-index"></i>
            </label>
            @Html.TextBoxFor(q => q.PayorEdi837Setting.ISA06_InterchangeSenderId, new
            {
                @class = "form-control input-sm",
                data_ng_model = "PayorModel.PayorEdi837Setting.ISA06_InterchangeSenderId",
                placeholder = @Resource.SenderId,
                maxlength = 15
            })
            @Html.ValidationMessageFor(q => q.PayorEdi837Setting.ISA06_InterchangeSenderId)
        </div>

        @*<div class="form-group col-lg-3 col-md-3 col-sm-3">
                 <label class="control-label required">@Resource.SubmitterName</label>
                 @Html.TextBoxFor(q => q.PayorEdi837Setting.Submitter_NM103_NameLastOrOrganizationName, new
            {
                @class = "form-control input-sm",
                data_ng_model = "PayorModel.PayorEdi837Setting.Submitter_NM103_NameLastOrOrganizationName",
                placeholder = @Resource.SubmitterName,
                maxlength = 60
            })
                 @Html.ValidationMessageFor(q => q.PayorEdi837Setting.Submitter_NM103_NameLastOrOrganizationName)
             </div>
             <div class="form-group col-lg-3 col-md-3 col-sm-3">
                 <label class="control-label required">@Resource.SubmitterCodeQualifier</label>
                 @Html.TextBoxFor(q => q.PayorEdi837Setting.Submitter_NM109_IdCodeQualifierEnum, new
            {
                @class = "form-control input-sm",
                data_ng_model = "PayorModel.PayorEdi837Setting.Submitter_NM109_IdCodeQualifierEnum",
                placeholder = @Resource.SubmitterCodeQualifier,
                maxlength = 80
            })
                 @Html.ValidationMessageFor(q => q.PayorEdi837Setting.Submitter_NM109_IdCodeQualifierEnum)
             </div>
             <div class="form-group col-lg-3 col-md-3 col-sm-3">
                 <label class="control-label required">@Resource.SubmitterContactName</label>
                 @Html.TextBoxFor(q => q.PayorEdi837Setting.Submitter_EDIContact1_PER02_Name, new
            {
                @class = "form-control input-sm",
                data_ng_model = "PayorModel.PayorEdi837Setting.Submitter_EDIContact1_PER02_Name",
                placeholder = @Resource.SubmitterContactName,
                maxlength = 80
            })
                 @Html.ValidationMessageFor(q => q.PayorEdi837Setting.Submitter_EDIContact1_PER02_Name)
             </div>
             <div class="form-group col-lg-3 col-md-3 col-sm-3">
                 <label class="control-label required">@Resource.SubmitterPhone</label>
                 @Html.TextBoxFor(q => q.PayorEdi837Setting.Submitter_EDIContact1_PER04_CommunicationNumber, new
            {
                @class = "form-control input-sm",
                data_ng_model = "PayorModel.PayorEdi837Setting.Submitter_EDIContact1_PER04_CommunicationNumber",
                placeholder = @Resource.SubmitterPhone,
                maxlength = 10
            })
                 @Html.ValidationMessageFor(q => q.PayorEdi837Setting.Submitter_EDIContact1_PER04_CommunicationNumber)
             </div>
             <div class="form-group col-lg-3 col-md-3 col-sm-3">
                 <label class="control-label required">@Resource.SubmitterEmail</label>
                 @Html.TextBoxFor(q => q.PayorEdi837Setting.Submitter_EDIContact1_PER08_CommunicationNumber, new
            {
                @class = "form-control input-sm",
                data_ng_model = "PayorModel.PayorEdi837Setting.Submitter_EDIContact1_PER08_CommunicationNumber",
                placeholder = @Resource.SubmitterEmail,
                maxlength = 80
            })
                 @Html.ValidationMessageFor(q => q.PayorEdi837Setting.Submitter_EDIContact1_PER08_CommunicationNumber)
             </div>*@
        @*<div class="form-group col-lg-3 col-md-3 col-sm-3">
                <label class="control-label required">@Resource.ProviderCode</label>
                @Html.TextBoxFor(q => q.PayorEdi837Setting.BillingProvider_PRV01_ProviderCode, new
                {
                    @class = "form-control input-sm",
                    data_ng_model = "PayorModel.PayorEdi837Setting.BillingProvider_PRV01_ProviderCode",
                    placeholder = @Resource.ProviderCode,
                    maxlength = 10
                })
                @Html.ValidationMessageFor(q => q.PayorEdi837Setting.BillingProvider_PRV01_ProviderCode)
            </div>
            <div class="form-group col-lg-3 col-md-3 col-sm-3">
                <label class="control-label required">@Resource.ReferenceIdentificationQualifier</label>
                @Html.TextBoxFor(q => q.PayorEdi837Setting.BillingProvider_PRV02_ReferenceIdentificationQualifier, new
                {
                    @class = "form-control input-sm",
                    data_ng_model = "PayorModel.PayorEdi837Setting.BillingProvider_PRV02_ReferenceIdentificationQualifier",
                    placeholder = @Resource.ReferenceIdentificationQualifier,
                    maxlength = 20
                })
                @Html.ValidationMessageFor(q => q.PayorEdi837Setting.BillingProvider_PRV02_ReferenceIdentificationQualifier)
            </div>*@
        <div class="form-group col-lg-4 col-md-3 col-sm-3">
            <label class="control-label required">
                @Resource.SpecialtyInformationTaxonomyCode
        </label>
        @Html.TextBoxFor(q => q.PayorEdi837Setting.BillingProvider_PRV03_ProviderTaxonomyCode, new
        {
            @class = "form-control input-sm",
            data_ng_model = "PayorModel.PayorEdi837Setting.BillingProvider_PRV03_ProviderTaxonomyCode",
            placeholder = @Resource.SpecialtyInformationTaxonomyCode,
            maxlength = 50
        })
        @Html.ValidationMessageFor(q => q.PayorEdi837Setting.BillingProvider_PRV03_ProviderTaxonomyCode)
    </div>

    <div class="form-group col-lg-3 col-md-3 col-sm-3 margin-top-17">
        <button type="submit" class="btn btn-sm green-jungle" data-ng-click="SaveGeneralSetting()">
            <i class="fa fa-save ">&nbsp;&nbsp;</i>@Resource.Save
        </button>
    </div>
    <div class="clearleft"></div>
</div>
</div>
</form>

<form id="frmReceiverSetting">
    <div class="fscontainer">
        <div class="legend">
            @Resource.ReceiverDetails
        </div>
        <div class="row">
            <div class="form-group col-lg-3 col-md-3 col-sm-3">
                <label class="control-label required">
                    @Resource.ReceiverId
                <i class="fa fa-question-circle font-size-15" data-ng-tooltip="@Resource.ReceiverIdHelptext"
                   data-ng-custom-class="tooltip-extra-z-index"></i>
            </label>
            @Html.TextBoxFor(q => q.PayorEdi837Setting.ISA08_InterchangeReceiverId, new
            {
                @class = "form-control input-sm",
                data_ng_model = "PayorModel.PayorEdi837Setting.ISA08_InterchangeReceiverId",
                placeholder = @Resource.ReceiverId,
                maxlength = 15
            })
            @Html.ValidationMessageFor(q => q.PayorEdi837Setting.ISA08_InterchangeReceiverId)
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-3">
            <label class="control-label required">@Resource.RepetitionSeparator</label>
            @Html.TextBoxFor(q => q.PayorEdi837Setting.ISA11_RepetitionSeparator, new
            {
                @class = "form-control input-sm",
                data_ng_model = "PayorModel.PayorEdi837Setting.ISA11_RepetitionSeparator",
                placeholder = @Resource.RepetitionSeparator,
                maxlength = 1
            })
            @Html.ValidationMessageFor(q => q.PayorEdi837Setting.ISA11_RepetitionSeparator)
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-3">
            <label class="control-label required">@Resource.ElementSeparator</label>
            @Html.TextBoxFor(q => q.PayorEdi837Setting.ISA16_ComponentElementSeparator, new
            {
                @class = "form-control input-sm",
                data_ng_model = "PayorModel.PayorEdi837Setting.ISA16_ComponentElementSeparator",
                placeholder = @Resource.ElementSeparator,
                maxlength = 1
            })
            @Html.ValidationMessageFor(q => q.PayorEdi837Setting.ISA16_ComponentElementSeparator)
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-3 margin-top-17">
            <button type="submit" class="btn btn-sm green-jungle" data-ng-click="SaveReceiverDetail()">
                <i class="fa fa-save ">&nbsp;&nbsp;</i>@Resource.Save
            </button>
        </div>
        <div class="clearleft"></div>
    </div>
</div>
</form>

@* <form id="frmBillingProviderSetting">
        <div class="fscontainer">
            <div class="legend">
                Billing Provider Setting
            </div>
            <div class="row">
                <div class="clearleft"></div>
            </div>
        </div>
    </form>*@
