@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, @Resource.CMS_485);
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}

@model GetCms485Model
@Html.Hidden("hdnCms485", Common.SerializeObject(Model))

<div data-ng-controller="Cms485Controller">
    <form id="briggsForm" name="briggsForm" class="ng-pristine ng-valid ng-valid-maxlength ng-valid-pattern ng-valid-email">

        <div style="border-bottom: 1px solid; margin-left:4px;margin-top:15px; width: 950px;">
            <div class="row">
                <div class="col-md-4"><img src=@Model.OrganizationalModel.SiteLogo style="height: 62px;width: 129px;" /></div>
                <div class="col-md-4 text-center" style="font-weight: 600;font-size: x-large;">@Model.OrganizationalModel.SiteName</div>
                <div class="col-md-4">
                    <p class="pull-right" style="margin-bottom:0px; margin-top:14px;">@Model.OrganizationalModel.SupportEmail</p>
                    <p class="pull-right" style="margin: 0px;">@Model.OrganizationalModel.OrganizationAddress @Model.OrganizationalModel.OrganizationCity @Model.OrganizationalModel.OrganizationState @Model.OrganizationalModel.OrganizationZipcode</p>
                </div>
            </div>
        </div>

        <div class="cms-485">
            <table class="cms-table-1-5">
                <tbody>
                    <tr>
                        <td class="left-border-none cms-ft-7" colspan="2">Department of Health and Human Services</td>
                        <!-- <td>&nbsp;</td> -->
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>Form Approved</td>
                    </tr>
                    <tr>
                        <td class="left-border-none" colspan="2">Centers for Medicare & Medicaid Services</td>
                        <!-- <td>&nbsp;</td> -->
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>OMB No. 0938-0357</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-center cms-table-heading">HOME HEALTH CERTIFICATION AND PLAN OF CARE</td>
                    </tr>
                    <tr>
                        <td class="cms-width-200">1. Patient's HI Claim No.</td>
                        <td>2. Start Of Care Date</td>
                        <td>3. Certification Period</td>
                        <td>4. Medical Record No.</td>
                        <td>5. Provider No.</td>
                    </tr>
                    <tr>
                        <td> <input class="cms-col-12" data-ng-model="GetCms485Model.Cms485Model.PatientClaimNo"></td>
                        <td>
                                <input type="text" id="date1" class="cms-col-12" data-ng-model="GetCms485Model.Cms485Model.StartOfCareDate"/>
                        </td>
                        <td>From: <input class="cms-col-4" data-ng-model="GetCms485Model.Cms485Model.CertificationPeriodFrom"> To: <input class="cms-col-4" data-ng-model="GetCms485Model.Cms485Model.CertificationPeriodTo"> </td>
                        <td> <input class="cms-col-12" data-ng-model="GetCms485Model.Cms485Model.MedicalRecordNo"></td>
                        <td> <input class="cms-col-12" data-ng-model="GetCms485Model.Cms485Model.ProviderNo"></td>
                    </tr>
                </tbody>
            </table>

            <!--second table-->
            <table class="cms-table-6-7">
                <tbody>
                    <tr>
                        <td class="cms-col-6">6. Patient's Name and Address</td>
                        <td class="cms-col-6">7. Provider's Name, Address and Telephone Number</td>
                    </tr>
                    <tr>
                        <td><textarea class="cms-col-12" name="" id="" cols="10" rows="5" data-ng-model="GetCms485Model.CmsReferrals.ReferralAddress"></textarea></td>
                        <td><textarea class="cms-col-12" name="" id="" cols="10" rows="5" data-ng-model="GetCms485Model.OrganizationalModel.OrgDetails"></textarea></td>
                    </tr>
                </tbody>
            </table>

            <table class="cms-table-8-13">
                <tbody>
                    <tr>
                        <td colspan="2"> 8. Date of Birth </td>
                        <td>
                                <input type="text" id="date2" class="cms-col-12" data-ng-model="GetCms485Model.CmsReferrals.Dob"/>
                        </td>
                        <td colspan="2">
                            9. Sex <input type="radio" name="rd1" value="M" data-ng-model="GetCms485Model.CmsReferrals.Gender"> M <input type="radio" name="rd1" value="F" data-ng-model="GetCms485Model.CmsReferrals.Gender"> F
                        </td>
                        <td colspan="5"> 10. Medications: Dose/Frequency/Route (N)ew (C)hanged </td>
                    </tr>
                    <tr>
                        <td colspan="2"> 11. ICD </td>
                        <td colspan="2"> Principal Diagnosis </td>
                        <td>Date</td>
                        <td colspan="5" rowspan="6"><textarea class="cms-col-12" name="" id="" cols="20" rows="10" data-ng-model="GetCms485Model.Cms485Model.Medications"></textarea></td>
                    </tr>

                    <tr>
                        <td colspan="2"><input class="cms-col-12" type="text" data-ng-model="GetCms485Model.Cms485Model.ICD9CM1"></td>
                        <td colspan="2"><input class="cms-col-12" type="text" data-ng-model="GetCms485Model.Cms485Model.PrincipalDiagnosis"></td>
                        <td>
                            <div class="input-group"
                                 datepicker="GetCms485Model.Cms485Model.PrincipalDiagnosisDate"
                                 data-ng-dateval="GetCms485Model.Cms485Model.PrincipalDiagnosisDate"
                                 data-ng-mindate="CurrentDate"
                                 data-ng-model="GetCms485Model.Cms485Model.PrincipalDiagnosisDate">
                                <input type="text" id="date3" class="cms-col-12" />
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2"> 12. ICD </td>
                        <td colspan="2"> Surgical Procedure </td>
                        <td>Date</td>
                    </tr>

                    <tr>
                        <td colspan="2"><input class="cms-col-12" type="text" data-ng-model="GetCms485Model.Cms485Model.ICD9CM2"></td>
                        <td colspan="2"><input class="cms-col-12" type="text" data-ng-model="GetCms485Model.Cms485Model.SurgicalProcedure"></td>
                        <td>
                            <div class="input-group"
                                 datepicker="GetCms485Model.Cms485Model.SurgicalProcedureDate"
                                 data-ng-dateval="GetCms485Model.Cms485Model.SurgicalProcedureDate"
                                 data-ng-mindate="CurrentDate"
                                 data-ng-model="GetCms485Model.Cms485Model.SurgicalProcedureDate">
                                <input type="text" id="date4" class="cms-col-12" />
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2"> 13. ICD </td>
                        <td colspan="2"> Other Pertinent Diagnoses </td>
                        <td>Date</td>
                    </tr>

                    <tr>
                        <td colspan="2"><input class="cms-col-12" type="text" data-ng-model="GetCms485Model.Cms485Model.ICD9CM3"></td>
                        <td colspan="2"><input class="cms-col-12" type="text" data-ng-model="GetCms485Model.Cms485Model.PertinentDiagnoses"></td>
                        <td>
                            <div class="input-group"
                                 datepicker="GetCms485Model.Cms485Model.PertinentDiagnosesDate"
                                 data-ng-dateval="GetCms485Model.Cms485Model.PertinentDiagnosesDate"
                                 data-ng-mindate="CurrentDate"
                                 data-ng-model="GetCms485Model.Cms485Model.PertinentDiagnosesDate">
                                <input type="text" id="date5" class="cms-col-12" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="cms-table-14-28">
                <tbody>
                    <tr>
                        <td colspan="3" class="cms-border-top cms-border-right"> 14. DME and Supplies </td>
                        <td colspan="3" class="cms-border-top cms-border-left padding-left-2"> 15. Safety Measures: </td>
                    </tr>

                    <tr>
                        <td colspan="3" class="cms-border-right"><input class="cms-col-12" type="text" name="" id="" data-ng-model="GetCms485Model.Cms485Model.DmeAndSupplie"></td>
                        <td colspan="3" class="cms-border-left padding-left-2"><input class="cms-col-12" type="text" name="" id="" data-ng-model="GetCms485Model.Cms485Model.SafetyMeasures"></td>
                    </tr>

                    <tr>
                        <td colspan="3" class="cms-border-top cms-border-right"> 16. Nutritional Req. </td>
                        <td colspan="3" class="cms-border-top padding-left-2"> 17. Allergies: </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="cms-border-right"><input class="cms-col-12" type="text" name="" id="" data-ng-model="GetCms485Model.Cms485Model.NutritionalReq"></td>
                        <td colspan="3" class="padding-left-2"><input class="cms-col-12" type="text" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Allergies"></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="cms-border-top cms-border-right cms-border-bottom"> 18.A. Functional Limitations </td>
                        <td colspan="3" class="cms-border-top cms-border-left cms-border-bottom padding-left-2"> 18.B. Activities Permitted </td>

                    </tr>
                    <tr>
                        <td class="cms-width-150"> 1 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Amputation"> Amputation </td>
                        <td class="cms-width-150"> 5 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Paralysis"> Paralysis </td>
                        <td class="cms-border-right "> 9 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.LegallyBlind"> Legally Blind </td>
                        <td class="padding-left-2"> 1 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.CompleteBedrest"> Complete Bedrest </td>
                        <td> 6 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.PartialWeightBearing"> Partial Weight Bearing </td>
                        <td> A <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Wheelchair"> Wheelchair </td>
                    </tr>

                    <tr>
                        <td rowspan="2"> 2 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.BowelBladder"> Bowel/Bladder &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Incontinence) </td>
                        <td rowspan="2"> 6 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Endurance">Endurance</td>
                        <td rowspan="2" class="cms-border-right "> A <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.DyspneaWithMinimalExertion"> Dyspnea With &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Minimal Exertion </td>
                        <td class="padding-left-2"> 2 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.BedrestBRP"> Bedrest BRP </td>
                        <td> 7 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.IndependentAtHome"> Independent At Home </td>
                        <td> B <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Walker"> Walker </td>
                    </tr>
                    <tr>
                        <td class="padding-left-2"> 3 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.UpAsTolerated"> Up As Tolerated </td>
                        <td> 8 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Crutches"> Crutches </td>
                        <td> C <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.NoRestrictions"> No Restrictions </td>
                    </tr>

                    <tr>
                        <td> 3 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Contracture"> Contracture </td>
                        <td> 7 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Ambulation"> Ambulation </td>
                        <td class="cms-border-right "> B <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.FunctionalLimitationsOther"> Other (Specify) </td>
                        <td class="padding-left-2"> 4 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.TransferBedChair"> Transfer Bed/Chair </td>
                        <td> 9 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Cane"> Cane </td>
                        <td> D <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.ActivitiesPermittedOther"> Other (Specify) </td>
                    </tr>
                    <tr>
                        <td> 4 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Hearing"> Hearing </td>
                        <td> 8 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Speech"> Speech </td>
                        <td class="cms-border-right ">
                            @*<input class="cms-col-12" type="text" >*@
                        </td>
                        <td class="padding-left-2"> 5 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.ExercisePrescribed"> Exercise Prescribed </td>
                        <td colspan="2">
                            @*<input class="cms-col-12" type="text" >*@
                        </td>
                    </tr>
                    <tr class="cms-border-top">
                        <td> 19. Mental Status: </td>
                        <td> 1 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Oriented"> Oriented </td>
                        <td> 3 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Forgetful"> Forgetful </td>
                        <td> 5 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Disoriented"> Disoriented </td>
                        <td> 7 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Agitated"> Agitated </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td> 2 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Comatose"> Comatose </td>
                        <td> 4 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Depressed"> Depressed </td>
                        <td> 6 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Lethargic"> Lethargic </td>
                        <td> 8 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.MentalStatusOther"> Other </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="cms-border-top">
                        <td> 20. Prognosis: </td>
                        <td> 1 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Poor"> Poor </td>
                        <td> 2 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Guarded"> Guarded </td>
                        <td> 3 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Fair"> Fair</td>
                        <td> 4 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Good"> Good </td>
                        <td> 5 <input type="checkbox" name="" id="" data-ng-model="GetCms485Model.Cms485Model.Excellent"> Excellent </td>
                    </tr>
                    <tr class="cms-border-top">
                        <td colspan="6"> 21. Orders for Discipline and Treatments (Specify Amount/Frequency/Duration) </td>

                    </tr>
                    <tr>
                        <td colspan="6"><textarea class="cms-col-12" name="" id="" cols="30" rows="5" data-ng-model="GetCms485Model.Cms485Model.OrdersForDisciplineTreatments"></textarea></td>
                    </tr>
                    <tr class="cms-border-top">
                        <td colspan="6"> 22. Goals/Rehabilitation Potential/Discharge Plans </td>

                    </tr>
                    <tr>
                        <td colspan="6"><textarea class="cms-col-12" name="" id="" cols="5" rows="5" data-ng-model="GetCms485Model.Cms485Model.GoalsRehabilitationPotentialDischargePlans"></textarea></td>
                    </tr>
                    <tr class="cms-border-top">
                        <td colspan="3" class="cms-border-right">
                            23. Nurse's Signature and Date of Verbal SOC Where Applicable:
                        </td>
                        <td colspan="3" class="padding-left-2">25. Date HHA Received Signed POT</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="cms-border-right">
                            <div class="pf-signature-view" data-toggle="modal" data-target="#signatureModal1" style="height:50px;width:170px;margin:20px;padding:10px;border:1px solid">
                                <img class="pf-img-init" id="saveSignature" data-ng-src={{GetCms485Model.Cms485Model.NurseSignOfVerbalSOC}} style="height:35px;width:150px;" />
                            </div>
                            
                            <div class="input-group" style="position: relative; left: 194px; top: -55px; width: 201px;"
                                 datepicker="GetCms485Model.Cms485Model.NurseDateOfVerbalSOC"
                                 data-ng-dateval="GetCms485Model.Cms485Model.NurseDateOfVerbalSOC"
                                 data-ng-mindate="CurrentDate"
                                 data-ng-model="GetCms485Model.Cms485Model.NurseDateOfVerbalSOC">
                                <input type="text" id="date6" class="cms-col-12" />
                            </div>
                        </td>

                        <td colspan="2">
                            <div class="input-group"
                                 datepicker="GetCms485Model.Cms485Model.DateHHAReceivedSignedPOT"
                                 data-ng-dateval="GetCms485Model.Cms485Model.DateHHAReceivedSignedPOT"
                                 data-ng-mindate="CurrentDate"
                                 data-ng-model="GetCms485Model.Cms485Model.DateHHAReceivedSignedPOT">
                                <input type="text" id="date7" class="cms-col-12" />
                            </div>
                        </td>
                    </tr>

                    <tr class="cms-border-top">
                        <td colspan="3" class="cms-border-right">24. Physician's Name and Address</td>
                        <td colspan="3" rowspan="3" class="cms-col-6" style="text-align:justify; padding:3px;">
                            26. I certify/recertify that this patient is confined to his/her home and needs
                            intermittent skilled nursing care, physical therapy and/or speech therapy or
                            continues to need occupational therapy. The patient is under my care, and I have 
                            authorized the services on this plan of care and will periodically review the plan.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" rowspan="2"><input class="cms-col-12" type="text" data-ng-model="GetCms485Model.Cms485Model.PhysicianName"></td>
                    </tr>
                    <tr>
                        <!-- <td colspan="3">&nbsp;</td> -->
                    </tr>

                    <tr class="cms-border-top">
                        <td colspan="3" class="cms-border-right">27. Attending Physician's Signature and Date Signed</td>
                        <td colspan="3" rowspan="2" class="cms-col-6 padding-left-5" style="text-align:justify">
                            28. Anyone who misrepresents, falsifies, or conceals essential information
                            required for payment of Federal funds may be subject to fine, imprisonment,
                            or civil penalty under applicable Federal laws.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="pf-signature-view" data-toggle="modal" data-target="#signatureModal2" style="height:50px;width:170px;margin:20px;padding:10px;border:1px solid">
                                <img class="pf-img-init" id="saveSignature1" data-ng-src={{GetCms485Model.Cms485Model.AttendingPhysicianSign}} style="height:35px;width:150px;" />
                            </div>
                            <div class="input-group" id="attendingdate" style="position: relative; left: 194px; top: -55px; width: 201px;"
                                 datepicker="GetCms485Model.Cms485Model.AttendingPhysicianDate"
                                 data-ng-dateval="GetCms485Model.Cms485Model.AttendingPhysicianDate"
                                 data-ng-mindate="CurrentDate"
                                 data-ng-model="GetCms485Model.Cms485Model.AttendingPhysicianDate">
                                <input type="text" id="date8" class="cms-col-12" />
                            </div>
                        </td>

                    </tr>

                    <tr class="cms-border-top">
                        <td colspan="6">Form CMS-485 (C-3) (12-14) (Formerly HCFA-485) (Print Aligned)</td>
                    </tr>
                </tbody>

            </table>
        </div>


        <div id="signatureModal1" class="modal margin-top-19" role="dialog" style="display: none;">
            <div class="pf-signature-alignment-helper">
                <div class="modal-dialog pf-signature-center-align" role="document">
                    <div class="modal-content pf-modal-canvass-wrapper">
                        <div class="modal-header">
                            <h5 class="modal-title">Signature</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="canvas">
                                <canvas class="roundCorners" id="newSignature" style="position: relative; margin: 0; padding: 0; border: 1px solid #c4caac;z-index:9999"></canvas>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-left">
                                <button type="button" class="btn btn-info" onclick="signatureClear()">Clear</button>
                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="signatureSave()">Save</button>
                            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                            <script>signatureCapture();</script>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="signatureModal2" class="modal" role="dialog" style="display: none;">
            <div class="pf-signature-alignment-helper">
                <div class="modal-dialog pf-signature-center-align" role="document">
                    <div class="modal-content pf-modal-canvass-wrapper">
                        <div class="modal-header">
                            <h5 class="modal-title">Signature</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="canvas">
                                <canvas class="roundCorners" id="newSignature1" style="position: relative; margin: 0; padding: 0; border: 1px solid #c4caac;z-index:9999"></canvas>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-left">
                                <button type="button" class="btn btn-info" onclick="signatureClear1()">Clear</button>
                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="signatureSave1()">Save</button>
                            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                            <script>signatureCapture1();</script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<style>
    .cms-table-6-7, .cms-table-8-13, .cms-table-14-28, .cms-table-1-5 {
        /* border: solid thin;  */
        border-collapse: collapse;
        width: 100%;
    }

        /* .cms-table-14-28 td */
        .cms-table-6-7 th, .cms-table-8-13 th, .cms-table-1-5 th,
        .cms-table-6-7 td, .cms-table-8-13 td, .cms-table-1-5 td {
            border: solid thin;
            padding: 0.4rem 0.4rem;
        }

        .cms-table-1-5 tbody tr:first-child td,
        .cms-table-1-5 tbody tr:nth-child(2) td {
            border: none !important;
        }

        .cms-table-1-5 tbody tr td:first-child, .cms-table-6-7 tbody tr td:first-child, .cms-table-8-13 tbody tr td:first-child,
        .cms-table-14-28 tbody tr td:first-child {
            border-left: none !important;
        }

        .cms-table-1-5 tbody tr td:last-child, .cms-table-6-7 tbody tr td:last-child, .cms-table-8-13 tbody tr td:last-child,
        .cms-table-14-28 tbody tr td:last-child {
            border-right: none !important;
        }

    .cms-col-12 {
        width: 100%;
    }

    .cms-col-6 {
        width: 50%;
    }

    .cms-col-4 {
        width: 35%;
    }

    .cms-width-200 {
        width: 200px;
    }

	.cms-width-150 {
        width: 150PX;
    }
    .cms-table-6-7 textarea, .cms-table-8-13 textarea, .cms-table-14-28 textarea, .cms-table-1-5 textarea {
        border: none;
        resize: none;
    }

    .cms-table-6-7 input, .cms-table-8-13 input, .cms-table-14-28 input, .cms-table-1-5 input {
        border: none;
    }

    .no-left-border {
        border-left: none !important;
    }

    .cms-table-1-5 tr,
    .cms-table-6-7 tr,
    .cms-table-8-13 tr,
    .cms-table-14-28 tr {
        line-height: 15px;
    }

    input[type='checkbox'] {
        margin-left: 3px;
        margin-right: 3px;
    }

    table {
        font: normal 10pt Arial;
    }

    .cms-table-heading {
        font: bold 12pt Arial;
    }

    .cms-border-top {
        border-top: solid thin;
    }

    .cms-border-bottom {
        border-bottom: solid thin;
    }

    .cms-border-left {
        border-left: solid thin;
    }

    .cms-border-right {
        border-right: solid thin;
    }
</style>

@section Scripts{
    @Scripts.Render("~/Assets/js/viewjs/siteApp/Areas/HomeCare/dmas/cms485.js")

}