@model WeekMaster
<div class="modal fade" id="weekMasterModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; margin-top: 0px;">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="OnCloseModel()"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="H1">@Resource.AddNewWeek</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form id="frmWeekMaster">
                            <div class="col-md-12 no-padding">

                                <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                    <label class="control-label">@Resource.Name</label>
                                    @Html.TextBoxFor(m => m.Name,
                                                         new
                                                             {
                                                                 data_ng_model = "WeekMaster.Name",
                                                                 @class = "form-control input-sm",
                                                                 placeholder = Resource.Name,
                                                                 maxlength = 50
                                                             })
                                    @Html.ValidationMessageFor(m => m.Name)
                                    @*<input type="text" class="form-control input-sm" placeholder="Group Name">*@
                                </div>

                                <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                    <label class="control-label required">@Resource.StarDate</label>

                                    <div class="input-group date date-picker pull-right"
                                        datepicker="WeekMaster.StartDate" ng-dateval="WeekMaster.StartDate" data-ng-maxdate="WeekMaster.EndDate">
                                        @Html.TextBoxFor(m => m.StartDate, new
                                                {
                                                    @class = "form-control input-sm dateInputMask",
                                                    maxlength = "50",
                                                })
                                        @Html.ValidationMessageFor(m => m.StartDate)
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>



                                <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                    <label class="control-label required">@Resource.EndDate</label>

                                    <div class="input-group date date-picker pull-right"
                                        datepicker="WeekMaster.EndDate" ng-dateval="WeekMaster.EndDate" data-ng-mindate="WeekMaster.StartDate">
                                        @Html.TextBoxFor(m => m.EndDate, new
                                                {
                                                    @class = "form-control input-sm dateInputMask",
                                                    maxlength = "50",
                                                })
                                        @Html.ValidationMessageFor(m => m.EndDate)
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="OnCloseModel()">@Resource.Cancel</button>
                <button type="button" class="btn green-jungle" data-ng-click="CreateWeek()">@Resource.Save</button>
            </div>
        </div>
    </div>
</div>
