@model HC_ScheduleMasterModel
<div id="email-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <h3 class="modal-title">@Resource.ScheduleEmail</h3>

            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="parent-email">
                    <div class="form-group row">
                        <label class="col-md-2 control-label text-align-right">@Resource.Email:</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.ScheduleEmailModel.Email, new { data_ng_model = "EmailModel.Email", @class = "form-control input-sm", placeholder = "Enter Email" })
                            @Html.ValidationMessageFor(x => x.ScheduleEmailModel.Email)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label text-align-right">@Resource.Subject:</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.ScheduleEmailModel.Subject, new { data_ng_model = "EmailModel.Subject", @class = "form-control input-sm", placeholder = "Enter Subject" })
                            @Html.ValidationMessageFor(x => x.ScheduleEmailModel.Subject)
                        </div>
                    </div>
                    <div class="form-group row" data-ng-if="IsEmailModel">
                        <label class="col-md-2 control-label text-align-right">@Resource.Body:</label>
                        <div class="col-md-8">
                            @Html.TextAreaFor(x => x.ScheduleEmailModel.Body, new { data_ng_model = "EmailModel.Body", @class = "form-control hideErrorContent replaceErrorSource", min_height = "200", max_height = "400", rows = "20", style = "height: 350px;", id = "EmailBody" })
                            @Html.ValidationMessageFor(x => x.ScheduleEmailModel.Body)
                            <div class="replaceErrorDest summerNoteEditor">
                                <summernote data-ng-model="ScheduleMasterModel.ScheduleEmailModel.Body" height="400"></summernote>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success bg-green-jungle" data-ng-click="SendParentEmail()">Send</a>
            </div>
        </div>

    </div>
</div>
