@*<div class="col-sm-12 no-padding" data-ng-if="!IsLoadingDetails && DetailModel">
    <h4 class="caption">
        <a class="text-decoration-none sbold uppercase" data-ng-href="@Constants.HC_AddReferral{{DetailModel.ReferralDetail.EncryptedReferralID}}" data-ng-bind="DetailModel.ReferralDetail.ReferralName" target="_blank">
        </a>
        <small><span class="label label-mini label-inverse margin-right-05 ng-binding">@Resource.Medicaid #: {{DetailModel.ReferralDetail.CISNumber}}</span>
            <span class="label label-mini label-success ng-binding">@Resource.Account #: {{DetailModel.ReferralDetail.AHCCCSID}}</span><span class="margin-left-5 badge badge-danger" data-ng-if="DetailModel.ReferralDetail.NeedPrivateRoom">P</span></small>
    </h4>
    <div class="col-sm-12 margin-bottom-5 no-padding">
        <strong>@Resource.PrimaryContact :</strong>
        <span class="margin-top-5 about-text">{{DetailModel.ReferralDetail.PrimaryContactName?DetailModel.ReferralDetail.PrimaryContactName:'@Resource.NA'}}</span>
    </div>
    <div class="col-sm-6 margin-bottom-5 no-padding">
        <strong><i class="fa fa-phone" aria-hidden="true"></i> :</strong>
        <span class="margin-top-5 about-text">{{DetailModel.ReferralDetail.Phone1|phoneformat}}</span><span class="margin-top-5 about-text" ng-if="DetailModel.ReferralDetail.Phone2">, {{DetailModel.ReferralDetail.Phone2|phoneformat}}</span>
    </div>
    <div class="col-sm-6 margin-bottom-5 no-padding">
        <strong><i class="fa fa-envelope" aria-hidden="true"></i> :</strong>
        <span class="margin-top-5 about-text">{{DetailModel.ReferralDetail.Email?DetailModel.ReferralDetail.Email:'@Resource.NA'}}</span>
    </div>
    <div class="col-md-6 margin-bottom-5 no-padding">
        <strong>@Resource.LastAtt :</strong>
        <span class="margin-top-2 about-text">{{DetailModel.ReferralDetail.LastAttendedDate ? (DetailModel.ReferralDetail.LastAttendedDate|dateformat|date:'@ConfigSettings.ClientSideDateFormat') : '@Resource.NA'}}</span>
    </div>
    <div class="col-md-6 margin-bottom-5 no-padding">
        <strong>@Resource.FrequencyCode :</strong> <span class="margin-top-2 about-text">{{DetailModel.ReferralDetail.FrequencyCode ?DetailModel.ReferralDetail.FrequencyCode : '@Resource.NA'}}</span>
    </div>
    <div class="col-md-4 margin-bottom-5 no-padding" data-ng-if="DetailModel.ReferralDetail.RespiteService">
        <strong>@Resource.Respite :</strong>
        <span class="margin-top-2 about-text">{{ DetailModel.ReferralDetail.ZSPRespiteExpirationDate ? (DetailModel.ReferralDetail.ZSPRespiteExpirationDate|dateformat|date:'@ConfigSettings.ClientSideDateFormat') : '@Resource.NA' }}
        </span>
    </div>
    <div class="col-md-4 margin-bottom-5 no-padding" data-ng-if="DetailModel.ReferralDetail.LifeSkillsService">
        <strong>@Resource.LifeSkillsShort :</strong>
        <span class="margin-top-2 about-text">{{ DetailModel.ReferralDetail.ZSPLifeSkillsExpirationDate ? (DetailModel.ReferralDetail.ZSPLifeSkillsExpirationDate|dateformat|date:'@ConfigSettings.ClientSideDateFormat') : '@Resource.NA' }}
        </span>
    </div>
    <div class="col-md-4 margin-bottom-5 no-padding" data-ng-if="DetailModel.ReferralDetail.CounselingService">
        <strong>@Resource.Counseling :</strong>
        <span class="margin-top-2 about-text">{{ DetailModel.ReferralDetail.ZSPCounsellingExpirationDate ? (DetailModel.ReferralDetail.ZSPCounsellingExpirationDate|dateformat|date:'@ConfigSettings.ClientSideDateFormat') : '@Resource.NA' }}
        </span>
    </div>
    
    <div class="col-md-12 margin-bottom-5 no-padding">
        <strong>@Resource.NeedPrivateRoom : </strong><span class="margin-top-5">{{DetailModel.ReferralDetail.NeedPrivateRoom?'@Resource.Yes':'@Resource.No'}}</span>
    </div>
    <div class="col-md-12 margin-bottom-5 no-padding">
        <strong>@Resource.PlacementRequirement :</strong>
        <p class="margin-top-2 about-text">{{DetailModel.ReferralDetail.PlacementRequirement?DetailModel.ReferralDetail.PlacementRequirement:'@Resource.NA'}}</p>
    </div> 
</div>
<div class="col-sm-12 no-padding" data-ng-if="!IsLoadingDetails && DetailModel">
    <strong>@Resource.RecentSchedules :</strong><span data-ng-if="DetailModel.ScheduleList.length==0">@Resource.NA</span>
    <div class="dataTables_wrapper margin-top-5 " data-ng-if="DetailModel.ScheduleList.length>0">
        <table class="table table-advance table-bordered table-striped table-hover table-condensed tbl_reflog">
            <thead>
                <tr>
                    <th class="col-sm-2"><strong>@Resource.StarDate</strong></th>
                    <th><strong>@Resource.EndDate</strong></th>
                    <th><strong>@Resource.Employee</strong></th>
                    <th><strong>@Resource.Status</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-if="DetailModel.ScheduleList.length > 0" data-ng-repeat="schedule in DetailModel.ScheduleList">
                    <td>{{ schedule.StartDate ? (schedule.StartDate|dateformat|date:'@ConfigSettings.ClientSideDateFormat') : '@Resource.NA' }}</td>
                    <td>{{ schedule.EndDate ? (schedule.EndDate|dateformat|date:'@ConfigSettings.ClientSideDateFormat') : '@Resource.NA' }}</td>
                    <td>{{schedule.EmployeeName?schedule.EmployeeName:'@Resource.NA'}}</td>
                    <td>{{schedule.ScheduleStatusName}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div class="col-sm-12 no-padding" data-ng-if="IsLoadingDetails">
    <h4 class="text-center">@Resource.Loading</h4>
</div>*@
<div class="col-sm-12 no-padding">
    <h5 class="caption">
        <b>Employee: </b>
        <a class="text-decoration-none sbold uppercase" data-ng-href="@Constants.HC_AddReferral{{DetailModel.ReferralDetail.EncryptedReferralID}}" data-ng-bind="DetailModel.ReferralDetail.ReferralName" target="_blank">
        </a>
    </h5>
    <div class="rd_popupempdetail">
        <div class="rd_popupempdetailleft">
            <p><b>Employee Code: </b><span>Emp-6578</span></p>
            <div class="rd_popupempcontact">
                <p class="rd_popupempaddress"><b>Address: </b><span>123 6th St.<br /> Melbourne, FL 32904</span></p>
                <p class="rd_popupempemail">
                    <span><i class="fa fa-envelope margin-right-05" aria-hidden="true"></i><a href="#">demo@mailinator.com</a></span>
                    <span><i class="fa fa-phone margin-right-05" aria-hidden="true"></i> <a href="#">+1-867-736-3787</a></span>
                </p>
            </div>
        </div>
        <div class="rd_popupempdetailleft">
            <h5 class="badge badge-warning badge-roundless margin-top-0 margin-bottom-10 font-black">Employee Time Slot</h5>
            <div class="font-size-12">From 03/01/2018 To 03/30/2018</div>
            <ul class="client_time">
                <li><b>Mon</b> 10am - 12pm</li>
                <li><b>Thu</b> 01pm - 03pm</li>
                <li><b>Sat</b> 05pm - 07pm</li>
            </ul>
        </div>
    </div>
    <div class="dataTables_wrapper margin-top-5 rd_popupemptimeslot">
        <table class="table table-advance table-bordered table-striped table-hover table-condensed tbl_reflog">
            <thead>
                <tr>
                    <th><strong>PTO Requested <br />Date</strong></th>
                    <th><strong>From-Time</strong></th>
                    <th><strong>To-Time</strong></th>
                    <th><strong>Patient <br />Scheduled</strong></th>
                    <th><strong>Form-Time</strong></th>
                    <th><strong>To-Time</strong></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01/12/18</td>
                    <td>12:00 AM</td>
                    <td>12:00 PM</td>
                    <td>Marry</td>
                    <td>7:00 AM</td>
                    <td>4:00 PM</td>
                    <td><a href="#" class="btn btn-xs green-jungle">Approve</a></td>
                    <td><a href="#" class="btn btn-xs red-mint">Disapprove</a></td>
                </tr>
                <tr>
                    <td>03/12/18</td>
                    <td>12:00 AM</td>
                    <td>12:00 PM</td>
                    <td>Marry</td>
                    <td>7:00 AM</td>
                    <td>4:00 PM</td>
                    <td><a href="#" class="btn btn-xs green-jungle">Approve</a></td>
                    <td><a href="#" class="btn btn-xs red-mint">Disapprove</a></td>
                </tr>
                <tr>
                    <td>04/17/18</td>
                    <td>12:00 AM</td>
                    <td>12:00 PM</td>
                    <td>Marry</td>
                    <td>7:00 AM</td>
                    <td>4:00 PM</td>
                    <td><a href="#" class="btn btn-xs green-jungle">Approve</a></td>
                    <td><a href="#" class="btn btn-xs red-mint">Disapprove</a></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>









