@model HC_ScheduleMasterModel
<div class="col-sm-12 no-padding">
    <div class="dataTables_wrapper margin-top-5 ">

        @* <span class="pull-left"><b><a data-ng-click="commonDetailPopover.OpenScheduleNotificationLogModel(commonDetailPopover)" data-dismiss="modal">@Resource.ScheduleNotificationLogDetails</a></b></span>*@

        <table class="table table-advance table-bordered table-striped table-hover table-condensed tbl_reflog">
            <tbody>
                <tr>
                    <td>@Resource.Name</td>
                    <td>{{commonDetailPopover.EmployeeName}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Resource.Phone</td>
                    <td>
                        @*data-phone-format="commonDetailPopover.Phone2 ? commonDetailPopover.Phone2 : '@Resource.NA'"*@
                        <span data-ng-bind="commonDetailPopover.EmpMobile ? commonDetailPopover.EmpMobile :'@Resource.NA'" class="display-block"></span>
                    </td>
                    <td>
                        <a data-ng-if="commonDetailPopover.ScheduleStatusID !=@((int)ScheduleStatus.ScheduleStatuses.Cancelled) && commonDetailPopover.ScheduleStatusID !=@((int)ScheduleStatus.ScheduleStatuses.No_Confirmation)  && commonDetailPopover.ScheduleStatusID !=@((int)ScheduleStatus.ScheduleStatuses.No_Show)" data-ng-click="commonDetailPopover.OpenEmpSMSPopup(commonDetailPopover,commonDetailPopover.EmpMobile)">@Resource.SendSMS</a>
                        @*<span class="badge badge-default pull-right margin-top-2" data-ng-show="commonDetailPopover.SMSSent"  title="@Resource.SMSAlreadySent"><small><b>@Resource.Sent</b></small></span>*@
                    </td>
                    
                </tr>

                <tr>
                    <td>@Resource.Email</td>
                    <td>
                        <span data-ng-bind="commonDetailPopover.EmpEmail?commonDetailPopover.EmpEmail:'@Resource.NA'" class="display-block"></span>
                    </td>
                    <td>
                        <a data-ng-if="commonDetailPopover.ScheduleStatusID !=@((int)ScheduleStatus.ScheduleStatuses.Cancelled) && commonDetailPopover.ScheduleStatusID !=@((int)ScheduleStatus.ScheduleStatuses.No_Confirmation)  && commonDetailPopover.ScheduleStatusID !=@((int)ScheduleStatus.ScheduleStatuses.No_Show)" data-ng-click="commonDetailPopover.OpenEmpEmailPopup(commonDetailPopover)">@Resource.SendEmail </a>
                        @*<span class="badge badge-default pull-right margin-top-2" data-ng-show="commonDetailPopover.EmailSent"  title="@Resource.EmailAlreadySent"><small><b>@Resource.Sent</b></small></span>*@
                    </td>
                    @*<td></td>*@
                </tr>
                <tr>
                    <td>@Resource.Address</td>
                    <td>
                        <span data-ng-bind="commonDetailPopover.EmpAddress?commonDetailPopover.EmpAddress:'@Resource.NA'" class="display-block"></span>
                    </td>
                    @*<td>
                        <a data-ng-if="commonDetailPopover.PermissionForEmail && commonDetailPopover.Email && commonDetailPopover.ScheduleStatusID !=@((int)ScheduleStatus.ScheduleStatuses.Cancelled) && commonDetailPopover.ScheduleStatusID !=@((int)ScheduleStatus.ScheduleStatuses.No_Confirmation)  && commonDetailPopover.ScheduleStatusID !=@((int)ScheduleStatus.ScheduleStatuses.No_Show)" data-ng-click="commonDetailPopover.OpenEmailPopup(commonDetailPopover)">@Resource.SendEmail </a>
                        <span class="badge badge-default pull-right margin-top-2" data-ng-show="commonDetailPopover.EmailSent"  title="@Resource.EmailAlreadySent"><small><b>@Resource.Sent</b></small></span>
                    </td>*@
                    <td></td>
                </tr>
                <tr data-ng-if="commonDetailPopover.PermissionForMail && commonDetailPopover.ScheduleStatusID !=@((int)ScheduleStatus.ScheduleStatuses.Cancelled) && commonDetailPopover.ScheduleStatusID !=@((int)ScheduleStatus.ScheduleStatuses.No_Confirmation)  && commonDetailPopover.ScheduleStatusID !=@((int)ScheduleStatus.ScheduleStatuses.No_Show)">
                    <td></td>
                    <td></td>
                    @* <td>
                        <a data-ng-if=" commonDetailPopover.PermissionForMail && commonDetailPopover.ScheduleStatusID !=@((int)ScheduleStatus.ScheduleStatuses.Cancelled) && commonDetailPopover.ScheduleStatusID !=@((int)ScheduleStatus.ScheduleStatuses.No_Confirmation)  && commonDetailPopover.ScheduleStatusID !=@((int)ScheduleStatus.ScheduleStatuses.No_Show)" data-ng-click="commonDetailPopover.PrintNoticeScheduleNotification(commonDetailPopover.ScheduleID)">@Resource.GenerateNotice</a>
                        <span class="badge badge-default pull-right margin-top-2" data-ng-show="commonDetailPopover.NoticeSent"  title="@Resource.NoticeAlreadyGenerated"><small><b>@Resource.Genrated</b></small></span>
                    </td>*@
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>





