@model AddReferralModel
<div class="row-fluid">
    <div class="">
        <div class="tabbable tabbable-custom tabs-left">

            @Html.Hidden("hdnOMPermission", Common.SerializeObject(Common.HasPermission(Constants.Permission_ReviewMeasurement_OutcomesMeasurement_View_AddUpdate)))
            @Html.Hidden("hdnACPermission", Common.SerializeObject(Common.HasPermission(Constants.Permission_ReviewMeasurement_AnsellCaseyReview_View_AddUpdate)))
            @Html.Hidden("hdnMSPermission", Common.SerializeObject(Common.HasPermission(Constants.Permission_ReviewMeasurement_MonthlySummary_View_AddUpdate)))
            <div class="col-md-1 col-sm-2 no-padding">
                <ul class="nav nav-tabs tabs-left no-padding">
                    @if (Common.HasPermission(Constants.Permission_ReviewMeasurement_OutcomesMeasurement_View_AddUpdate))
                    {
                        <li><a id="rm_OutcomesMeasurement" href="#tab_OutcomesMeasurement" data-toggle="tab">@Resource.OutcomesMeasurement</a></li>
                    }
                    @if (Common.HasPermission(Constants.Permission_ReviewMeasurement_AnsellCaseyReview_View_AddUpdate))
                    {
                        <li class=""><a id="rm_AnsellCaseyReview" href="#tab_AnsellCaseyReview" data-toggle="tab">@Resource.AnsellCaseyReview</a></li>
                    }
                    @if (Common.HasPermission(Constants.Permission_ReviewMeasurement_MonthlySummary_View_AddUpdate))
                    {
                        <li class=""><a id="rm_ReferralsMonthlySummary" href="#tab_ReferralsMonthlySummary" data-toggle="tab">@Resource.MonthlySummary</a></li>
                    }
                </ul>
            </div>

            <div class="tab-content col-md-11 col-sm-10">
                @if (Common.HasPermission(Constants.Permission_ReviewMeasurement_OutcomesMeasurement_View_AddUpdate))
                {
                    <div class="tab-pane" id="tab_OutcomesMeasurement" style="min-height: 350px;">
                        @Html.Partial("Partial/ReferralReviewMeasurement/_tabReferralOutcomeMeasurement", Model)
                    </div>

                }
                @if (Common.HasPermission(Constants.Permission_ReviewMeasurement_AnsellCaseyReview_View_AddUpdate))
                {
                    <div class="tab-pane" id="tab_AnsellCaseyReview" style="min-height: 350px;">
                        @Html.Partial("Partial/ReferralReviewMeasurement/_tabReferralAnsellCaseyReview", Model)
                    </div>
                }
                @if (Common.HasPermission(Constants.Permission_ReviewMeasurement_MonthlySummary_View_AddUpdate))
                {
                    <div class="tab-pane" id="tab_ReferralsMonthlySummary" style="min-height: 350px;">
                        @Html.Partial("Partial/ReferralReviewMeasurement/_tabReferralMonthlySummary", Model)
                    </div>
                }

            </div>
        </div>
    </div>
</div>

