@model AddReferralModel

<div class="form-group row">
    <div class="col-sm-12">

        <form id="frmSearchReferralAssessment">
            <div class="row">
                <div class="form-group col-lg-10 col-md-10 col-sm-10 no-padding">
                    <input id="hideErrorContent" type="text" class="hideErrorContent">
                    <div class="form-group col-lg-2 col-md-4 col-sm-4">
                        <label class="control-label">@Resource.StarDate</label>
                        <div class="input-group date" datepicker="SearchReferralAssessmentReview.StartDate" ng-dateval="SearchReferralAssessmentReview.StartDate">
                            <input
                                class="form-control input-sm  dateInputMask" placeholder="@Resource.StarDate"
                                id="SearchReferralAssessmentReview_StartDate" maxlength="50" name="SearchReferralAssessmentReview.StartDate"
                                type="text"/>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>

                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-4">
                        <label class="control-label">@Resource.EndDate</label>
                        <div class="input-group date" datepicker="SearchReferralAssessmentReview.EndDate" ng-dateval="SearchReferralAssessmentReview.EndDate">
                            <input
                                class="form-control input-sm dateInputMask" placeholder="@Resource.EndDate"
                                id="SearchReferralAssessmentReview_EndDate" maxlength="50" name="SearchReferralAssessmentReview.EndDate"
                                type="text"/>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 padding-top-18">
                        <label class="control-label"></label>
                        <button type="submit" class="btn btn-sm btn-primary " data-ng-click="GetReferralReviewAssessmentList()">
                            @Resource.Search
                        </button>
                        <a class="btn btn-sm grey border-grey-cascade" data-ng-click="ResetReferralReviewAssessment()">
                            @Resource.Reset
                        </a>
                    </div>

                </div>

                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label"></label>
                    <a href="javascript:void(0);" class="btn btn-xs green-jungle pull-right" data-ng-click="OpenAddReferralReviewAssessment()">
                        <i class="fa fa-plus">&nbsp;&nbsp;</i> @Resource.AnsellCaseyReview
                    </a>
                </div>
            </div>
        </form>

        <div data-ng-if="ReferralAssessmentReviewList.length > 0">

            <div class="row padding-left-right-10 ">
                <div class="col-md-12">
                    <div class="scroller1" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
                        <span><strong>@Resource.Name: </strong><span>{{Referral.FullName}}</span></span>

                        <span><strong>@Resource.AHCCCSID: </strong><span>#{{Referral.AHCCCSID}}</span></span>
                    </div>
                </div>
                <div class="col-md-12 compact">
                    <div class="table-responsive">
                        <table class="schAssignment_table table-advance table-bordered table-condensed ansellTable">

                            <tr>
                                <th class="width-250px"></th>
                                <th class="width-80px text-align-center" data-ng-repeat="referralReview in ReferralAssessmentReviewList">
                                    <a href="javascript:;" data-ng-click="OpenAddReferralReviewAssessment(referralReview.ReferralAssessmentID)">{{referralReview.AssessmentDate | dateformat}}</a>
                                </th>
                            </tr>

                            <tr>
                                <th>@Resource.Permanency</th>
                                <td class="width-80px text-align-right" data-ng-repeat="referralReview in ReferralAssessmentReviewList">{{referralReview.Permanency}}
                                </td>
                            </tr>

                            <tr>
                                <th>@Resource.DailyLiving</th>
                                <td class="width-80px text-align-right" data-ng-repeat="referralReview in ReferralAssessmentReviewList">{{referralReview.DailyLiving}}
                                </td>
                            </tr>

                            <tr>
                                <th>@Resource.SelfCare</th>
                                <td class="width-80px text-align-right" data-ng-repeat="referralReview in ReferralAssessmentReviewList">{{referralReview.SelfCare}}
                                </td>
                            </tr>

                            <tr>
                                <th>@Resource.RelationshipsAndCommunication</th>
                                <td class="width-80px text-align-right" data-ng-repeat="referralReview in ReferralAssessmentReviewList">{{referralReview.RelationshipsAndCommunication}}
                                </td>
                            </tr>

                            <tr>
                                <th>@Resource.HousingAndMoneyManagement</th>
                                <td class="width-80px text-align-right" data-ng-repeat="referralReview in ReferralAssessmentReviewList">{{referralReview.HousingAndMoneyManagement}}
                                </td>
                            </tr>

                            <tr>
                                <th>@Resource.WorkAndStudyLife</th>
                                <td class="width-80px text-align-right" data-ng-repeat="referralReview in ReferralAssessmentReviewList">{{referralReview.WorkAndStudyLife}}
                                </td>
                            </tr>

                            <tr>
                                <th>@Resource.CareerAndEducationPlanning</th>
                                <td class="width-80px text-align-right" data-ng-repeat="referralReview in ReferralAssessmentReviewList">{{referralReview.CareerAndEducationPlanning}}
                                </td>
                            </tr>

                            <tr>
                                <th>@Resource.LookingForward</th>
                                <td class="width-80px text-align-right" data-ng-repeat="referralReview in ReferralAssessmentReviewList">{{referralReview.LookingForward}}
                                </td>
                            </tr>

                            <tr class="bg-default">
                                <th>@Resource.OverallAverage</th>
                                <td class="width-80px text-align-right" data-ng-repeat="referralReview in ReferralAssessmentReviewList">{{referralReview.OverAllAverage  | number : 2}}
                                </td>
                            </tr>

                            <tr>
                                <th>@Resource.Print</th>
                                <td class="width-80px text-align-right" data-ng-repeat="referralReview in ReferralAssessmentReviewList">
                                    <a class="" data-ng-click="PrintDiv('print-content-referralAssessment',referralReview.ReferralAssessmentID)" title="Print" data-ng-show="referralReview.MarkAsComplete">&nbsp;@Resource.Print</a>
                                    <span data-ng-show="!referralReview.MarkAsComplete">--</span>
                                </td>
                            </tr>

                            <tr>
                                <th></th>
                                <td class="width-80px text-align-right" data-ng-repeat="referralReview in ReferralAssessmentReviewList">
                                    <a class="" data-ng-click="DeleteReferralAssessmentReview(referralReview.ReferralAssessmentID)" title="@Resource.Delete">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>


                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" data-ng-if="GraphSeriesList.length>0">
            <br class="clearfix" />
            <div class="space20"></div>
            <div class="col-md-10 padding-left-25">
                <div class="jqChart-Graph" jq-chart  ng-title="@Resource.AssessmentReview : {{Referral.LastName+', '+Referral.FirstName}}" ng-series="GraphSeriesList" style="width: 100%;height: 350px;"></div>
                <span class="cursor-pointer" data-ng-click="PrintGraph()">@Resource.PrintThisGraph</span>
            </div>
        </div>

    </div>
</div>

<div class="modal fade modal-scroll outComeForm" id="model_ReviewAndAssessment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center"><strong>@Resource.AssessmentReviewAndRecommendations</strong></h4>
            </div>
            <div class="modal-body">
                <form id="frmAnsellCaseyReview" class="horizontal-form">
                    <div class="row">
                        <div class="col-sm-12 no-padding padding-bottom-10px">
                            <div class="col-sm-6 no-right-padding">
                                <strong class="col-sm-4 no-right-padding">@Resource.ClientName</strong>
                                <div class="col-sm-8 form-group form-md-line-input no-left-padding">
                                    <input type="text" class="form-control input-sm height-19px" id="Text59" name="inputMiddleName" readonly="readonly" data-ng-value="Referral.LastName+', '+Referral.FirstName">
                                </div>
                            </div>
                            <div class="col-sm-6 no-right-padding">
                                <strong class="col-sm-4 no-right-padding">@Resource.AHCCCSID:</strong>
                                <div class="col-sm-8 form-group form-md-line-input no-left-padding">
                                    <input type="text" class="form-control input-sm height-19px" id="Text76" name="inputMiddleName" readonly="readonly" data-ng-value="Referral.AHCCCSID">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            <div class="col-sm-6 no-right-padding">
                                <strong class="col-sm-4 no-right-padding">@Resource.CompletedBy:</strong>
                                <div class="col-sm-8 form-group form-md-line-input no-left-padding">
                                    <input type="text" class="form-control input-sm height-19px" id="Text56" name="inputMiddleName" readonly="readonly" data-ng-value="ReferralAssessmentReviewModel.CompletedBy">
                                </div>
                            </div>
                            <div class="col-sm-6 no-right-padding">
                                <strong class="col-sm-4 no-right-padding">@Resource.DateOfReview</strong>
                                <div class="col-sm-8 form-group form-md-line-input no-left-padding">
                                    <div class="input-group date" datepicker="ReferralAssessmentReviewModel.AssessmentDate" data-ng-dateval="ReferralAssessmentReviewModel.AssessmentDate">
                                        @*<input class="form-control input-sm" placeholder="Assessment Date" id="ReferralAssessmentReviewModel_AssessmentDate" maxlength="10" name="ReferralAssessmentReviewModel.AssessmentDate"
                                        type="text">*@
                                        @Html.TextBoxFor(q => q.ReferralAssessmentReview.AssessmentDate,
                                                         new
                                                             {
                                                                 @class = "form-control input-sm dateInputMask height-19px",
                                                                 placeholder = Constants.GlobalDateFormat,
                                                                 @maxlength = "10"
                                                             })
                                        @Html.ValidationMessageFor(q => q.ReferralAssessmentReview.AssessmentDate)
                                        <span class="input-group-addon no-padding"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space20"></div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-2 no-left-padding">
                                <strong>@Resource.PastAverage</strong>
                            </div>
                            <div class="col-sm-2 no-left-padding">
                                <strong>@Resource.CurrentAverage</strong>
                            </div>
                            <div class="col-sm-2 no-left-padding">
                                <strong>@Resource.DifferencePlusMinus</strong>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                <label class="control-label bold label-italic label-italic">@Resource.Permanency</label>
                            </div>

                            <div class="col-sm-1 form-group form-md-line-input">
                                <span class="form-control" disabled="disabled">{{ ( ExistingReferralAssessmentReview.Permanency) | numberFixedLen:2 }}</span>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1 form-group form-md-line-input">
                                <input type="text" class="form-control" name="name" maxlength="5" data-ng-model="ReferralAssessmentReviewModel.Permanency" dir-valid-decimal>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1 form-group form-md-line-input">
                                <span class="form-control" disabled="disabled">{{ (ReferralAssessmentReviewModel.Permanency - ExistingReferralAssessmentReview.Permanency) | numberFixedLen:2 }}</span>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                <label class="control-label bold label-italic">@Resource.DailyLiving</label>
                            </div>
                            <div class="col-sm-1 form-group form-md-line-input">
                                <span class="form-control" disabled="disabled">{{ (ExistingReferralAssessmentReview.DailyLiving) | numberFixedLen:2 }}</span>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1 form-group form-md-line-input">
                                <input type="text" class="form-control" name="name" maxlength="5" data-ng-model="ReferralAssessmentReviewModel.DailyLiving" dir-valid-decimal>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1 form-group form-md-line-input">
                                <span class="form-control" disabled="disabled">{{ (ReferralAssessmentReviewModel.DailyLiving - ExistingReferralAssessmentReview.DailyLiving) | numberFixedLen:2 }}</span>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                <label class="control-label bold label-italic">@Resource.SelfCare</label>
                            </div>

                            <div class="col-sm-1 form-group form-md-line-input">
                                <span class="form-control" disabled="disabled">{{ ( ExistingReferralAssessmentReview.SelfCare) | numberFixedLen:2 }}</span>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1 form-group form-md-line-input">
                                <input type="text" class="form-control" name="name" maxlength="5" data-ng-model="ReferralAssessmentReviewModel.SelfCare" dir-valid-decimal>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1 form-group form-md-line-input">
                                <span class="form-control" disabled="disabled">{{ (ReferralAssessmentReviewModel.SelfCare - ExistingReferralAssessmentReview.SelfCare) | numberFixedLen:2 }}</span>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                <label class="control-label bold label-italic">@Resource.RelationshipsAndCommunication</label>
                            </div>

                            <div class="col-sm-1 form-group form-md-line-input">
                                <span class="form-control" disabled="disabled">{{ ( ExistingReferralAssessmentReview.RelationshipsAndCommunication) | numberFixedLen:2 }}</span>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1 form-group form-md-line-input">
                                <input type="text" class="form-control" name="name" maxlength="5" data-ng-model="ReferralAssessmentReviewModel.RelationshipsAndCommunication" dir-valid-decimal>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1 form-group form-md-line-input">
                                <span class="form-control" disabled="disabled">{{ (ReferralAssessmentReviewModel.RelationshipsAndCommunication - ExistingReferralAssessmentReview.RelationshipsAndCommunication) | numberFixedLen:2 }}</span>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                <label class="control-label bold label-italic">@Resource.HousingAndMoneyManagement</label>
                            </div>

                            <div class="col-sm-1 form-group form-md-line-input">
                                <span class="form-control" disabled="disabled">{{ ( ExistingReferralAssessmentReview.HousingAndMoneyManagement) | numberFixedLen:2 }}</span>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1 form-group form-md-line-input">
                                <input type="text" class="form-control" name="name" maxlength="5" data-ng-model="ReferralAssessmentReviewModel.HousingAndMoneyManagement" dir-valid-decimal>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1 form-group form-md-line-input">
                                <span class="form-control" disabled="disabled">{{ (ReferralAssessmentReviewModel.HousingAndMoneyManagement - ExistingReferralAssessmentReview.HousingAndMoneyManagement) | numberFixedLen:2 }}</span>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                <label class="control-label bold label-italic">@Resource.WorkAndStudyLife</label>
                            </div>

                            <div class="col-sm-1 form-group form-md-line-input">
                                <span class="form-control" disabled="disabled">{{ ( ExistingReferralAssessmentReview.WorkAndStudyLife) | numberFixedLen:2 }}</span>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1 form-group form-md-line-input">
                                <input type="text" class="form-control" name="name" maxlength="5" data-ng-model="ReferralAssessmentReviewModel.WorkAndStudyLife" dir-valid-decimal>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1 form-group form-md-line-input">
                                <span class="form-control" disabled="disabled">{{ (ReferralAssessmentReviewModel.WorkAndStudyLife - ExistingReferralAssessmentReview.WorkAndStudyLife) | numberFixedLen:2 }}</span>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                <label class="control-label bold label-italic Italic">@Resource.CareerAndEducationPlanning</label>
                            </div>

                            <div class="col-sm-1 form-group form-md-line-input">
                                <span class="form-control" disabled="disabled">{{ ( ExistingReferralAssessmentReview.CareerAndEducationPlanning) | numberFixedLen:2 }}</span>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1 form-group form-md-line-input">
                                <input type="text" class="form-control" name="name" maxlength="5" data-ng-model="ReferralAssessmentReviewModel.CareerAndEducationPlanning" dir-valid-decimal>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1 form-group form-md-line-input">
                                <span class="form-control" disabled="disabled">{{ (ReferralAssessmentReviewModel.CareerAndEducationPlanning - ExistingReferralAssessmentReview.CareerAndEducationPlanning) | numberFixedLen:2 }}</span>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                <label class="control-label bold label-italic">@Resource.LookingForward</label>
                            </div>

                            <div class="col-sm-1 form-group form-md-line-input">
                                <span class="form-control" disabled="disabled">{{ ( ExistingReferralAssessmentReview.LookingForward) | numberFixedLen:2 }}</span>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1 form-group form-md-line-input">
                                <input type="text" class="form-control" name="name" maxlength="5" data-ng-model="ReferralAssessmentReviewModel.LookingForward" dir-valid-decimal>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1 form-group form-md-line-input">
                                <span class="form-control" disabled="disabled">{{ (ReferralAssessmentReviewModel.LookingForward - ExistingReferralAssessmentReview.LookingForward) | numberFixedLen:2 }}</span>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>

                    <div class="row margin-top-20">
                        <div class="col-sm-12">
                            <strong>@Resource.AssessmentReviewAndClinicalRecommendations</strong>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group textarea-border form-md-line-input">
                                <textarea class="form-control padding-15" rows="10" data-ng-model="ReferralAssessmentReviewModel.AssessmentReview" ></textarea>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="space20"></div>
                        <div class="col-sm-12">
                            <hr class="clearfix" />
                            <div class="space10"></div>
                            <div class="col-sm-4 no-right-padding">
                                <strong>@Resource.AnsellCaseyAssessmentResults</strong>
                            </div>
                            @*{{ReferralAssessmentReviewModel.AWSSignedFilePath}}
                            {{ReferralAssessmentReviewModel.TempSignaturePath}}*@
                            <div data-ng-hide="ReferralAssessmentReviewModel.AWSSignedFilePath || ReferralAssessmentReviewModel.TempAssessmentResultUrl">
                                <div class="col-lg-2 col-md-2 col-sm-2 no-padding">

                                    @*<div class="btn-group btn-block text-center">*@
                                    <div class="fileUpload btn btn-xs btn-primary">
                                        <span><i class="icon-plus"></i>&nbsp; @Resource.UploadResult</span>
                                        <input id="logoFileUpload" type="file" name="files[]" class="upload" value="Browse"
                                           amazonfileupload
                                           file-uploadurl="{{UploadAssessmentResult}}"
                                           beforesend="BeforeSend"
                                           aftersend="AfterSend"
                                           progress="Progress"
                                           data-primary-id="EncryptedReferralAssessmentID"
                                           @*multiple="multiple"*@
                                           filelist="UploadingFileList"
                                           data-ng-aws-settings-model="ReferralAssessmentAmazonSettingModel"/>
                                    </div>
                                    @*</div>*@
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                    <div data-ng-repeat="filedata in UploadingFileList" id="pbar">
                                        <td></td>
                                        <td>
                                            <div class="" data-ng-bind="filedata.name" title="{{filedata.name}}">
                                            </div>
                                        </td>

                                        <td colspan="4">
                                            <div>
                                                <div class="active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                    <div class="progress-bar" data-ng-class="{'progress-bar-success': !filedata.IsError,'progress-bar-danger': filedata.IsError}" data-ng-style="{ 'width': filedata.FileProgress+'%' }"><span data-ng-bind="filedata.IsError?filedata.ErrorMessage:filedata.FileProgress+'%'"></span></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" data-ng-if="filedata.IsError" data-ng-click="DeleteUploadedFile(filedata)" tooltip title="Delete Document"><i class="fa fa-remove"></i></a>
                                        </td>
                                    </div>
                                    <div data-ng-show="ReferralAssessmentReviewModel.SaveConditionMessage">
                                        <code>@Resource.SaveCondition</code>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 no-padding" data-ng-show="ReferralAssessmentReviewModel.AWSSignedFilePath || ReferralAssessmentReviewModel.TempAssessmentResultUrl">
                                <span>
                                    <a data-ng-show="!IsFileUploading && ReferralAssessmentReviewModel.TempAssessmentResultUrl" target="_blank"
                                        data-ng-href="{{ReferralAssessmentAmazonSettingModel.URL+'/'+ ReferralAssessmentReviewModel.TempAssessmentResultUrl}}">{{ReferralAssessmentReviewModel.FileName}}</a>

                                    <a data-ng-show="!IsFileUploading && ReferralAssessmentReviewModel.AWSSignedFilePath" target="_blank"
                                        data-ng-href="{{ReferralAssessmentReviewModel.AWSSignedFilePath}}">{{ReferralAssessmentReviewModel.FileName}}</a>
                                </span>
                                <span class="padding-left-5" title="@Resource.Delete" data-ng-click="DeleteAssessmentResult()"><i class="fa fa-remove curser-pointer font-red"></i></span>

                            </div>
                        </div>

                    </div>





                    <div class="row">
                        <div class="space10"></div>
                        <div class="col-sm-12">
                            <div>
                                <hr class="clearfix" />
                                <div>
                                    <div class="form-group col-lg-3 col-md-3 col-sm-3">
                                        <div class="no-left-padding">
                                            <input type="checkbox" id="MarkAsComplete" data-ng-model="ReferralAssessmentReviewModel.MarkAsComplete" class="unicheckbox" val="ReferralAssessmentReviewModel.MarkAsComplete">
                                            <label for="MarkAsComplete"><strong class="SignAndComplete">@Resource.SignAndComplete</strong></label>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-5 col-md-5 col-sm-5 pull-left" data-ng-if="ReferralAssessmentReviewModel.MarkAsComplete">
                                        <div class="col-md-12">
                                            <b>@SessionHelper.FirstName @SessionHelper.LastName</b>&nbsp;(<small>@Resource.BHPSignatureCredentials</small>)
                                        @*<div class="dirSignature replaceErrorDest login-kbw-signature" data-ng-value="AddNotePageModel.Note.Signature" data-ng-enable="false"></div>*@
                                            <img class="img-responsive signature-image" id="imgDisplay" src="" data-ng-src="{{'@(ConfigSettings.AmazonS3Url + ConfigSettings.ZarephathBucket)/'+ReferralAssessmentReviewModel.Signature}}"/>
                                        </div>
                                    </div>
                                </div>




                                @* <img class="img-responsive signature-image" id="imgDisplay" src="" data-ng-if="ReferralAssessmentReviewModel.Signature" data-ng-src="{{'@(ConfigSettings.AmazonS3Url + ConfigSettings.ZarephathBucket)/'+ ReferralAssessmentReviewModel.Signature}}"/>
                                <strong>@Resource.BHPSignatureCredentials</strong>*@
                            </div>

                            <div class="col-sm-4 no-left-padding">
                                <div class="col-sm-4">
                                    <label class="control-label bold required">@Resource.Assignee</label>
                                </div>

                                <div class="col-sm-8 no-padding">
                                    <select class="col-lg-12  form-group form-md-line-input no-left-padding" style="padding: 5px !important;"
                                        data-ng-init="ReferralAssessmentReviewModel.Assignee=ReferralAssessmentReviewModel.Assignee==''?null:ReferralAssessmentReviewModel.Assignee.toString()"
                                        data-ng-model="ReferralAssessmentReviewModel.Assignee"
                                        data-val="true" data-val-required="@Resource.AssigneeRequired"
                                        id="ReferralOutcomeMeasurementAssignee"
                                        name="ReferralOutcomeMeasurement.Assignee"
                                        convert-to-number="">
                                        <option value="">@Resource.SelectAssignee</option>
                                        <option data-ng-repeat="option in ReferralModel.EmployeeList | filter:AssigneeFilter(ReferralModel.Referral.Assignee)" value="{{option.EmployeeID}}">{{option.EmployeeName}}</option>
                                    </select>
                                    @Html.ValidationMessageFor(q => q.ReferralAssessmentReview.Assignee)
                                </div>

                            </div>
                        </div>



                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @if (Common.HasPermission(Constants.Permission_ReviewMeasurement_AnsellCaseyReview_AddUpdate))
                {
                    <button class="btn btn-sm red" data-dismiss="modal">@Resource.Cancel</button>
                    <button class="btn btn-sm green-jungle" data-ng-click="SaveReferralAssessmentReview()">@Resource.Save</button>
                }
            </div>
        </div>

    </div>
    <!-- /.modal-content -->
</div>











<div id="print-content-referralAssessment" data-ng-show="PrintContent">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-6  pull-left">
                <img src="/Assets/images/logo-zrpath.png" alt="Logo" />
            </div>
            <div class="col-xs-6 pull-right">
                <label style="font-size: 15px" class=" pull-right margin-top-15">@Resource.AssessmentReviewAndRecommendations</label>
            </div>
        </div>
        <form class="col-xs-12 form-inline print-font-custom">


            <div class="form-group col-xs-12 form-md-line-input">
                <div class="col-xs-2">
                    <label class="control-label pull-right">
                        <span style="font-size: 14px; font-family: 'Century Gothic';"><b>@Resource.ClientName</b></span>
                    </label>
                </div>
                <div class="col-xs-3 checklist-print-value">
                    <label class="control-label">
                        <span style="font-size: 14px; font-family: 'Century Gothic';">{{Referral.LastName+', '+Referral.FirstName}}</span>
                    </label>
                </div>
                <div class="col-xs-3">
                    <label class="control-label pull-right">
                        <span style="font-size: 14px; font-family: 'Century Gothic';"><b>@Resource.AHCCCSID:</b></span>
                    </label>
                </div>
                <div class="col-xs-3 checklist-print-value">
                    <label class="control-label">
                        <span style="font-size: 14px; font-family: 'Century Gothic';">{{Referral.AHCCCSID}}</span>
                    </label>
                </div>
            </div>

            <div class="form-group col-xs-12 form-md-line-input" style="padding-top: 10px">
                <div class="col-xs-2">
                    <label class="control-label pull-right"><b>@Resource.CompletedBy:</b></label>
                </div>
                <div class="col-xs-3 checklist-print-value">
                    <label class="control-label">{{ReferralAssessmentReviewModel.CompletedBy}}</label>
                </div>
                <div class="col-xs-3">
                    <label class="control-label pull-right"><b>@Resource.DateOfReview</b></label>
                </div>
                <div class="col-xs-3 checklist-print-value">
                    <label class="control-label">{{ReferralAssessmentReviewModel.AssessmentDate | dateformat}}</label>
                </div>
            </div>

            <div class="form-group col-xs-12 form-md-line-input" style="padding-top: 10px">
                <div class="col-xs-4">
                    <label class="control-label"></label>
                </div>
                <div class="col-xs-2">
                    <label class="control-label"><b>@Resource.PastAverage</b></label>
                </div>
                <div class="col-xs-3">
                    <label class="control-label margin-left-10"><b>@Resource.CurrentAverage</b></label>
                </div>
                <div class="col-xs-3  no-left-padding">
                    <label class="control-label"><b>@Resource.DifferencePlusMinus</b></label>
                </div>
            </div>

            <div class="form-group col-xs-12 form-md-line-input" style="padding-top: 10px">
                <div class="col-xs-4">
                    <label class="control-label pull-left">@Resource.Permanency</label>
                </div>
                <div class="col-xs-2 ">
                    <label class="control-label checklist-print-value width-40px margin-left-20 text-align-center">{{ ( ExistingReferralAssessmentReview.Permanency) | numberFixedLen:2 }}</label>
                </div>
                <div class="col-xs-3  ">
                    <label class="control-label pull-left checklist-print-value width-40px margin-left-35 text-align-center">{{ReferralAssessmentReviewModel.Permanency}}</label>
                </div>
                <div class="col-xs-3">
                    <label class="control-label checklist-print-value width-40px  text-align-center">{{ (ReferralAssessmentReviewModel.Permanency - ExistingReferralAssessmentReview.Permanency) | numberFixedLen:2 }}</label>
                </div>
            </div>

            <div class="form-group col-xs-12 form-md-line-input" style="padding-top: 5px">
                <div class="col-xs-4">
                    <label class="control-label pull-left">@Resource.DailyLiving</label>
                </div>
                <div class="col-xs-2 ">
                    <label class="control-label checklist-print-value  width-40px margin-left-20 text-align-center">{{ (ExistingReferralAssessmentReview.DailyLiving) | numberFixedLen:2 }}</label>
                </div>
                <div class="col-xs-3 ">
                    <label class="control-label pull-left checklist-print-value  width-40px margin-left-35 text-align-center">{{ReferralAssessmentReviewModel.DailyLiving}}</label>
                </div>
                <div class="col-xs-3 ">
                    <label class="control-label checklist-print-value  width-40px  text-align-center">{{ (ReferralAssessmentReviewModel.DailyLiving - ExistingReferralAssessmentReview.DailyLiving) | numberFixedLen:2 }}</label>
                </div>
            </div>

            <div class="form-group col-xs-12 form-md-line-input" style="padding-top: 4px">
                <div class="col-xs-4">
                    <label class="control-label pull-left">@Resource.SelfCare</label>
                </div>
                <div class="col-xs-2 ">
                    <label class="control-label checklist-print-value  width-40px margin-left-20 text-align-center">{{ ( ExistingReferralAssessmentReview.SelfCare) | numberFixedLen:2 }}</label>
                </div>
                <div class="col-xs-3 ">
                    <label class="control-label pull-left checklist-print-value  width-40px margin-left-35 text-align-center">{{ReferralAssessmentReviewModel.SelfCare}}</label>
                </div>
                <div class="col-xs-3 ">
                    <label class="control-label checklist-print-value  width-40px  text-align-center">{{ (ReferralAssessmentReviewModel.SelfCare - ExistingReferralAssessmentReview.SelfCare) | numberFixedLen:2 }}</label>
                </div>
            </div>

            <div class="form-group col-xs-12 form-md-line-input" style="padding-top: 7px">
                <div class="col-xs-4">
                    <label class="control-label pull-left">@Resource.RelationshipsAndCommunication</label>
                </div>
                <div class="col-xs-2 ">
                    <label class="control-label checklist-print-value  width-40px margin-left-20 text-align-center">{{ ( ExistingReferralAssessmentReview.RelationshipsAndCommunication) | numberFixedLen:2 }}</label>
                </div>
                <div class="col-xs-3 ">
                    <label class="control-label pull-left checklist-print-value  width-40px margin-left-35 text-align-center">{{ReferralAssessmentReviewModel.RelationshipsAndCommunication}}</label>
                </div>
                <div class="col-xs-3 ">
                    <label class="control-label checklist-print-value  width-40px  text-align-center">{{ (ReferralAssessmentReviewModel.RelationshipsAndCommunication - ExistingReferralAssessmentReview.RelationshipsAndCommunication) | numberFixedLen:2 }}</label>
                </div>
            </div>

            <div class="form-group col-xs-12 form-md-line-input" style="padding-top: 7px">
                <div class="col-xs-4">
                    <label class="control-label pull-left">@Resource.HousingAndMoneyManagement</label>
                </div>
                <div class="col-xs-2 ">
                    <label class="control-label checklist-print-value  width-40px margin-left-20 text-align-center">{{ ( ExistingReferralAssessmentReview.HousingAndMoneyManagement) | numberFixedLen:2 }}</label>
                </div>
                <div class="col-xs-3 ">
                    <label class="control-label pull-left checklist-print-value  width-40px margin-left-35 text-align-center">{{ReferralAssessmentReviewModel.HousingAndMoneyManagement}}</label>
                </div>
                <div class="col-xs-3 ">
                    <label class="control-label checklist-print-value  width-40px text-align-center">{{ (ReferralAssessmentReviewModel.HousingAndMoneyManagement - ExistingReferralAssessmentReview.HousingAndMoneyManagement) | numberFixedLen:2 }}</label>
                </div>
            </div>

            <div class="form-group col-xs-12 form-md-line-input" style="padding-top: 7px">
                <div class="col-xs-4">
                    <label class="control-label pull-left">@Resource.WorkAndStudyLife</label>
                </div>
                <div class="col-xs-2 ">
                    <label class="control-label checklist-print-value  width-40px margin-left-20 text-align-center">{{ ( ExistingReferralAssessmentReview.WorkAndStudyLife) | numberFixedLen:2 }}</label>
                </div>
                <div class="col-xs-3 ">
                    <label class="control-label pull-left checklist-print-value  width-40px margin-left-35 text-align-center">{{ReferralAssessmentReviewModel.WorkAndStudyLife}}</label>
                </div>
                <div class="col-xs-3 ">
                    <label class="control-label checklist-print-value  width-40px  text-align-center">{{ (ReferralAssessmentReviewModel.WorkAndStudyLife - ExistingReferralAssessmentReview.WorkAndStudyLife) | numberFixedLen:2 }}</label>
                </div>
            </div>

            <div class="form-group col-xs-12 form-md-line-input" style="padding-top: 7px">
                <div class="col-xs-4">
                    <label class="control-label pull-left">@Resource.CareerAndEducationPlanning</label>
                </div>
                <div class="col-xs-2 ">
                    <label class="control-label checklist-print-value  width-40px margin-left-20 text-align-center">{{ ( ExistingReferralAssessmentReview.CareerAndEducationPlanning) | numberFixedLen:2 }}</label>
                </div>
                <div class="col-xs-3 ">
                    <label class="control-label pull-left checklist-print-value  width-40px margin-left-35 text-align-center">{{ReferralAssessmentReviewModel.CareerAndEducationPlanning}}</label>
                </div>
                <div class="col-xs-3 ">
                    <label class="control-label checklist-print-value  width-40px text-align-center">{{ (ReferralAssessmentReviewModel.CareerAndEducationPlanning - ExistingReferralAssessmentReview.CareerAndEducationPlanning) | numberFixedLen:2 }}</label>
                </div>
            </div>

            <div class="form-group col-xs-12 form-md-line-input" style="padding-top: 7px">
                <div class="col-xs-4">
                    <label class="control-label pull-left">@Resource.LookingForward</label>
                </div>
                <div class="col-xs-2 ">
                    <label class="control-label checklist-print-value  width-40px margin-left-20 text-align-center">{{ ( ExistingReferralAssessmentReview.LookingForward) | numberFixedLen:2 }}</label>
                </div>
                <div class="col-xs-3 ">
                    <label class="control-label pull-left checklist-print-value  width-40px margin-left-35 text-align-center">{{ReferralAssessmentReviewModel.LookingForward}}</label>
                </div>
                <div class="col-xs-3 ">
                    <label class="control-label checklist-print-value width-40px text-align-center">{{ (ReferralAssessmentReviewModel.LookingForward - ExistingReferralAssessmentReview.LookingForward) | numberFixedLen:2 }}</label>
                </div>
            </div>

            <br class="clear-both" />
            <div class="form-group col-xs-12 form-md-line-input padding-top-20">
                <div class="col-xs-12">
                    <b><u>@Resource.AssessmentReviewAndClinicalRecommendations</u></b>
                </div>
                <div class="col-xs-12">
                    <span class="pull-left" style="line-height: 20px;">{{ReferralAssessmentReviewModel.AssessmentReview}}</span>
                </div>
            </div>

            <div class="form-group col-xs-12 form-md-line-input" style="padding-top: 7px">
                <div class="col-xs-4">
                    <label class="control-label pull-left"><b>@Resource.BHPSignatureCredentials</b></label>
                </div>
                <div class="col-xs-7" data-ng-if="ReferralAssessmentReviewModel.MarkAsComplete">
                    <img class="img-responsive signature-image" id="imgDisplay1" data-ng-if="ReferralAssessmentReviewModel.Signature" data-ng-src="{{'@(ConfigSettings.AmazonS3Url + ConfigSettings.ZarephathBucket)/'+ ReferralAssessmentReviewModel.Signature}}"/>
                </div>
            </div>

        </form>

    </div>
</div>
