<div id="ReferralInternalMissingandExpireDocumentList" class="row" data-ng-show="ReferralInternalMissingandExpireDocumentList.length > 0">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption header-font-size-14 uppercase">
                    @Resource.MissingInternalDocumentList
                     <div class="pull-right padding-left-25" data-ng-show="ReferralInternalMissingandExpireDocumentAjaxStart">
                        <img src="~/Assets/images/lazyload.gif" />
                    </div>
                </div>

                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="fullscreen"></a>
                </div>

            </div>
            <div class="portlet-body table_font-size-12">
                <div class="row">
                    <div class="col-sm-12 form-group padding-right-15" data-ng-if="ReferralInternalMissingandExpireDocumentList.length > 0">
                        <div class="pull-right">
                            <dir-pagination-controls boundary-links="true" on-page-change="ReferralInternalMissingandExpireDocumentListPager.pageChanged(newPageNumber)" pagination-id="ReferralInternalDocumentID"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="portlet-body" style="display: block;">
                            <div class="table-responsive">
                                <form id="frmReferralMissingdocumentList">
                                    <table class="table table-bordered table-striped table-condensed  flip-content">
                                        <thead class="">
                                            <tr>
                                                <th class="width-20px"></th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralInternalMissingandExpireDocumentListPager.sortColumn('AHCCCSID')">@Resource.AHCCCSID</a>
                                                    <span class="sortorder" data-ng-show="ReferralInternalMissingandExpireDocumentListPager.sortIndex === 'AHCCCSID'" data-ng-class="{reverse:ReferralInternalMissingandExpireDocumentListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralInternalMissingandExpireDocumentListPager.sortColumn('CISNumber')">@Resource.CISLabel</a>
                                                    <span class="sortorder" data-ng-show="ReferralInternalMissingandExpireDocumentListPager.sortIndex === 'CISNumber'" data-ng-class="{reverse:ReferralInternalMissingandExpireDocumentListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralInternalMissingandExpireDocumentListPager.sortColumn('ClientName')">@Resource.ClientLabel</a>
                                                    <span class="sortorder" data-ng-show="ReferralInternalMissingandExpireDocumentListPager.sortIndex === 'ClientName'" data-ng-class="{reverse:ReferralInternalMissingandExpireDocumentListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralInternalMissingandExpireDocumentListPager.sortColumn('Gender')">@Resource.Sex</a>
                                                    <span class="sortorder" data-ng-show="ReferralInternalMissingandExpireDocumentListPager.sortIndex === 'Gender'" data-ng-class="{reverse:ReferralInternalMissingandExpireDocumentListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralInternalMissingandExpireDocumentListPager.sortColumn('Age')">@Resource.Age</a>
                                                    <span class="sortorder" data-ng-show="ReferralInternalMissingandExpireDocumentListPager.sortIndex === 'Age'" data-ng-class="{reverse:ReferralInternalMissingandExpireDocumentListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralInternalMissingandExpireDocumentListPager.sortColumn('PayorName')">@Resource.Payor</a>
                                                    <span class="sortorder" data-ng-show="ReferralInternalMissingandExpireDocumentListPager.sortIndex === 'PayorName'" data-ng-class="{reverse:ReferralInternalMissingandExpireDocumentListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralInternalMissingandExpireDocumentListPager.sortColumn('AgencyName')">@Resource.Agency</a>
                                                    <span class="sortorder" data-ng-show="ReferralInternalMissingandExpireDocumentListPager.sortIndex === 'AgencyName'" data-ng-class="{reverse:ReferralInternalMissingandExpireDocumentListPager.reverse}"></span>
                                                </th>
                                                @*<th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralInternalMissingandExpireDocumentListPager.sortColumn('AgencyLocationName')">@Resource.AgencyLocation</a>
                                                    <span class="sortorder" data-ng-show="ReferralInternalMissingandExpireDocumentListPager.sortIndex === 'AgencyLocationName'" data-ng-class="{reverse:ReferralInternalMissingandExpireDocumentListPager.reverse}"></span>
                                                </th>*@
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralInternalMissingandExpireDocumentListPager.sortColumn('CaseManager')">@Resource.CaseManager</a>
                                                    <span class="sortorder" data-ng-show="ReferralInternalMissingandExpireDocumentListPager.sortIndex === 'CaseManager'" data-ng-class="{reverse:ReferralInternalMissingandExpireDocumentListPager.reverse}"></span>
                                                </th>

                                                @if (Common.HasPermission(Constants.Permission_ReferralDocuments_View_AddUpdate))
                                                {
                                                    <th class="col-sm-1"></th>
                                                }
                                            </tr>
                                        </thead>

                                        <tbody dir-paginate="item in ReferralInternalMissingandExpireDocumentList | itemsPerPage: ReferralInternalMissingandExpireDocumentListPager.pageSize" total-items="ReferralInternalMissingandExpireDocumentListPager.totalRecords" current-page="ReferralInternalMissingandExpireDocumentListPager.currentPage" pagination-id="ReferralInternalDocumentID">
                                            <tr>
                                                <td>
                                                    <span class="collapseSource curser-pointer font-size-18 font-blue fa fa-plus-circle" data-ng-click="GetInternalMissingDocumentList(item,'#MEDocDetails-'+item.ReferralID)" data-ng-attr-id="{{'MEDocDetails-'+item.ReferralID }}"
                                                        data-toggle="collapse" data-ng-attr-data-target="{{'#InternalMissingExpiredDocDetails-'+item.ReferralID }}"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.AHCCCSID? item.AHCCCSID:'@Resource.NA'"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.CISNumber? item.CISNumber:'@Resource.NA'"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.LastName +', '+ item.FirstName"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.Gender"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.Age"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.PayorName? item.PayorName:'@Resource.NA'"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.AgencyName? item.AgencyName:'@Resource.NA'"></span>
                                                </td>
                                                @*<td>
                                                    <span data-ng-bind="item.AgencyLocationName? item.AgencyLocationName:'@Resource.NA'"></span>
                                                </td>*@
                                                <td>
                                                    <span data-ng-bind="item.CaseManager? item.CaseManager:'@Resource.NA'"></span>
                                                </td>
                                                @if (Common.HasPermission(Constants.Permission_ReferralDocuments_View_AddUpdate))
                                                {
                                                    <td>
                                                        <a href="#" target="_blank" data-ng-attr-href="{{ ReferralURL + item.EncryptedReferralID +'/#referralDocument'}}" class="btn btn-xs blue">@Resource.AccessClient</a>
                                                    </td>
                                                }
                                            </tr>

                                            <tr data-ng-attr-id="{{'InternalMissingExpiredDocDetails-'+item.ReferralID }}" class="collapse collapseDestination">
                                                <td></td>
                                                <td colspan="10">
                                                    <div id="DivMissingandExpierDocumentID"><b>@Resource.MissingandExpierDocument</b></div>
                                                    <div data-ng-visible="item.MissingExpiredDocDetails!=null" data-ng-bind-html="item.MissingExpiredDocDetails" class="padding-top-4px"></div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 " data-ng-if="ReferralInternalMissingandExpireDocumentList.length > 0">
                        <div class="col-sm-6 pull-left no-left-padding"
                            data-ng-hide="ReferralInternalMissingandExpireDocumentListPager.currentPage==1 && (ReferralInternalMissingandExpireDocumentListPager.currentPageSize < ReferralInternalMissingandExpireDocumentListPager.pageSize)">
                            @Resource.Showing <span data-ng-bind="(ReferralInternalMissingandExpireDocumentListPager.pageSize * ReferralInternalMissingandExpireDocumentListPager.currentPage) -ReferralInternalMissingandExpireDocumentListPager.pageSize  + 1"></span>
                            &nbsp;@Resource.To <span data-ng-bind="(ReferralInternalMissingandExpireDocumentListPager.pageSize == ReferralInternalMissingandExpireDocumentListPager.currentPageSize) ? (ReferralInternalMissingandExpireDocumentListPager.pageSize * ReferralInternalMissingandExpireDocumentListPager.currentPage) :(ReferralInternalMissingandExpireDocumentListPager.pageSize * ReferralInternalMissingandExpireDocumentListPager.currentPage) - ReferralInternalMissingandExpireDocumentListPager.pageSize  + ReferralInternalMissingandExpireDocumentListPager.currentPageSize"></span>&nbsp;@Resource.Of &nbsp;<span data-ng-bind="ReferralInternalMissingandExpireDocumentListPager.totalRecords"></span>&nbsp;@Resource.Records
                        </div>
                        <div class="pull-right">
                            <dir-pagination-controls boundary-links="true" on-page-change="ReferralInternalMissingandExpireDocumentListPager.pageChanged(newPageNumber)" pagination-id="ReferralInternalDocumentID"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
                <br class="clearfix" />
            </div>
        </div>
    </div>
</div>

