<div id="ReferralSparformCheckList" class="row " data-ng-show="ReferralSparformCheckList.length > 0">
    <div class="col-md-12">
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption header-font-size-14 uppercase">
                    @Resource.IncompleteMissingSparformCKList
                     <div class="pull-right padding-left-25" data-ng-show="ReferralSparformCheckListAjaxStart">
                        <img src="~/Assets/images/lazyload.gif" />
                    </div>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="fullscreen"></a>
                </div>
            </div>
            <div class="portlet-body table_font-size-12">
                <div class="row">
                    <div class="col-sm-12 form-group padding-right-15" data-ng-if="ReferralSparformCheckList.length > 0">
                        <div class="pull-right">
                            <dir-pagination-controls boundary-links="true" on-page-change="ReferralSparformCheckListPager.pageChanged(newPageNumber)" pagination-id="ReferralSparFormID"></dir-pagination-controls>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="portlet-body">
                            <div class="table-responsive">
                                <form id="frmReferralSparformcheckList">
                                    <table class="table table-bordered table-striped table-condensed flip-content" id="tbl_ReferralSparformCheckList">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralSparformCheckListPager.sortColumn('AHCCCSID')">@Resource.AHCCCSID</a>
                                                    <span class="sortorder" data-ng-show="ReferralSparformCheckListPager.sortIndex === 'AHCCCSID'" data-ng-class="{reverse:ReferralSparformCheckListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralSparformCheckListPager.sortColumn('CISNumber')">@Resource.CISLabel</a>
                                                    <span class="sortorder" data-ng-show="ReferralSparformCheckListPager.sortIndex === 'CISNumber'" data-ng-class="{reverse:ReferralSparformCheckListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralSparformCheckListPager.sortColumn('ClientName')">@Resource.ClientLabel</a>
                                                    <span class="sortorder" data-ng-show="ReferralSparformCheckListPager.sortIndex === 'ClientName'" data-ng-class="{reverse:ReferralSparformCheckListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralSparformCheckListPager.sortColumn('Gender')">@Resource.Sex</a>
                                                    <span class="sortorder" data-ng-show="ReferralSparformCheckListPager.sortIndex === 'Gender'" data-ng-class="{reverse:ReferralSparformCheckListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralSparformCheckListPager.sortColumn('Age')">@Resource.Age</a>
                                                    <span class="sortorder" data-ng-show="ReferralSparformCheckListPager.sortIndex === 'Age'" data-ng-class="{reverse:ReferralSparformCheckListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralSparformCheckListPager.sortColumn('PayorName')">@Resource.Payor</a>
                                                    <span class="sortorder" data-ng-show="ReferralSparformCheckListPager.sortIndex === 'PayorName'" data-ng-class="{reverse:ReferralSparformCheckListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralSparformCheckListPager.sortColumn('AgencyName')">@Resource.Agency</a>
                                                    <span class="sortorder" data-ng-show="ReferralSparformCheckListPager.sortIndex === 'AgencyName'" data-ng-class="{reverse:ReferralSparformCheckListPager.reverse}"></span>
                                                </th>
                                                @*<th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralSparformCheckListPager.sortColumn('AgencyLocationName')">@Resource.AgencyLocation</a>
                                                    <span class="sortorder" data-ng-show="ReferralSparformCheckListPager.sortIndex === 'AgencyLocationName'" data-ng-class="{reverse:ReferralSparformCheckListPager.reverse}"></span>
                                                </th>*@
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralSparformCheckListPager.sortColumn('CaseManager')">@Resource.CaseManager</a>
                                                    <span class="sortorder" data-ng-show="ReferralSparformCheckListPager.sortIndex === 'CaseManager'" data-ng-class="{reverse:ReferralSparformCheckListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralSparformCheckListPager.sortColumn('IsCheckListCompleted')">@Resource.IsCheckListCompleted</a>
                                                    <span class="sortorder" data-ng-show="ReferralSparformCheckListPager.sortIndex === 'IsCheckListCompleted'" data-ng-class="{reverse:ReferralSparformCheckListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralSparformCheckListPager.sortColumn('IsSparFormCompleted')">@Resource.IsSparFormCompleted</a>
                                                    <span class="sortorder" data-ng-show="ReferralSparformCheckListPager.sortIndex === 'IsSparFormCompleted'" data-ng-class="{reverse:ReferralSparformCheckListPager.reverse}"></span>
                                                </th>
                                                @if (Common.HasPermission(Constants.Permission_ReferralSparForm_View_AddUpdate) || Common.HasPermission(Constants.Permission_ReferralChecklist_View_AddUpdate))
                                                {
                                                    <th class="col-sm-1"></th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="item in ReferralSparformCheckList | itemsPerPage: ReferralSparformCheckListPager.pageSize" total-items="ReferralSparformCheckListPager.totalRecords" current-page="ReferralSparformCheckListPager.currentPage" pagination-id="ReferralSparFormID">
                                                <td>
                                                    <span data-ng-bind="item.AHCCCSID? item.AHCCCSID:'@Resource.NA'"></span>
                                                </td>

                                                <td>
                                                    <span data-ng-bind="item.CISNumber? item.CISNumber:'@Resource.NA'"></span>
                                                </td>

                                                <td>
                                                    <span data-ng-bind="item.LastName +', '+ item.FirstName"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.Gender"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.Age"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.PayorName? item.PayorName:'@Resource.NA'"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.AgencyName? item.AgencyName:'@Resource.NA'"></span>
                                                </td>
                                                @*<td>
                                                    <span data-ng-bind="item.AgencyLocationName? item.AgencyLocationName:'@Resource.NA'"></span>
                                                </td>*@
                                                <td>
                                                    <span data-ng-bind="item.CaseManager? item.CaseManager:'@Resource.NA'"></span>
                                                </td>
                                                <td class="text-align-center">
                                                    <span class="glyphicon text-align-center" data-ng-class="{'glyphicon-ok font-green': item.IsCheckListCompleted, 'glyphicon-remove font-red': !item.IsCheckListCompleted}"></span>
                                                </td>
                                                <td class="text-align-center">
                                                    <span class="glyphicon " data-ng-class="{'glyphicon-ok font-green': item.IsSparFormCompleted, 'glyphicon-remove font-red': !item.IsSparFormCompleted}"></span>
                                                </td>
                                               @if (Common.HasPermission(Constants.Permission_ReferralSparForm_View_AddUpdate) || Common.HasPermission(Constants.Permission_ReferralChecklist_View_AddUpdate))
                                                {
                                                    <td>
                                                        @if (Common.HasPermission(Constants.Permission_ReferralChecklist_View_AddUpdate))
                                                        {
                                                            <a href="#" target="_blank" data-ng-show="!item.IsCheckListCompleted" data-ng-attr-href="{{ ReferralURL + item.EncryptedReferralID}}{{!item.IsCheckListCompleted?'/#checklist':''}}" class="btn btn-xs blue">@Resource.AccessClient</a>

                                                            if (Common.HasPermission(Constants.Permission_ReferralSparForm_View_AddUpdate))
                                                            {
                                                            <a href="#" target="_blank" data-ng-show="item.IsCheckListCompleted && !item.IsSparFormCompleted" data-ng-attr-href="{{ ReferralURL + item.EncryptedReferralID}}{{!item.IsSparFormCompleted?'/#sparform':''}}" class="btn btn-xs blue">@Resource.AccessClient</a>
                                                            }
                                                        }
                                                        else if (Common.HasPermission(Constants.Permission_ReferralSparForm_View_AddUpdate))
                                                        {
                                                            <a href="#" target="_blank" data-ng-show="!item.IsSparFormCompleted" data-ng-attr-href="{{ ReferralURL + item.EncryptedReferralID}}{{!item.IsSparFormCompleted?'/#sparform':''}}" class="btn btn-xs blue">@Resource.AccessClient</a>
                                                        }
                                                    </td>
                                                }
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 " data-ng-if="ReferralSparformCheckList.length > 0">
                        <div class="col-sm-6 pull-left no-left-padding"
                            data-ng-hide="ReferralSparformCheckListPager.currentPage==1 && (ReferralSparformCheckListPager.currentPageSize < ReferralSparformCheckListPager.pageSize)">
                            @Resource.Showing <span data-ng-bind="(ReferralSparformCheckListPager.pageSize * ReferralSparformCheckListPager.currentPage) -ReferralSparformCheckListPager.pageSize  + 1"></span>
                            &nbsp;@Resource.To <span data-ng-bind="(ReferralSparformCheckListPager.pageSize == ReferralSparformCheckListPager.currentPageSize) ? (ReferralSparformCheckListPager.pageSize * ReferralSparformCheckListPager.currentPage) :(ReferralSparformCheckListPager.pageSize * ReferralSparformCheckListPager.currentPage) - ReferralSparformCheckListPager.pageSize  + ReferralSparformCheckListPager.currentPageSize"></span>&nbsp;@Resource.Of &nbsp;<span data-ng-bind="ReferralSparformCheckListPager.totalRecords"></span>&nbsp;@Resource.Records
                        </div>
                        <div class="pull-right">
                            <dir-pagination-controls boundary-links="true" on-page-change="ReferralSparformCheckListPager.pageChanged(newPageNumber)" pagination-id="ReferralSparFormID"></dir-pagination-controls>
                        </div>
                    </div>
                </div>

                <br class="clearfix" />

            </div>
        </div>
    </div>
</div>
