<div id="ReferralAssignedNotesReviewList" class="row" data-ng-show="ReferralAssignedNotesReviewList.length > 0">
    <div class="col-md-12">
        <div class="portlet box grey-mint">

            <div class="portlet-title">
                <div class="caption header-font-size-14 uppercase">
                    @Resource.AssignedNotesReview
                    <div class="pull-right padding-left-25" data-ng-show="ReferralAssignedNotesReviewAjaxStart">
                        <img src="~/Assets/images/lazyload.gif" />
                    </div>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="fullscreen"></a>
                </div>
            </div>

            <div class="portlet-body table_font-size-12">
                <div class="row">
                    <div class="col-sm-12 form-group  padding-right-15" data-ng-if="ReferralAssignedNotesReviewList.length > 0">
                        <div class="pull-right padding-right-5">
                            <dir-pagination-controls boundary-links="true" on-page-change="ReferralAssignedNotesReviewListPager.pageChanged(newPageNumber)" pagination-id="ReferralAnsellCaseyList"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
                @*<div class="table-responsive">*@
                <div class="row">
                    <div class="col-sm-12">
                        <div class="portlet-body" style="display: block;">
                            <div class="table-responsive">
                                <form id="frmReferralinterMessageList">
                                    <table class="table table-bordered table-striped table-condensed flip-content">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralAssignedNotesReviewListPager.sortColumn('AHCCCSID')">@Resource.AHCCCSID</a>
                                                    <span class="sortorder" data-ng-show="ReferralAssignedNotesReviewListPager.sortIndex === 'AHCCCSID'" data-ng-class="{reverse:ReferralAssignedNotesReviewListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralAssignedNotesReviewListPager.sortColumn('CISNumber')">@Resource.CISLabel</a>
                                                    <span class="sortorder" data-ng-show="ReferralAssignedNotesReviewListPager.sortIndex === 'CISNumber'" data-ng-class="{reverse:ReferralAssignedNotesReviewListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralAssignedNotesReviewListPager.sortColumn('ClientName')">@Resource.ClientLabel</a>
                                                    <span class="sortorder" data-ng-show="ReferralAssignedNotesReviewListPager.sortIndex === 'ClientName'" data-ng-class="{reverse:ReferralAssignedNotesReviewListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralAssignedNotesReviewListPager.sortColumn('Gender')">@Resource.Sex</a>
                                                    <span class="sortorder" data-ng-show="ReferralAssignedNotesReviewListPager.sortIndex === 'Gender'" data-ng-class="{reverse:ReferralAssignedNotesReviewListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralAssignedNotesReviewListPager.sortColumn('Age')">@Resource.Age</a>
                                                    <span class="sortorder" data-ng-show="ReferralAssignedNotesReviewListPager.sortIndex === 'Age'" data-ng-class="{reverse:ReferralAssignedNotesReviewListPager.reverse}"></span>
                                                </th>
                                                <th class="col-sm-4">
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralAssignedNotesReviewListPager.sortColumn('NoteComments')">@Resource.NoteComment</a>
                                                    <span class="sortorder" data-ng-show="ReferralAssignedNotesReviewListPager.sortIndex === 'NoteComments'" data-ng-class="{reverse:ReferralAssignedNotesReviewListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralAssignedNotesReviewListPager.sortColumn('CreatedByName')">@Resource.AddedBy</a>
                                                    <span class="sortorder" data-ng-show="ReferralAssignedNotesReviewListPager.sortIndex === 'CreatedByName'" data-ng-class="{reverse:ReferralAssignedNotesReviewListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralAssignedNotesReviewListPager.sortColumn('CreatedDate')">@Resource.AddedDate</a>
                                                    <span class="sortorder" data-ng-show="ReferralAssignedNotesReviewListPager.sortIndex === 'CreatedDate'" data-ng-class="{reverse:ReferralAssignedNotesReviewListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralAssignedNotesReviewListPager.sortColumn('AssignedByName')">@Resource.AssignedBy</a>
                                                    <span class="sortorder" data-ng-show="ReferralAssignedNotesReviewListPager.sortIndex === 'AssignedByName'" data-ng-class="{reverse:ReferralAssignedNotesReviewListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralAssignedNotesReviewListPager.sortColumn('NoteAssignedDate')">@Resource.AssignedDate</a>
                                                    <span class="sortorder" data-ng-show="ReferralAssignedNotesReviewListPager.sortIndex === 'NoteAssignedDate'" data-ng-class="{reverse:ReferralAssignedNotesReviewListPager.reverse}"></span>
                                                </th>
                                                

                                                
                                               @if (Common.HasPermission(Constants.Permission_NoteList_ViewAll + "," + Constants.Permission_NoteList_ViewAssigned
                                                    + "," + Constants.Permission_NoteReview_ViewAll + "," + Constants.Permission_NoteReview_ViewAssigned))
                                                {
                                                    <th class=""></th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="item in ReferralAssignedNotesReviewList | itemsPerPage: ReferralAssignedNotesReviewListPager.pageSize" total-items="ReferralAssignedNotesReviewListPager.totalRecords" current-page="ReferralAssignedNotesReviewListPager.currentPage" pagination-id="ReferralAnsellCaseyList">

                                                <td>
                                                    <span data-ng-bind="item.AHCCCSID"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.CISNumber? item.CISNumber:'@Resource.NA'"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.LastName +', '+ item.FirstName"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.Gender"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.Age"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.NoteComments"></span>
                                                </td>
                                                <td><span data-ng-bind="item.CreatedByName"></span></td>
                                                <td>
                                                    <span data-ng-bind="item.CreatedDate? (item.CreatedDate | dateformat | date: 'MM/dd/yyyy') : '@Resource.NA'"></span>
                                                </td>
                                                <td>
                                                    <span>{{item.AssignedByName}}</span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.NoteAssignedDate? (item.NoteAssignedDate | dateformat | date: 'MM/dd/yyyy') : '@Resource.NA'"></span>
                                                </td>
                                                @if (Common.HasPermission(Constants.Permission_NoteList_ViewAll + "," + Constants.Permission_NoteList_ViewAssigned
                                                    + "," + Constants.Permission_NoteReview_ViewAll + "," + Constants.Permission_NoteReview_ViewAssigned))
                                                {
                                                    <td>
                                                        <div>
                                                            <a href="@Constants.note" target="_blank"  class="btn btn-xs blue">@Resource.AccessNote</a>
                                                        </div>
                                                    </td>
                                                }
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                @*</div>*@
                <div class="row">
                    <div class="col-sm-12" data-ng-if="ReferralAssignedNotesReviewList.length > 0">
                        <div class="col-sm-6 pull-left no-left-padding"
                            data-ng-hide="ReferralAssignedNotesReviewListPager.currentPage==1 && (ReferralAssignedNotesReviewListPager.currentPageSize < ReferralAssignedNotesReviewListPager.pageSize)">
                            @Resource.Showing <span data-ng-bind="(ReferralAssignedNotesReviewListPager.pageSize * ReferralAssignedNotesReviewListPager.currentPage) -ReferralAssignedNotesReviewListPager.pageSize  + 1"></span>
                            &nbsp;@Resource.To <span data-ng-bind="(ReferralAssignedNotesReviewListPager.pageSize == ReferralAssignedNotesReviewListPager.currentPageSize) ? (ReferralAssignedNotesReviewListPager.pageSize * ReferralAssignedNotesReviewListPager.currentPage) :(ReferralAssignedNotesReviewListPager.pageSize * ReferralAssignedNotesReviewListPager.currentPage) - ReferralAssignedNotesReviewListPager.pageSize  + ReferralAssignedNotesReviewListPager.currentPageSize"></span>&nbsp;@Resource.Of &nbsp;<span data-ng-bind="ReferralAssignedNotesReviewListPager.totalRecords"></span>&nbsp;@Resource.Records
                        </div>
                        <div class="pull-right">
                            <dir-pagination-controls boundary-links="true" on-page-change="ReferralAssignedNotesReviewListPager.pageChanged(newPageNumber)" pagination-id="ReferralResolvedInternalMessageList"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
                <br class="clearfix" />
            </div>
        </div>
    </div>

</div>
