<div id="ReferralResolvedInternalMessageList" class="row" data-ng-show="ReferralResolvedInternalMessageList.length > 0">
    <div class="col-md-12">
        <div class="portlet box yellow-casablanca">

            <div class="portlet-title">
                <div class="caption header-font-size-14 uppercase">
                    @Resource.ResolvedAssignedInternalMessageNotification
                    <div class="pull-right padding-left-25" data-ng-show="ReferralResolvedInternalMessageAjaxStart">
                        <img src="~/Assets/images/lazyload.gif" />
                    </div>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="fullscreen"></a>
                </div>
            </div>
            <div class="portlet-body table_font-size-12">
                <div class="row">
                    <div class="col-sm-12 form-group  padding-right-15" data-ng-if="ReferralResolvedInternalMessageList.length > 0">
                        <div class="pull-right padding-right-5">
                            <dir-pagination-controls boundary-links="true" on-page-change="ReferralResolvedInternalMessageListPager.pageChanged(newPageNumber)" pagination-id="ReferralRESInternalMessageID"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
                @*<div class="table-responsive">*@
                <div class="row">
                    <div class="col-sm-12">
                        <div class="portlet-body" style="display: block;">
                            <div class="table-responsive">
                                <form id="frmReferralinterMessageList">
                                    <table class="table table-bordered table-striped table-condensed flip-content">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralResolvedInternalMessageListPager.sortColumn('AHCCCSID')">@Resource.AHCCCSID</a>
                                                    <span class="sortorder" data-ng-show="ReferralResolvedInternalMessageListPager.sortIndex === 'AHCCCSID'" data-ng-class="{reverse:ReferralResolvedInternalMessageListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralResolvedInternalMessageListPager.sortColumn('CISNumber')">@Resource.CISLabel</a>
                                                    <span class="sortorder" data-ng-show="ReferralResolvedInternalMessageListPager.sortIndex === 'CISNumber'" data-ng-class="{reverse:ReferralResolvedInternalMessageListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralResolvedInternalMessageListPager.sortColumn('ClientName')">@Resource.ClientLabel</a>
                                                    <span class="sortorder" data-ng-show="ReferralResolvedInternalMessageListPager.sortIndex === 'ClientName'" data-ng-class="{reverse:ReferralResolvedInternalMessageListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralResolvedInternalMessageListPager.sortColumn('Gender')">@Resource.Sex</a>
                                                    <span class="sortorder" data-ng-show="ReferralResolvedInternalMessageListPager.sortIndex === 'Gender'" data-ng-class="{reverse:ReferralResolvedInternalMessageListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralResolvedInternalMessageListPager.sortColumn('Age')">@Resource.Age</a>
                                                    <span class="sortorder" data-ng-show="ReferralResolvedInternalMessageListPager.sortIndex === 'Age'" data-ng-class="{reverse:ReferralResolvedInternalMessageListPager.reverse}"></span>
                                                </th>
                                                <th class="col-sm-4">
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralResolvedInternalMessageListPager.sortColumn('Note')">@Resource.Message</a>
                                                    <span class="sortorder" data-ng-show="ReferralResolvedInternalMessageListPager.sortIndex === 'Note'" data-ng-class="{reverse:ReferralResolvedInternalMessageListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralResolvedInternalMessageListPager.sortColumn('Status')">@Resource.Status</a>
                                                    <span class="sortorder" data-ng-show="ReferralResolvedInternalMessageListPager.sortIndex === 'Status'" data-ng-class="{reverse:ReferralResolvedInternalMessageListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralResolvedInternalMessageListPager.sortColumn('ResolvedByName')">@Resource.ResolveAssignedBy</a>
                                                    <span class="sortorder" data-ng-show="ReferralResolvedInternalMessageListPager.sortIndex === 'ResolvedByName'" data-ng-class="{reverse:ReferralResolvedInternalMessageListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="ReferralResolvedInternalMessageListPager.sortColumn('ResolveDate')">@Resource.ResolveAssignedDate</a>
                                                    <span class="sortorder" data-ng-show="ReferralResolvedInternalMessageListPager.sortIndex === 'ResolveDate'" data-ng-class="{reverse:ReferralResolvedInternalMessageListPager.reverse}"></span>
                                                </th>
                                                @if (Common.HasPermission(Constants.Permission_ReferralInternalMessaging_View_AddUpdate))
                                                {
                                                    <th class=""></th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="item in ReferralResolvedInternalMessageList | itemsPerPage: ReferralResolvedInternalMessageListPager.pageSize" total-items="ReferralResolvedInternalMessageListPager.totalRecords" current-page="ReferralResolvedInternalMessageListPager.currentPage" pagination-id="ReferralRESInternalMessageID">
                                                <td>
                                                    <span data-ng-bind="item.AHCCCSID"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.CISNumber? item.CISNumber:'@Resource.NA'"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.LastName +', '+ item.FirstName"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.Gender"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.Age"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind-html="item.Note? item.Note:'@Resource.NA'"></span>
                                                </td>
                                                <td>
                                                    <span class="badge badge-success" data-ng-show="item.IsResolved">@Resource.Resolved</span>
                                                    <span class="badge badge-danger" data-ng-show="!item.IsResolved">@Resource.Open</span>
                                                    <span data-ng-if="!item.MarkAsResolvedRead && item.IsResolved">
                                                        <a title="@Resource.MarkAsRead" data-ng-click="MarkResolvedMessageAsRead(item.EncryptedReferralInternalMessageId,item.ReferralID)" href="javascript:void(0);">
                                                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                                        </a>
                                                    </span>
                                                </td>
                                                <td><span data-ng-bind="item.ResolvedByName"></span></td>
                                                <td>
                                                    <span data-ng-bind="item.ResolveDate?item.ResolveDate:item.CreatedDate | dateformat | date: '@Constants.GlobalDateFormat'"></span>
                                                </td>
                                                @if (Common.HasPermission(Constants.Permission_ReferralInternalMessaging_View_AddUpdate))
                                                {
                                                    <td>
                                                        <div>

                                                            <a href="#" target="_blank" data-ng-attr-href="{{ ReferralURL + item.EncryptedReferralID +'/#internalMessage'}}" class="btn btn-xs blue">@Resource.AccessClient</a>
                                                        </div>
                                                    </td>
                                                }
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                @*</div>*@
                <div class="row">
                    <div class="col-sm-12" data-ng-if="ReferralResolvedInternalMessageList.length > 0">
                        <div class="col-sm-6 pull-left no-left-padding"
                            data-ng-hide="ReferralResolvedInternalMessageListPager.currentPage==1 && (ReferralResolvedInternalMessageListPager.currentPageSize < ReferralResolvedInternalMessageListPager.pageSize)">
                            @Resource.Showing <span data-ng-bind="(ReferralResolvedInternalMessageListPager.pageSize * ReferralResolvedInternalMessageListPager.currentPage) -ReferralResolvedInternalMessageListPager.pageSize  + 1"></span>
                            &nbsp;@Resource.To <span data-ng-bind="(ReferralResolvedInternalMessageListPager.pageSize == ReferralResolvedInternalMessageListPager.currentPageSize) ? (ReferralResolvedInternalMessageListPager.pageSize * ReferralResolvedInternalMessageListPager.currentPage) :(ReferralResolvedInternalMessageListPager.pageSize * ReferralResolvedInternalMessageListPager.currentPage) - ReferralResolvedInternalMessageListPager.pageSize  + ReferralResolvedInternalMessageListPager.currentPageSize"></span>&nbsp;@Resource.Of &nbsp;<span data-ng-bind="ReferralResolvedInternalMessageListPager.totalRecords"></span>&nbsp;@Resource.Records
                        </div>
                        <div class="pull-right">
                            <dir-pagination-controls boundary-links="true" on-page-change="ReferralResolvedInternalMessageListPager.pageChanged(newPageNumber)" pagination-id="ReferralRESInternalMessageID"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
                <br class="clearfix" />
            </div>
        </div>
    </div>

</div>
