<div data-ng-controller="VisitReasonActionModalController">
    @if (Common.IsOrgHasAggregator())
    {

        <div id="visitReasonActionModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-ng-click="CloseVisitReasonActionModal()">&times;</button>
                        <h4 class="caption margin-bottom-0 margin-top-5">
                            <span>{{options.Title}}</span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form id="frmVisitReason">
                            <div class="clearfix">
                                <div class="col-md-12 no-padding">
                                    <div class="form-group" data-ng-if="!options.HideReasonType">
                                        <label>@Resource.Reason</label>
                                        <select class="form-control input-sm requiredStrip" title="@Resource.Reason"
                                                name="ReasonCode" id="ReasonCode" data-ng-model="data.ReasonCode" required>
                                            <option value="">@Resource.Select</option>
                                            <option data-ng-repeat="option in VisitReasons" value="{{option.Code}}">{{option.Description}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group" data-ng-if="!options.HideActionType">
                                        <label>@Resource.Action</label>
                                        <select class="form-control input-sm requiredStrip" title="@Resource.Action"
                                                name="ActionCode" id="ActionCode" data-ng-model="data.ActionCode" required>
                                            <option value="">@Resource.Select</option>
                                            <option data-ng-repeat="option in VisitActions" value="{{option.Code}}">{{option.Description}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="button" class="btn btn-sm btn-danger red" data-ng-click="CloseVisitReasonActionModal()">@Resource.Cancel</button>
                            <button type="button" class="btn btn-sm  btn-primary blue" data-ng-click="SetVisitReason()">@Resource.Ok</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    }
</div>
<script type="text/javascript">
    var ByPassVisitReasonActionModal = @(!Common.IsOrgHasAggregator() ? "true" : "false");
</script>