@model HC_AddPayorModel
<form class="form-horizontal" id="frmPayor">
    <div class="col-sm-6 no-padding">
        <div class="col-sm-12">

            @* This filed is connected with  AgencyNPID column in database.*@
            <div class="form-group col-sm-12">
                <label class="col-md-4 control-label required">
                    @Resource.PayorId
                    @*<i class="fa fa-question-circle font-size-15" data-ng-tooltip="@Resource.NPINumberHelptext"
                        data-ng-custom-class="tooltip-extra-z-index"></i>*@
                </label>
                <div class="col-md-8">
                    @Html.TextBoxFor(q => q.Payor.AgencyNPID, new {
                   @class = "form-control input-sm", data_ng_model = "PayorModel.Payor.AgencyNPID"})
                    @Html.ValidationMessageFor(q => q.Payor.AgencyNPID)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-md-4 control-label required">@Resource.PayorName</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(q => q.Payor.PayorName, new { @class = "form-control input-sm", data_ng_model = "PayorModel.Payor.PayorName", placeholder = @Resource.PayorName, maxlength = 50 })
                    @Html.ValidationMessageFor(q => q.Payor.PayorName)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-md-4 control-label required">@Resource.ShortName</label>
                <div class="col-md-8">

                    @Html.TextBoxFor(q => q.Payor.ShortName, new { @class = "form-control input-sm", data_ng_model = "PayorModel.Payor.ShortName", placeholder = @Resource.ShortName, maxlength = 50 })
                    @Html.ValidationMessageFor(q => q.Payor.ShortName)
                </div>
            </div>
            @*<div class="form-group col-sm-12">
                    <label class="col-md-4 control-label">@Resource.PayorSubmissionName</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(q => q.Payor.PayorSubmissionName, new { @class = "form-control input-sm", data_ng_model = "PayorModel.Payor.PayorSubmissionName", placeholder = @Resource.PayorSubmissionName, maxlength = 50 })
                        @Html.ValidationMessageFor(q => q.Payor.PayorSubmissionName)
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="col-md-4 control-label required">
                        @Resource.PayorNumber
                    </label>
                    <div class="col-md-8 col-sm-12 ">
                        @Html.TextBoxFor(q => q.Payor.PayorIdentificationNumber, new { @class = "form-control input-sm", data_ng_model = "PayorModel.Payor.PayorIdentificationNumber", placeholder = @Resource.PayorNumber, maxlength = 30 })
                        @Html.ValidationMessageFor(q => q.Payor.PayorIdentificationNumber)
                    </div>
                </div>*@
            <div class="form-group col-sm-12">
                <label class="col-md-4 control-label required">@Resource.Address</label>
                <div class="col-md-8">
                    @Html.TextAreaFor(q => q.Payor.Address, new { @class = "form-control input-sm", data_ng_model = "PayorModel.Payor.Address", placeholder = @Resource.Address, maxlength = 100, rows = "2" })
                    @Html.ValidationMessageFor(q => q.Payor.Address)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-md-4 control-label required">@Resource.City</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(q => q.Payor.City, new { @class = "form-control input-sm", data_ng_model = "PayorModel.Payor.City", placeholder = @Resource.City, maxlength = 50 })
                    @Html.ValidationMessageFor(q => q.Payor.City)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-md-4 control-label required">@Resource.State</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(p => p.Payor.StateCode, Model.StateCodeList.ToSelectList("", "StateName", "StateCode", @Resource.Select, ""),
                    new
                    {
                        data_ng_model = "PayorModel.Payor.StateCode",
                        data_ng_init = "PayorModel.Payor.StateCode=PayorModel.Payor.StateCode==null?'AZ':PayorModel.Payor.StateCode.toString()",
                        @class = "form-control input-sm"
                    })
                    @Html.ValidationMessageFor(q => q.Payor.StateCode)
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-md-4 control-label required">@Resource.ZipCode</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(q => q.Payor.ZipCode, new
               {
                   @class = "form-control input-sm",
                   data_ng_model = "PayorModel.Payor.ZipCode",
                   maxlength = 5,
                   placeholder = "XXXXX",
                   dir_valid_number = ""
               })
                    @Html.ValidationMessageFor(q => q.Payor.ZipCode)
                    @*<zipcode type="text" ng-model="PayorModel.Payor.ZipCode" required="ZipCode is required" modelid="Zip" />*@
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-md-4 control-label required">
                    @Resource.PayorInvoiceType
                </label>
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.Payor.PayorInvoiceType, Model.PayorInvoiceTypeList.ToSelectList(Convert.ToString(Model.Payor.PayorInvoiceType), "Name", "Value", Resource.Select, ""),
                   new
                   {
                       id = "PayorBillingType",
                       data_ng_model = "PayorModel.Payor.PayorInvoiceType",
                       data_ng_init = "PayorModel.Payor.PayorInvoiceType=PayorModel.Payor.PayorInvoiceType==''?null:PayorModel.Payor.PayorInvoiceType",
                       @class = "form-control input-sm"
                   })
                </div>
                @Html.ValidationMessageFor(m => m.Payor.PayorInvoiceType)
            </div>

            @*<div class="form-group col-sm-12">
                    <label class="col-md-4 control-label required">@Resource.PayorType</label>
                    <div class="col-md-8">
                        <div class=" input-group-sm">
                            @Html.DropDownListFor(p => p.Payor.PayorTypeID, Model.PayorTypeList.ToSelectList(Model.Payor.PayorTypeID.ToString() ?? "", "PayorTypeName", "PayorTypeID", @Resource.SelectPayor, ""), new
                                {
                                    convert_to_number = "",

                                    data_ng_model = "PayorModel.Payor.PayorTypeID",
                                    data_ng_init = "PayorModel.Payor.PayorTypeID=PayorModel.Payor.PayorTypeID==''?null:PayorModel.Payor.PayorTypeID.toString()",
                                    @class = "form-control",
                                    //data_ng_class = "{'valid': !(PayorModel.Payor.PayorTypeID == null  || PayorModel.Payor.PayorTypeID == '' )}"
                                })
                            @Html.ValidationMessageFor(q => q.Payor.PayorTypeID)
                        </div>
                    </div>
                </div>*@
        </div>
    </div>

    <div class="col-sm-6 no-padding">

        @*<div class="form-group col-sm-12">
                <label class="col-md-4 control-label required">
                    @Resource.AgencyNPIID
                    <i class="fa fa-question-circle font-size-15" data-ng-tooltip="@Resource.NPINumberHelptext"
                       data-ng-custom-class="tooltip-extra-z-index"></i>
                </label>
                <div class="col-md-7">
                    @Html.TextBoxFor(q => q.Payor.AgencyNPID, new {
                   id = "NPI",
                   @class = "form-control input-sm", data_ng_model = "PayorModel.Payor.AgencyNPID",
                   dir_valid_number = "",placeholder = "XXXXXXXXXX", maxlength = 10 })
                    @Html.ValidationMessageFor(q => q.Payor.AgencyNPID)
                </div>
            </div>*@
        <div class="form-group col-sm-12">
            <label class="col-md-4 control-label">
                @Resource.AgencyTaxNumber
                <i class="fa fa-question-circle font-size-15" data-ng-tooltip="@Resource.AgencyTaxNumberHelptext"
                   data-ng-custom-class="tooltip-extra-z-index"></i>
            </label>
            <div class="col-md-7">
                @Html.TextBoxFor(q => q.Payor.AgencyTaxNumber, new { @class = "form-control input-sm", data_ng_model = "PayorModel.Payor.AgencyTaxNumber", placeholder = @Resource.AgencyTaxNumber, maxlength = 50 })
                @Html.ValidationMessageFor(q => q.Payor.AgencyTaxNumber)
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-md-4 control-label">
                @Resource.NPIOption
                <a class="padding-top-5" href="javascript:void(0)" data-ng-click="OpenNPIOptionModal()">
                    <i class="fa fa-plus padding-left-10 font-size-15" data-ng-tooltip="@Resource.AddNPIOption" data-ng-custom-class="tooltip-extra-z-index"></i>
                </a>
            </label>
            <div class="col-md-7">
                @Html.DropDownListFor(p => p.Payor.NPIOption, Model.NPIOptionsList.ToSelectList(Model.Payor.NPIOption.ToString() ?? "", "Name", "Value", @Resource.Select, "0"),
                  new
                  {
                      convert_to_number = "",
                      data_ng_model = "PayorModel.Payor.NPIOption",
                      data_ng_init = "PayorModel.Payor.NPIOption=(PayorModel.Payor.NPIOption==null || PayorModel.Payor.NPIOption==0 || PayorModel.Payor.NPIOption=='') ?'0':PayorModel.Payor.NPIOption.toString()",
                      data_ng_value = "PayorModel.Payor.NPIOption",
                      @class = "form-control input-sm"
                  })

            </div>
            @Html.ValidationMessageFor(m => m.Payor.NPIOption)
        </div>
        @*<div class="form-group col-sm-12">
                <label class="col-md-4 control-label">@Resource.Taxenomy
                </label>
                <div class="col-md-7">
                    @Html.TextBoxFor(q => q.Payor.Taxenomy, new { @class = "form-control input-sm", data_ng_model = "PayorModel.Payor.Taxenomy", placeholder = @Resource.Taxenomy, maxlength = 50 })
                    @Html.ValidationMessageFor(q => q.Payor.Taxenomy)
                </div>
            </div>*@

        <div class="form-group col-sm-12">
            <label class="col-md-4 control-label">
                @Resource.PayerGroup
                <a class="padding-top-5" href="javascript:void(0)" data-ng-click="OpenPayerGroupModal()">
                    <i class="fa fa-plus padding-left-10 font-size-15" data-ng-tooltip="@Resource.AddPayerGroup" data-ng-custom-class="tooltip-extra-z-index"></i>
                </a>
            </label>
            <div class="col-md-7">
                @Html.DropDownListFor(p => p.Payor.PayerGroup, Model.PayerGroupList.ToSelectList(Model.Payor.PayerGroup.ToString() ?? "", "Name", "Value", @Resource.Select, "0"),
                  new
                  {
                      convert_to_number = "",
                      data_ng_model = "PayorModel.Payor.PayerGroup",
                      data_ng_init = "PayorModel.Payor.PayerGroup=(PayorModel.Payor.PayerGroup==null || PayorModel.Payor.PayerGroup==0 || PayorModel.Payor.PayerGroup=='') ?'0':PayorModel.Payor.PayerGroup.toString()",
                      data_ng_value = "PayorModel.Payor.PayerGroup",
                      @class = "form-control input-sm"
                  })

            </div>
            @Html.ValidationMessageFor(m => m.Payor.PayerGroup)
        </div>

        <div class="form-group col-sm-12">
            <label class="col-md-4 control-label">
                @Resource.BussinessLine
                <a class="padding-top-5" href="javascript:void(0)" data-ng-click="OpenBussinessLineModal()">
                    <i class="fa fa-plus padding-left-10 font-size-15" data-ng-tooltip="@Resource.AddBussinessLine" data-ng-custom-class="tooltip-extra-z-index"></i>
                </a>
            </label>
            <div class="col-md-7">
                @Html.DropDownListFor(p => p.Payor.BussinessLine, Model.BussinessLineList.ToSelectList(Model.Payor.BussinessLine.ToString() ?? "", "Name", "Value", @Resource.Select, "0"),
                  new
                  {
                      convert_to_number = "",
                      data_ng_model = "PayorModel.Payor.BussinessLine",
                      data_ng_init = "PayorModel.Payor.BussinessLine=(PayorModel.Payor.BussinessLine==null || PayorModel.Payor.BussinessLine==0 || PayorModel.Payor.BussinessLine=='') ?'0':PayorModel.Payor.BussinessLine.toString()",
                      data_ng_value = "PayorModel.Payor.BussinessLine",
                      @class = "form-control input-sm"
                  })

            </div>
            @Html.ValidationMessageFor(m => m.Payor.BussinessLine)
        </div>
        <div class="form-group col-sm-12" data-ng-if="PayorModel.Payor.PayorInvoiceType == @((int)Common.PayorInvoiceType.Insurance)">
            <label class="col-md-4 control-label required">
                @Resource.PayorBillingType
            </label>
            <div class="col-md-7">
                @Html.DropDownListFor(m => m.Payor.PayorBillingType, Model.PayorBillingTypeList.ToSelectList(Convert.ToString(Model.Payor.PayorBillingType), "Name", "Value", Resource.Select, ""),
               new
               {
                   id = "PayorBillingType",
                   data_ng_model = "PayorModel.Payor.PayorBillingType",
                   data_ng_init = "PayorModel.Payor.PayorBillingType=PayorModel.Payor.PayorBillingType==''?null:PayorModel.Payor.PayorBillingType",
                   @class = "form-control input-sm"
               })
            </div>
            @Html.ValidationMessageFor(m => m.Payor.PayorBillingType)
        </div>
        @*<div class="form-group col-sm-push-2 col-sm-10" data-ng-if="PayorSetting">
                <div class="note note-warning">
                    <h4 class="block">@Resource.PayorSettingMissingTitle </h4>
                    <p>@Resource.PayorSettingMissingDetail </p>
                </div>
            </div>*@
    </div>
    <div class="col-sm-12">
        <div class="float-right-btm">
            @*<button type="button" class="btn btn-sm btn-danger red" data-ng-click="CloseAddPayorModal()">@Resource.Cancel</button>*@
            <button type="button" class="btn btn-sm  btn-primary blue" data-ng-show="PayorModel.Payor.PayorID === 0" data-ng-click="SavePayorDetails()">@Resource.Save</button>
            <button type="button" class="btn btn-sm  btn-primary blue" data-ng-show="PayorModel.Payor.PayorID !== 0" data-ng-click="SavePayorDetails()">@Resource.Update</button>
        </div>
    </div>
</form>

@*<div id="AddNPIOptionControllerModel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-ng-click="CloseNPIOptionModal()">&times;</button>
                <h3 class="page-title">
                    @Resource.NPIOption
                </h3>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>*@

@*<script type="text/javascript">
    
    $('#AddNPIOptionControllerModel').on('hidden.bs.modal', function (e) {
        $('#AddNPIOptionControllerModel modal-body').load('@Url.Action("NPIOption")');
    });
</script>*@
@Html.Action("NPIOption")
@Html.Action("PayorGroup")
@Html.Action("BusinessLine")