<div>
    <strong>@Resource.ClaimSubmissionDetails</strong>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet-body compact" style="display: block;">
                <div class="table-responsive ">
                    <table class="table table-bordered table-striped table-condensed flip-content tblAdjudicationHostory">
                        <thead class="flip-content">
                            <tr>
                                <th class="">
                                    <span class="anchor_color">@Resource.BillingFormat</span>
                                </th>
                                <th class="col-sm-2">
                                    <span class="anchor_color">@Resource.BatchSummary</span>
                                </th>

                                @*  <th class="">
                                    <span class="anchor_color">@Resource.RecordSummary</span>
                                </th>*@

                                <th colspan="2">
                                    <span class="anchor_color">@Resource.ClaimSummary</span>
                                </th>


                                <th class="col-sm-5">
                                    <span class="">@Resource.NoteSummary</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Resource.BillingFormat835</td>
                                <td>

                                    <div>
                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.BatchNumberLabel:</div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.BatchID ? item.BatchID:'@Resource.NA'}}
                                            </div>
                                        </div>
                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.Payor:</div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.BatchPayorShortName ? item.CSModel.BatchPayorShortName:'@Resource.NA'}}
                                            </div>
                                        </div>
                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.Description: </div>
                                            <div class="BatchSummaryDesc">
                                                {{ item.CSModel.BatchTypeName}} {{item.CSModel.BatchStartDate | dateformat}} - {{item.CSModel.BatchEndDate |dateformat}}
                                            </div>
                                        </div>

                                    </div>
                                    <div>
                                        <div class="space20"></div>
                                        <strong><u>@Resource.BatchStatusSummary</u></strong>
                                        <div>
                                            <div class="BatchSummaryDiv">
                                                <div class="td-services-summary">@Resource.GatherDate:</div>
                                                <div class="BatchServiceDesc">{{item.CSModel.GatherDate | dateformat }}</div>
                                            </div>
                                            <div>
                                                <div class="td-services-summary">@Resource.GatheredBy: </div>
                                                <div class="BatchServiceDesc">{{item.CSModel.GatheredBy}}</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="BatchSummaryDiv">
                                                <div class="td-services-summary">@Resource.SentDate:</div>
                                                <div class="BatchServiceDesc">{{item.CSModel.SentDate | dateformat}}</div>
                                            </div>
                                            <div>
                                                <div class="td-services-summary">@Resource.SentBy:</div>
                                                <div class="BatchServiceDesc">{{item.CSModel.SentBy}}</div>
                                            </div>
                                        </div>


                                    </div>
                                </td>

                                <td>

                                    <div>
                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.ClientName:</div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.ClientName ? item.ClientName:'@Resource.NA'}}
                                            </div>
                                        </div>
                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.Address:</div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.Address ? item.CSModel.Address:'@Resource.NA'}}
                                            </div>
                                        </div>
                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.City: </div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.City ? item.CSModel.City:'@Resource.NA'}}
                                            </div>

                                            <div class="td-batch-summary">&nbsp;&nbsp;@Resource.State: </div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.State ? item.CSModel.State:'@Resource.NA'}}
                                            </div>
                                        </div>
                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.ZipCode: </div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.ZipCode ? item.CSModel.ZipCode:'@Resource.NA'}}
                                            </div>
                                        </div>

                                    </div>
                                    <div>
                                        <div class="space20"></div>
                                        @*<strong>@Resource.BatchStatusSummary</strong>*@
                                        <div>
                                            <div class="BatchSummaryDiv">
                                                <div class="td-services-summary">@Resource.Gender:</div>
                                                <div class="BatchSummaryDesc">
                                                    {{item.CSModel.Gender ? item.CSModel.Gender:'@Resource.NA'}}
                                                </div>
                                            </div>
                                            <div class="BatchSummaryDiv">
                                                <div class="td-services-summary">@Resource.DOB:</div>
                                                <div class="BatchSummaryDesc">
                                                    {{item.CSModel.ClientDob ? item.CSModel.ClientDob:'@Resource.NA'}}
                                                </div>
                                            </div>
                                            <div class="BatchSummaryDiv">
                                                <div class="td-services-summary">@Resource.AHCCCSID:</div>
                                                <div class="BatchSummaryDesc">
                                                    {{item.CSModel.AHCCCSID ? item.CSModel.AHCCCSID:'@Resource.NA'}}
                                                </div>
                                            </div>
                                            <div class="BatchSummaryDiv">
                                                <div class="td-services-summary">@Resource.CISNumberLabel:</div>
                                                <div class="BatchSummaryDesc">
                                                    {{item.CSModel.CISNumber ? item.CSModel.CISNumber:'@Resource.NA'}}
                                                </div>
                                            </div>
                                        </div>


                                    </div>




                                    <div>
                                        <div class="space20"></div>
                                        @*<strong>@Resource.BatchStatusSummary</strong>*@
                                        <div>
                                            <div class="BatchSummaryDiv">
                                                <div class="td-services-summary">@Resource.Population:</div>
                                                <div class="BatchSummaryDesc">
                                                    {{item.CSModel.Population ? item.CSModel.Population:'@Resource.NA'}}
                                                </div>
                                            </div>
                                            <div class="BatchSummaryDiv">
                                                <div class="td-services-summary">@Resource.Title:</div>
                                                <div class="BatchSummaryDesc">
                                                    {{item.CSModel.Title ? item.CSModel.Title:'@Resource.NA'}}
                                                </div>
                                            </div>
                                            <div class="BatchSummaryDiv">
                                                <div class="td-services-summary">@Resource.DXCode:</div>
                                                <div class="BatchSummaryDesc">
                                                    {{item.CSModel.ContinuedDX ? item.CSModel.ContinuedDX:'@Resource.NA'}}
                                                </div>
                                            </div>
                                            <div class="BatchSummaryDiv">
                                                <div class="td-services-summary">@Resource.ServiceCode:</div>
                                                <div class="BatchSummaryDesc">
                                                    {{item.CSModel.ServiceCode ? item.CSModel.ServiceCode:'@Resource.NA'}}
                                                </div>
                                            </div>
                                            <div class="BatchSummaryDiv">
                                                <div class="td-services-summary">@Resource.POS:</div>
                                                <div class="BatchSummaryDesc">
                                                    {{item.CSModel.PosID}} - {{item.CSModel.POSDetail}}
                                                </div>
                                            </div>
                                            <div class="BatchSummaryDiv">
                                                <div class="td-services-summary">@Resource.ServiceDate:</div>
                                                <div class="BatchSummaryDesc">
                                                    {{item.CSModel.ServiceDate | dateformat}}
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </td>

                                <td>
                                    <div>
                                        <strong><u>@Resource.BillingProviderDetails</u></strong>
                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.Provider:</div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.BillingProviderName ? item.CSModel.BillingProviderName:'@Resource.NA'}}
                                            </div>
                                        </div>
                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.NPI:</div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.BillingProviderNPI ? item.CSModel.BillingProviderNPI:'@Resource.NA'}}
                                            </div>

                                            <div class="td-batch-summary">&nbsp;&nbsp; @Resource.EIN:</div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.BillingProviderEIN ? item.CSModel.BillingProviderEIN:'@Resource.NA'}}
                                            </div>
                                        </div>
                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.AHCCCSID:</div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.BillingProviderAHCCCSID ? item.CSModel.BillingProviderAHCCCSID:'@Resource.NA'}}
                                            </div>
                                        </div>

                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.Address:</div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.BillingProviderAddress ? item.CSModel.BillingProviderAddress:'@Resource.NA'}}
                                            </div>
                                        </div>
                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.City: </div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.BillingProviderCity ? item.CSModel.BillingProviderCity:'@Resource.NA'}}
                                            </div>

                                            <div class="td-batch-summary">&nbsp;&nbsp;@Resource.State: </div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.BillingProviderState ? item.CSModel.BillingProviderState:'@Resource.NA'}}
                                            </div>
                                        </div>
                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.ZipCode: </div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.BillingProviderZipcode ? item.CSModel.BillingProviderZipcode:'@Resource.NA'}}
                                            </div>
                                        </div>

                                    </div>
                                    <div>
                                        <div class="space20"></div>
                                        <strong><u>@Resource.RenderingProviderDetails</u></strong>
                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.Provider:</div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.RenderingProviderName ? item.CSModel.RenderingProviderName:'@Resource.NA'}}
                                            </div>
                                        </div>
                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.NPI:</div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.RenderingProviderNPI ? item.CSModel.RenderingProviderNPI:'@Resource.NA'}}
                                            </div>
                                            <div class="td-batch-summary">&nbsp;&nbsp;@Resource.EIN:</div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.RenderingProviderEIN ? item.CSModel.RenderingProviderEIN:'@Resource.NA'}}
                                            </div>
                                        </div>

                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.AHCCCSID:</div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.RenderingProviderAHCCCSID ? item.CSModel.RenderingProviderAHCCCSID:'@Resource.NA'}}
                                            </div>
                                        </div>

                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.Address:</div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.RenderingProviderAddress ? item.CSModel.RenderingProviderAddress:'@Resource.NA'}}
                                            </div>
                                        </div>
                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.City: </div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.RenderingProviderCity ? item.CSModel.RenderingProviderCity:'@Resource.NA'}}
                                            </div>

                                            <div class="td-batch-summary">&nbsp;&nbsp;@Resource.State: </div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.RenderingProviderState ? item.CSModel.RenderingProviderState:'@Resource.NA'}}
                                            </div>
                                        </div>
                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.ZipCode: </div>
                                            <div class="BatchSummaryDesc">
                                                {{item.CSModel.RenderingProviderZipcode ? item.CSModel.RenderingProviderZipcode:'@Resource.NA'}}
                                            </div>
                                        </div>

                                    </div>





                                </td>

                                <td>

                                    <div>
                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.NoteDetails:</div>
                                            <div class="BatchSummaryDesc">
                                                <span data-ng-bind-html="item.CSModel.NoteDetails ? item.CSModel.NoteDetails:'@Resource.NA'"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="space20"></div>
                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.Assessment:</div>
                                            <div class="BatchSummaryDesc">
                                                <span data-ng-bind-html="item.CSModel.Assessment ? item.CSModel.Assessment:'@Resource.NA'"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="space20"></div>
                                        <div class="BatchSummaryDiv">
                                            <div class="td-batch-summary">@Resource.ActionPlan:</div>
                                            <div class="BatchSummaryDesc">
                                                <span data-ng-bind-html="item.CSModel.ActionPlan ? item.CSModel.ActionPlan:'@Resource.NA'"></span>
                                            </div>
                                        </div>


                                    </div>

                                </td>


                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
