@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, Resource.Reports);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedMenuItem = Resource.SMI_Reports;
}

<div>
    <div class="page-bar">
        <h3 class="page-title">@Resource.Reports &nbsp;<small>@Resource.ReportInfomration</small>
        </h3>
    </div>
    <div class="row" id="report-container">
        @if (Common.HasPermission(Constants.Permission_Report_Attendance))
        {
            <div class="col-lg-3 col-md-6 col-sm-12">
                @Html.Partial("_Partial/Rpt_Attendance")
            </div>
        }

        @if (Common.HasPermission(Constants.Permission_Report_Behaviour_Contract))
        {
            <div class="col-lg-3 col-md-6 col-sm-12">
                @Html.Partial("_Partial/Rpt_BehaviorContractTracking")
            </div>
        }

        @if (Common.HasPermission(Constants.Permission_Report_Client_Information))
        {
            <div class="col-lg-3 col-md-6 col-sm-12">
                @Html.Partial("_Partial/Rpt_ClientInformation")
            </div>
        }

        @if (Common.HasPermission(Constants.Permission_Report_Client_Status))
        {
            <div class="col-lg-3 col-md-6 col-sm-12">
                @Html.Partial("_Partial/Rpt_ClientStatus")
            </div>
        }

         @if (Common.HasPermission(Constants.Permission_Report_RequestClientListReport))
        {
            <div class="col-lg-3 col-md-6 col-sm-12">
                @Html.Partial("_Partial/Rpt_RequestClientList")
            </div>
        }

        @if (Common.HasPermission(Constants.Permission_Report_DSP_Roster))
        {
            <div class="col-lg-3 col-md-6 col-sm-12">
                @Html.Partial("_Partial/Rpt_DspRoster")
            </div>
        }
        @if (Common.HasPermission(Constants.Permission_Report_DTR_Print))
        {
            <div class="col-lg-3 col-md-6 col-sm-12">
                @Html.Partial("_Partial/Rpt_DTRPrint")
            </div>
        }
        @if (Common.HasPermission(Constants.Permission_Report_Encounter_Print))
        {
            <div class="col-lg-3 col-md-6 col-sm-12">
                @Html.Partial("_Partial/Rpt_EncounterPrint")
            </div>
        }
        @if (Common.HasPermission(Constants.Permission_Report_GeneralNotice))
        {
            <div class="col-lg-3 col-md-6 col-sm-12">
                @Html.Partial("_Partial/Rpt_GeneralNotice")
            </div>
        }
        @if (Common.HasPermission(Constants.Permission_Report_Internal_Service_Plan_Expiration_Dates))
        {
            <div class="col-lg-3 col-md-6 col-sm-12">
                @Html.Partial("_Partial/Rpt_InternalServicePlan")
            </div>
        }
        @if (Common.HasPermission(Constants.Permission_Report_LSOutcomeMeasurementsReport))
        {
            <div class="col-lg-3 col-md-6 col-sm-12">
                @Html.Partial("_Partial/Rpt_LifeSkillsOutcomeMeasurements")
            </div>
        }
        @if (Common.HasPermission(Constants.Permission_Report_Referral_Detail))
        {
            <div class="col-lg-3 col-md-6 col-sm-12">
                @Html.Partial("_Partial/Rpt_ReferralDetails")
            </div>
        }
         @if (Common.HasPermission(Constants.Permission_Report_Required_Documents_For_Attendance))
        {
            <div class="col-lg-3 col-md-6 col-sm-12">
                @Html.Partial("_Partial/Rpt_RequiredDocsForAttendance")
            </div>
        }

        @if (Common.HasPermission(Constants.Permission_Report_Respite_Usage))
        {
            <div class="col-lg-3 col-md-6 col-sm-12">
                @Html.Partial("_Partial/Rpt_RespiteUsage")
            </div>
        }
        

        @if (Common.HasPermission(Constants.Permission_Report_Schedule_Attendance))
        {
            <div class="col-lg-3 col-md-6 col-sm-12">
                @Html.Partial("_Partial/Rpt_ScheduleAttendance")
            </div>
        }
        @if (Common.HasPermission(Constants.Permission_Report_Snapshot_Print))
        {
            <div class="col-lg-3 col-md-6 col-sm-12">
                @Html.Partial("_Partial/Rpt_SnapshotPrint")
            </div>
        }






       

        
        @*@if (Common.HasPermission(Constants.Permission_Report_LSTeamMemberCaseloads_View_All) || Common.HasPermission(Constants.Permission_Report_LSTeamMemberCaseloads_View_Assigned))
        {
            <div class="col-lg-3 col-md-6 col-sm-12">
                @Html.Partial("_Partial/Rpt_LSTeamMemberCaseload")
            </div>
        }*@
    </div>

</div>
@section Scripts{
    @Scripts.Render("~/assets/js/viewjs/siteapp/report/reportjs")
}
<script type="text/javascript">
    var ResolveNoteConfirmMessage = '@Resource.ResolveNoteConfirmMessage';
    var Name = "@Resource.Name";
    var AHCCCSID = "@Resource.AHCCCSID";
    var CISNumber = "@Resource.CISNumber";
    var Phone = "@Resource.Phone";
    var Address = "@Resource.Address";
</script>
