f@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, Resource.DXCodeList);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedMenuItem = Resource.SMI_DxCodeList;
}

@model SetDxCodeListPage
@Html.Hidden("hdnSetDxCodeListPage", Common.SerializeObject(Model))


<div data-ng-controller="DxCodeListController">
    <div class="page-bar">
        <h3 class="page-title">
            @Resource.DXCodeList &nbsp;@*<small>@Resource.DxCodeInformation</small>*@

        </h3>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            @*@if (Common.HasPermission(Constants.HC_Permission_DxCode_Delete))
                {
                    <div class="btn-group" data-ng-show="DxCodeList.length > 0">
                        <span class="btn blue btn-sm grey border-grey-cascade" style="padding: 5px;">
                            <input id="SelectAllDxCode" class="unicheckbox text-align-center" type="checkbox" data-ng-model="SelectAllCheckbox" data-ng-change="SelectAll()" val="SelectAllCheckbox">
                            <label for="SelectAllDxCode"></label>
                        </span>
                    </div>
                }*@
            <div class="btn-group">
                <button class="btn blue btn-sm grey border-grey-cascade" data-ng-click="Refresh()">
                    <i class="fa fa-refresh"></i>&nbsp;&nbsp;@Resource.Refresh
                </button>
            </div>
            <div class="btn-group">
                @Html.DropDownListFor(m => m.SearchDxCodeListPage.IsDeleted, Model.DeleteFilter.ToSelectList(Convert.ToString(Model.SearchDxCodeListPage.IsDeleted), "Name", "Value", "", ""),
                                                                      new
                                                                      {
                                                                          id = "IsDeleted",
                                                                          data_ng_model = "TempSearchDxCodeListPage.IsDeleted",
                                                                          data_ng_init = "TempSearchDxCodeListPage.IsDeleted = TempSearchDxCodeListPage.IsDeleted==null?'-1':TempSearchDxCodeListPage.IsDeleted.toString()",
                                                                          @class = "form-control input-sm btn blue btn-sm grey border-grey-cascade",
                                                                          data_ng_change = "SearchDxCode()"
                                                                      })
            </div>
            @if (Common.HasPermission(Constants.HC_Permission_DxCode_Delete))
            {
                <div class="btn-group" data-ng-if="SelectedDxCodeIds.length > 0">
                    <button type="button" data-ng-click="DeleteDxCode()" class="btn blue btn-sm grey border-grey-cascade">
                        <i class="fa fa-random margin-right-10"></i>{{TempSearchDxCodeListPage.IsDeleted==0 ?'@Constants.DisableSelected' :(TempSearchDxCodeListPage.IsDeleted==1?'@Constants.EnableSelected':'@Constants.InverseSelected')}}
                    </button>
                </div>
            }
            @if (Common.HasPermission(Constants.HC_Permission_DxCode_AddUpdate))
            {
                <div class="btn-group padding-left-15">
                    <a href="" ng-click="DxCodeEditModel(dxcode.EncryptedDXCodeID)" class="btn btn-sm letter-space green-jungle pull-right"><i class="fa fa-plus">&nbsp;&nbsp;</i>@Resource.DXCode</a>
                </div>
            }
            <div class="inline-block pull-right" data-ng-show="DxCodeList.length > 0">
                <div class="pull-right margin-left-5">
                    <dir-pagination-controls boundary-links="true" max-size="DxCodeListPager.maxSize" on-page-change="DxCodeListPager.pageChanged(newPageNumber)" pagination-id="DxCodeListPager_ID"></dir-pagination-controls>
                </div>
            </div>
        </div>
        <div class="space20"></div>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet-body compact" style="display: block;">
                    <form id="frmDxCodeList ">
                        <div class="table-responsive tabbable-custom">

                            <table class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        @if (Common.HasPermission(Constants.HC_Permission_DxCode_Delete))
                                        {
                                            <th class="width-20px"></th>
                                        }
                                        <th>
                                            <a class="anchor_color" href="javascript:void(0);" data-ng-click="DxCodeListPager.sortColumn('DXCodeShortName')">@Resource.DXCodeShortName</a>
                                            <span class="sortorder" data-ng-show="DxCodeListPager.sortIndex === 'DXCodeShortName'" data-ng-class="{reverse:DxCodeListPager.reverse}"></span>
                                        </th>
                                        <th>
                                            <a class="anchor_color" href="javascript:void(0);" data-ng-click="DxCodeListPager.sortColumn('DXCodeName')">@Resource.DXCode</a>
                                            <span class="sortorder" data-ng-show="DxCodeListPager.sortIndex === 'DXCodeName'" data-ng-class="{reverse:DxCodeListPager.reverse}"></span>
                                        </th>
                                        @*<th>
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="DxCodeListPager.sortColumn('DXCodeWithoutDot')">@Resource.DXCodeWithoutDot</a>
                                                <span class="sortorder" data-ng-show="DxCodeListPager.sortIndex === 'DXCodeWithoutDot'" data-ng-class="{reverse:DxCodeListPager.reverse}"></span>
                                            </th>*@
                                        <th class="col-sm-4">
                                            <a class="anchor_color" href="javascript:void(0);" data-ng-click="DxCodeListPager.sortColumn('Description')">@Resource.Description</a>
                                            <span class="sortorder" data-ng-show="DxCodeListPager.sortIndex === 'Description'" data-ng-class="{reverse:DxCodeListPager.reverse}"></span>
                                        </th>



                                        @*<th class="col-sm-2">
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="DxCodeListPager.sortColumn('EffectiveFrom')">@Resource.StartDate</a>
                                                <span class="sortorder" data-ng-show="DxCodeListPager.sortIndex === 'EffectiveFrom'" data-ng-class="{reverse:DxCodeListPager.reverse}"></span>
                                            </th>

                                            <th class="col-sm-2">
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="DxCodeListPager.sortColumn('EffectiveTo')">@Resource.EndDate</a>
                                                <span class="sortorder" data-ng-show="DxCodeListPager.sortIndex === 'EffectiveTo'" data-ng-class="{reverse:DxCodeListPager.reverse}"></span>
                                            </th>*@
                                        <th class="width-130px" style="text-align:center">@Resource.Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="compact-search-tr">
                                        @if (Common.HasPermission(Constants.HC_Permission_DxCode_Delete))
                                        {
                                            <td class="text-align-center">
                                                <input id="SelectAllDxCode" data-ng-show="DxCodeList.length > 0" class="unicheckbox text-align-center" type="checkbox" data-ng-model="SelectAllCheckbox" data-ng-change="SelectAll()" val="SelectAllCheckbox">
                                            </td>
                                        }
                                        <td>
                                            @Html.TextBoxFor(m => m.SearchDxCodeListPage.DXCodeName, new { data_ng_model = "TempSearchDxCodeListPage.DXCodeShortName", @class = "form-control input-sm", placeholder = Resource.DXCodeShortName, maxlength = 20 })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.SearchDxCodeListPage.DXCodeName, new { data_ng_model = "TempSearchDxCodeListPage.DXCodeName", @class = "form-control input-sm", placeholder = Resource.DXCode, maxlength = 100 })
                                        </td>
                                        @*<td>
                                                @Html.TextBoxFor(m => m.SearchDxCodeListPage.DXCodeWithoutDot, new { data_ng_model = "TempSearchDxCodeListPage.DXCodeWithoutDot", @class = "form-control input-sm", placeholder = Resource.DXCodeWithoutDot, maxlength = 20 })
                                            </td>*@
                                        <td>
                                            @Html.TextBoxFor(m => m.SearchDxCodeListPage.Description, new { data_ng_model = "TempSearchDxCodeListPage.Description", @class = "form-control input-sm", placeholder = Resource.Description, maxlength = 100 })
                                        </td>

                                        @*<td>
                                                <div class="input-group date" datepicker="TempSearchDxCodeListPage.EffectiveFrom"
                                                     data-ng-dateval="TempSearchDxCodeListPage.EffectiveFrom"
                                                     data-ng-maxdate="TempSearchDxCodeListPage.EffectiveTo">
                                                    @Html.TextBoxFor(q => q.SearchDxCodeListPage.EffectiveFrom,
                                                            new
                                                            {
                                                                @class = "form-control input-sm dateInputMask",
                                                                placeholder = Resource.StartDate
                                                            })

                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>

                                            </td>

                                            <td>
                                                <div class="input-group date" datepicker="TempSearchDxCodeListPage.EffectiveTo" data-ng-dateval="TempSearchDxCodeListPage.EffectiveTo"
                                                     data-ng-mindate="TempSearchDxCodeListPage.EffectiveFrom">
                                                    @Html.TextBoxFor(q => q.SearchDxCodeListPage.EffectiveTo,
                                                        new
                                                        {
                                                            @class = "form-control input-sm dateInputMask",
                                                            placeholder = Resource.EndDate
                                                        })

                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>

                                            </td>*@

                                        <td class="text-align-center">
                                            <input type="submit" value="@Resource.Search" class="btn btn-default grey border-grey-cascade btn-xs" data-ng-click="SearchDxCode()" />
                                            <a href="javascript:void(0);" class="btn btn-default grey border-grey-cascade btn-xs" data-ng-click="ResetSearchFilter()">@Resource.Reset</a>
                                        </td>
                                    </tr>
                                    <tr data-ng-class="{'deleted':dxcode.IsDeleted}" dir-paginate="dxcode in DxCodeList | itemsPerPage: DxCodeListPager.pageSize" total-items="DxCodeListPager.totalRecords" current-page="DxCodeListPager.currentPage" pagination-id="DxCodeListPager_ID">
                                        @if (Common.HasPermission(Constants.HC_Permission_DxCode_Delete))
                                        {
                                            <td class="text-align-center">
                                                <input type="checkbox" class="unicheckbox text-align-center" data-ng-model="dxcode.IsChecked" data-ng-change="SelectDxCode(dxcode)" val="dxcode.IsChecked">
                                            </td>
                                        }
                                        <td data-ng-bind="dxcode.DxCodeShortName"></td>
                                        <td>{{(dxcode.DXCodeWithoutDot ? dxcode.DXCodeWithoutDot :'@Resource.NA') +' (' + dxcode.DXCodeName +')'}}</td>

                                        @*<td data-ng-bind="dxcode.DXCodeWithoutDot ? dxcode.DXCodeWithoutDot :'@Resource.NA'"></td>*@

                                        <td data-ng-bind="(dxcode.Description)?dxcode.Description:'@Resource.NA'"></td>
                                        <td class="text-align-center">
                                            @if (Common.HasPermission(Constants.HC_Permission_DxCode_AddUpdate))
                                            {
                                                @*<a href="{{ AddDxCodeURL + dxcode.EncryptedDXCodeID}}" class="btn btn-xs blue">@Resource.Edit </a>*@
                                                <a href="" ng-click="DxCodeEditModel(dxcode.EncryptedDXCodeID)" class="btn btn-xs blue margin-right-05"><i class="fa fa-edit"></i> </a>
                                            }
                                            @if (Common.HasPermission(Constants.HC_Permission_DxCode_Delete))
                                            {
                                                <a href="javascript:void(0);" data-ng-show="dxcode.IsDeleted" data-ng-click="DeleteDxCode(dxcode.DXCodeID,'Enable')" class="btn btn-xs green">@Resource.Enable</a>
                                                <a href="javascript:void(0);" data-ng-show="!dxcode.IsDeleted" data-ng-click="DeleteDxCode(dxcode.DXCodeID,'Disable')" class="btn btn-xs red "><i class="fa fa-trash"></i></a>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" data-ng-if="DxCodeList.length > 0">
                <div class="col-sm-3 pull-left no-padding">
                    @Resource.Showing <span data-ng-bind="(DxCodeListPager.pageSize * DxCodeListPager.currentPage) - DxCodeListPager.pageSize  + 1"></span>
                    &nbsp;@Resource.To <span data-ng-bind="(DxCodeListPager.pageSize == DxCodeListPager.currentPageSize) ? (DxCodeListPager.pageSize * DxCodeListPager.currentPage) :(DxCodeListPager.pageSize * DxCodeListPager.currentPage) - DxCodeListPager.pageSize  + DxCodeListPager.currentPageSize"></span>&nbsp;@Resource.Of &nbsp;<span data-ng-bind="DxCodeListPager.totalRecords"></span>&nbsp;@Resource.Records
                </div>
                <div class="pull-right top pagination-sm">
                    <dir-pagination-controls boundary-links="true" max-size="DxCodeListPager.maxSize" on-page-change="DxCodeListPager.pageChanged(newPageNumber)" pagination-id="DxCodeListPager_ID"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div data-ng-if="DxCodeList.length == 0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-danger">
                            @Html.Raw(Resource.NoRecordsFound)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*For DX-Code sede view*@
    <div id="DxCode_fixedAside" class="asideBar-right fixed">
        <div class="listContentinner">
            <div class="closeasidebar" data-ng-click="DxCodeEditModelClosed()"><i class="fa fa-close"></i></div>
            <iframe id="DxCode_fixedAsidelDDLBindIFrame" style="position:absolute; top:2%;  bottom:0px; right:0px; width:100%; min-height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
        </div>
    </div>

</div>


@section Scripts{
    @Scripts.Render("~/assets/js/viewjs/siteApp/Areas/HomeCare/dxcode/dxcodelist")

    <script type="text/javascript">
        var DeleteConfirmationMessage = '@string.Format(Resource.DeleteConfirmationMessage, Resource.DXCode)';
        var EnableDisableConfirmationMessage = '@string.Format(Resource.EnableDisableConfirmationMessage, Resource.DXCode)';
    </script>
}