@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, (Model != null && Model.Agency != null && Model.Agency.AgencyID > 0 ? Resource.EditAgency : @Resource.AddAgency));
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedMenuItem = Resource.SMI_AgencyAdd;
}

@model AddAgencyModel
@if (Model != null)
{
    @Html.Hidden("hdnAgencyModel", Common.SerializeObject(Model))
    <div data-ng-controller="AddAgencyController">
        <form class="form-horizontal" id="frmAgency">
            <div class="page-bar">
                <h3 class="page-title">@(Model != null && Model.Agency.AgencyID != null && Model.Agency.AgencyID > 0 ? Resource.EditAgency : @Resource.AddAgency)
                    <small>@Resource.EnterAgencyInformation</small>
                    <input type="submit" data-ng-click="Save()" class="btn btn-sm green-jungle pull-right" value="@(Model.Agency != null && Model.Agency.AgencyID > 0 ? Resource.Update : @Resource.Save)"/>
                    <input type="button" data-ng-click="Cancel()" class="btn btn-sm red-mint pull-right margin-right-10" value="@Resource.Cancel"/>
                </h3>
            </div>

            <div class="row">
                <div class="col-sm-12">

                    <div class="form-group row">
                        <div class="col-sm-12">

                            <div class="fscontainer">
                                <div class="legend">
                                    @Resource.AgencyDetails
                                </div>
                                <div class="col-sm-6 no-padding">
                                    <div class="col-sm-12">

                                        <div class="form-group col-sm-12">
                                            <label class="col-md-4 control-label required">@Resource.AgencyName</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(q => q.Agency.NickName,
                                                                 new
                                                                     {
                                                                         @class = "form-control input-sm",
                                                                         data_ng_model = "AgencyModel.Agency.NickName",
                                                                         placeholder = @Resource.AgencyName,
                                                                         maxlength = 50
                                                                     })
                                                @Html.ValidationMessageFor(q => q.Agency.NickName)
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12" style="display: none">
                                            <label class="col-md-4 control-label">@Resource.AgencyShortName</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(q => q.Agency.ShortName,
                                                new
                                                    {
                                                        @class = "form-control input-sm",
                                                        data_ng_model = "AgencyModel.Agency.ShortName",
                                                        placeholder = @Resource.AgencyShortName,
                                                        maxlength = 50,
                                                        ng_val = "false"
                                                    })
                                                @* @Html.ValidationMessageFor(q => q.Agency.ShortName)*@
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="col-md-4 control-label required">@Resource.Region</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(m => m.Agency.RegionID, Model.RegionListModel.ToSelectList(Convert.ToString(Model.Agency.RegionID), "RegionName", "RegionID", Resource.SelectRegion, ""), new
                                                {
                                                    id = "RegionID",
                                                    data_ng_model = "AgencyModel.Agency.RegionID",
                                                    data_ng_init = "AgencyModel.Agency.RegionID=AgencyModel.Agency.RegionID==''?null:AgencyModel.Agency.RegionID",
                                                    @class = "form-control input-sm",
                                                    convert_to_number = ""
                                                })
                                                @Html.ValidationMessageFor(q => q.Agency.NickName)
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12">
                                            <label class="col-md-4 control-label ">@Resource.State</label>
                                            <div class="col-md-8">
                                                <select disabled class="form-control input-sm" data-ng-model="AgencyModel.Agency.StateCode" data-ng-init="AgencyModel.Agency.StateCode='@Constants.DefaultStateCode'">
                                                    <option value="@Constants.DefaultStateCode">@Constants.DefaultStateName</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12" style="display: none">
                                            <label class="col-md-4 control-label ">
                                                @Resource.ContactName
                                            </label>
                                            <div class="col-md-8 col-sm-12">
                                                @Html.TextBoxFor(q => q.Agency.ContactName,
                                                new
                                                    {
                                                        @class = "form-control input-sm",
                                                        data_ng_model = "AgencyModel.Agency.ContactName",
                                                        placeholder = @Resource.ContactName,
                                                        maxlength = 50
                                                    })
                                                @* @Html.ValidationMessageFor(q => q.Agency.ContactName)*@
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12" style="display: none">
                                            <label class="col-md-4 control-label">@Resource.Email</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(q => q.Agency.Email,
                                                new
                                                    {
                                                        @class = "form-control input-sm",
                                                        data_ng_model = "AgencyModel.Agency.Email",
                                                        placeholder = @Resource.Email,
                                                        maxlength = 50
                                                    })
                                                @Html.ValidationMessageFor(q => q.Agency.Email)
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="col-md-4 control-label">@Resource.Fax</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(q => q.Agency.Fax,
                                                new
                                                    {
                                                        @class = "form-control input-sm",
                                                        data_ng_model = "AgencyModel.Agency.Fax",
                                                        maxlength = 15,
                                                        placeholder = "(XXX) XXX-XXXX",
                                                        phone_input = ""
                                                    })
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="col-md-4 control-label">@Resource.Phone</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(q => q.Agency.Phone,
                                                new
                                                    {
                                                        @class = "form-control input-sm",
                                                        data_ng_model = "AgencyModel.Agency.Phone",
                                                        maxlength = 15,
                                                        placeholder = "(XXX) XXX-XXXX",
                                                        phone_input = ""
                                                    })
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label class="col-md-4 control-label">@Resource.Address</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(q => q.Agency.Address,
                                                new
                                                    {
                                                        @class = "form-control input-sm",
                                                        data_ng_model = "AgencyModel.Agency.Address",
                                                        placeholder = @Resource.Address,
                                                        maxlength = 99,
                                                    })
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12">
                                            <label class="col-md-4 control-label">@Resource.City</label>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(q => q.Agency.City,
                                                new
                                                    {
                                                        @class = "form-control input-sm",
                                                        data_ng_model = "AgencyModel.Agency.City",
                                                        placeholder = @Resource.City,
                                                        maxlength = 49,
                                                    })
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12">
                                            <label class="col-md-4 control-label">@Resource.ZipCode</label>
                                            <div class="col-md-8">
                                                <zipcode class="Agency-Zipcode" type="text" ng-model="AgencyModel.Agency.ZipCode" modelid="ZipCode" />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-group no-margin no-padding">
                        <input type="submit" data-ng-click="Save()" class="btn btn-sm green-jungle pull-right" value="@(Model.Agency != null && Model.Agency.AgencyID > 0 ? Resource.Update : @Resource.Save)"/>
                        <a href="@Constants.AgencyListPageURL">
                            <input type="button" class="btn btn-sm red-mint pull-right margin-right-10" value="@Resource.Cancel"/></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
}

@section Scripts{
    @Scripts.Render("~/assets/js/viewjs/siteApp/agency/addagency")
}
