@{
    ViewBag.Title = "Billing Information";
    Layout = "~/Views/Shared/_LayoutPayment.cshtml";

}
@model UserPaymentDetailModel

@Html.Hidden("hdnUserPaymentDetailModel", Common.SerializeObject(Model))
<div data-ng-controller="AddUserPaymentDetailController">
    <form class="form-horizontal" id="frmAddUserPaymentDetail">


        <div class="row">
            <div class="col-sm-12">

                <div class="form-group row">
                    <div class="col-sm-12">

                        <div class="fscontainer">
                            <div class="legend">
                                Billing Information
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="col-sm-6 no-padding">
                                        <div class="col-sm-12">


                                            <div class="form-group">
                                                <label class="col-md-5 control-label">Enter Card Number</label>
                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(q => q.CardNumber, new { @class = "form-control input-sm", data_ng_model = "UserPaymentDetailModel.CardNumber", placeholder = "Card Number", maxlength = 50 })
                                                    @Html.ValidationMessageFor(q => q.CardNumber)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-5 control-label">Enter Expiration Date</label>
                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(q => q.ExpirationDate, new { @class = "form-control input-sm", data_ng_model = "UserPaymentDetailModel.ExpirationDate", placeholder = "Expiration Date", maxlength = 50 })
                                                    @Html.ValidationMessageFor(q => q.ExpirationDate)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-5 control-label ">Enter Account Number</label>
                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(q => q.AccountNumber, new { @class = "form-control input-sm", data_ng_model = "UserPaymentDetailModel.AccountNumber", placeholder = "Account Number", maxlength = 50 })
                                                    @Html.ValidationMessageFor(q => q.AccountNumber)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-5 control-label">Enter Routing Number</label>
                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(q => q.RoutingNumber, new { @class = "form-control input-sm", data_ng_model = "UserPaymentDetailModel.RoutingNumber", placeholder = "Routing Number", maxlength = 50 })

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6">

                                    <div class="col-sm-6 no-padding">
                                        <div class="col-sm-12">


                                            <div class="form-group">
                                                <label class="col-md-5 control-label">Enter Name On Account</label>
                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(q => q.NameOnAccount, new { @class = "form-control input-sm", data_ng_model = "UserPaymentDetailModel.NameOnAccount", maxlength = 50, placeholder = "Name On Account" })
                                                    @Html.ValidationMessageFor(q => q.NameOnAccount)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-5 control-label">Enter Bank Name</label>
                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(q => q.BankName, new { @class = "form-control input-sm", data_ng_model = "UserPaymentDetailModel.BankName", maxlength = 50, placeholder = "Bank Name" })
                                                    @Html.ValidationMessageFor(q => q.BankName)
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>




                            <div class="form-group row">
                                <div class="col-sm-12">

                                    <div class="fscontainer">
                                        <div class="legend">
                                            Home Address
                                        </div>
                                        <div class="col-sm-6 no-padding">
                                            <div class="col-sm-12">


                                                <div class="form-group">
                                                    <label class="col-md-5 control-label">Enter Home Address</label>
                                                    <div class="col-md-7">
                                                        @Html.TextBoxFor(q => q.HomeAddress, new { @class = "form-control input-sm", data_ng_model = "UserPaymentDetailModel.HomeAddress", placeholder = "Home Address", maxlength = 50 })
                                                        @Html.ValidationMessageFor(q => q.HomeAddress)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-5 control-label">Enter Hom eAddress City</label>
                                                    <div class="col-md-7">
                                                        @Html.TextBoxFor(q => q.HomeAddressCity, new { @class = "form-control input-sm", data_ng_model = "UserPaymentDetailModel.HomeAddressCity", placeholder = "Home Address City", maxlength = 50 })
                                                        @Html.ValidationMessageFor(q => q.HomeAddressCity)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-5 control-label required">Enter Home Address Zip</label>
                                                    <div class="col-md-7">
                                                        @Html.TextBoxFor(q => q.HomeAddressZip, new { @class = "form-control input-sm", data_ng_model = "UserPaymentDetailModel.HomeAddressZip", placeholder = "Home Address Zip", maxlength = 50 })
                                                        @Html.ValidationMessageFor(q => q.HomeAddressZip)
                                                    </div>
                                                </div>






                                            </div>
                                        </div>



                                    </div>

                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-12">

                                    <div class="fscontainer">
                                        <div class="legend">
                                            Office Address
                                        </div>
                                        <div class="col-sm-6 no-padding">
                                            <div class="col-sm-12">


                                                <div class="form-group">
                                                    <label class="col-md-5 control-label">Enter Office Address</label>
                                                    <div class="col-md-7">
                                                        @Html.TextBoxFor(q => q.OfficeAddress, new { @class = "form-control input-sm", data_ng_model = "UserPaymentDetailModel.OfficeAddress", placeholder = "Office Address", maxlength = 50 })
                                                        @Html.ValidationMessageFor(q => q.OfficeAddress)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-5 control-label">Enter Office Address City</label>
                                                    <div class="col-md-7">
                                                        @Html.TextBoxFor(q => q.OfficeAddressCity, new { @class = "form-control input-sm", data_ng_model = "UserPaymentDetailModel.OfficeAddressCity", placeholder = "Office Address City", maxlength = 50 })
                                                        @Html.ValidationMessageFor(q => q.OfficeAddressCity)
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-5 control-label required">Enter Office Address Zip</label>
                                                    <div class="col-md-7">
                                                        @Html.TextBoxFor(q => q.OfficeAddressZip, new { @class = "form-control input-sm", data_ng_model = "UserPaymentDetailModel.OfficeAddressZip", placeholder = "Office Address Zip", maxlength = 50 })
                                                        @Html.ValidationMessageFor(q => q.OfficeAddressZip)
                                                    </div>
                                                </div>






                                            </div>
                                        </div>



                                    </div>

                                </div>
                            </div>




                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.CheckBoxFor(q => q.TermsNConditions, new { id = "TermsNConditions" }) I agree to the Terms of Use. 
                                            All accounts are recurring billing. You will be billed automatically monthly.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 form-group no-margin no-padding">

                                <input type="button" data-ng-click="Save()" class="btn btn-sm green-jungle pull-right" id="Save" value="Save" />

                                <a href="#">
                                    <input type="button" class="btn btn-sm red-mint pull-right margin-right-10" value="Cancel" />
                                </a>
                            </div>



                        </div>

                    </div>

                </div>
                </div>
            </div>
</form>
</div>

@section Scripts{
    @Scripts.Render("~/assets/js/viewjs/siteApp/signature")
    @Scripts.Render("~/assets/js/viewjs/siteApp/areas/homecare/UserPaymentDetail/AddUserPaymentDetail")
}
