@{
    ViewBag.Title = "TermsAndConditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AddOrganizationSettingModel

<h2>@Resource.VirtualVisitTermsAndConditions</h2>

<div class="row">
    <div class="col-sm-5 text-left">
        <div id="loader" class="top pagination-sm" style="display: none;">
            @Resource.SavingRecord
            <img src="~/Assets/images/lazyload.gif" />
            <br /><br />
        </div>
    </div>
</div>

@Html.HiddenFor(model => model.OrganizationSetting.OrganizationID, new { id = "organizationId" })
<div class="row">
    <div class="form-group col-sm-12">
        @Html.TextAreaFor(model => model.OrganizationSetting.TermsCondition, new { id = "txtTermsCondition" })
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-12">
        <input type="submit" id="btnSubmitTermsCondition" class="btn btn-sm green-jungle float-right" value="@Resource.Save" />
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/assets/js/viewjs/siteApp/Areas/HomeCare/setting/termsandconditionsetting")
}
<script type="text/javascript">
    var successMessage = '@Resource.RecordSavedSuccessfully';
    var errorMessage = '@Resource.ErrorOccured';
</script>
