@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, Resource.PCATimeSheet);
    Layout = "~/Views/Shared/_PatientInvoiceLayout.cshtml";
    CacheHelper _cacheHelper = new CacheHelper();
}

@model PatientListModel


@if (Model.patientTotalReportListModel.Count>0)
{
    <div data-ng-controller="PatientTotalReportController">
        <div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="portlet-body compact" style="display: block;">
                        <div class="table-responsive">
                            <table class="table table-pinned table-bordered table-striped table-Invoice">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="">
                                            @Resource.Sl_No
                                        </th>
                                        <th class="">
                                            @Resource.patientID
                                        </th>
                                        <th class="">
                                            @Resource.PatientName
                                        </th>
                                        <th class="">
                                          @Resource.Gender
                                        </th>
                                        <th class="">
                                            @Resource.AHCCCSID
                                        </th>

                                        <th class="">
                                            @Resource.HealthPlan
                                        </th>
                                        <th>
                                            @Resource.CreatedDate
                                        </th>
                                        <th>
                                            @Resource.UpdatedDate
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.patientTotalReportListModel)
                                    {
                                        <tr>
                                            <td>@item.Row</td>
                                            <td>@item.ReferralID</td>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @item.Gender
                                            </td>
                                            <td>
                                                @item.AHCCCSID
                                            </td>
                                            <td>
                                               @item.HealthPlan                                                
                                            </td>
                                            <td>
                                                @item.CreatedDate
                                            </td>
                                            <td>
                                                @item.UpdatedDate
                                            </td>
                                        </tr>
                                     } 
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
}
else
{
<h1>No record found</h1>
}

