<div class="col-sm-12 no-padding">
    <h4 class="caption">
        <span class="font-green sbold uppercase">{{commonDetailPopover.Name}}
        </span>
        <small><span class="label label-mini label-inverse margin-right-05">CIS#: {{commonDetailPopover.CISNumber}}</span>
            <span class="label label-mini label-success">AHCCCS ID: {{commonDetailPopover.AHCCCSID}}</span><span class="margin-left-5 badge badge-danger" data-ng-if="commonDetailPopover.NeedPrivateRoom">P</span></small>
    </h4>
    <div class="col-sm-12 margin-bottom-5 no-padding">
        <strong>@Resource.PrimaryContact :</strong>
        <span class="margin-top-5 about-text">{{commonDetailPopover.ParentName?commonDetailPopover.ParentName:'@Resource.NA'}}</span>
    </div>
    <div class="col-sm-12 margin-bottom-5 no-padding">
        <strong>@Resource.Phone :</strong>
        <span class="margin-top-5 about-text">{{commonDetailPopover.Phone|phoneformat}}</span><span class="margin-top-5 about-text" data-ng-if="commonDetailPopover.Phone2">, {{commonDetailPopover.Phone2|phoneformat}}</span>
    </div>
    <div class="col-sm-12 margin-bottom-5 no-padding">
        <strong>@Resource.Email :</strong>
        <span class="margin-top-5 about-text">{{commonDetailPopover.Email?commonDetailPopover.Email:'@Resource.NA'}}</span>
    </div>
    <div class="col-sm-12 margin-bottom-5 no-padding">
        <strong>@Resource.Payor :</strong>
        <span class="margin-top-5 about-text">{{commonDetailPopover.PayorName?commonDetailPopover.PayorName:'@Resource.NA'}}</span>
    </div>
    <div class="col-sm-12 margin-bottom-5 no-padding">
        <strong>@Resource.FrequencyCode :</strong>
        <span class="margin-top-5 about-text">{{commonDetailPopover.FrequencyCode?commonDetailPopover.FrequencyCode:'@Resource.NA'}}</span>
    </div>
</div>







