@model HC_PrivateDuty_ScheduleAssignmentModel

<div id="notesModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-ng-click="CloseNotesModal()">&times;</button>

                <h4 class="caption margin-bottom-0 margin-top-5">
                    <span>@Resource.Note</span>
                </h4>

            </div>
            <div class="modal-body">
                <form id="frmNote">
                    <div class="clearfix">
                        <div class="col-md-12 no-padding">
                            <div class="form-group">
                                <input type="checkbox" class="uniformControls" data-ng-model="ScheduleNoteDetail.IsPatientDeniedService" />
                                <label class="control-label">@Resource.PatientDeniedService</label>
                            </div>
                            <div class="form-group">
                                <label class="control-label required">@Resource.Note</label>
                                <textarea rows="5" class="form-control input-sm" data-ng-model="ScheduleNoteDetail.RemoveScheduleReason" maxlength="1000"
                                          placeholder="@Resource.Note" data-val="true"
                                          data-val-required="@Resource.ReasonRequired"
                                          name="Notes" id="Notes"></textarea>
                                <span class="field-validation-valid" data-valmsg-for="Notes" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        </div>
                </form>
            </div>


            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-sm btn-danger red" data-ng-click="CloseNotesModal()">@Resource.Cancel</button>
                    <button type="button" class="btn btn-sm  btn-primary blue" data-ng-click="SaveNote()">@Resource.Save</button>
                </div>


            </div>


        </div>

    </div>
</div>