@model AddProcess270271Model
@Html.Hidden("hdnAddProcess271Model", Common.SerializeObject(Model))
<div>
    <div class="row">
        <form id="frmProcess271">
            <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="form-group col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label required">@Resource.SelectFile
                        <i class="fa fa-question-circle font-size-16" data-ng-tooltip="@Resource.OnlyTxtAllowed" data-ng-custom-class="tooltip-extra-z-index"></i>
                    </label>

                    <div>
                        @Html.TextBoxFor(q => q.AddProcess271Model.TempFilePath, new
                   {
                       data_ng_model = "AddProcess271Model.TempFilePath",
                       @class = "form-control hideErrorContent replaceErrorSource"
                   })
                        @Html.ValidationMessageFor(m => m.AddProcess271Model.TempFilePath)

                        <div class="replaceErrorDest col-lg-12 col-md-12 col-sm-12 fileUpload btn btn-sm btn-default text-align-left">
                            <span><i class="icon-plus"></i>&nbsp; {{AddProcess271Model.SelectFileLabel}}</span>
                            <div class="">
                                <input id="fileupload" type="file" name="files[]" class="upload" value="Browse"  title="{{AddProcess271Model.SelectFileLabel}}"
                                   fileuploadonsubmit 
                                   autoupload="false"
                                   file-uploadurl="{{UploadFile}}" 
                                   beforesend="BeforeSend" 
                                   aftersend="AfterSend"
                                   progress="Progress" 
                                   filelist="UploadingFileList" 
                                   filedata="FileData"
                                   @*onchange="loadFile(event)" *@
                                   onadd="OnAdd"
                                   submit-button-id="#process271Submit"   
                                   onsubmitclick="Upload271FileFile"
                                />
                            </div>

                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label">@Resource.Comment</label>
                    <div>
                        @Html.TextBoxFor(q => q.AddProcess271Model.Comment, new { @class = "form-control input-sm", data_ng_model = "AddProcess271Model.Comment", maxlength = 100, placeholder = Resource.Comment })
                    </div>
                </div>
                <div class="form-group col-lg-2 col-md-3 col-sm-3 no-right-padding">
                    <label class="control-label"></label>
                    <div>
                        <div class="btn-group">
                            <button type="submit" id="process271Submit" class="btn btn-sm green-jungle" data-ng-click="Upload271File()">@Resource.Upload271File</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="space20">
                <hr />
            </div>
        </form>
    </div>

    <div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="btn-group" data-ng-show="Process271List.length > 0">
                    <span class="btn blue btn-sm grey border-grey-cascade" style="padding: 5px;">
                        <input id="SelectAll271Files" class="unicheckbox" type="checkbox" data-ng-model="SelectAllCheckbox" data-ng-change="SelectAll()" val="SelectAllCheckbox">
                        <label for="SelectAll271Files"></label>
                    </span>
                </div>
                <div class="btn-group">
                    <button class="btn blue btn-sm grey border-grey-cascade" data-ng-click="Refresh()">
                        <i class="fa fa-refresh"></i>&nbsp;&nbsp;@Resource.Refresh
                    </button>
                </div>


                <div class="btn-group">
                    @Html.DropDownListFor(m => m.SearchProcess271ListPage.IsDeleted, Model.DeleteFilter.ToSelectList(Convert.ToString(Model.SearchProcess271ListPage.IsDeleted), "Name", "Value", "", ""),
                                                                      new
                                                                      {
                                                                          id = "IsDeleted",
                                                                          data_ng_model = "TempSearchProcess271ListPage.IsDeleted",
                                                                          data_ng_init = "TempSearchProcess271ListPage.IsDeleted = TempSearchProcess271ListPage.IsDeleted==null?'-1':TempSearchProcess271ListPage.IsDeleted.toString()",
                                                                          @class = "form-control input-sm btn blue btn-sm grey border-grey-cascade",
                                                                          data_ng_change = "SearchProcess271Files()"
                                                                      })
                </div>
                <div class="btn-group" data-ng-if="SelectedProcess271Ids.length > 0">
                    <button type="button" data-ng-click="DeleteProcess271File()" class="btn blue btn-sm grey border-grey-cascade">
                        <i class="fa fa-random margin-right-10"></i>{{TempSearchProcess271ListPage.IsDeleted==0?'@Constants.DisableSelected' :(TempAgencyListPage.IsDeleted==1?'@Constants.EnableSelected':'@Constants.InverseSelected')}}</button>
                </div>

                <div class="btn-group margin-left-20PR">
                    <div class="top pagination-sm" data-ng-show="AjaxStart">
                        @Resource.Loading
                        <img src="~/Assets/images/lazyload.gif" />
                    </div>
                </div>
                <div class="inline-block pull-right" data-ng-show="Process271List.length > 0">
                    <div class="inline-block pull-right" data-ng-show="Process271List.length > 0">
                        <div class="pull-right margin-left-5">
                            <dir-pagination-controls boundary-links="true" max-size="Process271ListPager.maxSize" on-page-change="Process271ListPager.pageChanged(newPageNumber)" pagination-id="Process271ListPagerID"></dir-pagination-controls>
                        </div>
                    </div>

                </div>
                <div class="space20"></div>

            </div>
        </div>

        <div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="portlet-body" style="display: block;">
                        <div class="table-responsive">
                            <form id="frmCaseManagerList">
                                <table class="table table-bordered table-striped table-condensed flip-content">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="width-20px"></th>

                                            <th class="">
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="Process271ListPager.sortColumn('FileName')">@Resource.FileName</a>
                                                <span class="sortorder" data-ng-show="Process271ListPager.sortIndex === 'FileName'" data-ng-class="{reverse:Process271ListPager.reverse}"></span>
                                            </th>
                                            <th class="">
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="Process271ListPager.sortColumn('FileSize')">@Resource.FileSize</a>
                                                <span class="sortorder" data-ng-show="Process271ListPager.sortIndex === 'FileSize'" data-ng-class="{reverse:Process271ListPager.reverse}"></span>
                                            </th>
                                            <th class="">
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="Process271ListPager.sortColumn('Comment')">@Resource.Comment</a>
                                                <span class="sortorder" data-ng-show="Process271ListPager.sortIndex === 'Comment'" data-ng-class="{reverse:Process271ListPager.reverse}"></span>
                                            </th>

                                            <th class="">
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="Process271ListPager.sortColumn('AddedBy')">@Resource.AddedBy</a>
                                                <span class="sortorder" data-ng-show="Process271ListPager.sortIndex === 'AddedBy'" data-ng-class="{reverse:Process271ListPager.reverse}"></span>
                                            </th>
                                            <th class="">
                                                <a class="anchor_color" href="javascript:void(0);" data-ng-click="Process271ListPager.sortColumn('AddedDate')">@Resource.AddedDate</a>
                                                <span class="sortorder" data-ng-show="Process271ListPager.sortIndex === 'AddedDate'" data-ng-class="{reverse:Process271ListPager.reverse}"></span>
                                            </th>
                                            <th class="width120">@Resource.Status</th>
                                            <th class="width120">@Resource.Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr class="compact-search-tr">
                                            <td></td>


                                            <td>
                                                @Html.TextBoxFor(m => m.SearchProcess271ListPage.FileName, new { data_ng_model = "TempSearchProcess271ListPage.FileName", @class = "form-control input-sm", placeholder = Resource.FileName, maxlength = 50 })
                                            </td>
                                            <td></td>
                                            <td>
                                                @Html.TextBoxFor(m => m.SearchProcess271ListPage.Comment, new { data_ng_model = "TempSearchProcess271ListPage.Comment", @class = "form-control input-sm", placeholder = Resource.Name, maxlength = 50 })
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <input type="submit" value="@Resource.Search"class="btn btn-default grey border-grey-cascade btn-xs" data-ng-click="SearchProcess271Files()"/>
                                                <a href="javascript:void(0);" class="btn btn-default grey border-grey-cascade btn-xs" data-ng-click="ResetSearchFilter()">@Resource.Reset</a>
                                            </td>
                                        </tr>


                                        <tr data-ng-class="{'deleted':item.IsDeleted}" dir-paginate="item in Process271List | itemsPerPage: Process271ListPager.pageSize" total-items="Process271ListPager.totalRecords" current-page="Process271ListPager.currentPage" pagination-id="Process271ListPagerID">
                                            <td>
                                                <input type="checkbox" class="unicheckbox" data-ng-model="item.IsChecked" data-ng-change="SelectProcess271File(item)" val="item.IsChecked">
                                            </td>
                                            <td><a target="_blank" data-ng-attr-href="{{item.AWSSignedFilePath}}">{{item.FileName}}</a></td>
                                            <td>{{item.StrFileSize ? item.StrFileSize:'0'}}</td>
                                            <td>{{item.Comment ? item.Comment:'@Resource.NA'}}</td>
                                            <td>{{item.StrDisplayName ? item.StrDisplayName:'@Resource.NA'}}</td>
                                            <td>{{item.CreatedDate ? (item.CreatedDate | orgdatetime) : '@Resource.NA'}}</td>
                                            <td>
                                                <div data-ng-if="item.Upload271FileProcessStatus==@((int)EnumUpload271FileProcessStatus.Processed)">
                                                    <span class="badge badge-success">@Resource.Processed</span>
                                                    <a target="_blank" class="fa fa-download" title="@Resource.DownloadCsv" data-ng-attr-href="{{item.AWSReadableFilePath}}"></a>
                                                </div>
                                                <div data-ng-if="item.Upload271FileProcessStatus==@((int)EnumUpload271FileProcessStatus.ErrorInProcess)">
                                                    <span class="badge badge-danger">@Resource.Failed</span>
                                                    <a target="_blank" class="fa fa-download" title="@Resource.DownloadErrorLog" data-ng-attr-href="{{item.AWSReadableFilePath}}"></a>
                                                </div>

                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" data-ng-show="item.IsDeleted" data-ng-click="DeleteProcess271File(item.Edi270271FileID,'@Resource.Enable')" class="btn btn-xs green">@Resource.Enable</a>
                                                <a href="javascript:void(0);" data-ng-show="!item.IsDeleted" data-ng-click="DeleteProcess271File(item.Edi270271FileID,'@Resource.Disable')" class="btn btn-xs red">@Resource.Disable</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" data-ng-if="Process271List.length > 0">
                    <div class="col-sm-3 pull-left no-padding">
                        @Resource.Showing <span data-ng-bind="(Process271ListPager.pageSize * Process271ListPager.currentPage) - Process271ListPager.pageSize  + 1"></span>
                        &nbsp;@Resource.To <span data-ng-bind="(Process271ListPager.pageSize == Process271ListPager.currentPageSize) ? (Process271ListPager.pageSize * Process271ListPager.currentPage) :(Process271ListPager.pageSize * Process271ListPager.currentPage) - Process271ListPager.pageSize  + Process271ListPager.currentPageSize"></span>&nbsp;@Resource.Of &nbsp;<span data-ng-bind="Process271ListPager.totalRecords"></span>&nbsp;@Resource.Records
                    </div>
                    <div class="pull-right top pagination-sm">
                        <dir-pagination-controls boundary-links="true" max-size="Process271ListPager.maxSize" on-page-change="Process271ListPager.pageChanged(newPageNumber)" pagination-id="Process271ListPagerID"></dir-pagination-controls>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div data-ng-if="Process271List.length == 0  ">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="alert alert-danger">
                                    @Html.Raw(Resource.NoRecordsFound)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
