@model FormPageModel
<div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 no-padding">

            <div>


                @if (Model.ForPatient && Model.IsPartial == false)
                {
                    <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        @*<label class="control-label">@Resource.Patient</label>*@

                        @Html.DropDownListFor(p => p.SearchFormModel.ReferralID, Model.ReferralList.ToSelectList(Model.SearchFormModel.ReferralID.ToString() ?? "", "Name", "Value", Resource.SelectPatient, ""),
                        new
                        {
                            id = "ReferralID",
                            convert_to_number = "",
                            data_ng_model = "TempSearchFormModel.ReferralID",
                            data_ng_init = "TempSearchFormModel.ReferralID=TempSearchFormModel.ReferralID==''?null:TempSearchFormModel.ReferralID",
                            @class = "form-control input-sm",
                            data_val = "false"

                        })

                    </div>
                }

                @if (Model.ForEmployee && Model.IsPartial == false)
                {

                    <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        @*<label class="control-label">@Resource.Employee</label>*@

                        @Html.DropDownListFor(p => p.SearchFormModel.EmployeeID, Model.EmployeeList.ToSelectList(Model.SearchFormModel.EmployeeID.ToString() ?? "", "Name", "Value", Resource.SelectEmployee, ""),
                        new
                        {
                            id = "EmployeeID",
                            convert_to_number = "",
                            data_ng_model = "TempSearchFormModel.EmployeeID",
                            data_ng_init = "TempSearchFormModel.EmployeeID=TempSearchFormModel.EmployeeID==''?null:TempSearchFormModel.EmployeeID",
                            @class = "form-control input-sm",
                            data_val = "false"

                        })

                    </div>

                }



                <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    @*<label class="control-label">@Resource.Market</label>*@
                    @Html.DropDownListFor(p => p.SearchFormModel.MarketID, Model.MarketList.ToSelectList(Model.SearchFormModel.MarketID.ToString() ?? "", "Name", "Id", Resource.AllMarket, ""),
                        new
                        {
                            id = "MarketID",
                            convert_to_number = "",
                            data_ng_model = "TempSearchFormModel.MarketID",
                            data_ng_init = "TempSearchFormModel.MarketID=TempSearchFormModel.MarketID==''?null:TempSearchFormModel.MarketID",
                            @class = "form-control input-sm",
                            data_val = "false",
                            data_ng_change = "SearchFormList()"
                        })
                </div>


                <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    @*<label class="control-label">@Resource.FormCategory</label>*@
                    @Html.DropDownListFor(p => p.SearchFormModel.FormCategoryID, Model.FormCategoryList.ToSelectList(Model.SearchFormModel.FormCategoryID.ToString() ?? "", "Name", "Id", Resource.AllCategories, ""),
                        new
                        {
                            id = "FormCategoryID",
                            convert_to_number = "",
                            data_ng_model = "TempSearchFormModel.FormCategoryID",
                            data_ng_init = "TempSearchFormModel.FormCategoryID=TempSearchFormModel.FormCategoryID==''?null:TempSearchFormModel.FormCategoryID",
                            @class = "form-control input-sm",
                            data_val = "false"
                        })
                </div>


                <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    @*<label class="control-label">@Resource.FormNumber</label>*@
                    @Html.TextBoxFor(m => m.SearchFormModel.FormNumber, new { data_ng_model = "TempSearchFormModel.FormNumber", delete_if_empty = "", @class = "form-control input-sm", placeholder = Resource.FormNumber, maxlength = 20 })
                </div>


                <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    @*<label class="control-label">@Resource.FormName</label>*@
                    @Html.TextBoxFor(m => m.SearchFormModel.FormName, new { data_ng_model = "TempSearchFormModel.FormName", delete_if_empty = "", @class = "form-control input-sm", placeholder = Resource.FormName, maxlength = 20 })
                </div>

                <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    @*<label class="control-label"></label>*@
                    <div class="">
                        <input type="submit" value="@Resource.Search" class="btn btn-sm btn-primary" data-ng-click="SearchFormList()" />
                        <a href="javascript:void(0);" class="btn btn-default grey border-grey-cascade btn-sm" data-ng-click="ResetSearchFilter()">@Resource.Reset</a>
                    </div>
                </div>

            </div>


            <div class="inline-block pull-right" data-ng-show="FormList.length > 0">
                <div class="pull-right margin-left-5">
                    <dir-pagination-controls boundary-links="true" on-page-change="FormListPager.pageChanged(newPageNumber)" pagination-id="FormListPagerID"></dir-pagination-controls>
                </div>
            </div>
        </div>
        <div class="space20"></div>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet-body compact" style="display: block;">
                    <div class="">
                        <form id="frmFormlist">
                            <table class="table table-pinned table-bordered table-striped table-condensed">
                                <thead class="flip-content">
                                    <tr>

                                        <th>
                                            <a class="anchor_color" href="javascript:void(0);" data-ng-click="FormListPager.sortColumn('Name')">@Resource.FormNumber</a>
                                            <span class="sortorder" data-ng-show="FormListPager.sortIndex === 'Name'" data-ng-class="{reverse:FormListPager.reverse}"></span>
                                        </th>
                                        <th>
                                            <a class="anchor_color" href="javascript:void(0);" data-ng-click="FormListPager.sortColumn('FormLongName')">@Resource.FormName</a>
                                            <span class="sortorder" data-ng-show="FormListPager.sortIndex === 'FormLongName'" data-ng-class="{reverse:FormListPager.reverse}"></span>
                                        </th>
                                        <th>
                                            <a class="anchor_color" href="javascript:void(0);" data-ng-click="FormListPager.sortColumn('Version')">@Resource.Version</a>
                                            <span class="sortorder" data-ng-show="FormListPager.sortIndex === 'Version'" data-ng-class="{reverse:FormListPager.reverse}"></span>
                                        </th>
                                        <th>
                                            <a class="anchor_color" href="javascript:void(0);" data-ng-click="FormListPager.sortColumn('FormCategory')">@Resource.Category</a>
                                            <span class="sortorder" data-ng-show="FormListPager.sortIndex === 'FormCategory'" data-ng-class="{reverse:FormListPager.reverse}"></span>
                                        </th>

                                        <th class="width-140px">@Resource.Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-class="{'deleted':form.IsDeleted}" dir-paginate="form in FormList | itemsPerPage: FormListPager.pageSize" total-items="FormListPager.totalRecords" current-page="FormListPager.currentPage" pagination-id="FormListPagerID">

                                        <td>{{ form.Name }}</td>
                                        <td>{{ form.FormLongName }}</td>
                                        <td>{{ form.Version }}</td>
                                        <td>{{ form.FormCategory }}</td>

                                        <td class="">
                                            @if (Common.HasPermission(Constants.HC_Permission_PatientIntake_Forms_Add))
                                            {
                                                <a class="btn btn-xs btn-success" target="_blank" data-ng-show="form.HasHtml || form.IsInternalForm || form.IsOrbeonForm" data-ng-click="OpenNewHtmlForm(form)">@Resource.AddNew</a>
                                                <a class="btn btn-xs yellow-mint" target="_blank" data-ng-show="form.HasPDF" data-ng-click="OpenNewPDFForm(form)">@Resource.PrintPDF</a>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12" data-ng-if="FormList.length > 0">
                <div class="col-sm-3 pull-left no-padding">
                    @Resource.Showing <span data-ng-bind="(FormListPager.pageSize * FormListPager.currentPage) - FormListPager.pageSize  + 1"></span>
                    &nbsp;@Resource.To <span data-ng-bind="(FormListPager.pageSize == FormListPager.currentPageSize) ? (FormListPager.pageSize * FormListPager.currentPage) :(FormListPager.pageSize * FormListPager.currentPage) - FormListPager.pageSize  + FormListPager.currentPageSize"></span>&nbsp;@Resource.Of &nbsp;<span data-ng-bind="FormListPager.totalRecords"></span>&nbsp;@Resource.Records
                </div>
                <div class="pull-right top pagination-sm">
                    <dir-pagination-controls boundary-links="true" on-page-change="FormListPager.pageChanged(newPageNumber)" pagination-id="FormListPagerID"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div data-ng-if="FormList.length == 0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-danger">
                            @Html.Raw(Resource.NoRecordsFound)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
