<div class="col-sm-12 no-padding">
    <h4 class="caption">
        <span class="font-green sbold uppercase">{{commonDetailPopover.FacilityName}}</span> 
        @*<small class="caption-helper">(#{{commonDetailPopover.AHCCCSID}} #{{commonDetailPopover.EIN}})</small>*@ 
        <small><span class="label label-mini label-inverse margin-right-05 ng-binding">AHCCCS ID: {{commonDetailPopover.AHCCCSID}}</span>
            <span class="label label-mini label-success ng-binding">EIN: {{commonDetailPopover.EIN}}</span></small>
    </h4>
    
    <div class="col-sm-6 no-padding">
        <strong class="">@Resource.HouseCapacity :</strong> <span class="">{{commonDetailPopover.BadCapacity}} </span> 
    </div>
    <div class="col-sm-6 no-padding">
        <strong class="">@Resource.PrivateRoom :</strong> <span class="">{{commonDetailPopover.PrivateRoomCount}} </span> 
    </div>
    <strong>@Resource.ApprovedPayors :</strong> <span class="margin-top-5 margin-bottom-5 about-text">{{commonDetailPopover.PayorApproved? commonDetailPopover.PayorApproved: '@Resource.NA'}}</span>
    <br/>
    <strong>@Resource.Address :</strong>&nbsp; {{commonDetailPopover.Address? commonDetailPopover.Address: '@Resource.NA'}}
    <div class="space10"></div>
</div>