@model HC_AddReferralModel
@{bool isEditMode = Model != null && Model.Referral.ReferralID > 0;}

<div class="row">
    <div class="col-sm-12">
        <div class="fscontainer">
            <div class="legend">
                @Resource.PatientPreferencesAndSkills
            </div>
            <div class="patientContainermain">
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label class="control-label">@Resource.Preference</label>
                            <input type="text"
                                   token-input
                                   ng-val="PreferenceName"
                                   textfield='PreferenceName'
                                   valuefield='PreferenceName'
                                   searchurl="{{SearhSkillURL}}"
                                   placeholder="@Resource.EnterPreference"
                                   tokenlimit='1'
                                   onresultsformatter='PreferenceResultsFormatter'
                                   ontokenformatter="PreferenceTokenFormatter"
                                   onaddedcallback='AddedPreference'
                                   autoSelectFirstResult="true"
                                   minChars="1"
                                   tokeninputobj="PreferenceTokenObj"
                                   id="ProductTagTkn"
                                   customclass="form-control input-sm" />
                            @*@Html.TextBoxFor(q => q.Referral.RecordRequestEmail,
                                 new
                                     {
                                         @class = "form-control input-sm  validateElement",
                                         data_error_Count = "ReferralErrorCount.ClientTab",
                                         data_ng_model = "ReferralModel.Referral.RecordRequestEmail",
                                         placeholder = @Resource.RecordRequestEmail,
                                         //maxlength = 50
                                     })
                                @Html.ValidationMessageFor(q => q.Referral.RecordRequestEmail)*@
                        </div>
                        <div class="form-group">
                            <div class="badge_main">
                                <span data-ng-repeat="item in ListPreference">
                                    <span class="badge-default badge-success ">
                                        {{item.PreferenceName}}
                                        <a href="javascript:void(0)" data-ng-click="DeletePreference(item,$index)" class="fa fa-times" aria-hidden="true"></a>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6">
                        <label class="control-label">@Resource.RequiredSkills</label>
                        <div>
                            <select class="form-control input-sm selectpicker" multiple data-buttonstyle="btn-sm btn-default"
                                    selectpicker="ReferralSkillList" name="ReferralSkillList"
                                    title="Select Skills">
                                <option ng-repeat="item in SkillList" value="{{item.PreferenceID}}">{{item.PreferenceName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
