@{
    ViewBag.Title = Resource.EmployeeCalender;
    Layout = Model.IsPartial ? null : "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedMenuItem = Resource.SMI_EmpCalenderModel;
}
@model HC_EmpCalenderModel
@Html.Hidden("hdnEmpCalenderModel", Common.SerializeObject(Model))
@section Styles{
    @Styles.Render("~/assets/css/viewjs/siteApp/schedule/scheduleassignmentinhome")
}
<div data-ng-controller="EmployeeCalenderController" class="employeeCalanderWrapper">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <form id="frmEmpCalender">
                <div class="formInnerMain">
                    <div class="form-group col-lg-3 col-md-4 col-sm-6">
                        @*<label class="control-label">@Resource.Employee</label>*@
                        @*@if (Model.IsPartial == true)
        {
            <div class="employeeselect card">
                <div class="card-inner">
                    <h4>Name <span>ARMSTRONG, RIA</span></h4>
                    <p>Schedule Start Date <span>22/02/2020</span></p>
                    <p> End Date <span>28/02/2020</span></p>
                    <p>Lorem Ipsum Dolor Sit amet</p>
                </div>
            </div>
        }
        else
        {
            <div class="employeeSelect">
                <select class="form-control input-sm" single="single" title="@Resource.SelectEmployee"
                        data-val="true"
                        selectpicker="SearchEmpCalender.EmployeeID" name="SearchEmpCalender.EmployeeID"
                        disabled="@(Model.IsPartial==true)">
                    <option data-ng-repeat="option in EmpCalenderModel.EmployeeList" value="{{option.EmployeeID}}">{{option.EmployeeName}}</option>
                </select>
            </div>
        }*@
                        <div class="employeeSelect">
                            <select class="form-control input-sm" single="single" title="@Resource.SelectEmployee"
                                    data-val="true"
                                    selectpicker="SearchEmpCalender.EmployeeID" name="SearchEmpCalender.EmployeeID"
                                    disabled="@(Model.IsPartial==true)">
                                <option data-ng-repeat="option in EmpCalenderModel.EmployeeList" value="{{option.EmployeeID}}">{{option.EmployeeName}}</option>
                            </select>
                        </div>
                    </div><!--Form group End-->

                    <div class="form-group col-lg-2 col-md-3 col-sm-6">
                        @{ Html.EnableClientValidation(false); }
                        <div class="input-group date" datepicker="SearchEmpCalender.StartDate" data-ng-dateval="SearchEmpCalender.StartDate">
                            @Html.TextBoxFor(q => q.SearchEmpCalender.StartDate,
                            new
                            {
                                @class = "form-control input-sm dateInputMask",
                                placeholder = Resource.StartDate,
                            })
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div><!--Form group End-->

                    <div class="form-group col-lg-2 col-md-3 col-sm-6">
                        <button type="button" class="btn btn-sm btn-primary"
                                data-ng-click="SeachAndGenerateCalenders()" title="@Resource.Search">
                            @Resource.Search
                        </button>
                        @*<button type="button" class="btn btn-default border-grey-cascade margin-left-10 btn-sm" data-ng-click="CalenderRefresh()"  title="@Resource.Refresh">
                    @Resource.Refresh
                </button>*@
                    </div><!--Form group End-->
                </div>
              
                <div class="calenderBottomBtn">
                    
                    <button type="button" class="btn btn-primary btn-sm padding-left-right-10" ng-click="printToCart('CalenderPrint')" title="Print PDF">
                        Print PDF
                    </button>
                </div>

                @*<div ng-click="printToCart('CalenderPrint')">
            <i class="font-red-soft fa fa-file-pdf-o" style="font-size: 25px;padding-left: 315px"></i>
        </div>*@
            </form><!--End Form Here-->

            <div class="row">
                <div class="col-sm-12">
                    <div class="calander-main" data-ng-repeat="calenderItem in CalendarList" id="CalenderPrint">
                        <div data-ng-scalender="calenderItem" class="has-toolbar customCalender"
                             data-ng-editable="false"
                             data-ng-draggable="false"
                             data-ng-droppable="false"
                             data-ng-defaultview="'month'"
                             data-ng-weekstartday="@Common.GetCalWeekStartDay()"
                             data-ng-aspectratio="2.65"
                             data-ng-startdate="SearchEmpCalender.StartDate"
                             data-ng-get-event-list="GetScheduleList"
                             data-ng-resourcelist="GetResourcesList"
                             data-ng-on-event-render="EventRender"
                             data-ng-on-resource-render="ResourceRender"
                             @*
                                 data-ng-on-event-order="EventOrder"
                                 data-ng-on-day-render="DayRender"
                                 ng-after-all-event-render="AllEventRender"
                                 data-ng-startdate="SelectedWeekObj.StartDate"
                                 data-ng-hiddendays="SelectedWeekObj.WeekDaysToHide"*@>
                        </div>
                    </div>
                </div>
            </div><!--Row End-->
        </div>
    </div><!--Row End-->
</div>

<!--Script Start Here-->
<script id="empReource" type="text/ng-template">
    <span>
        <span class="text-decoration-none font-size-12" data-ng-bind="DataModel.resourceObj.EmployeeName"></span>
        <span style="padding: 10px;float: left;" data-ng-style="{'background-color':DataModel.resourceObj.eventColor}"></span>
    </span>
</script>

<script id="calendereventmarker" type="text/ng-template">
    @Html.Partial("Partial/_CalenderEventMarker")
</script>

<script id="eventdetailpopover" type="text/ng-template">
    @Html.Partial("Partial/_EventDetailPopover")
</script>

@section Scripts{
    @if (!Model.IsPartial)
    {
        @Scripts.Render("~/assets/js/viewjs/siteApp/Areas/HomeCare/employee/employeecalender")
    }
}
<!--End Script Start Here-->
