@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, "Employee ID Card");
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    CacheHelper _cacheHelper = new CacheHelper();
    
}
@model HC_AddEmployeeModel
@Html.Hidden("hdnEmployeeModel", Common.SerializeObject(Model))

<div class="asideBar-content">
    <div class="tabbable tabbable-custom boxless">
            <div id="tab_AddEmployee">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="identity-card-container">
                            <div class="card-block">
                                <div class="card-header">@Model.Organization.SiteName</div>
                                <div class="card-content">
                                    <div class="card-content-left">
                                        <div class="profile-image">
                                            @if (Model.Employee.ProfileImagePath != null)
                                            {
                                                <img ng-src=@Model.Employee.ProfileImagePath />
                                            }
                                            @if (Model.Employee.ProfileImagePath == null)
                                            {
                                                <img src="~/Assets/images/NoImage.png" style="height:120px" />
                                            }
                                        </div>
                                        <div class="content-text">
                                            <p class="big-name"><strong>@Model.Employee.EmployeeName</strong><br />@Model.Employee.DesignationName</p>
                                            <p class="small-text"><strong>EMP Id :</strong> &nbsp;@Model.Employee.EmployeeUniqueID</p>
                                            @*<p class="small-text"><strong>NPI # No.</strong> <br />@Model.Employee.HHA_NPI_ID</p>*@
                                        </div>
                                    </div>
                                    <div class="card-content-right">
                                        <div class="activated-div"><img data-ng-src=@Model.Organization.SiteLogo /> </div>
                                        <div style="height:15px"></div>
                                        <div class="signature-block"><img data-ng-src=@Model.Employee.TempSignaturePath /><br /><p>Signatue</p></div>
                                    </div>
                                    <div class="card-footer">
                                        Powered by <img src="~/Assets/images/marketing_logo.png" /> Myezcare LLC
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
     @*<script type="text/javascript" src="https://cdn.rawgit.com/AlphaGit/ng-pattern-restrict/master/src/ng-pattern-restrict.min.js"></script>*@
       <link href="~/Assets/css/sitecss/myEzCarelight.css" rel="stylesheet" />