@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, Resource.EmployeeList);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedMenuItem = Resource.SMI_EmployeeList;
}
@model SetEmployeeListPage
@Html.Hidden("hdnSetEmployeeListPage", Common.SerializeObject(Model))
@*@model HC_AddEmployeeModel
    @Html.Hidden("hdnHC_AddEmployeeModel", Common.SerializeObject(Model))*@




<div data-ng-controller="EmployeeListController" ng-init="myVar = true">
    <div class="page-bar">
        <h3 class="page-title">
            @Resource.ListOfEmployees &nbsp;@*<small>@Resource.EmployeeInformation</small>*@
            @*<a href="{{AddEmployeeURL}}" class="letter-space btn btn-sm green-jungle pull-right"><i class="fa fa-plus">&nbsp;&nbsp;</i>@Resource.Employee</a>*@
        </h3>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="list-top-head">
                <div class="list-top-head-left">
                    <div class="btn-group">
                        <button class="form-control btn-sm" data-ng-click="Refresh()">
                            <i class="fa fa-refresh"></i>&nbsp;&nbsp;@Resource.Refresh
                        </button>
                    </div>

                    <div class="btn-group">
                        @Html.DropDownListFor(m => m.SearchEmployeeModel.IsDeleted, Model.DeleteFilter.ToSelectList(Convert.ToString(Model.SearchEmployeeModel.IsDeleted), "Name", "Value", "", ""),
                             new
                             {
                                 id = "IsDeleted",
                                 data_ng_model = "TempSearchEmployeeModel.IsDeleted",
                                 data_ng_init = "TempSearchEmployeeModel.IsDeleted = TempSearchEmployeeModel.IsDeleted==null?'-1':TempSearchEmployeeModel.IsDeleted.toString()",
                                 @class = "form-control btn-sm",
                                 data_ng_change = "SearchEmployee()"
                             })
                    </div>

                    @if (Common.HasPermission(Constants.HC_Permission_Employee_Delete))
                    {
                        <div class="btn-group" data-ng-if="SelectedEmployeeIds.length > 0">
                            <button type="button" data-ng-click="DeleteEmployee()" class="form-control btn-sm">
                                <i class="fa fa-random margin-right-10"></i>{{TempSearchEmployeeModel.IsDeleted==0?'@Resource.DeleteSelected' :(TempSearchEmployeeModel.IsDeleted==1?'@Resource.ActiveSelected':'@Resource.ActiveDeleteInverse')}}
                            </button>
                        </div>
                    }
                    @*Akhilesh changes for bulkSchedule Start*@
                    <div class="btn-group padding-left-0">

                        <select class="form-control btn-sm" ng-model="BulkSchedule" ng-change="BulkScheduleModel()">
                            <option value="">Select</option>
                            <option value="BulkSchedule">Bulk Schedule</option>
                            <option value="SendBulkEmail">Send Bulk Email</option>
                            <option value="SendBulkRegistrationEmail">Send Bulk Registration Email</option>


                        </select>
                    </div>

                    @*<div class="btn-group" data-ng-if="SelectedEmployeeIds.length > 0">
                        <button class="form-control btn-sm" ng-click="SendBulkRegistrationEmail()">
                            <i class="fa fa-envelope"></i>&nbsp;&nbsp;Registration Email
                        </button>
                    </div>
                    <div class="btn-group" data-ng-if="SelectedEmployeeIds.length > 0">
                        <button class="form-control btn-sm" ng-click="SendBulkEmail()">
                            <i class="fa fa-envelope"></i>&nbsp;&nbsp;Send Bulk Email
                        </button>
                    </div>*@

                    <div class="btn-group" data-ng-if="SelectedEmployeeIds.length > 0">
                        <button class="form-control btn-sm" data-toggle="modal" data-target="#BulkGroupModel" ng-click="GetEmployeeGroupList();">
                            Update Group
                        </button>
                    </div>



                    <div id="BulkScheduleModel" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="OnCloseModel()"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title" id="H1" data-ng-hide="ETSMaster.EmployeeTimeSlotMasterID>0">@Resource.AddEmployeeSchedule</h4>
                                    <h4 class="modal-title" id="H1" data-ng-show="ETSMaster.EmployeeTimeSlotMasterID>0">@Resource.UpdateEmployeeSchedule</h4>
                                </div>
                                <div class="modal-body">
                                    @Html.Action("PartialBulkEmployeeTimeSlots", "Employee", new { id = Model.SearchEmployeeModel.EmployeeId })
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="BulkGroupModel" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="OnCloseModel()"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title" id="H1" data-ng-hide="ETSMaster.EmployeeTimeSlotMasterID>0">Update Bulk Employee Group</h4>

                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label class="control-label required">Select Group(s)</label>
                                                            @*<select class="form-control input-sm requiredStrip" title="@Resource.Select"
                                                                        data-ng-model="groups" name="" id=""
                                                                        data-ng-disabled="@(Common.HasPermission(Constants.HC_Permission_Employee_Group_AddUpdate) ? "false" : "true")">
                                                                    <option value="">@Resource.Select</option>
                                                                    <option data-ng-repeat="option in GroupList" value="{{option.Value}}">{{option.Title}}</option>
                                                                </select>*@

                                                            <select class="form-control input-sm requiredStrip" multiple title="@Resource.Select" id="multipleSelect"
                                                                    data-val="true" data-ng-model="groupids" selectpicker="SelectedGroups"
                                                                    data-ng-disabled="@(Common.HasPermission(Constants.HC_Permission_Employee_Group_AddUpdate) ? "false" : "true")">
                                                                <option data-ng-repeat="option in GroupList" value="{{option.Value}}">{{option.Title}}</option>
                                                            </select>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <button type="button" class="btn btn-danger" id="btncancel">@Resource.Cancel</button>
                                            <button type="submit" class="btn green-jungle" ng-click="BulkEmployeeGroupUpdate()">@Resource.Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Akhilesh changes for bulkSchedule End*@
                </div>
                @if (Common.HasPermission(Constants.HC_Permission_Employee_AddUpdate))
                {
                    <div class="btn-group padding-left-15">
                        @*<a href="{{AddEmployeeURL}}" class="letter-space btn btn-sm green-jungle"><i class="fa fa-plus">&nbsp;&nbsp;</i>@Resource.Add Employee</a>*@
                        <button class="letter-space btn btn-sm green-jungle" data-ng-click="EmployeeEditModel(employee.EncryptedEmployeeID)" name="AddEmployee" autocomplete="autocomplete_off_hack_xfr4!k"><i class="fa fa-plus">&nbsp;&nbsp;</i>@Resource.Add Employee</button>
                    </div>
                }

                @*<div class="inline-block pull-right" data-ng-show="EmployeeList.length > 0">
                        <div class="pull-right margin-left-5">
                            <dir-pagination-controls boundary-links="true" max-size="EmployeeListPager.maxSize" on-page-change="EmployeeListPager.pageChanged(newPageNumber)" pagination-id="EmployeeListPager"></dir-pagination-controls>
                        </div>
                    </div>*@
            </div>
        </div>
        <div class="space15"></div>
    </div>
    <div>

        <div class="row form-group margin-top-8 margin-bottom-3">

            <div class="col-sm-1 small-select padding-right-0">
                <div class="fields">
                    <label class="control-label">@Resource.EmployeeID</label>
                    @Html.TextBoxFor(m => m.SearchEmployeeModel.EmployeeUniqueID, new { data_ng_model = "TempSearchEmployeeModel.EmployeeUniqueID", data_ng_change = "SearchEmployee()", @class = "form-control input-sm", placeholder = Resource.EmployeeID, maxlength = 50 })
                </div>
            </div>

            <div class="col-sm-1 small-select padding-right-0">
                <div class="fields">
                    <label class="control-label">@Resource.Name</label>
                    @Html.TextBoxFor(m => m.SearchEmployeeModel.Name, new { data_ng_model_options = "{ debounce: 1000 }", data_ng_model = "TempSearchEmployeeModel.Name", data_ng_change = "SearchEmployee()", @class = "form-control input-sm", placeholder = Resource.Name, maxlength = 50 })
                </div>
            </div>

            <div class="col-sm-1 small-select padding-right-0">
                <div class="fields">
                    <label class="control-label">@Resource.Email</label>
                    @Html.TextBoxFor(m => m.SearchEmployeeModel.Email, new { data_ng_model = "TempSearchEmployeeModel.Email", data_ng_change = "SearchEmployee()", @class = "form-control input-sm", placeholder = Resource.Email, maxlength = 50 })
                </div>
            </div>

            <div class="col-sm-1 small-select padding-right-0">
                <div class="fields">
                    <label class="control-label">@Resource.Designation</label>
                    @Html.DropDownListFor(p => p.DesignationList, Model.DesignationList.ToSelectList(Model.DesignationList.ToString() ?? "", "DesignationName", "DesignationID", Resource.Designation, ""),
                          new
                          {
                              data_ng_model = "TempSearchEmployeeModel.DesignationID",
                              data_ng_init = "TempSearchEmployeeModel.DesignationID=TempSearchEmployeeModel.DesignationID==''?null:TempSearchEmployeeModel.DesignationID",
                              data_ng_change = "SearchEmployee()",
                              @class = "form-control input-sm",
                              data_val = false,
                              convert_to_number = ""
                          })
                </div>
            </div>

            <div class="col-sm-1 small-select padding-right-0">
                <div class="fields">
                    <label class="control-label">@Resource.Role</label>
                    @Html.DropDownListFor(p => p.SearchEmployeeModel.RoleID, Model.RoleList.ToSelectList(Model.SearchEmployeeModel.RoleID.ToString() ?? "", "RoleName", "RoleID", Resource.SelectRole, ""),
                          new
                          {
                              data_ng_model = "TempSearchEmployeeModel.RoleID",
                              data_ng_init = "TempSearchEmployeeModel.RoleID=TempSearchEmployeeModel.RoleID==''?null:TempSearchEmployeeModel.RoleID",
                              data_ng_change = "SearchEmployee()",
                              @class = "form-control input-sm",
                              data_val = false,
                              convert_to_number = ""
                          })
                </div>
            </div>

            <div class="col-sm-1 small-select padding-right-0">
                <div class="fields">
                    <label class="control-label">@Resource.MobileNumber</label>
                    @Html.TextBoxFor(m => m.SearchEmployeeModel.MobileNumber, new
               {
                   data_ng_model = "TempSearchEmployeeModel.MobileNumber",
                   data_ng_change = "SearchEmployee()",
                   @class = "form-control input-sm",
                   placeholder = Resource.MobileNumber,
                   maxlength = 10
               })
                </div>
            </div>

            <div class="col-sm-1 small-select padding-right-0">
                <div class="fields">
                    <label class="control-label">Group(s)</label>
                    <select class="form-control input-sm" multiple title="@Resource.Select" id="multipleSelect1"
                            data-val="true" data-ng-model="TempSearchEmployeeModel.GroupIds" data-ng-change = "SearchEmployee()" selectpicker="SelectedGroups"
                            data-ng-disabled="@(Common.HasPermission(Constants.HC_Permission_Employee_Group_AddUpdate) ? "false" : "true")">
                        <option data-ng-repeat="option in GroupList" value="{{option.Value}}">{{option.Title}}</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-1 padding-right-0">
                <div class="clockIn-btn">
                    <input type='submit' class="btn btn-sm btn-default bg-gray-color" value="@Resource.Search" data-ng-click="SearchEmployee()" />
                </div>
            </div>

            <div class="col-sm-1 padding-right-0">
                <div class="clockIn-btn">
                    <input type='button' class="btn btn-sm btn-default bg-gray-color" value="@Resource.Reset" data-ng-click="ResetSearchFilter()" />
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="portlet-body compact" style="display: block;">
                    <div class="table-responsive" style="overflow-x: inherit;">
                        <form id="frmemployeelist">
                            <table class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        @*@if (Common.HasPermission(Constants.HC_Permission_Employee_Delete))
        {
            <th class="width-20px"></th>
        }*@

                                        @if (Common.HasPermission(Constants.HC_Permission_Employee_Delete))
                                        {
                                            <th class="text-align-center">
                                                <div class="btn-group" data-ng-show="EmployeeList.length > 0">
                                                    <input id="SelectAllEmployee" class="unicheckbox" type="checkbox" data-ng-model="SelectAllCheckbox" data-ng-change="SelectAll()" val="SelectAllCheckbox">
                                                    <label for="SelectAllEmployee"></label>
                                                </div>
                                            </th>
                                        }

                                        <th width="50"></th>
                                        <th class="">
                                            <a class="anchor_color" href="javascript:void(0);" data-ng-click="EmployeeListPager.sortColumn('EmployeeUniqueId')">@Resource.EmployeeID</a>
                                            <span class="sortorder" data-ng-show="EmployeeListPager.sortIndex === 'EmployeeUniqueId'" data-ng-class="{reverse:EmployeeListPager.reverse}"></span>
                                        </th>
                                        <th class="">
                                            <a class="anchor_color" href="javascript:void(0);" data-ng-click="EmployeeListPager.sortColumn('Name')">@Resource.Name</a>
                                            <span class="sortorder" data-ng-show="EmployeeListPager.sortIndex === 'Name'" data-ng-class="{reverse:EmployeeListPager.reverse}"></span>
                                        </th>

                                        <th>
                                            <a class="anchor_color" href="javascript:void(0);" data-ng-click="EmployeeListPager.sortColumn('Email')">@Resource.Email</a>
                                            <span class="sortorder" data-ng-show="EmployeeListPager.sortIndex === 'Email'" data-ng-class="{reverse:EmployeeListPager.reverse}"></span>
                                        </th>
                                        @*<th>
            <a class="anchor_color" href="javascript:void(0);" data-ng-click="EmployeeListPager.sortColumn('DepartmentName')">@Resource.Department</a>
            <span class="sortorder" data-ng-show="EmployeeListPager.sortIndex === 'DepartmentName'" data-ng-class="{reverse:EmployeeListPager.reverse}"></span>
        </th>
        <th>
            <a class="anchor_color" href="javascript:void(0);" data-ng-click="EmployeeListPager.sortColumn('IsDepartmentSupervisor')">@Resource.IsSupervisor</a>
            <span class="sortorder" data-ng-show="EmployeeListPager.sortIndex === 'IsDepartmentSupervisor'" data-ng-class="{reverse:EmployeeListPager.reverse}"></span>
        </th>*@
                                        <th>
                                            <a class="anchor_color" href="javascript:void(0);" data-ng-click="EmployeeListPager.sortColumn('Designation')">@Resource.Designation</a>
                                            <span class="sortorder" data-ng-show="EmployeeListPager.sortIndex === 'Designation'" data-ng-class="{reverse:EmployeeListPager.reverse}"></span>
                                        </th>
                                        <th>
                                            <a class="anchor_color" href="javascript:void(0);" data-ng-click="EmployeeListPager.sortColumn('RoleName')">@Resource.Role</a>
                                            <span class="sortorder" data-ng-show="EmployeeListPager.sortIndex === 'RoleName'" data-ng-class="{reverse:EmployeeListPager.reverse}"></span>
                                        </th>
                                        <th>
                                            <a class="anchor_color" href="javascript:void(0);" data-ng-click="EmployeeListPager.sortColumn('MobileNumber')">@Resource.MobileNumber</a>
                                            <span class="sortorder" data-ng-show="EmployeeListPager.sortIndex === 'MobileNumber'" data-ng-class="{reverse:EmployeeListPager.reverse}"></span>
                                        </th>
                                        <th>
                                            <a class="anchor_color" href="javascript:void(0);" data-ng-click="EmployeeListPager.sortColumn('Address')">Group(s)</a>
                                            <span class="sortorder" data-ng-show="EmployeeListPager.sortIndex === 'Address'" data-ng-class="{reverse:EmployeeListPager.reverse}"></span>
                                        </th>
                                        <th class="actionTh text-align-center">
                                            <a class="anchor_color" href="javascript:void(0);" data-ng-click="EmployeeListPager.sortColumn('IsAbleToReceiveNotification')">App Installed</a>
                                            <span class="sortorder" data-ng-show="EmployeeListPager.sortIndex === 'IsAbleToReceiveNotification'" data-ng-class="{reverse:EmployeeListPager.reverse}"></span>
                                        </th>

                                        <th width="125" class="actionTh text-align-center">@Resource.Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr class="compact-search-tr">
                                        @if (Common.HasPermission(Constants.HC_Permission_Employee_Delete))
                                        {
                                            <td>
                                                <div class="btn-group" data-ng-show="EmployeeList.length > 0">
                                                    <input id="SelectAllEmployee" class="unicheckbox" type="checkbox" data-ng-model="SelectAllCheckbox" data-ng-change="SelectAll()" val="SelectAllCheckbox">
                                                    <label for="SelectAllEmployee"></label>
                                                </div>
                                            </td>
                                        }
                                        <td></td>
                                        <td>
                                            @Html.TextBoxFor(m => m.SearchEmployeeModel.EmployeeUniqueID, new { data_ng_model = "TempSearchEmployeeModel.EmployeeUniqueID", @class = "form-control input-sm", placeholder = Resource.EmployeeID, maxlength = 50 })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.SearchEmployeeModel.Name, new { data_ng_model = "TempSearchEmployeeModel.Name", @class = "form-control input-sm", placeholder = Resource.Name, maxlength = 50 })
                                        </td>

                                        <td>
                                            @Html.TextBoxFor(m => m.SearchEmployeeModel.Email, new { data_ng_model = "TempSearchEmployeeModel.Email", @class = "form-control input-sm", placeholder = Resource.Email, maxlength = 50 })
                                        </td>

                                        <td>
                                            @Html.DropDownListFor(p => p.DesignationList, Model.DesignationList.ToSelectList(Model.DesignationList.ToString() ?? "", "DesignationName", "DesignationID", Resource.Designation, ""),
                                                                            new
                                                                            {
                                                                                data_ng_model = "TempSearchEmployeeModel.DesignationID",
                                                                                data_ng_init = "TempSearchEmployeeModel.DesignationID=TempSearchEmployeeModel.DesignationID==''?null:TempSearchEmployeeModel.DesignationID",
                                                                                @class = "form-control input-sm",
                                                                                data_val = false,
                                                                                convert_to_number = ""
                                                                            })

                                        </td>
                                        <td>
                                            @Html.DropDownListFor(p => p.SearchEmployeeModel.RoleID, Model.RoleList.ToSelectList(Model.SearchEmployeeModel.RoleID.ToString() ?? "", "RoleName", "RoleID", Resource.SelectRole, ""),
                                                                            new
                                                                            {
                                                                                data_ng_model = "TempSearchEmployeeModel.RoleID",
                                                                                data_ng_init = "TempSearchEmployeeModel.RoleID=TempSearchEmployeeModel.RoleID==''?null:TempSearchEmployeeModel.RoleID",
                                                                                @class = "form-control input-sm",
                                                                                data_val = false,
                                                                                convert_to_number = ""
                                                                            })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.SearchEmployeeModel.MobileNumber, new
                                            {
                                                data_ng_model = "TempSearchEmployeeModel.MobileNumber",
                                                @class = "form-control input-sm",
                                                placeholder = Resource.MobileNumber,
                                                maxlength = 10
                                            })
                                        </td>
                                        <td>
                                            <select class="form-control input-sm" multiple title="@Resource.Select" id="multipleSelect1"
                                                    data-val="true" data-ng-model="TempSearchEmployeeModel.GroupIds" selectpicker="SelectedGroups"
                                                    data-ng-disabled="@(Common.HasPermission(Constants.HC_Permission_Employee_Group_AddUpdate) ? "false" : "true")">
                                                <option data-ng-repeat="option in GroupList" value="{{option.Value}}">{{option.Title}}</option>
                                            </select>

                                        </td>
                                        <td>
                                            <input type="submit" value="@Resource.Search" class="btn btn-default grey btn-xs float-left" data-ng-click="SearchEmployee()" />
                                            <a href="javascript:void(0);" class="btn btn-default grey btn-xs" data-ng-click="ResetSearchFilter()">@Resource.Reset</a>
                                        </td>
                                    </tr>*@

                                    <tr data-ng-class="{'deleted':employee.IsDeleted}" dir-paginate="employee in EmployeeList | itemsPerPage: EmployeeListPager.pageSize" total-items="EmployeeListPager.totalRecords" current-page="EmployeeListPager.currentPage" pagination-id="EmployeeListPager">
                                        @if (Common.HasPermission(Constants.HC_Permission_Employee_Delete))
                                        {
                                            <td>
                                                <input type="checkbox" data-ng-if="employee.EmployeeID.toString() != LoggedInUserId" class="unicheckbox text-align-center" data-ng-model="employee.IsChecked" data-ng-change="SelectEmployee(employee)" val="employee.IsChecked">
                                            </td>
                                        }
                                        <td class="image-td">
                                            <div ng-if="employee.ProfileImagePath !=null" class="avatar">
                                                <img ng-src="{{employee.ProfileImagePath}}" />
                                            </div>
                                            <div ng-if="employee.ProfileImagePath ==null" class="avatar">
                                                <div class="profileImgList" data-ng-bind="employee.FirstNameChar"></div>
                                            </div>

                                        </td>
                                        <td data-ng-bind="employee.EmployeeUniqueID"></td>
                                        <td class="width-250px">
                                            <label data-ng-click="EmployeeEditModel(employee.EncryptedEmployeeID)"><span data-ng-bind="employee.Name"></span></label>
                                            @*<a href="{{AddEmployeeURL+employee.EncryptedEmployeeID}}" class=""><span data-ng-bind="employee.Name"></span></a>*@
                                            @*{{employee.EmployeeSignatureID}}*@
                                            @*<span class="pull-right">
                <span class="badge bg-purple"  title="@Resource.SignatureAvailable" data-ng-show="employee.EmployeeSignatureID!=undefined && employee.EmployeeSignatureID>0">S</span>
                <span class="badge badge-success"  title="@Resource.LoggedIntoSystem" data-ng-show="employee.IsSecurityQuestionSubmitted">L</span>
            </span>*@
                                        </td>
                                        <td data-ng-bind="employee.Email != null ? employee.Email : '@Resource.NA'"></td>
                                        @*<td data-ng-bind="employee.DepartmentName != null ? employee.DepartmentName : '@Resource.NA'"></td>
        <td data-ng-bind="employee.IsDepartmentSupervisor == 1 ? 'Yes' :'No'"></td>*@
                                        <td data-ng-bind="employee.Designation"></td>
                                        <td data-ng-bind="employee.RoleName"></td>
                                        <td class="width-250px" data-ng-bind="employee.MobileNumber | phoneformat"></td>
                                        <td data-ng-bind="employee.Address"></td>
                                        <td>
                                            <div class="text-center">
                                                <i class="fa fa-check color-green font-size-14" ng-if="employee.IsAbleToReceiveNotification"></i>
                                                <i class="fa fa-times color-red font-size-14" ng-if="!(employee.IsAbleToReceiveNotification)"></i>
                                            </div>
                                        </td>
                                        <td class="text-align-center actions">
                                            @if (Common.HasPermission(Constants.HC_Permission_Employee_AddUpdate))
                                            {
                                                @*<a href="{{AddEmployeeURL+employee.EncryptedEmployeeID}}" ng-click="EmployeeEditModel()" class="btn btn-xs blue">@Resource.Edit </a>*@
                                                <button class="btn btn-xs blue" data-ng-click="EmployeeEditModel(employee.EncryptedEmployeeID)" name="Edit"><i class="fa fa-edit"></i></button>

                                                //As per discussed with jitendra removed validation to hide this button (data-ng-show="employee.EmployeeID.toString() != LoggedInUserId")
                                                @*<a href="javascript:void(0);" data-ng-click="DeleteEmployee(employee.EmployeeID)" data-ng-show="employee.EmployeeID.toString() != LoggedInUserId" class="btn btn-xs red">@Resource.Delete </a>*@
                                            }
                                            @if (Common.HasPermission(Constants.HC_Permission_Employee_Delete))
                                            {
                                                <a href="javascript:void(0);" data-ng-show="employee.IsDeleted && employee.EmployeeID.toString() != LoggedInUserId" data-ng-click="DeleteEmployee(employee.EmployeeID,'@Resource.Active')" class="btn btn-xs green">@Resource.Active</a>
                                                <a href="javascript:void(0);" data-ng-show="!employee.IsDeleted && employee.EmployeeID.toString() != LoggedInUserId" data-ng-click="DeleteEmployee(employee.EmployeeID,'@Resource.Delete')" class="btn btn-xs red"><i class="fa fa-trash"></i></a>
                                            }

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" data-ng-if="EmployeeList.length > 0">
                <div class="col-sm-3 pull-left no-padding">
                    @Resource.Showing <span data-ng-bind="(EmployeeListPager.pageSize * EmployeeListPager.currentPage) - EmployeeListPager.pageSize  + 1"></span>
                    &nbsp;@Resource.To <span data-ng-bind="(EmployeeListPager.pageSize == EmployeeListPager.currentPageSize) ? (EmployeeListPager.pageSize * EmployeeListPager.currentPage) :(EmployeeListPager.pageSize * EmployeeListPager.currentPage) - EmployeeListPager.pageSize  + EmployeeListPager.currentPageSize"></span>&nbsp;@Resource.Of &nbsp;<span data-ng-bind="EmployeeListPager.totalRecords"></span>&nbsp;@Resource.Records

                </div>
                <div class="pull-right top pagination-sm">
                    <dir-pagination-controls boundary-links="true" max-size="EmployeeListPager.maxSize" on-page-change="EmployeeListPager.pageChanged(newPageNumber)" pagination-id="EmployeeListPager"></dir-pagination-controls>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <div data-ng-if="EmployeeList.length == 0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-danger">
                            @Html.Raw(Resource.NoRecordsFound)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="fixedAside" class="asideBar-right fixed">
        <div class="listContentinner">
            <div class="closeasidebar" data-ng-click="EmployeeEditModelClosed()"><i class="fa fa-close"></i></div>
            <iframe id="fixedAsidelDDLBindIFrame" style="position:absolute; top:2%;  bottom:0px; right:0px; width:100%; min-height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
        </div>
    </div>


    @*<div id="fixedAside"class="asideBar-right fixed" >
            <div class="listContentinner">
                <div data-ng-click="EmployeeEditModelClosed()"><i class="fa fa-close"></i></div>
                <iframe id="fixedAsidelDDLBindIFrame" style="position:absolute; top:2%;  bottom:0px; right:0px; width:100%; min-height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
            </div>
        </div>*@

    <div data-ng-controller="SendBulkEmailController">
        @Html.Partial("~/Areas/HomeCare/Views/Referral/Partial/SendBulkEmailModel.cshtml")
    </div>


</div>
@section Scripts{
    @Scripts.Render("~/assets/js/viewjs/siteApp/Areas/HomeCare/employee/employeelist")
    @*@Scripts.Render("~/assets/js/viewjs/siteApp/Areas/HomeCare/referral/SendBulkEmail.js")*@
    @*@Scripts.Render("~/assets/js/viewjs/siteApp/Areas/HomeCare/employee/addemployee")*@

    <script type="text/javascript">
        var DeleteConfirmationMessage = '@string.Format(@Resource.DeleteConfirmationMessage, @Resource.Employee)';
       // var EnableDisableConfirmationMessage = '@string.Format(@Resource.EnableDisableConfirmationMessage, @Resource.Employee)';
        var LoggedInID = '@SessionHelper.LoggedInID';
        var EmployeeReferralExistMessage = '@Resource.EmployeeReferralExistMessage';
        var EmployeeScheduleDelete = '@Resource.EmployeeScheduleDelete';


    </script>
}

