@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, Resource.EmployeeDetails);
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    CacheHelper _cacheHelper = new CacheHelper();
}
@model Employee
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-12" style="text-align:center;">
                <div style="height: 60px;">
                    <img src="@_cacheHelper.TemplateLogo" alt="logo" class="" style="width: 200px;height: 80px;" />
                </div>
                <div style="height: 80px;font-size:25px">
                    <div class="image_with_text" style="width: auto;vertical-align: top;float: none;display: inline-block;margin: 32px 0 0 0;font-weight: bold;">@_cacheHelper.SiteName</div>
                </div>
                @if (Model.IsActive)
                {
                <div class="alert alert-success text-align-center">
                    <b>@Model.EmployeeFullName</b> is working/associated with us as @Model.str_Role.
                </div>
                }
                else
                {
                <div class="alert alert-danger text-align-center">
                    <b>@Model.EmployeeFullName</b> is no longer working/associated with us.
                </div>
                }
            </div>
        </div>
        @if(Model.IsActive)
        {
            <div class="row">
                <div class="col-sm-12" style="text-align:center;">
                    <div>
                        @if (string.IsNullOrEmpty(Model.ProfileImagePath) || string.IsNullOrWhiteSpace(Model.ProfileImagePath))
                        {
                        <img src="~/Assets/images/logoUser_male.jpg" alt="logo" class="" style="width: 150px;height: 150px;" />
                        }
                        else
                        {
                        @*<img src="~/Assets/images/logoUser_female.jpg" alt="logo" class="" style="width: 150px;height: 150px;" />*@
                        <img src="@Model.ProfileImagePath" alt="logo" class="" style="width: 150px;height: 150px;" />
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-3"></div>
                    <strong class="col-sm-3" style="text-align: left;">@Resource.EmployeeID</strong>
                    <div class="col-sm-3  form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" id="txt_recordId" readonly="readonly"
                               value="@Model.EmployeeUniqueID">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3"></div>
                    <strong class="col-sm-3" style="text-align: left;">@Resource.EmployeeName</strong>
                    <div class="col-sm-3  form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" id="txt_recordId" readonly="readonly"
                               value="@Model.EmployeeFullName">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3"></div>
                    <strong class="col-sm-3" style="text-align: left;">@Resource.Designation</strong>
                    <div class="col-sm-3  form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" id="txt_recordId" readonly="readonly"
                               value="@(!string.IsNullOrEmpty(Model.str_Designation) ? Model.str_Designation : " N/A" )">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3"></div>
                    <strong class="col-sm-3" style="text-align: left;">@Resource.Email</strong>
                    <div class="col-sm-3  form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" id="txt_recordId" readonly="readonly"
                               value="@Model.Email">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3"></div>
                    <strong class="col-sm-3" style="text-align: left;">@Resource.NPI</strong>
                    <div class="col-sm-3  form-group form-md-line-input">
                        <input type="text" class="form-control input-sm height-19px" id="txt_recordId" readonly="readonly"
                               value="@Model.HHA_NPI_ID">
                    </div>
                </div>
            </div>
        }
    </div>
</div>
