@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, @Resource.ReceivedIM);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedMenuItem = Resource.SMI_ReceivedIM;
}


<div data-ng-controller="SentReceivedMessageController">
    <div class="row">

        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
            <div class="dashboard-stat blue-hoki">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup">{{ReferralInternalMessageListPager.totalRecords}}</span>
                    </div>
                    <div class="desc col-sm-12">@Resource.UnreadInternalMessageNotification</div>
                </div>
                <a class="more" href="javascript:;" data-ng-click="ViewMoreClick('#ReferralInternalMessageList',ReferralInternalMessageListPager.totalRecords)">@Resource.ViewMore

                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>

    </div>


    <hr />
    <div class="clearfix"></div>

    <div class="dashborad_block">

        <div class="col-sm-12">
            @Html.Partial("/Areas/HomeCare/Views/Home/_Partial/_ReferralInternalMessageList.cshtml")
        </div>
        @*<div class="col-sm-12">
            @Html.Partial("_Partial/_ResolvedReferralInternalMessageList")
        </div>*@
        <div class="clearfix"></div>
    </div>

</div>



@section Scripts{
    @Scripts.Render("~/assets/js/viewjs/siteApp/Areas/HomeCare/employee/sentreceivedsms")
    <script>
        var Reply = '@Resource.Reply';
        var ResolvedComment = '@Resource.ResolvedComment';
    </script>
}