@model AddOrganizationSettingModel
@Html.Hidden("SettingHiddenModel", Common.SerializeObject(Model))
<div data-ng-controller="SystemSettingController">
    <form id="frmsettings">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="fscontainer">
                            <div class="legend">
                                @Resource.BillingSettings
                            </div>
                            <div class="row">
                                <b class="text-decoration-underline clearfix col-lg-12 padding-top-10 padding-bottom-15px">Submitter Details</b>
                                <div class="form-group col-lg-3 col-md-3 col-sm-4">
                                    <label class="control-label">
                                        @Resource.SubmitterName
                                    </label>
                                    <div class="input-group-sm">
                                        @Html.TextBoxFor(q => q.OrganizationSetting.Submitter_NM103_NameLastOrOrganizationName,
                new
                {
                    @class = "form-control input-sm",
                    data_ng_model = "SettingModel.Submitter_NM103_NameLastOrOrganizationName",
                    placeholder = @Resource.SubmitterName,
                    maxlength = 200
                })
                                        @Html.ValidationMessageFor(q => q.OrganizationSetting.Submitter_NM103_NameLastOrOrganizationName)
                                    </div>
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-4">
                                    <label class="control-label">
                                        @Resource.SubmitterIdCode
                                    </label>
                                    <div class="input-group-sm">
                                        @Html.TextBoxFor(q => q.OrganizationSetting.Submitter_NM109_IdCode,
                new
                {
                    @class = "form-control input-sm",
                    data_ng_model = "SettingModel.Submitter_NM109_IdCode",
                    placeholder = @Resource.SubmitterIdCode,
                    maxlength = 80
                })
                                        @Html.ValidationMessageFor(q => q.OrganizationSetting.Submitter_NM109_IdCode)
                                    </div>
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-4">
                                    <label class="control-label ">
                                        @Resource.SubmitterContactName
                                    </label>
                                    <div class="input-group-sm">
                                        @Html.TextBoxFor(q => q.OrganizationSetting.Submitter_EDIContact1_PER02_Name,
                new
                {
                    @class = "form-control input-sm",
                    data_ng_model = "SettingModel.Submitter_EDIContact1_PER02_Name",
                    placeholder = @Resource.SubmitterContactName,
                    maxlength = 100
                })
                                        @Html.ValidationMessageFor(q => q.OrganizationSetting.Submitter_EDIContact1_PER02_Name)
                                    </div>
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-4">
                                    <label class="control-label ">
                                        @Resource.SubmitterPhone
                                    </label>
                                    <div class="input-group-sm">
                                        @Html.TextBoxFor(q => q.OrganizationSetting.Submitter_EDIContact1_PER04_CommunicationNumber,
                new
                {
                    @class = "form-control input-sm",
                    data_ng_model = "SettingModel.Submitter_EDIContact1_PER04_CommunicationNumber",
                    placeholder = @Resource.SubmitterPhone,
                    maxlength = 10
                })
                                        @Html.ValidationMessageFor(q => q.OrganizationSetting.Submitter_EDIContact1_PER04_CommunicationNumber)
                                    </div>
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-4">
                                    <label class="control-label ">
                                        @Resource.SubmitterEmail
                                    </label>
                                    <div class="input-group-sm">
                                        @Html.TextBoxFor(q => q.OrganizationSetting.Submitter_EDIContact1_PER08_CommunicationNumber,
                new
                {
                    @class = "form-control input-sm",
                    data_ng_model = "SettingModel.Submitter_EDIContact1_PER08_CommunicationNumber",
                    placeholder = @Resource.SubmitterEmail,
                    maxlength = 100
                })
                                        @Html.ValidationMessageFor(q => q.OrganizationSetting.Submitter_EDIContact1_PER08_CommunicationNumber)
                                    </div>
                                </div>
                                <b class="text-decoration-underline clearfix col-lg-12 padding-top-10 padding-bottom-15px">Billing Provider Details</b>
                                <div class="form-group col-lg-3 col-md-3 col-sm-4">
                                    <label class="control-label ">
                                        @Resource.BillingProviderName
                                    </label>
                                    <div class="input-group-sm">
                                        @Html.TextBoxFor(q => q.OrganizationSetting.BillingProvider_NM103_NameLastOrOrganizationName,
                new
                {
                    @class = "form-control input-sm",
                    data_ng_model = "SettingModel.BillingProvider_NM103_NameLastOrOrganizationName",
                    placeholder = @Resource.BillingProviderName,
                    maxlength = 200
                })
                                        @Html.ValidationMessageFor(q => q.OrganizationSetting.BillingProvider_NM103_NameLastOrOrganizationName)
                                    </div>
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-4">
                                    <label class="control-label ">
                                        @Resource.BillingProviderIdCode
                                    </label>
                                    <div class="input-group-sm">
                                        @Html.TextBoxFor(q => q.OrganizationSetting.BillingProvider_NM109_IdCode,
                new
                {
                    @class = "form-control input-sm",
                    data_ng_model = "SettingModel.BillingProvider_NM109_IdCode",
                    placeholder = @Resource.BillingProviderIdCode,
                    maxlength = 80
                })
                                        @Html.ValidationMessageFor(q => q.OrganizationSetting.BillingProvider_NM109_IdCode)
                                    </div>
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-4">
                                    <label class="control-label">
                                        @Resource.BillingProviderAddress
                                    </label>
                                    <div class="input-group-sm">
                                        @Html.TextBoxFor(q => q.OrganizationSetting.BillingProvider_N301_Address,
                new
                {
                    @class = "form-control input-sm",
                    data_ng_model = "SettingModel.BillingProvider_N301_Address",
                    placeholder = @Resource.BillingProviderAddress,
                    maxlength = 200
                })
                                        @Html.ValidationMessageFor(q => q.OrganizationSetting.BillingProvider_N301_Address)
                                    </div>
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-4">
                                    <label class="control-label ">
                                        @Resource.BillingProviderCity
                                    </label>
                                    <div class="input-group-sm">
                                        @Html.TextBoxFor(q => q.OrganizationSetting.BillingProvider_N401_City,
                new
                {
                    @class = "form-control input-sm",
                    data_ng_model = "SettingModel.BillingProvider_N401_City",
                    placeholder = @Resource.BillingProviderCity,
                    maxlength = 100
                })
                                        @Html.ValidationMessageFor(q => q.OrganizationSetting.BillingProvider_N401_City)
                                    </div>
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-4">
                                    <label class="control-label ">
                                        @Resource.BillingProviderState
                                    </label>
                                    <div class="input-group-sm">
                                        @Html.TextBoxFor(q => q.OrganizationSetting.BillingProvider_N402_State,
                new
                {
                    @class = "form-control input-sm",
                    data_ng_model = "SettingModel.BillingProvider_N402_State",
                    placeholder = @Resource.BillingProviderState,
                    maxlength = 100
                })
                                        @Html.ValidationMessageFor(q => q.OrganizationSetting.BillingProvider_N402_State)
                                    </div>
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-4">
                                    <label class="control-label ">
                                        @Resource.BillingProviderZipcode
                                    </label>
                                    <div class="input-group-sm">
                                        @Html.TextBoxFor(q => q.OrganizationSetting.BillingProvider_N403_Zipcode,
                new
                {
                    @class = "form-control input-sm",
                    data_ng_model = "SettingModel.BillingProvider_N403_Zipcode",
                    placeholder = @Resource.BillingProviderZipcode,
                    maxlength = 20
                })
                                        @Html.ValidationMessageFor(q => q.OrganizationSetting.BillingProvider_N403_Zipcode)
                                    </div>
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-4">
                                    <label class="control-label">
                                        @Resource.BillingProviderReferenceIdentification
                                    </label>
                                    <div class="input-group-sm">
                                        @Html.TextBoxFor(q => q.OrganizationSetting.BillingProvider_REF02_ReferenceIdentification,
                new
                {
                    @class = "form-control input-sm",
                    data_ng_model = "SettingModel.BillingProvider_REF02_ReferenceIdentification",
                    placeholder = @Resource.BillingProviderReferenceIdentification,
                    maxlength = 100
                })
                                        @Html.ValidationMessageFor(q => q.OrganizationSetting.BillingProvider_REF02_ReferenceIdentification)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
        var loadFile = function (event, imageId) {
            var output = document.getElementById(imageId);
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        var InvalidImageUploadMessage = '@Html.Raw(HttpUtility.JavaScriptStringEncode(@Resource.InvalidImageUploadMessage))';
        var EnableDisableConfirmationMessage = '@string.Format(Resource.EnableDisableConfirmationMessage, Resource.GeneralMaster)';
        var MaximumUploadImageSizeMessage = '@Html.Raw(HttpUtility.JavaScriptStringEncode(@Resource.MaximumUploadFileSizeMessage5MB))';
        var MaxImageUploadSizeInBytes = '@Resource.MaxImageUploadSizeInBytes';
</script>