<div id="PatientNotScheduleList" class="row">
    <div class="col-md-12">
        <div class="portlet box">

            <div class="portlet-title">
                <div class="caption header-font-size-14 uppercase">
                    @Resource.PatientNotScheduleInNext7Days
                    <div class="pull-right padding-left-25" data-ng-show="PatientNotScheduleListAjaxStart">
                        <img src="~/Assets/images/lazyload.gif" />
                    </div>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="fullscreen"></a>
                </div>
            </div>

            <div class="portlet-body table_font-size-12">
                @*<div class="row">
                        <div class="col-sm-12 form-group  padding-right-15" data-ng-if="PatientNotScheduleList.length > 0">
                            <div class="pull-right padding-right-5">
                                <dir-pagination-controls boundary-links="true" on-page-change="PatientNotScheduleListPager.pageChanged(newPageNumber)" pagination-id="PatientNotScheduleListPagerID"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>*@

                <div class="row form-group">
                    <div class="col-sm-4">
                        <div class="fields">
                            <label>@Resource.StarDate</label>
                            <div class="input-group date date-picker pull-right"
                                 datepicker="PatientNotScheduleListSearchModel.StartDate" ng-dateval="PatientNotScheduleListSearchModel.StartDate" data-val="true">
                                <input class="form-control input-sm dateInputMask " placeholder='@Resource.StarDate' maxlength="50" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="fields">
                            <label>@Resource.EndDate</label>
                            <div class="input-group date date-picker pull-right"
                                 datepicker="PatientNotScheduleListSearchModel.EndDate" ng-dateval="PatientNotScheduleListSearchModel.EndDate" data-val="true">
                                <input class="form-control input-sm dateInputMask " placeholder='@Resource.EndDate' maxlength="50" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-2">

                        <div>
                            <input type='submit' class="btn btn-sm btn-default bg-gray-color" value="@Resource.Search" data-ng-click="SearchPatientNotScheduleList()" />
                        </div>
                    </div>
                </div>

                @*<div class="table-responsive">*@
                <div class="row">
                    <div class="col-sm-12">
                        <div class="portlet-body" style="display: block;">
                            <div class="table-responsive">
                                <form id="frmReferralinterMessageList">
                                    <table class="table table-bordered table-striped table-condensed flip-content">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="PatientNotScheduleListPager.sortColumn('Patient')">@Resource.Patient</a>
                                                    <span class="sortorder" data-ng-show="PatientNotScheduleListPager.sortIndex === 'Employee'" data-ng-class="{reverse:PatientNotScheduleListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="PatientNotScheduleListPager.sortColumn('WeeklyAllocatedHours')">@Resource.AllocatedHrs</a>
                                                    <span class="sortorder" data-ng-show="PatientNotScheduleListPager.sortIndex === 'WeeklyAllocatedHours'" data-ng-class="{reverse:PatientNotScheduleListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="PatientNotScheduleListPager.sortColumn('WeeklyUsedHours')">@Resource.ScheduledHrs</a>
                                                    <span class="sortorder" data-ng-show="PatientNotScheduleListPager.sortIndex === 'WeeklyUsedHours'" data-ng-class="{reverse:PatientNotScheduleListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="PatientNotScheduleListPager.sortColumn('WeeklyRemainingHours')">@Resource.RemainingHrs </a>
                                                    <span class="sortorder" data-ng-show="PatientNotScheduleListPager.sortIndex === 'WeeklyRemainingHours'" data-ng-class="{reverse:PatientNotScheduleListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="PatientNotScheduleListPager.sortColumn('UnusedHours')">@Resource.UnscheduledHrs </a>
                                                    <span class="sortorder" data-ng-show="PatientNotScheduleListPager.sortIndex === 'UnusedHours'" data-ng-class="{reverse:PatientNotScheduleListPager.reverse}"></span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="item in PatientNotScheduleList | itemsPerPage: PatientNotScheduleListPager.pageSize" total-items="PatientNotScheduleListPager.totalRecords" current-page="PatientNotScheduleListPager.currentPage" pagination-id="PatientNotScheduleListPagerID">
                                                <td>
                                                    <span data-ng-bind="item.Patient"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.WeeklyAllocatedHours"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.WeeklyUsedHours"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.WeeklyRemainingHours"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.WeeklyUnusedHours"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                @*</div>*@
                <div class="row">
                    <div class="col-sm-12" data-ng-if="PatientNotScheduleList.length > 0">
                        <div class="col-sm-6 pull-left no-left-padding"
                             data-ng-hide="PatientNotScheduleListPager.currentPage==1 && (PatientNotScheduleListPager.currentPageSize < PatientNotScheduleListPager.pageSize)">
                            @Resource.Showing <span data-ng-bind="(PatientNotScheduleListPager.pageSize * PatientNotScheduleListPager.currentPage) -PatientNotScheduleListPager.pageSize  + 1"></span>
                            &nbsp;@Resource.To <span data-ng-bind="(PatientNotScheduleListPager.pageSize == PatientNotScheduleListPager.currentPageSize) ? (PatientNotScheduleListPager.pageSize * PatientNotScheduleListPager.currentPage) :(PatientNotScheduleListPager.pageSize * PatientNotScheduleListPager.currentPage) - PatientNotScheduleListPager.pageSize  + PatientNotScheduleListPager.currentPageSize"></span>&nbsp;@Resource.Of &nbsp;<span data-ng-bind="PatientNotScheduleListPager.totalRecords"></span>&nbsp;@Resource.Records
                        </div>
                        <div class="pull-right">
                            <dir-pagination-controls boundary-links="true" on-page-change="PatientNotScheduleListPager.pageChanged(newPageNumber)" pagination-id="PatientNotScheduleListPagerID"></dir-pagination-controls>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div data-ng-if="PatientNotScheduleList.length == 0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="alert alert-danger">
                                        @Html.Raw(Resource.NoRecordsFound)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br class="clearfix" />
            </div>
        </div>
    </div>

</div>
