<div id="PatientNewList" class="row">
    <div class="col-md-12">
        <div class="portlet box">
            <div class="portlet-title">
                <div class="caption header-font-size-14 uppercase">
                    @Resource.PatientNew
                    <div class="pull-right padding-left-25" data-ng-show="PatientNewListAjaxStart">
                        <img src="~/Assets/images/lazyload.gif" />
                    </div>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="fullscreen"></a>
                </div>
            </div>

            <div class="portlet-body table_font-size-12">
                @*<div class="row">
                        <div class="col-sm-12 form-group  padding-right-15" data-ng-if="PatientNewList.length > 0">
                            <div class="pull-right padding-right-5">
                                <dir-pagination-controls boundary-links="true" on-page-change="PatientNewListPager.pageChanged(newPageNumber)" pagination-id="PatientNewListPagerID"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>*@

                <div class="row form-group">
                    <div class="col-sm-4">
                        <div class="fields">
                            <label>@Resource.StarDate</label>
                            <div class="input-group date date-picker pull-right"
                                 datepicker="PatientNewListSearchModel.StartDate" ng-dateval="PatientNewListSearchModel.StartDate" data-val="true">
                                <input class="form-control input-sm dateInputMask " placeholder='@Resource.StarDate' maxlength="50" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="fields">
                            <label>@Resource.EndDate</label>
                            <div class="input-group date date-picker pull-right"
                                 datepicker="PatientNewListSearchModel.EndDate" ng-dateval="PatientNewListSearchModel.EndDate" data-val="true">
                                <input class="form-control input-sm dateInputMask " placeholder='@Resource.EndDate' maxlength="50" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">

                        <div>
                            <input type='submit' class="btn btn-sm btn-default bg-gray-color" value="@Resource.Search" data-ng-click="SearchPatientNewList()" />
                        </div>
                    </div>
                </div>

                @*<div class="table-responsive">*@
                <div class="row">
                    <div class="col-sm-12">
                        <div class="portlet-body" style="display: block;">
                            <div class="table-responsive">
                                <form id="frmReferralinterMessageList">
                                    <table class="table table-bordered table-striped table-condensed flip-content">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="PatientNewListPager.sortColumn('Patient')">@Resource.Patient</a>
                                                    <span class="sortorder" data-ng-show="PatientNewListPager.sortIndex === 'Patient'" data-ng-class="{reverse:PatientNewListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="PatientNewListPager.sortColumn('CreatedDate')">@Resource.CreatedDate</a>
                                                    <span class="sortorder" data-ng-show="PatientNewListPager.sortIndex === 'CreatedDate'" data-ng-class="{reverse:PatientNewListPager.reverse}"></span>
                                                </th>
                                                <th>
                                                    <a class="anchor_color" href="javascript:void(0);" data-ng-click="PatientNewListPager.sortColumn('CreatedBy')">@Resource.CreatedBy</a>
                                                    <span class="sortorder" data-ng-show="PatientNewListPager.sortIndex === 'CreatedBy'" data-ng-class="{reverse:PatientNewListPager.reverse}"></span>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="item in PatientNewList | itemsPerPage: PatientNewListPager.pageSize" total-items="PatientNewListPager.totalRecords" current-page="PatientNewListPager.currentPage" pagination-id="PatientNewListPagerID">
                                                <td>
                                                    <span data-ng-bind="item.Patient"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.CreatedDate | orgdatetime"></span>
                                                </td>
                                                <td>
                                                    <span data-ng-bind="item.CreatedBy"></span>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                @*</div>*@
                <div class="row">
                    <div class="col-sm-12" data-ng-if="PatientNewList.length > 0">
                        <div class="col-sm-6 pull-left no-left-padding"
                             data-ng-hide="PatientNewListPager.currentPage==1 && (PatientNewListPager.currentPageSize < PatientNewListPager.pageSize)">
                            @Resource.Showing <span data-ng-bind="(PatientNewListPager.pageSize * PatientNewListPager.currentPage) -PatientNewListPager.pageSize  + 1"></span>
                            &nbsp;@Resource.To <span data-ng-bind="(PatientNewListPager.pageSize == PatientNewListPager.currentPageSize) ? (PatientNewListPager.pageSize * PatientNewListPager.currentPage) :(PatientNewListPager.pageSize * PatientNewListPager.currentPage) - PatientNewListPager.pageSize  + PatientNewListPager.currentPageSize"></span>&nbsp;@Resource.Of &nbsp;<span data-ng-bind="PatientNewListPager.totalRecords"></span>&nbsp;@Resource.Records
                        </div>
                        <div class="pull-right">
                            <dir-pagination-controls boundary-links="true" on-page-change="PatientNewListPager.pageChanged(newPageNumber)" pagination-id="PatientNewListPagerID"></dir-pagination-controls>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div data-ng-if="PatientNewList.length == 0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="alert alert-danger">
                                        @Html.Raw(Resource.NoRecordsFound)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br class="clearfix" />
            </div>
        </div>
    </div>

</div>
