@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, Resource.MonthlySummary);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedMenuItem = Resource.SMI_MonthlySummaryList;
}
@model AddReferralModel

@Html.Hidden("hdnAddReferralModel", Common.SerializeObject(Model))
<div data-ng-controller="ReferralReviewMeasurementController">
    <div class="page-bar">
        <h3 class="page-title">@Resource.MonthlySummary
            <small>@Resource.MonthlySummaryDetails</small>
        </h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @{Model.ReferralMonthlySummary.IsMonthlySummaryListView = true;}
            @Html.Partial("Partial/ReferralReviewMeasurement/_tabReferralMonthlySummary", Model)
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/assets/js/viewjs/siteApp/referral/referralreviewandmeasurement")

    <script type="text/javascript">
        var DeleteReferralConfirmMessage = '@Resource.DeleteReferralConfirmMessage';
        var DeleteAllReferralConfirmMessage = '@Resource.DeleteAllReferralConfirmMessage';
        var DeleteConfirmationMessage = '@string.Format(@Resource.DeleteConfirmationMessage, @Resource.MonthlySummary)';
        var ReferralDependencyExistMessage = '@Resource.ReferralDependencyExistMessage';
        var EnableDisableMonthlySummaryConfirmationMessage = '@string.Format(@Resource.EnableDisableConfirmationMessage, @Resource.MonthlySummary)';
    </script>
}
