<div class="col-sm-12 no-padding">
    <h4 class="caption">
        <span class="font-green sbold uppercase" data-ng-bind="commonDetailPopover.ServiceCode"></span><small class="caption-helper">&nbsp;({{commonDetailPopover.ServiceName}})</small>
        @*<span class="badge badge-danger" data-ng-if="commonDetailPopover.ServiceCodeExpired" title="@Resource.ServiceCodeExpired">{{commonDetailPopover.StrServiceCodeExpired}}</span>
        <span class="badge badge-danger padding-left-4"  data-ng-bind="commonDetailPopover.StrServiceCodeType != null ? commonDetailPopover.StrServiceCodeType: '@Resource.NA'"></span>*@
    </h4>
    <hr />
</div>
<div class="col-sm-12 no-padding facility-house-detail-popover">
    <div class="col-sm-12 no-padding">
        <h5 class="font-green margin-bottom-0"><strong>@Resource.ServiceCodeInformation</strong></h5>

        <div>
            <span class="padding-left-5">
                <label class="control-label ng-binding"><b>@Resource.MaxUnit:</b> <span data-ng-bind="commonDetailPopover.MaxUnit != null ? commonDetailPopover.MaxUnit: '@Resource.NA'"></span></label>
            </span>
            <span class="padding-left-5">
                <label class="control-label ng-binding"><b>@Resource.DailyUnit:</b> <span data-ng-bind="commonDetailPopover.DailyUnitLimit != null ? commonDetailPopover.DailyUnitLimit: '@Resource.NA'"></span></label>
            </span>

            <span class="padding-left-5">
                <label class="control-label ng-binding"><b>@Resource.UnitType:</b> <span data-ng-bind="commonDetailPopover.StrUnitType != null ? commonDetailPopover.StrUnitType: '@Resource.NA'"></span></label>
            </span>
            @*<span class="padding-left-5">
            <label class="control-label ng-binding"><b>@Resource.ServiceCodeType:</b> <span data-ng-bind="commonDetailPopover.StrServiceCodeType != null ? commonDetailPopover.StrServiceCodeType: '@Resource.NA'"></span></label>
        </span>*@
            <span class="padding-left-5">
                <label class="control-label ng-binding"><b>@Resource.CareType:</b> <span data-ng-bind="commonDetailPopover.CareType != null ? commonDetailPopover.CareType: '@Resource.NA'"></span></label>
            </span>

            <span class="padding-left-5">
                <label class="control-label ng-binding"><b>@Resource.UnitQuantity:</b> <span data-ng-bind="commonDetailPopover.PerUnitQuantity != null ? commonDetailPopover.PerUnitQuantity: '@Resource.NA'"></span></label>
            </span>


            <span class="padding-left-5">
                <label class="control-label ng-binding"><b>@Resource.Billable:</b> <span data-ng-bind="commonDetailPopover.IsBillable != null ? (commonDetailPopover.IsBillable?'Yes':'No'): '@Resource.NA'"></span></label>
            </span>

            @*<span class="padding-left-5">
            <label class="control-label ng-binding"><b>@Resource.GroupOption:</b> <span data-ng-bind="commonDetailPopover.HasGroupOption != null ? (commonDetailPopover.HasGroupOption?'Yes':'No'): '@Resource.NA'"></span></label>
        </span>

        <span class="padding-left-5">
            <label class="control-label ng-binding"><b>@Resource.ServiceCodeStartDate:</b> <span data-ng-bind="commonDetailPopover.ServiceCodeStartDate	 | orgdate"></span></label>
        </span>
        <span class="padding-left-5">
            <label class="control-label ng-binding"><b>@Resource.ServiceCodeEndDate:</b> <span data-ng-bind="commonDetailPopover.ServiceCodeEndDate | orgdate"></span></label>
        </span>*@
        </div>
        <hr />
    </div>
</div>
