@model AddReferralModel
@Html.Hidden("hdnAddReferralModel", Common.SerializeObject(Model))

<div class="modal fade modal-scroll updateReferralPayorInfo" id="model_updateReferralPayorInfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <form id="frmUpdateReferralPayorInfo">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title text-center"><strong>@Resource.UpdateReferralPayorDetails</strong></h4>
                </div>

                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-12">

                            <div class="col-md-12 no-padding">

                                <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                    <label class="control-label required">@Resource.Payor</label>

                                    @Html.DropDownListFor(p => p.UpdateReferralPayorMapping.PayorID, Model.PayorList.ToSelectList(Model.UpdateReferralPayorMapping.PayorID.ToString() ?? "", "PayorName", "PayorID", @Resource.SelectPayor, ""),
                                              new
                                              {
                                                  convert_to_number = "",
                                                  data_ng_model = "ReferralModel.UpdateReferralPayorMapping.PayorID",
                                                  data_ng_init = "ReferralModel.UpdateReferralPayorMapping.PayorID=(ReferralModel.UpdateReferralPayorMapping.PayorID==null || ReferralModel.UpdateReferralPayorMapping.PayorID==0)?'':ReferralModel.UpdateReferralPayorMapping.PayorID",
                                                  @class = "form-control input-sm",
                                                  @disabled = "disabled"
                                              })
                                    @Html.ValidationMessageFor(q => q.UpdateReferralPayorMapping.PayorID)
                                </div>

                                <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                    <label class="control-label required">@Resource.EffectiveStartDate</label>
                                    <div class="input-group date" datepicker="ReferralModel.UpdateReferralPayorMapping.PayorEffectiveDate" ng-dateval="ReferralModel.UpdateReferralPayorMapping.PayorEffectiveDate">
                                        <input 
                                                class="form-control input-sm dateInputMask" placeholder="@Resource.EffectiveDate"
                                                data-val="true"
                                                data-val-required="@Resource.EffectiveDateRequired" id="UpdateReferralPayorMapping_PayorEffectiveDate" maxlength="50" name="UpdateReferralPayorMapping.PayorEffectiveDate"
                                                type="text" />

                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

                                    </div>
                                    @Html.ValidationMessageFor(q => q.ReferralPayorMapping.PayorEffectiveDate)
                                </div>



                                <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                    <label class="control-label">@Resource.EffectiveEndDate</label>
                                    <div class="input-group date" datepicker="ReferralModel.UpdateReferralPayorMapping.PayorEffectiveEndDate" ng-dateval="ReferralModel.UpdateReferralPayorMapping.PayorEffectiveEndDate">
                                        <input
                                                    class="form-control input-sm dateInputMask" placeholder="@Resource.EffectiveEndDate"
                                                    id="UpdateReferralPayorMapping_PayorEffectiveEndDate" maxlength="50" name="UpdateReferralPayorMapping.PayorEffectiveEndDate"
                                                    type="text"/>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-sm red" data-dismiss="modal">@Resource.Cancel</button>
                    <button class="btn btn-sm green-jungle" data-ng-click="UpdateReferralPayorInformation()">@Resource.Save</button>

                </div>
            </div>
        </form>
    </div>

</div>

