@model AddReferralModel
@{
    string clientSideDateFormat = ConfigSettings.ClientSideDateTimeFormat;
    const int legalGuardianContactTypeID = (int)@Common.ContactTypes.LegalGuardian;
    int primaryContactTypeID = (int)@Common.ContactTypes.PrimaryPlacement;
    string isEditMode = !string.IsNullOrEmpty(Model.Referral.EncryptedReferralID) && Model.Referral.ReferralID > 0 ? "1" : "0";


}
@Html.Hidden("hdnAddReferralModel", Common.SerializeObject(Model))

<div>
    <div class="form-group row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="fscontainer groupErrorParent" id="ShowAddedContactList">
                <div class="legend">
                    @Resource.ContactDetails
                </div>
                <div>
                    <input data-val-required="@Resource.ContactRequired"
                               data-ng-model="ContactServiceErrorCount" data-val="true"
                               id="Referral_ContactServiceErrorCount"
                               class="form-control input-sm groupError hideErrorContent validateElement" 
                               data-error-Count = "ReferralErrorCount.ContactTab"
                               name="Referral.ContactServiceErrorCount"
                            />
                </div>


                <a href="#model_AddContact" data-ng-click="OpenAddContactModal()" class="btn btn-xs blue pull-right margin-top-minus-15px" data-toggle="modal">
                    <i class="fa fa-plus">&nbsp;&nbsp;</i>@Resource.AddNewContact
                </a>

                @*  <div class="form-group row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="label-italic" pulsate data-ng-show="ShowPulsate">
                                <b class="font-red-thunderbird">@Resource.Notes:</b>
                                <span>@Resource.MissingPrimaryContactOrLegalGuardian</span>
                            </p>
                        </div>
                    </div>*@


                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p class="label-italic">
                            <b class="font-red-thunderbird">@Resource.NoteLabel</b>
                            <span>@Html.Raw(Resource.PrimaryContactAndLegalGuardianRequiredNote)</span>
                        </p>
                    </div>
                </div>

                <div data-ng-if="ReferralModel.ContactInformationList.length > 0">

                    <div class="row padding-left-right-10">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="portlet-body compact">
                                <div class="dataTables_wrapper">
                                    <table class="table table-advance table-bordered table-striped table-hover table-condensed tbl_reflog">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th><strong>@Resource.ContactType</strong></th>
                                                <th><strong>@Resource.Name</strong></th>
                                                <th><strong>@Resource.Phone</strong></th>
                                                <th><strong>@Resource.Address</strong></th>
                                                <th><strong>@Resource.Email</strong></th>
                                                <th><strong>@Resource.AddedBy</strong></th>
                                                <th><strong>@Resource.Actions</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody data-ng-repeat="AddAndListContactInformation in ReferralModel.ContactInformationList track by $index | orderBy:'ContactTypeID'">

                                            <tr>
                                                <td>
                                                    @*{{AddAndListContactInformation.IsEmergencyContact}}
                                                    {{AddAndListContactInformation.IsEmergencyContact==true}}
                                                    {{AddAndListContactInformation.IsEmergencyContact=='true'}}*@
                                                    <span data-ng-if="AddAndListContactInformation.IsEmergencyContact==true || AddAndListContactInformation.IsEmergencyContact=='true'"
                                                        data-ng-class="{'badge badge-danger': AddAndListContactInformation.IsEmergencyContact==true 
                                                        || AddAndListContactInformation.IsEmergencyContact=='true'}"
                                                        title="Emergency Contact">E</span>
                                                </td>
                                                <td>{{AddAndListContactInformation.ContactTypeName}}&nbsp;&nbsp;
                                                    
                                                    
                                                    <span data-ng-if="AddAndListContactInformation.IsDCSLegalGuardian==true || AddAndListContactInformation.IsDCSLegalGuardian=='true'"
                                                        data-ng-class="{'badge badge-info': AddAndListContactInformation.IsDCSLegalGuardian==true 
                                                        || AddAndListContactInformation.IsDCSLegalGuardian=='true'}"
                                                        title="DSC is legal gurdian">DCS</span>

                                                @*<span data-ng-show="{{AddAndListContactInformation.IsDCSLegalGuardian}}" data-ng-class="{'badge badge-info':AddAndListContactInformation.IsDCSLegalGuardian}" title="DSC is legal gurdian">DCS</span></td>*@
                                                <td>{{AddAndListContactInformation.LastName +', ' + AddAndListContactInformation.FirstName}}</td>
                                                <td>{{AddAndListContactInformation.Phone1 | phoneformat}}</td>
                                                <td>
                                                    <span data-ng-if="AddAndListContactInformation.Address">{{AddAndListContactInformation.Address}},&nbsp;{{AddAndListContactInformation.City}},&nbsp;{{AddAndListContactInformation.State}}- {{AddAndListContactInformation.ZipCode}}</span>
                                                    <span data-ng-if="!AddAndListContactInformation.Address">@Resource.NA</span>
                                                </td>
                                                <td>

                                                    <a data-ng-show="AddAndListContactInformation.Email" data-ng-attr-href="{{'mailto:'+AddAndListContactInformation.Email}}">{{AddAndListContactInformation.Email}}</a>
                                                    <span data-ng-show="!AddAndListContactInformation.Email">{{AddAndListContactInformation.Email ? AddAndListContactInformation.Email :'@Resource.NA'}}</span>
                                                    @* <span>{{ (AddAndListContactInformation.ROIExpireDate != null && AddAndListContactInformation.ROIExpireDate != '') ? (AddAndListContactInformation.ROIExpireDate | dateformat) : '@Resource.NA'}} </span>
                                                    <span>|</span>
                                                    <span>{{ (AddAndListContactInformation.ROIType != null && AddAndListContactInformation.ROIType != '') ? AddAndListContactInformation.ROIType.toString() == '1' ?  '@Common.ROITypes.Verbal' : '@Common.ROITypes.Written' :'@Resource.NA'}}</span>*@

                                                </td>
                                                <td>{{AddAndListContactInformation.EmpFullName ? AddAndListContactInformation.EmpFullName :'@Resource.NA'}}</td>
                                                <td>
                                                    @* <a class="dirPopover" data-popover-content="Message" data-popover-trigger="hover"
                                                        data-popover-placement="top" data-ng-show="{{AddAndListContactInformation.ContactMappingID == 0}}" aria-hidden="true">
                                                        <i class=" fa fa-info-circle icon-italic fa-lg"></i>
                                                    </a>*@
                                                    <a href="javascript:void(0);" data-ng-click="EditContact($index, AddAndListContactInformation)" title="Edit Contact"><i class="fa fa-edit"></i></a>
                                                    <a href="javascript:void(0);" data-ng-if="AddAndListContactInformation.ContactMappingID==0 || (@primaryContactTypeID!=AddAndListContactInformation.ContactTypeID) && (@legalGuardianContactTypeID!=AddAndListContactInformation.ContactTypeID)" title="Delete Contact"
                                                       data-ng-click="DeleteContact($index, AddAndListContactInformation)"><i class="fa fa-remove"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div data-ng-if="ReferralModel.ContactInformationList.length == 0">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="alert alert-danger">
                                            @Html.Raw(Resource.NoRecordsFound)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="space20"></div>

    <div class="form-group row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="fscontainer">
                <div class="legend">
                    @Resource.CaseManagerDetails
                </div>

                <div class="row">
                    <div class="form-group col-lg-5 col-md-5 col-sm-6">
                        <label class="control-label required">@Resource.CaseManagerAndAgency</label>

                        @Html.TextBoxFor(x => x.Referral.CaseManagerID,
                                                 new
                                                     {
                                                         ng_model = "ReferralModel.Referral.CaseManagerID",
                                                         @class = "form-control hideErrorContent replaceErrorSource validateElement",
                                                         data_error_Count = "ReferralErrorCount.ContactTab",
                                                     })
                        <div class="replaceErrorDest">
                            <input type="text"
                                   token-input
                                   ng-val="ReferralModel.Referral.CaseManagerID"
                                   textfield='Name'
                                   valuefield='CaseManagerID'
                                   searchurl="{{GetCaseManagersURL}}"
                                   placeholder="@Resource.EnterCaseManagerAndAgencyInformation"
                                   tokenlimit='1'
                                   onresultsformatter='CaseManagerResultsFormatter'
                                   ondeletecallback='RemoveCaseManager'
                                   ontokenformatter="CaseManagerTokenFormatter"
                                   onaddedcallback="CaseManagerAdded"                                           
                                   autoSelectFirstResult="false"
                                   minChars="1"
                                   searchlimit="20"
                                   tokeninputobj="CaseManagerTokenObj"
                                   id="CaseManagerIDToken"
                                   customclass="form-control input-sm"
                                   name="Referral.CaseManagerID" />
                        </div>
                        <div class="pull-right">
                            <a class="" data-ng-href="/casemanager/addcasemanager/{{EncryptedIDForZero}}/{{ReferralModel.Referral.EncryptedAgencyID ? ReferralModel.Referral.EncryptedAgencyID : EncryptedIDForZero}}/{{ReferralModel.Referral.EncryptedAgencyLocationID ? ReferralModel.Referral.EncryptedAgencyLocationID : ReferralModel.Referral.EncryptedAgencyLocationID}}" target="_new">@Resource.AddCM</a>
                            @*<span>|</span>
                            <a class="" href="javascript:void(0)" data-ng-click="RefreshCaseManager()">@Resource.Refresh</a>*@
                        </div>
                        @Html.ValidationMessageFor(x => x.Referral.CaseManagerID)
                    </div>
                    @*<div class="form-group col-lg-2 col-md-4 col-sm-4">
                        <label class="control-label required">@Resource.Agency</label>
                        <div class="input-group-sm">

                            @Html.DropDownListFor(p => p.Referral.AgencyID, Model.AgencyList.ToSelectList(Model.Referral.AgencyID.ToString() ?? "", "NickName", "AgencyID", @Resource.SelectAgency, ""),
                                              new
                                              {
                                                  data_ng_model = "ReferralModel.Referral.AgencyID",
                                                  data_ng_init = "ReferralModel.Referral.AgencyID=ReferralModel.Referral.AgencyID==''?null:ReferralModel.Referral.AgencyID.toString()",
                                                  @class = "form-control input-sm validateElement",
                                                  data_error_Count = "ReferralErrorCount.ContactTab",
                                                  convert_to_number = ""

                                              })

                            @Html.ValidationMessageFor(q => q.Referral.AgencyID)
                        </div>
                    </div>*@

                    @* <div class="form-group col-lg-2 col-md-4 col-sm-4">
                        <label class="control-label required">@Resource.AgencyLocation</label>
                        <div class="input-group-sm">

                            <select class="form-control input-sm validateElement"
                                    data-ng-init="ReferralModel.Referral.AgencyLocationID=ReferralModel.Referral.AgencyLocationID==''?null:ReferralModel.Referral.AgencyLocationID.toString()"
                                    data-ng-model="ReferralModel.Referral.AgencyLocationID"
                                    data-val="true" data-val-required="@Resource.AgencyLocationRequired"
                                    id="AgencyLocationID"
                                    convert-to-number = ""
                                    name="Referral.AgencyLocationID"
                                    data-ng-class="{'valid': !(ReferralModel.Referral.AgencyLocationID == null  || ReferralModel.Referral.AgencyLocationID == '' )}"
                                    data-error-Count="ReferralErrorCount.ContactTab">
                                <option value="">@Resource.SelectAgencyLocation</option>
                                <option data-ng-repeat='location in ReferralModel.AgencyLocationList | filter: {AgencyID : ReferralModel.Referral.AgencyID }' value="{{location.AgencyLocationID}}">{{location.LocationName}}</option>
                            </select>
                            @Html.ValidationMessageFor(q => q.Referral.AgencyLocationID)



                        </div>
                    </div>*@


                    @*<div class="form-group col-lg-2 col-md-4 col-sm-4">
                        <label class="control-label required">@Resource.CaseManager</label>
                        <div class="input-group-sm">

                            <select class="form-control input-sm validateElement"
                                    data-ng-init="ReferralModel.Referral.CaseManagerID=ReferralModel.Referral.CaseManagerID==''?null:ReferralModel.Referral.CaseManagerID.toString()"
                                    data-ng-model="ReferralModel.Referral.CaseManagerID"
                                    convert-to-number=""
                                    data-val="true" data-val-required="@Resource.CaseManagerRequired"
                                    id="CaseManagerID"
                                    name="Referral.CaseManagerID"
                                    data-error-Count="ReferralErrorCount.ContactTab"
                                    data-ng-class="{'valid': !(ReferralModel.Referral.CaseManagerID == null  || ReferralModel.Referral.CaseManagerID == '' )}">
                                <option value="">@Resource.SelectCaseManager</option>
                                <option data-ng-repeat='caseManager in ReferralModel.CaseManagerList' value="{{caseManager.CaseManagerID}}">{{caseManager.FullName}}</option>
                            </select>
                            <div class="pull-right">
                                <a class="" data-ng-href="/casemanager/addcasemanager/{{EncryptedIDForZero}}/{{ReferralModel.Referral.EncryptedAgencyID ? ReferralModel.Referral.EncryptedAgencyID : EncryptedIDForZero}}/{{ReferralModel.Referral.EncryptedAgencyLocationID ? ReferralModel.Referral.EncryptedAgencyLocationID : ReferralModel.Referral.EncryptedAgencyLocationID}}" target="_new">@Resource.AddCM</a>
                                <span>|</span>
                                <a class="" href="javascript:void(0)" data-ng-click="RefreshCaseManager()">@Resource.Refresh</a>
                            </div>
                            @Html.ValidationMessageFor(q => q.Referral.CaseManagerID)

                        </div>
                    </div>*@
                    <div class="form-group col-lg-2 col-md-4 col-sm-4">
                        <label class="control-label required">@Resource.Email</label>
                        @Html.TextBoxFor(q => q.CaseManager.Email, new
                            {
                                @readonly = "",
                                @class = "form-control input-sm validateElement",
                                data_ng_model = "ReferralModel.CaseManager.Email",
                                data_error_Count = "ReferralErrorCount.ContactTab",
                                id = "Email",
                                name = "Email",
                                placeholder = @Resource.Email,
                                maxlength = 50
                            })
                        <a class="pull-right" data-ng-show="ReferralModel.CaseManager.Email" data-ng-attr-href="{{'mailto:'+ReferralModel.CaseManager.Email}}">@Resource.EmailToCM</a>
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-4">
                        <label class="control-label">@Resource.Phone</label>
                        @Html.TextBoxFor(q => q.CaseManager.Phone, new
                            {
                                @readonly = "",
                                @class = "form-control input-sm",
                                data_ng_model = "ReferralModel.CaseManager.Phone",
                                placeholder = @Resource.Phone,
                                maxlength = 15
                            })
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-4">
                        <label class="control-label">@Resource.Fax</label>
                        @Html.TextBoxFor(q => q.CaseManager.Fax, new
                            {
                                @readonly = "",
                                @class = "form-control input-sm",
                                data_ng_model = "ReferralModel.CaseManager.Fax",
                                placeholder = @Resource.Fax,
                                maxlength = 15
                            })
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>




