@model HC_AddReferralModel

@Html.Hidden("hdnAddReferralModel", Common.SerializeObject(Model))


@if (1 == 2)
{
    <div data-ng-if="InternalDocumentList.length > 0">
        <h4><strong>@Resource.InternalDocuments</strong></h4>
        <hr class="clear-both" />
        <div data-ng-repeat="item in InternalDocumentList">
            <div class="col-lg-6 col-md-6" data-ng-class="{'doc_box':!($index%2)}">
                <div class="form-group col-lg-6 col-md-5 col-sm-5">
                    <label class="control-label">
                        {{item.DocumentName}}
                    </label>
                    <div class="input-group-sm">
                        <select class="form-control input-sm" data-ng-model="item.Value" ddlchangecolor="item.Value"
                                data-ng-init="item.Value=(item.Value==null?'true':item.Value.toString())">
                            <option value="true">@Resource.Yes</option>
                            <option value="false">@Resource.No</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-4 col-sm-4">
                    <div data-ng-if="item.IsTimeBased">
                        <label class="control-label">@Resource.ExpirationDate</label>
                        <div class="input-group date" datepicker="item.ExpirationDate" ng-dateval="item.ExpirationDate">
                            <input class="form-control input-sm validateElement dateInputMask" placeholder="@Resource.ExpirationDate"
                                   maxlength="10" changecolorexpireduedate="changecolorexpireduedate" data-error-Count="ReferralErrorCount.ComplianceTab" />
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="space30"></div>

    <div data-ng-if="ExternalDocumentList.length > 0">
        <h4><strong>@Resource.ExternalDocuments</strong></h4>
        <hr class="clear-both" />
        <div data-ng-repeat="item in ExternalDocumentList">
            <div class="col-lg-6 col-md-6" data-ng-class="{'doc_box':!($index%2)}">
                <div class="form-group col-lg-6 col-md-5 col-sm-5">
                    <label class="control-label">
                        {{item.DocumentName}}
                    </label>
                    <div class="input-group-sm">
                        <select class="form-control input-sm" data-ng-model="item.Value" ddlchangecolor="item.Value"
                                data-ng-init="item.Value=(item.Value==null?'true':item.Value.toString())">
                            <option value="true">@Resource.Yes</option>
                            <option value="false">@Resource.No</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-4 col-sm-4">
                    <div data-ng-if="item.IsTimeBased">
                        <label class="control-label">@Resource.ExpirationDate</label>
                        <div class="input-group date" datepicker="item.ExpirationDate" ng-dateval="item.ExpirationDate">
                            <input class="form-control input-sm validateElement dateInputMask" placeholder="@Resource.ExpirationDate"
                                   maxlength="10" changecolorexpireduedate="changecolorexpireduedate" data-error-Count="ReferralErrorCount.ComplianceTab" />
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}


<div data-ng-if="InternalDocumentSectionList.length > 0">
    <h4><strong>@Resource.InternalDocuments</strong></h4>
    @*<hr class="clear-both" />*@
    <div class="fscontainer margin-top-0" data-ng-repeat="section in InternalDocumentSectionList">
        <div class="legend">
            {{section.SectionName}}
        </div>
        @*<div data-ng-repeat="subSection in section.DocumentSubSectionList">
            <strong>{{subSection.SubSectionName}} :</strong>*@
            <div data-ng-repeat="item in section.DocumentList">
                <div class="col-lg-6 col-md-6" data-ng-class="{'doc_box':!($index%2)}">
                    <div class="form-group col-lg-6 col-md-5 col-sm-5">
                        <label class="control-label">
                            {{item.DocumentName}}
                        </label>
                        <div class="input-group-sm">
                            <select class="form-control input-sm" data-ng-model="item.Value" ddlchangecolor="item.Value"
                                    data-ng-init="item.Value=(item.Value==null?'true':item.Value.toString())">
                                <option value="true">@Resource.Yes</option>
                                <option value="false">@Resource.No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-lg-6 col-md-4 col-sm-4">
                        <div data-ng-if="item.IsTimeBased">
                            <label class="control-label">@Resource.ExpirationDate</label>
                            <div class="input-group date" datepicker="item.ExpirationDate" ng-dateval="item.ExpirationDate">
                                <input class="form-control input-sm validateElement dateInputMask" placeholder="@Resource.ExpirationDate"
                                       maxlength="10" changecolorexpireduedate="changecolorexpireduedate" data-error-Count="ReferralErrorCount.ComplianceTab" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        @*</div>*@
    </div>
</div>


<div class="space30"></div>

<div data-ng-if="ExternalDocumentSectionList.length > 0">
    <h4><strong>@Resource.ExternalDocuments</strong></h4>
    @*<hr class="clear-both" />*@
    <div class="fscontainer margin-top-0" data-ng-repeat="section in ExternalDocumentSectionList">
        <div class="legend">
            {{section.SectionName}}
        </div>

        @*<div data-ng-repeat="subSection in section.DocumentSubSectionList">
            <strong>{{subSection.SubSectionName}} :</strong>*@
            <div data-ng-repeat="item in section.DocumentList">
                <div class="col-lg-6 col-md-6" data-ng-class="{'doc_box':!($index%2)}">
                    <div class="form-group col-lg-6 col-md-5 col-sm-5">
                        <label class="control-label">
                            {{item.DocumentName}}
                        </label>
                        <div class="input-group-sm">
                            <select class="form-control input-sm" data-ng-model="item.Value" ddlchangecolor="item.Value"
                                    data-ng-init="item.Value=(item.Value==null?'true':item.Value.toString())">
                                <option value="true">@Resource.Yes</option>
                                <option value="false">@Resource.No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-lg-6 col-md-4 col-sm-4">
                        <div data-ng-if="item.IsTimeBased">
                            <label class="control-label">@Resource.ExpirationDate</label>
                            <div class="input-group date" datepicker="item.ExpirationDate" ng-dateval="item.ExpirationDate">
                                <input class="form-control input-sm validateElement dateInputMask" placeholder="@Resource.ExpirationDate"
                                       maxlength="10" changecolorexpireduedate="changecolorexpireduedate" data-error-Count="ReferralErrorCount.ComplianceTab" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        @*</div>*@
    </div>
</div>