@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, Resource.ViewReleaseNote);
    Layout = "~/Views/Shared/_Layout_ViewReleaseNote.cshtml";
    ViewBag.SelectedMenuItem = Resource.SMI_ReleaseNoteList;
}

@model ReleaseNote
<div class="post-inner-content">
    <header class="entry-header page-header">

        <h1 class="entry-title ">@Model.Title</h1>

        <div class="entry-meta">
            <span class="posted-on">
                Posted On:
                <i class="fa fa-calendar"></i> 
                <time class="entry-date published">@Model.StartDate.ToString("dddd, dd MMMM yyyy")</time>
            </span>
        </div>
    </header>
    <div class="col-md-9 entry-content">
        <p>@Html.Raw(Model.Description)</p>
    </div>
</div>


@*<div>
    <form class="form-horizontal" id="frmReleaseNote">
        <div class="row">
            <div class="col-sm-12">
                <div class="fscontainer">
                    <div class="legend">
                        @Resource.ReleaseNoteDetails
                    </div>
                    <div class="col-sm-12 ">
                        <div class=" col-sm-12 form-group">
                            <div class="col-md-6 text-align-right">
                                <label>@Resource.Title :</label>
                            </div>
                            <div class="col-md-6 text-align-left no-left-padding">
                                <label>@Model.Title</label>
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="col-md-6 text-align-right">
                                <label>@Resource.Description :</label>
                            </div>
                            <div class="col-md-6 text-align-left no-left-padding">
                                <label>@Model.Description</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>*@
