<div calender-dropper="DataModel">
   
     @*<div class="event-container webpopUiCls" data-ng-if="DataModel.event.scheduleModel.UnAllocated==false || DataModel.event.scheduleModel.UsedInScheduling==false"
         common-detail-popover="DataModel" ng-template-selector="#eventdetailpopover" popover-width="400" popover-trigger="click" popover-closeable="true" 
        pop-over-functions="DataModel.event.popOverObj">
        <span  class='fc-name hc-fc-name'>
            <span>{{DataModel.event.scheduleModel.StartDate | twodatetimeformat: DataModel.event.scheduleModel.EndDate  }}</span>
            <span class="clearfix">{{DataModel.event.scheduleModel.FacilityName ? DataModel.event.scheduleModel.FacilityName : 
                DataModel.event.scheduleModel.UsedInScheduling ? '@Resource.Scheduled' :'@Resource.DoNotSchedule' }}</span>
        </span>
    </div>*@


    <div class="event-container webpopUiCls" data-ng-show="DataModel.event.scheduleModel.UnAllocated || DataModel.event.scheduleModel.UsedInScheduling==false"
         data-ng-click="(DataModel.event.isPastEvent==false && DataModel.event.OpenEmpRefSchModal(DataModel.event.scheduleModel.ReferralID,DataModel.event))  ||
        (DataModel.event.isPastEvent && DataModel.event.ShowAlertMsg('@Resource.PastScheduleCantChange'))">
        <span  class='fc-name hc-fc-name'>
            <span>{{DataModel.event.scheduleModel.StartDate | twodatetimeformat: DataModel.event.scheduleModel.EndDate  }}</span>
            <span class="clearfix">{{DataModel.event.scheduleModel.FacilityName ? DataModel.event.scheduleModel.FacilityName : 
                DataModel.event.scheduleModel.UsedInScheduling ? '@Resource.Scheduled' :'@Resource.DoNotSchedule' }}</span>
        </span>
    </div>
   
</div>
